<div class="gap gray-bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="row" id="page-contents">
            <div class="col-lg-12 bg-white">
              <ng-container [ngSwitch]="errorCode">
                <div class="error-page" *ngSwitchCase="errorCodes.notFound">
                  <div class="error-meta">
                    <h1>{{ errorCode }}</h1>
                    <span>We couldn't find that page </span>
                  </div>
                </div>

                <div class="error-page" *ngSwitchCase="errorCodes.forbidden">
                  <div class="error-meta">
                    <h1>{{ errorCode }}</h1>
                    <span>You don't have permission to view the page</span>
                  </div>
                </div>
                
                <div class="error-page" *ngSwitchCase="errorCodes.internalServerError">
                  <div class="error-meta">
                    <h1>{{ errorCode }}</h1>
                    <span>Something went wrong, please try again</span>
                  </div>
                </div>

                <div class="error-page" *ngSwitchDefault>
                  <div class="error-meta">
                    <h1>{{ errorCodes.notFound }}</h1>
                    <span>We couldn't find that page </span>
                  </div>
                </div>
              </ng-container>
            </div>
        </div>
      </div>
    </div>
  </div>