<div class="huddle-room-settings-wrap">
  <form [formGroup]="huddleRoomSettingsForm" (ngSubmit)="updateHuddleRoomSettings()">

    <section id="open-huddle-room-details">
        <div class="central-meta">
            <div class="editing-info">
              <h5 class="f-title">Open In</h5>
                <div class="form-radio">
                  <div class="radio">
                    <label>
                      <input type="radio" formControlName="openIn" value="P" /><i class="check-box"></i>
                      New Page
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" formControlName="openIn" value="T" /><i class="check-box"></i>
                      New Tab
                    </label>
                  </div>
                </div>
                <div class="submit-btns">
                  <button type="button" class="mtr-btn" (click)="updateHuddleRoomSettings('huddle-room-open')"><span>Save</span></button>
                </div>
                <div class="form-group" *ngIf="message && formSection === 'huddle-room-open'">
                  <p [ngClass]="{ 'text-danger': !message.status, 'text-success': message.status }">{{ message.message }}</p>
                </div>
            </div>
          </div>
    </section>

    <section id="unlock-huddle-room-details">
        <div class="central-meta">
            <div class="editing-info">
              <h5 class="f-title">Unlock</h5>
                <div class="form-radio">
                  <div class="radio">
                    <label>
                      <input type="radio" formControlName="unlockType" value="W" /><i class="check-box"></i>
                      Use Webportal Authentication
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" formControlName="unlockType" value="P" /><i class="check-box"></i>
                      Set New Password
                    </label>
                  </div>
                </div>

                <ng-container *ngIf="huddleRoomSettingsForm.value.unlockType === 'P'">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="password" id="password" required="required" formControlName="password" (input)="submitted = false;"/>
                        <label class="control-label" for="password">Password</label><i class="mtrl-select"></i>
                      </div>
                      <div class="form-group" *ngIf="password.invalid && submitted">
                        <p class="text-danger" *ngIf="password.errors.required">Password is required.</p>
                        <p class="text-danger" *ngIf="password.errors.minlength">Password should contain atleast 8 character</p>
                        <p class="text-danger" *ngIf="password.errors.pattern">Password should contain atleast 1 lowercase character, 1 uppercase character, 1 alphanumeric character and a special character</p>
                      </div>
                      <div class="form-group">
                        <input id="confirm-password" type="password" required="required" formControlName="confirmpassword"  (input)="submitted = false;" />
                        <label class="control-label" for="confirm-password">Re-type Password</label><i class="mtrl-select"></i>
                      </div>
                      <div class="form-group" *ngIf="submitted && (password.value !== confirmpassword.value)">
                        <p class="text-danger">Passwords do not match</p>
                      </div>
                      <div class="form-group">
                        <input id="otp" type="password" required="required" formControlName="otp" (input)="submitted = false;" />
                        <label class="control-label" for="otp">OTP</label><i class="mtrl-select"></i>
                      </div>
                      <div class="form-group" *ngIf="submitted && otp.invalid">
                        <p class="text-danger" *ngIf="otp.errors.required">OTP is required</p>
                        <p class="text-danger" *ngIf="otp.errors.minlength">OTP should contain atleast 8 characters</p>
                      </div>
                    </div>
                  </div>
                </ng-container>

                <div class="submit-btns">
                  <button type="button" class="mtr-btn" (click)="updateHuddleRoomSettings('huddle-room-unlock')"><span>Save</span></button>
                </div>

                <div class="form-group" *ngIf="message && formSection === 'huddle-room-unlock'">
                  <p [ngClass]="{ 'text-danger': !message.status, 'text-success': message.status }">{{ message.message }}</p>
                </div>
            </div>
          </div>
    </section>

    <section id="autolock-huddle-room-details">
        <div class="central-meta">
            <div class="editing-info">
              <h5 class="f-title">Autolock</h5>
                <div class="form-radio">
                  <div class="radio">
                    <label>
                      <input type="radio" formControlName="lock" value="false" /><i class="check-box"></i>
                      Never Lock
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" formControlName="lock" value="true" /><i class="check-box"></i>
                      Lock After &nbsp;
                      <select formControlName="lockAfter">
                        <option [value]="5">5</option>
                        <option [value]="10">10</option>
                        <option [value]="15">15</option>
                        <option [value]="30">30</option>
                        <option [value]="45">45</option>
                        <option [value]="60">60</option>
                      </select> &nbsp;minutes of inactivity
                    </label>
                  </div>
                </div>
                <div class="submit-btns">
                  <button type="button" class="mtr-btn" (click)="updateHuddleRoomSettings('huddle-room-autolock')"><span>Save</span></button>
                </div>
                <div class="form-group" *ngIf="message && formSection === 'huddle-room-autolock'">
                  <p [ngClass]="{ 'text-danger': !message.status, 'text-success': message.status }">{{ message.message }}</p>
                </div>
            </div>
          </div>
    </section>
  </form>
</div>
