.huddle-room-settings-wrap #unlock-huddle-room-details .list:nth-child(2) .list-item {
  padding: 5px 0px;
}
.huddle-room-settings-wrap #unlock-huddle-room-details .list:nth-child(2) .list-item label {
  margin-right: 10px;
}

.form-radio > .radio {
  width: 100%;;
}
