.profile-icon {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}
.topbar {
  background: var(--background-color);
  height: 60px;
  padding: 0 15px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  z-index: 99;
  position: fixed;
  width: 100%;
}

.list {
  list-style: none;
}
.mh-text img {
  height: 32px;
}
.mh-head .mh-text {
  padding: 4px 0px;
  margin: 0px 0px;
}

.topbar.stick,
.topbar.stick.sticky,
.logo img,
.top-area a {
  transition: all 0.5s ease-in-out;
}

.topbar.stick.sticky {
  height: 40px;
}

.sticky .logo img {
  height: 40px !important;
  padding: 5px;
}

.sticky .top-area a {
  font-size: 0.75rem;
}
ul.naves {
    list-style-type: circle;
    margin-top: 10px;
}
.siderbar_color {
    color: #fff;
    color: var(--background-color);
    font-size: 17px;

    /* padding-left: 4px; */
}
.main-navigation-button1 {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    color: #545454;
   /* padding: 0px 12px;*/
    text-decoration: none;
}
.r-space3 {
    color: var(--background-color);
}
span.r-btn7 {
    margin-right: 12px;
}
.widget {
    /* float: left; */
    width: 100%;
    margin-left: 5%;
}
li {
    padding: 0.1em;
}
