<div class="responsive-header">
		<div class="mh-head first Sticky">
			<span class="mh-btns-left">
				<a class="anchor-link" (click)="showMenu = !showMenu;"><i class="fa fa-align-justify"></i></a>
			</span>
			<span class="mh-text">
        <a routerLink="/" title="">
          <img src="assets/images/roletune-logo.png" alt="Roletune">
        </a>
			</span>
      <span class="mh-btns-right">
        <a class="anchor-link" (click)="showSidebar = !showSidebar;"><i class="fa fa-align-justify"></i></a>
      </span>
		</div>
		<nav id="menu" class="res-menu" *ngIf="showMenu">
			<ul class="list">
        <li>
          <a [routerLink]="['/main/home/' + user.username]" title="{{ user.username }}">
            <img class="profile-icon" [src]="user.profileImage? user.profileImage: 'assets/images/resources/user.jpg'" /> {{user.firstName}}
          </a>
        </li>
        <li>
          <a [routerLink]="['/main/home']" title="Home">
            <i class="ti-home"></i> Home
          </a>
        </li>
        <li>
          <a [routerLink]="['/main/profile']" title="Profile">
            <i class="ti-user"></i> Profile
          </a>
        </li>
        <li>
          <a [routerLink]="['/main/profile/messaging']" title="Messaging">
            <i class="ti-comments"></i> Messaging
          </a>
        </li>

        <li  *ngIf="isModerator">
          <a [routerLink]="['/main/moderator/dashboard']" title="Moderator">
            <i class="fa fa-briefcase" aria-hidden="true"></i> Moderator
          </a>
        </li>

        <li  *ngIf="isSiteAdmin">
          <a [routerLink]="['/main/admin/dashboard']" title="Admin">
            <i class="fa fa-server" aria-hidden="true"></i> Admin
          </a>
        </li>

        <li>
          <a [routerLink]="['/main/settings']" title="Settings">
            <i class="ti-settings"></i> Settings
          </a>
        </li>
        <li>
          <a [routerLink]="['/auth/login']" title="Logout" (click)="logout()">
            <i class="ti-power-off"></i> Logout
          </a>
        </li>
        <li>
          <a [routerLink]="['/main/shopping-complex']" title="Shopping Cart">
            <i class="ti-shopping-cart"></i> Shopping Cart
          </a>
        </li>
			</ul>
		</nav>

    <!--  Mobile view sidebar navigation -->
    <nav id="menu1" class="res-menu1" *ngIf="showSidebar">
      <app-main-sidebar></app-main-sidebar>
    </nav>



	</div><!-- responsive header -->
  <div id="sticky-topbar" class="topbar stick">
    <div class="logo">
      <a title="" routerLink="/"><img src="assets/images/roletune-logo.png" alt="" style="height: 60px;"></a>
    </div>

    <div class="top-area" *ngIf="user">
      <ul class="pull-left">
        <li><a [routerLink]="['/main/home/' + user.username]" title="{{ user.username }}" class="pull-right"> <img class="profile-icon" [src]="user.profileImage? user.profileImage: 'assets/images/resources/user.jpg'" /> {{user.firstName}}</a></li>
        <li><a [routerLink]="['/main/home']" title="Home"><i class="ti-home"></i> Home</a></li>
        <li><a [routerLink]="['/main/profile']" title="Profile"><i class="ti-user"></i> Profile</a></li>
        <li><a [routerLink]="['/main/profile/messaging']" title="Messaging"><i class="ti-comments"></i> Messaging</a></li>
        <li *ngIf="isModerator"><a [routerLink]="['/main/moderator/dashboard']" title="Moderator"><i class="fa fa-briefcase" aria-hidden="true"></i> Moderator</a></li>
        <li *ngIf="isSiteAdmin"><a [routerLink]="['/main/admin/dashboard']" title="Admin"><i class="fa fa-server" aria-hidden="true"></i> Admin</a></li>
      </ul>
      <ul class="setting-area">
          <li><a [routerLink]="['/main/settings']" title="Settings"><i class="ti-settings"></i> Settings</a></li>
          <li><a [routerLink]="['/auth/login']" title="Logout" (click)="logout()"><i class="ti-power-off"></i> Logout</a></li>
          <li><a [routerLink]="['/main/shopping-complex']" title="Shopping Cart"><i class="ti-shopping-cart"></i></a></li>
        </ul>
    </div>
  </div><!-- topbar -->
