<section>
  <div class="gap gray-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row" id="page-contents">
            <div class="col-lg-3">
              <app-main-sidebar></app-main-sidebar>
            </div><!-- sidebar -->
            <div class="col-lg-9">
              <div class="central-meta">
                <div class="groups">
                  <span>Your Subscriptions</span>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-2">
                    <h5>Status</h5>
                  </div>
                  <div class="col-md-2">
                    <select class="form-control" (change)="filterSubscriptions($event.target.value)">
                      <option value="ACTIVE">Active</option>
                      <option value="INACTIVE">Inactive</option>
                      <option value="HIBERNATED">Hibernated</option>
                      <option selected value="">All</option>
                    </select>
                  </div>
                </div><br>
                <!-- Tab panes -->
                <ul class="nearby-contct">
                    <li *ngFor="let community of (communities | filterList: filterValue: 'true'); let i = index;">
                      <ul style="padding-left: 0px;">
                        <li style="list-style-type:none">
                          <div class="pepl-info" style="padding-left: 0px;">
                            <em>
                              <span>
                                <b>{{ i + 1 }}.</b>
                              </span>
                            </em>
                            <em>
                              <h5>{{ ((community.community_docs && community.community_docs.name) ? community.community_docs.name : '') | titlecase }}</h5>
                            </em>
                          </div>
                        </li>
                        <br>
                      </ul>
                      <div class="nearly-pepls">
                        <div class="row">
                          <div class="col-md-2">
                            <em>Badge: {{ community.badge | titlecase }}</em>
                          </div>
                          <div class="col-md-3">
                            <em>Level: {{ community.level | titlecase }}</em>
                          </div>
                          <div class="col-md-2">
                            <em>Points: {{ community.points }}</em>
                          </div>
                          <div class="col-md-2">
                            <em>Status: {{ community.status | titlecase }}</em>
                          </div>
                          <div class="col-md-3">
                            <em>Full Access: {{ community.role | uppercase }}</em>
                          </div>
                        </div>

                      </div>
                    </li>

                    <li *ngIf="(communities | filterList: filterValue: 'true').length === 0">
                      <h5>No Subscriptions Found</h5>
                    </li>
                  </ul>
              </div>

              <div class="central-meta">
                  <div class="groups">
                    <span>Add an Interest</span>
                  </div>
                  <br>
                  <div class="groups">
                    <p *ngIf="getActiveInterests() >= 5">You have already subscribed to 5 active interests. Please remove one or more interests to add new active interest.</p>
                    <p *ngIf="getActiveInterests() < 5">You have subscribed to {{ getActiveInterests() }} active interests.</p>
                  </div>
              </div>

              <div class="central-meta">
                  <div class="row">
                    <div class="col-md-12">
                      <h5>Keyword Search:</h5>
                    </div>
                  </div>
                  <form [formGroup]="interestSearchForm" (ngSubmit)="searchInterests()">
                    <table class="table interest-search-table">
                      <tbody>
                        <tr class="row">
                          <td>Keyword</td>
                          <td>
                            <input type="text" class="form-control" formControlName="keyword"  (input)="resetSearchResults()"/>
                          </td>
                          <td>Match Type</td>
                          <td>
                            <select class="form-control" formControlName="matchType" (change)="resetSearchResults()">
                              <option value="exact-match">Exact Match</option>
                              <option value="contains">Contains</option>
                            </select>
                          </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <button [disabled]="interestSearchForm.invalid" type="submit" class="mtr-btn">
                            <span>Search</span>
                          </button>
                        </tr>
                      </tfoot>
                    </table>
                  </form>
                  <br>
                  <!-- Tab panes -->
                  <ng-container *ngIf="showResults">
                    <div class="row">
                      <div class="col-md-12">
                        <h5>Results: {{ totalCount }} records found</h5>
                        <h6 *ngIf="message" [ngClass]="{ 'text-danger': !message.status, 'text-success': message.status }">{{ message.message }}</h6>
                      </div>
                    </div>
                    <ul class="nearby-contct">
                      <li *ngFor="let interest of displayedInterests; let i = index;">
                        <div class="clearfix">
                          <h5><img class="user-icon" [src]="appService.getIconLink(interest.name)"> {{ interest.name | titlecase }}</h5>
                          <p>{{ interest.description? interest.description : "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."}}</p>
                          <button class="mtr-btn" [disabled]="(getActiveInterests() >= 5)" (click)="addInterest(interest)">
                            <span>Add</span>
                          </button>
                        </div>
                      </li>
                      <li *ngIf="displayedInterests.length === 0">
                        <span>No matches found</span>
                      </li>
                    </ul>
                    <div class="row" *ngIf="config && config.loadMore">
                      <div class="col-md-12 text-center anchor-link" (click)="pageNumber = pageNumber + 1; searchInterests(pageNumber)">
                        <i class="fa fa-spinner fa-2x fa-fw margin-bottom" [ngClass]="{'fa-spin': config.loading }" title="Load More"></i>
                      </div>
                    </div>
                  </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
