<section>
  <div class="row">
    <div class="col-lg-12" *ngIf="!blogType">
      <div class="central-meta post-wrapper">
        <div class="new-postbox">
          <form [formGroup]="blogForm" (ngSubmit)="createBlog()">
                <div class="">

                  <div class="post">
                    <div class="row">
                      <div class="col-md-4">
                          <label for="post-area" class="post-label anchor-link">
                              <i class="fa fa-pencil"></i>
                              &nbsp;Make A Post
                          </label>
                      </div>
                      <div class="col-md-4">
                          <label for="photo" class="post-label anchor-link">
                              <i class="fa fa-camera"></i> Photo/ Video
                              <input id="photo" class="d-none" (change)="uploadFile($event)" type="file">
                          </label>
                      </div>
                      <div class="col-md-4">
                          <label for="live-stream" class="post-label anchor-link">
                              <i class="fa fa-video-camera"></i> Live Stream
                              <input id="live-stream" class="d-none" (click)="captureLiveStream()" type="button" />
                          </label>
                      </div>
                    </div>
                    <textarea id="post-area" rows="2" placeholder="Write something here..." formControlName="content"></textarea>
                    <ng-container *ngIf="liveStreamFlag">
                      <div id="stream-wrap" class="col-md-12">
                        <video id="video-stream" width="100%"></video>
                        <button type="button" id="start-stream" class="mtr-btn" (click)="startRecording()">
                          <span>Start</span>
                        </button>
                        <button type="button" id="stop-stream" class="mtr-btn pull-right" (click)="stopRecording()">
                          <span>Stop</span>
                        </button>
                      </div>
                    </ng-container>
                    <p *ngIf="blogForm.value.fileName" style="padding: 0px 15px;">{{ (blogForm.value.fileName && blogForm.value.fileName.length > 50) ? (blogForm.value.fileName.substring(0, 50) + '...') : blogForm.value.fileName }} <i class="fa fa-times pull-right" (click)="blogForm.value.fileName = ''; blogForm.value.fileType = ''; blogForm.value.file = null;"></i></p>
                    <div class="attachments">
                      <ul>
                        <li>
                          <button [disabled]="blogForm.invalid" type="submit"><span class="text-white">Post</span></button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
          </form>
        </div>

        <div class="new-postbox" *ngIf="timelineAction">
          <p [ngClass]="{ 'text-danger' : !timelineAction.status, 'text-success': timelineAction.status }">{{ timelineAction.message }}</p>
        </div>
      </div><!-- add post new box -->
    </div>
  </div>
  <div [ngClass]="{ 'loadMore' : blogs.length > 0}">
    <h5 class="section-title bg-white">{{ ( heading ? heading : '') | uppercase }}</h5>
    <div class="central-meta item" *ngFor="let blog of blogs; let i = index;">
      <div class="user-post">
        <div class="friend-info post-info clearfix">

          <figure>
            <img [src]="(blog.authorDetails && blog.authorDetails.profileImage) ? blog.authorDetails.profileImage : 'assets/images/resources/user.jpg'" alt="">
          </figure>
          <div class="friend-name">
            <ins>
              <a [routerLink]="['/main/profile/view/' + blog.authorDetails.username ]" title="{{ blog.authorDetails.firstName + ' ' + blog.authorDetails.lastName }}">{{ blog.authorDetails.firstName + ' ' + blog.authorDetails.lastName }}</a>
              <span *ngIf="showSharedGroupMessage(blog)"> shared in {{ blog.sharedGroup | uppercase }}</span>
            </ins>
            <span>{{ blog.createdAt | momentDate | date: 'medium' }}</span>
          </div>
          <div class="post-meta">
            <div class="clearfix post-details-wrap">
              <div class="description">
                <p [appExcerpt]="25" [contentType]="'text'">{{blog.content}}</p>
              </div>
              <div class="text-center" [ngSwitch]="blog.fileType">
                  <ng-container *ngSwitchCase="'image/png'">
                    <img [src]="blog.filePath" alt="">
                  </ng-container>

                  <ng-container *ngSwitchCase="'image/jpeg'">
                    <img [src]="blog.filePath" alt="">
                  </ng-container>

                  <ng-container *ngSwitchCase="'audio/mp3'">
                    <audio controls>
                      <source [src]="blog.filePath | urlSanitizer" type="audio/mpeg">
                      Your browser does not support the audio.
                    </audio>
                  </ng-container>

                  <ng-container *ngSwitchCase="'video/x-matroska'">
                    <video controls>
                      <source [src]="blog.filePath | urlSanitizer" type="video/mp4">
                      Your browser does not support the video.
                    </video>
                  </ng-container>

                  <ng-container *ngSwitchCase="null"></ng-container>
              </div>

                <div class="clearfix" *ngIf="blog.referenceBlog">
                  <div class="reference-author">
                    <figure>
                      <img [src]="(blog.referenceAuthor && blog.referenceAuthor.profileImage) ? blog.referenceAuthor.profileImage : 'assets/images/resources/user.jpg'" alt="">
                    </figure>
                    <span>
                      <a [routerLink]="['/main/profile/view/' + blog.referenceAuthor.username ]" title="{{ blog.referenceAuthor.firstName + ' ' + blog.referenceAuthor.lastName }}">{{ blog.referenceAuthor.firstName + ' ' + blog.referenceAuthor.lastName }}</a>
                    </span>
                  </div>
                  <div class="reference-content">
                    <span *ngIf="blog.referenceFile">
                      <img [src]="blog.referenceFile" alt="">
                    </span>
                    <p [appExcerpt]="25" [contentType]="'text'">{{blog.referenceContent}}</p>
                  </div>
                </div>
            </div>
            <div class="we-video-info">
              <ul>
                <li (click)="updateBlog(i, 'like')">
                  <span class="comment anchor-link" data-toggle="tooltip" title="Like" data-original-title="Like">
                    <i class="fa fa-thumbs-o-up fa-2x" [ngClass]="{'colored' : reactionExists(blog, 'like') }" aria-hidden="true"></i>
                  </span>
                  <sup *ngIf="getReactionCount(blog, 'like')">{{ getReactionCount(blog, 'like') }}</sup>
                </li>

                <li (click)="updateBlog(i, 'smile')">
                  <span class="comment anchor-link" data-toggle="tooltip" title="Smile" data-original-title="Smile">
                    <i class="fa fa-smile-o fa-2x" [ngClass]="{'colored' : reactionExists(blog, 'smile') }" aria-hidden="true"></i>
                  </span>
                  <sup *ngIf="getReactionCount(blog, 'smile')">{{ getReactionCount(blog, 'smile') }}</sup>
                </li>

                <li class="share-list-wrap pull-right">
                  <i class="fa fa-ellipsis-h fa-2x" aria-hidden="true"></i>
                  <ul class="d-none">
                    <li>
                      <a class="pointer" (click)="blogAction(blog, 'save')">Save Post</a>
                    </li>
                    <li>
                      <a *ngIf="(blog.displayFlag === false) && (blog.authorDetails.username === user.username)" class="pointer" (click)="blogAction(blog, 'unhide')">Unhide Post</a>
                      <a *ngIf="blog.displayFlag === true" class="pointer" (click)="blogAction(blog, 'hide')">Hide Post</a>
                    </li>
                    <li>
                      <a class="pointer" (click)="blogAction(blog, 'bookmark')">Bookmark</a>
                    </li>
                    <li>
                      <a class="pointer" (click)="blogAction(blog, 'report')">Report</a>
                    </li>
                  </ul>
                </li>

                <li class="share-list-wrap pull-right">
                  <i class="fa fa-share-alt fa-2x" aria-hidden="true"></i>
                  <ul class="d-none">
                    <li class="pointer">
                      <a (click)="openShareBlogForm(blog, 'timeline')">Share on Timeline</a>
                    </li>
                    <ng-container *ngIf="(groupList.length > 0) then shareGroup else noGroup"></ng-container>
                    <ng-template #shareGroup>
                      <li class="pointer">
                        <a (click)="openShareBlogForm(blog, 'group')">Share in Group</a>
                      </li>
                    </ng-template>
                    <ng-template #noGroup>
                      <li class="not-allowed">
                        <a title="No Groups Found">Share in Group</a>
                      </li>
                    </ng-template>
                    <li class="pointer">
                      <a (click)="openShareBlogForm(blog, 'message')">Share in Private Message</a>
                    </li>
                  </ul>
                </li>

                <li class="pull-right" (click)="updateBlog(i, 'dislike')">
                  <span class="comment anchor-link" data-toggle="tooltip" title="Dislike" data-original-title="Dislike">
                    <i class="fa fa-thumbs-o-down fa-2x" [ngClass]="{'colored' : reactionExists(blog, 'dislike') }" aria-hidden="true"></i>
                  </span>
                  <sup *ngIf="getReactionCount(blog, 'dislike')">{{ getReactionCount(blog, 'dislike') }}</sup>
                </li>
              </ul>
            </div>
            <div class="we-video-info" *ngIf="blog.action">
              <p [ngClass]="{ 'text-danger' : !blog.action.status, 'text-success': blog.action.status }">{{ blog.action.message }}</p>
            </div>
          </div>
        </div>
        <div class="coment-area">
          <ul class="we-comet">
            <ng-container  *ngIf="blog.comments && blog.comments.length">
                <li *ngFor="let comment of blog.comments; let j = index;" >
                    <div class="comet-avatar" [title]="(comment.commenter.firstName + ' ' + comment.commenter.lastName)">
                      <!-- <img [src]="(comment.commenter && comment.commenter.profileImage) ? comment.commenter.profileImage : 'assets/images/resources/user.jpg'" alt=""> -->
                      <i class="fa fa-2x fa-user" aria-hidden="true"></i>
                    </div>
                    <div class="we-comment">
                      <div class="coment-head">
                        <h5>
                          <a [routerLink]="['/main/profile/view/' + comment.commenter.username]" title="">{{ (comment.commenter && comment.commenter.firstName)? (comment.commenter.firstName + ' ' + comment.commenter.lastName) : '' }}</a>
                        </h5>
                        <span>{{comment.commentedAt | momentDate | date : 'medium'}}</span>

                        <a class="we-reply" title="Reply" (click)="comment.showReplyForm = true">
                          <i class="fa fa-reply"></i>
                        </a>
                      </div>
                      <p>{{comment.comment}}</p>
                    </div>
                    <ul>
                      <ng-container *ngIf="comment.replies">
                        <li *ngFor="let reply of comment.replies; let k = index;" >
                          <div class="comet-avatar" [title]="(reply.replier.firstName + ' ' + reply.replier.lastName)">
                            <!-- <img [src]="(reply.replier && reply.replier.profileImage)? reply.replier.profileImage : 'assets/images/resources/user.jpg'" [alt]="reply.replier? (reply.replier.firstName + ' ' + reply.replier.lastName) : ''" [title]="reply.replier? (reply.replier.firstName + ' ' + reply.replier.lastName) : ''"/> -->
                            <i class="fa fa-2x fa-user" aria-hidden="true"></i>
                          </div>
                          <div class="we-comment">
                            <div class="coment-head">
                              <h5><a [routerLink]="['/main/profile/view/' + reply.replier.username]" title="">{{reply.replier.firstName + ' ' + reply.replier.lastName}}</a></h5>
                              <span>{{ reply.repliedAt | momentDate | date: 'medium' }}</span>
                              <a class="we-reply" title="Reply" (click)="comment.showReplyForm = true">
                                <i class="fa fa-reply"></i>
                              </a>
                            </div>
                            <pre>{{reply.comment}}</pre>
                          </div>
                        </li>
                      </ng-container>

                      <li *ngIf="comment.showReplyForm">
                        <form [formGroup]="replyForm" (submit)="createReply(i, j)">
                          <div class="row">
                            <div class="col-md-10">
                              <input type="text" class="form-control" placeholder="Reply" formControlName="comment" />
                            </div>
                            <div class="col-md-2">
                              <button [disabled]="replyForm.invalid" class="btn" type="submit">
                                <span>Reply</span>
                              </button>
                            </div>
                          </div>
                        </form>
                      </li>

                      <li *ngIf="comment.replyAction">
                        <div class="we-video-info">
                          <p [ngClass]="{ 'text-danger' : !comment.replyAction.status, 'text-success': comment.replyAction.status }">{{ comment.replyAction.message }}</p>
                        </div>
                      </li>
                    </ul>
                  </li>
            </ng-container>
            <!-- <li>
              <a href="#" title="" class="showmore underline">more comments</a>
            </li> -->
            <li class="post-comment">
              <form [formGroup]="commentForm" (ngSubmit)="createComment(blog)">
                  <div class="comet-avatar">
                      <img [src]="(user && user.profileImage)? user.profileImage : 'assets/images/resources/user.jpg'" alt="{{ user? (user.firstName + ' ' + user.lastName) : ''}}" title="{{user? (user.firstName + ' ' + user.lastName) : ''}}" />
                    </div>
                    <div class="post-comt-box">
                      <div class="post">
                        <textarea placeholder="Add a comment" formControlName="comment" rows="1"></textarea>

                        <button class="pull-right" type="submit">
                          <span class="text-white">Comment</span>
                        </button>
                      </div>
                    </div>
              </form>
            </li>

            <li class="post-comment" *ngIf="blog.commentAction">
              <p [ngClass]="{'text-danger': !blog.commentAction.status, 'text-success': blog.commentAction.status }">{{ blog.commentAction.message }}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="config.loadMore">
      <div class="col-md-12 text-center" (click)="loadTimeline()">
        <i class="fa fa-spinner fa-2x fa-fw margin-bottom" [ngClass]="{'fa-spin': config.loading }"></i>
      </div>
    </div>

    <div class="central-meta item" *ngIf="!config.loading && blogs.length === 0">
      <p class="bg-white">There are no posts in the timeline.</p>
    </div>
  </div>
</section>

<section class="share-modal" *ngIf="showShareModal">
  <div class="modal-wrap">
    <div class="modal-overlay" (click)="activeBlog = null; showShareModal = !showShareModal"></div>
    <div class="modal-content">
      <form [formGroup]="shareBlogForm" (ngSubmit)="shareBlog()">

        <section id="share-blog">
          <div class="central-meta">
            <div class="editing-info">
              <h5 class="f-title">Share Post:</h5>

              <table class="table no-border">
                <tbody>
                  <tr class="row" *ngIf="activeBlog.shareType === 'GROUP'">
                    <td class="col-md-12">
                      <div class="row">
                        <div class="col-md-4">
                          <label>Select a Group</label>
                        </div>
                        <div class="col-md-4">
                          <select class="form-control" (change)="updateShareGroup($event.target.value)">
                            <option *ngFor="let group of groupList" [ngValue]="group.groupName">{{ group.groupName }}</option>
                            <option disabled *ngIf="groupList.length === 0">No Groups Available</option>
                          </select>
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr class="row">
                    <td class="col-md-12">
                      <div class="row">
                        <div class="col-md-12">
                          <textarea rows="2" cols="10" class="no-border" formControlName="content" placeholder="Say something about this..."></textarea>
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr class="row">
                    <td class="col-md-12">
                      <div class="row">
                        <div class="col-md-12">
                          <ng-container *ngIf="activeBlog.fileType">
                            <div class="text-center" [ngSwitch]="activeBlog.fileType">
                              <ng-container *ngSwitchCase="'image/png'">
                                <img [src]="activeBlog.filePath" alt="">
                              </ng-container>

                              <ng-container *ngSwitchCase="'image/jpeg'">
                                <img [src]="activeBlog.filePath" alt="">
                              </ng-container>

                              <ng-container *ngSwitchCase="'audio/mp3'">
                                <audio controls>
                                  <source [src]="activeBlog.filePath | urlSanitizer" type="audio/mpeg">
                                  Your browser does not support the audio.
                                </audio>
                              </ng-container>

                              <ng-container *ngSwitchCase="'video/x-matroska'">
                                <video controls>
                                  <source [src]="activeBlog.filePath | urlSanitizer" type="video/mp4">
                                  Your browser does not support the video.
                                </video>
                              </ng-container>

                              <ng-container *ngSwitchCase="null"></ng-container>
                            </div>
                          </ng-container>

                          <div class="description">
                              <p [appExcerpt]="25" [contentType]="'text'">{{ activeBlog.referenceContent? activeBlog.referenceContent : activeBlog.content}}</p>
                            </div>
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr class="row">
                    <td class="col-md-12">
                      <div class="row">
                        <div class="col-md-12">
                            <div class="clearfix">
                              <div class="pull-left">
                                <button type="reset" class="mtr-btn" (click)="activeBlog = null; showShareModal = !showShareModal; shareBlogForm.reset()">
                                  <span>Cancel</span>
                                </button>
                              </div>

                              <div class="pull-right">
                                <button [disabled]="shareBlogForm.invalid" type="submit" class="mtr-btn">
                                  <span>Share</span>
                                </button>
                              </div>
                            </div>
                        </div>
                      </div>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </section>
      </form>
    </div>
  </div>
</section>
