
<div class="page-sidebar fixedscroll">
            <!-- MAIN MENU - START -->
 <div class="page-sidebar-wrapper ps-container ps-active-y" id="secondary-sidebar">
<aside class="sidebar static">
  <div id="friend-list-wrap" class="widget friend-list stick-widget bg-white" *ngIf="user">
    <h4 class="widget-title">Friends</h4>
    <div id="filter-friends" class="form-group">
      <input type="text" class="form-control r-search1" (keyup)="updateFilter($event)" placeholder="Search Friends" />
    </div>
    <ul id="people-list" class="friendz-list" *ngIf="friendList">
      <li class="anchor-link" *ngFor="let friend of friendList | filterFriends: friendsFilter : ['firstName'] : user.username; let i = index;" (contextmenu)="openContextMenu($event, friend)" (click)="friend.showContentMenu = false;" title="Right click to open the menu">
        <ng-container *ngIf="(user.username === friend.fromUserId_user_docs.username) then requestSentFriends else requestReceivedFriends"></ng-container>

        <ng-template #requestSentFriends>
          <figure>
            <img [src]="(friend.toUserId_user_docs && friend.toUserId_user_docs.profileImage)? friend.toUserId_user_docs.profileImage: 'assets/images/resources/user.jpg'" alt="">
          </figure>
          <div class="friendz-meta">
            <a>{{(friend.toUserId_user_docs && friend.toUserId_user_docs.firstName)? friend.toUserId_user_docs.firstName : 'Friend Name'}}</a>
            <span class="pull-right status" [ngClass]="{ 'f-online': getOnlineStatus(friend), 'f-off': !getOnlineStatus(friend) }"></span>
          </div>
        </ng-template>

        <ng-template #requestReceivedFriends>
          <figure>
            <img [src]="(friend.fromUserId_user_docs && friend.fromUserId_user_docs.profileImage)? friend.fromUserId_user_docs.profileImage: 'assets/images/resources/user.jpg'" alt="">
          </figure>
          <div class="friendz-meta">
            <a>{{(friend.fromUserId_user_docs && friend.fromUserId_user_docs.firstName)? friend.fromUserId_user_docs.firstName : 'Friend Name'}}</a>
            <span class="pull-right status" [ngClass]="{ 'f-online': getOnlineStatus(friend), 'f-off': !getOnlineStatus(friend) }"></span>
          </div>
        </ng-template>

        <ul *ngIf="friend.showContentMenu" class="user-friend-actions row bg-white">
          <li class="col-md-4 list-item" (click)="friend.showContentMenu = false; setActiveFriend(friend)">
            <span>Chat <i class="fa fa-comment" aria-hidden="true"></i></span>
          </li>
          <li class="col-md-4 list-item" (click)="friend.showContentMenu = false; callFriend(friend)">
            <span>Live <i class="fa fa-video-camera" aria-hidden="true"></i></span>
          </li>
          <li class="col-md-4 list-item" (click)="friend.showContentMenu = false; nudgeFriend(friend)">
            <span>Nudge <i class="fa fa-hand-o-right" aria-hidden="true"></i></span>
          </li>
        </ul>
      </li>

      <li *ngIf="(friendList | filterFriends: friendsFilter : ['firstName'] : user.username).length === 0">
        <p>No Friends Found</p>
      </li>
    </ul>
    <div class="chatbox-wrapper" *ngIf="activeFriends && activeFriends.length">
      <ng-container *ngFor="let activeFriend of activeFriends; let i = index;">
        <app-chat-box [user]="user" [activeFriend]="activeFriend" (removeActiveFriend)="removeActiveFriend($event)"></app-chat-box>
      </ng-container>
    </div>

    <h4 class="widget-title">Groups</h4>
    <ul class="friendz-list groups-list">
      <li *ngFor="let group of groupList; let i = index;">
        <div class="friendz-meta">
          <a [routerLink]="['/main/profile/manage-groups']">{{group.groupName}}</a>
        </div>
      </li>

      <li *ngIf="groupList.length === 0">
        <p>No Groups</p>
      </li>
    </ul>

    <h4 class="widget-title">Shortcuts</h4>
    <ul class="friendz-list">
      <li class="anchor-link">
        <div class="friendz-meta">
          <a (click)="navigateScreen('saved')">Saved</a>
        </div>
      </li>

      <li class="anchor-link">
        <div class="friendz-meta">
        <a (click)="navigateScreen('bookmarked')">Bookmarked</a>
        </div>
      </li>
    </ul>
  </div><!-- friends list sidebar -->
</aside>

<section *ngIf="showLiveStream">
  <!-- <app-live-stream (stopStream)="showLiveStream = $event;"></app-live-stream> -->
  <app-live-video-chat [videoChatFriend]="videoChatFriend" (stopStream)="videoChatFriend = null; showLiveStream = $event;"></app-live-video-chat>
</section>
  </div>
</div>
