.chat-box.show {
  position: relative;
  bottom: 0;
}

.chat-box.show.hide-chat {
  bottom: -390px;
}

ul > li > figure img {
  width: 32px;
  height: 32px;
}

.friend-list .form-group {
  margin: 0px 0px;
}

.friend-list .form-group .form-control {
  width: calc(100% - 30px);
  margin: 0px 15px;
  font-size: 12px;
  border: 1px solid #ede9e9;
}

ul#people-list {
  max-height: 25vh;
  overflow: auto;
}

.chat-box.show {
  min-height: 400px;
  right: auto;
  width: calc(20% - 1px);
  margin: 0px 0.5px;
}

.chat-box.show .chat-list {
  padding: 5px 0px 0px 5px;
}

.chat-list > ul {
  overflow-y: auto;
  min-height: 290px;
}

.chat-list > form {
  width: 100%;
  padding: 0px 5px 0px 0px;
}

.notification-evt > .chat-message {
  width: 100%;
  font-size: 14px;
}

.chat-thumb > img {
  width: 28px;
  height: 28px;
}

li.anchor-link  ul.user-friend-actions {
  padding: 0px 0px;
  position: absolute;
  z-index: 1;
  border: 2.5px solid var(--background-color);
  border-radius: 5px;
}

li.anchor-link ul.user-friend-actions> li {
  margin: 0px 0px;
}

li.anchor-link ul.user-friend-actions> li > span {
  display: inline-flex;
  font-size: 12px;
  align-items: center;
}

li.anchor-link ul.user-friend-actions> li > span > i {
  padding-left: 2.5px;
  padding-top: 2.5px;
}

/*Code added by Priya*/
span.status {
  border-radius: 50%;
  bottom: 13px;;
  display: inline-block;
  height: 12px;
  padding: 2px;
  position: absolute;
  right: 0;
  width: 12px;
}
.page-sidebar {
    height: auto;
    padding: 0px;
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(33,33,33,.2);
    min-height: 100%;
    height: auto;
}
.fixedscroll #secondary-sidebar {
    padding-top: 0px;
    overflow: hidden;
    position: relative;
}
input.form-control.r-search1 {
    background-color: rgba(33, 33, 33, 0.1);
    color: #aaaaaa;
    font-size: 14px;
    border: 0px;
    margin: 0px 20px 0 20px;
}

.chatbox-wrapper {
  display: inline-flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: fit-content;
  max-width: 100%;
  position: fixed;
  overflow-x: auto;
  right: 0%;
  z-index: 1;
  bottom: 0;
}

.inline-list {
  display: inline-flex;
  list-style: outside none none;
  vertical-align: middle;
  width: 100%;
  padding: 0px 0px;
  margin: 0px 0px 5px;
}

.inline-list > .list-item {
  margin-bottom: 0;
}

.inline-list > .list-item i {
  font-size: 18px;
}

.smiles-bunch::before {
  right: 50%;
}

.chat-box.show.expand {
  min-height: 600px;
  width: 30%;
  transition: all 0.5s ease-in-out;
}

.chat-box.show.expand .chat-list > ul {
  min-height: 490px;
  transition: all 0.5s ease-in-out;
}

.chat-icon {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  padding: 5px;
}

.me > .clearfix > label {
  display: inherit;
}

.chat-list ul > li {
  margin-bottom: 20px;
}

.d-inline ul.inline-list > li.list-item,
.chat-head > label {
  margin-bottom: 0px;
}

.chat-head-menu > span {
  margin-left: 15px;
}

.chat-head-menu > span dl {
  position: absolute;
  z-index: 1;
  padding: 0px 15px;
  top: 45px;
  right: 0;
  box-shadow: 1px 1px 5px rgba(0,0,0, 0.5);
}

dl > dt > a {
  color: var(--background-color);
  font-weight: normal;
  font-size: 14px;
  padding: 5px;
}

.chat-head {
  padding: 10px 15px 10px 15px;
}

#secondary-sidebar .sticky {
  width: calc(20% - 20px);
  top: 50px;
  position: fixed !important;
  overflow-y: auto !important;
}

#secondary-sidebar > .sidebar.static {
  width: 100%;
}

.sidebar .widget>ul {
  padding: 0 25px 5px;
}

.sidebar .widget li {
  margin-bottom: 5px;
}

.sidebar .widget-title {
  margin-bottom: 10px;
  padding: 10px 20px 10px;
}
