<div class="full-width">
  <section id="thread-list">
    <div class="central-meta">
      <div class="editing-info">
        <h5 class="f-title">
          {{(threadAuthor === 'all')? 'All Threads': 'Threads started by ' + user.username }}
        </h5>
        <span class="pull-right">
          Search: <input id="keyword" type="text" (keyup)="searchThread($event.target.value)" placeholder="Keyboard" />
        </span>
        
        <table class="table no-border">
          <thead>
            <tr class="row">
              <th class="col-md-1">Sl No.</th>
              <th class="col-md-3">Topic</th>
              <th class="col-md-1">Type</th>
              <th class="col-md-3">Started On</th>
              <th class="col-md-3">Last Updated</th>
              <th class="col-md-1">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr class="row" *ngFor="let thread of threadList | filterList: threadFilter; let i = index;" (click)="viewThreadDetails(i)">
              <td class="col-md-1">{{ i + 1 }}</td>
              <td class="col-md-3" innerHTML="{{ thread.content.split(' ').slice(0, 5).join(' ') + '...' }}"></td>
              <td class="col-md-1">{{ thread.type }}</td>
              <td class="col-md-3">{{ thread.started_on | momentDate | date: 'short' }}</td>
              <td class="col-md-3">{{ thread.last_updated_on | momentDate | date: 'short' }}</td>
              <td class="col-md-1">{{ thread.status | titlecase }}</td>
            </tr>

            <tr class="row" *ngIf="(threadList | filterList: threadFilter).length === 0">
              <td colspan="6" class="col-md-12 text-center">
                <p>No Threads Available</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>
