<svg width="100%" height="100px">
  <g class="lines">
    <path *ngFor="let line of lines;" [attr.d]="line.path" [attr.fill]="line.color" [attr.stroke]="line.color" (click)="displaySegmentDetails(line)"></path>
  </g>

  <g class="circles">
    <circle *ngFor="let circle of circles;" [attr.cx]="circle.cx" [attr.cy]="circle.cy" [attr.r]="circle.r" [attr.fill]="circle.fill" />
  </g>
</svg>
