<section class="bg-white">
  <div class="row" *ngIf="message" >
    <div class="col-md-12">
      <div>
      <form [formGroup]="replyForm" (ngSubmit)="replyToMessage()">
        <table class="table">
          <thead>
            <tr>
              <th colspan="2">
                  <div class="timeline-info">
                      <ul class="text-right">
                        <li>
                          <a title="Reply" data-ripple="" (click)="messageAction('reply')"> <i class="fa fa-reply" aria-hidden="true"></i> Reply</a>
                          <a title="Reply All" data-ripple="" (click)="messageAction('reply-all')"> <i class="fa fa-reply-all" aria-hidden="true"></i> Reply All</a>
                          <a title="Forward" data-ripple="" (click)="messageAction('forward')"> <i class="fa fa-forward" aria-hidden="true"></i> Forward</a>
                          <a title="Delete" data-ripple="" (click)="messageAction('delete')"> <i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
                        </li>
                      </ul>
                    </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="!userMessageAction">
              <td>
                <label>From: {{ (message && message.fromUserId)? message.fromUserId: ''}}</label>
              </td>
              <td class="text-right">
                <label>{{ ((message && message.message && message.message.createdAt)? message.message.createdAt: '') | momentDate | date: 'medium' }}</label>
              </td>
            </tr>
            <tr *ngIf="userMessageAction">
                <td>
                  <label>From: {{ (user && user.firstName)? user.firstName + ' ' + user.lastName : '' }}({{user.username}})</label>
                </td>
                <td class="text-right">
                  <label>{{ ((message && message.message && message.message.createdAt)? message.message.createdAt: '') | momentDate | date: 'medium'}}</label>
                </td>
              </tr>
            <tr>
                <td colspan="2">
                  <label>Subject: </label> <input type="text" formControlName="subject"  [readonly]="!userMessageAction"/>
                </td>
              </tr>
            <tr>
              <td colspan="2">
                <label>To: </label> <input type="text" formControlName="receiverIds"  [readonly]="!userMessageAction" />
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <label>CC: </label> <input type="text" formControlName="cc" [readonly]="!userMessageAction" />
              </td>
            </tr>
            <tr class="table-bordered">
              <td colspan="2">
                <textarea rows="10" formControlName="message" [readonly]="!userMessageAction">{{message}}</textarea>
              </td>
            </tr>
            <tr *ngIf="getAttachmentLink()">
              <td colspan="2">
                <a target="_blank" href="{{ getAttachmentLink() }}">
                  <i class="fa fa-paperclip" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
          </tbody>

          <tfoot *ngIf="userMessageAction" >
              <tr>
                <td colspan="2">
                  <button type="reset" class="mtr-btn pull-left" (click)="userMessageAction = false;">
                    <span class="text-white">CANCEL</span>
                  </button>
                  <button type="submit" class="mtr-btn pull-right">
                    <span class="text-white">SEND</span>
                  </button>
                </td>
              </tr>
            </tfoot>
        </table>
      </form>
      </div>
    </div>
  </div>
</section>
