<div class="container-fluid">
  <div class="row shadow">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <div class="think">
        <!--<img src="images/main-slider/11.jpg" class="img-responsive img-fluid color-over">-->
        <div class="top-header100">
          <div>
            <a [routerLink]="['/auth/login']" routerLinkActive="router-link-active">
              <img src="assets/images/rt.png" class="img-responsive img-fluid h-roletune center1">
            </a>
            <!--<h1 class="h-roletune"><span class="role-space">Roletune</span></h1>-->
          </div>
          <div class="bor-bot cen_line"></div>
          <div>
            <h1 class="want-color">Be What You Want To Be.</h1>
          </div>
          <div class="in-mind100">
            <div class="">
              <img src="assets/images/u1.png" class="img-responsive img-fluid book-round">
              <p class="in-mind-peop">Find Like Minded People and Learn</p>
            </div>
            <div class="">
              <img src="assets/images/t1.png" class="img-responsive img-fluid book-round">
              <p class="in-mind-peop">Avail Quality Mentorship</p>
            </div>
            <div class="">
              <img src="assets/images/b.png" class="img-responsive img-fluid book-round">
              <p class="in-mind-peop">Monetize Your Skills and Earn</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <div class="shadow rounded top-head-t100">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <button type="button" class="btn float-right b-sing mtr-btn" [routerLink]="['/auth/sign-up']">
              <span>SIGN UP</span>
            </button>
          </div>
        </div>
        <form *ngIf="!showOtpForm" [formGroup]="loginForm" class="login-container" (ngSubmit)="login()"
          autocomplete="off">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h5 class="l-log">LOGIN</h5>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="form-group login-form1">
                <label class="uid">User ID</label>
                <input type="text" formControlName="userId" placeholder="Enter User ID" class="form-control c-text"><!-- userId -->
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="form-group login-form1">
                <label class="uid">Password</label>
                <input type="password" formControlName="password" placeholder="Enter Password" class="form-control c-text">
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-auto remember">

              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input icon-left customerinformation-checkbox" (change)="rememberMe = !rememberMe;" />
                  <span class="rm-color">Remember Me</span>
                </label>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-auto remember">
              <a [routerLink]="['/auth/forgot-password']" class="float-right f-pass">Forget Password ?</a>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 l-space">
              <button class="mtr-btn signin" type="submit" style="width: 100%;" ><!-- [disabled]="loginForm.invalid" -->
                <span>Login</span>
              </button>
            </div>

            <div class="form-group" *ngIf="message">
              <div class="form-control text-center">
                <p [ngClass]="{ 'text-success': message.status, 'text-danger': !message.status }">{{ message.message }}</p>
              </div>
            </div>
            <br />
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
              <i class="fa fa-facebook fa-2x f-color"></i>
              <i class="fa fa-twitter fa-2x t-color"></i>
              <i class="fa fa-google-plus fa-2x g-color"></i>
              <i class="fa fa-linkedin fa-2x in-color"></i>
            </div>
          </div>
        </form>
        <form *ngIf="showOtpForm" [formGroup]="otpForm" class="login-container otp-form" (ngSubmit)="submitOtp()" autocomplete="off">
          <div class="form-control">
            <label class="control-label" for="otp">
              <span style="font-size: 15px;margin-left: -12px;">Enter the Registered Mobile Number ({{registeredNumber}})</span>
            </label>
            <i class="mtrl-select"></i>
            <input [readonly]="otpSent" autocomplete="new-password" id="mobile" type="tel" placeholder="Enter Mobile Number" formControlName="phone" />
          </div>
          <br>

          <div class="form-control" *ngIf="otpSent">
            <label class="control-label" for="otp">
              <span style="font-size: 15px;margin-left: -12px;">Enter OTP</span>
            </label>
            <i class="mtrl-select"></i>
            <input autocomplete="new-password" id="otp" type="text" placeholder="Enter OTP" formControlName="otp" />
          </div><br>

          <div class="form-group" *ngIf="message">
            <div class="form-control">
              <p [ngClass]="{ 'text-success': message.status, 'text-danger': !message.status }">{{ message.message }}</p>
            </div>
          </div>
          <br />

          <div class="submit-btns" *ngIf="!otpSent" >
            <button class="mtr-btn signin pull-left" type="reset" (click)="showOtpForm = false;"><span>CANCEL</span></button>
            <button class="mtr-btn signin pull-right" type="button" (click)="message = null; sendOtp()"><span>SEND OTP</span></button>
          </div>

          <div class="submit-btns" *ngIf="otpSent">
            <button class="mtr-btn signin" type="reset" (click)="showOtpForm = !showOtpForm;"><span>CANCEL</span></button>
            <button class="mtr-btn signin pull-right" type="submit"><span>GO</span></button>
          </div>
        </form>


      </div>
      <div class="full-height" *ngIf="showLoader">
        <img src="assets/images/loader.gif" />
      </div>
    </div>
  </div>

</div>
