.container-fluid {
  background: #ffffff;
  padding: 0px 0px;
}
.checkbox .check-box {
  margin-left: 12px;
}
.col-md-2 > h4 {
  font-size: 28px;
}

input {
  color: #505050;
}

.col-md-6 > .full-height {
  width: calc(50vw + 15px);
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0, 0.25);
}

.otp-form {
  padding-top: 25%;
}

.otp-form .control-label {
  padding: 0px 15px;
}


/* code added by Tanya */

input.form-control.c-text {
    padding: 25px 10px 25px 10px !important;
}

.form-group.login-form1 {
    margin-top: 0px;
    margin-bottom: 0px;
}