<div class="full-width">
  <form [formGroup]="searchLibraryCategoryForm" (ngSubmit)="searchLibraryCategory()">
      <section id="search-library-category">
        <div class="central-meta">
          <div class="editing-info">
            <h5 class="f-title">Search {{ libraryCategory.replace('-', ' ') | titlecase}}:</h5>
            <table class="table no-border">
              <tbody>
                <tr class="row">
                  <td class="col-md-5">
                    <div class="row">
                      <div class="col-md-4">
                        <label for="keyword" class="form-control">Keyword</label>
                      </div>
                      <div class="col-md-8">
                        <input id="keyword" class="form-control" type="text" formControlName="keyword" (keyup)="showCategoryResults = false" />
                      </div>
                    </div>
                  </td>

                  <td class="col-md-4">
                    <div class="row">
                      <div class="col-md-5 offset-1">
                        <label for="matchType" class="form-control">Match Type</label>
                      </div>
                      <div class="col-md-6">
                        <select id="matchType" class="form-control" formControlName="matchType" (change)="showCategoryResults = false" >
                          <option value="contains">Contains</option>
                          <option value="exact-match">Exact Match</option>
                        </select>
                      </div>
                    </div>
                  </td>

                  <td class="col-md-2 offset-1">
                    <div class="row">
                      <div class="col-md-6">
                        <button [disabled]="searchLibraryCategoryForm.invalid" type="submit" class="mtr-btn">
                          <span>Search</span>
                        </button>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
  </form>
</div>

<div class="full-width" *ngIf="showCategoryResults">
  <section id="search-library-category">
    <div class="central-meta">
      <div class="editing-info">
        <h5 class="f-title">{{ libraryCategory.replace('-', ' ') | titlecase}}:</h5>
        <table class="full-width table" >
          <thead>
            <tr class="table-row">
              <th>Sl No.</th>
              <th>{{ libraryCategory.substring(0, libraryCategory.length - 1).replace('-', ' ') | titlecase}} Title</th>
              <th>Description</th>
              <th>Author</th>
              <th>Rating</th>
              <th>Download</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-row" *ngFor="let item of categoryList;let i = index;">
              <td>{{ i + 1 }}</td>
              <td>{{ item.title | titlecase }}</td>
              <td [title]="item.desc">{{ item.desc.split(' ').slice(0, 5).join(' ') }}...</td>
              <td>{{ item.author | titlecase }}</td>
              <td>{{ item.rating ? item.rating : '0' }}</td>
              <td>
                <ng-container *ngIf="item.link then downloadLink else downloadFile"></ng-container>

                <ng-template #downloadLink>
                  <a target="_blank" href="{{ item.link }}" title="Download">
                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                  </a>
                </ng-template>

                <ng-template #downloadFile>
                  <a [download]="item.fileName" [href]="item.fileUpload" [title]="item.fileName">
                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                  </a>
                </ng-template>
              </td>
            </tr>

            <tr class="table-row" *ngIf="categoryList.length === 0">
              <td colspan="7" class="text-center">No items found</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>
