
<div class="full-width">
    <div class="modal-wrap">
      <div class="modal-overlay" (click)="toggleStream(false)"></div>
      <div class="modal-content">
        <div class="row">
            <video src="" id="video" style="width:700px; height: 350px;" autoplay="true"></video>
            <canvas style="display:none;" id="preview"></canvas>
            <div id="logger"></div>            
        </div>
  
        <div class="row">
          <button class="col-md-2 mtr-btn" (click)="toggleStream(false)">
            <span>End Chat</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  
