<div class="theme-layout">
  <div class="topbar stick">
    <div class="logo">
      <a [routerLink]="['/auth/login']" routerLinkActive="router-link-active">
        <img src="assets/images/roletune-logo.png" alt="" style="height:68px;">
      </a>
    </div>

    <div class="top-area">
      <ul class="setting-area">
        <li *ngFor="let menuItem of menu;">
          <button class="header-button signin mtr-btn" [routerLink]="menuItem.getUrl()">
            <span>{{ menuItem.getName() }}</span>
          </button>
        </li>
      </ul>
    </div>
  </div>

</div>
