<section id="heading">
  <div class="editing-info">
    <h5 class="f-title">Related Threads</h5>
  </div>
</section>

<section *ngFor="let relatedThread of relatedThreads" class="section-border">
  <div class="friend-info margin-sm">
    <figure>
      <img class="user-icon"
        src="{{ (relatedThread && relatedThread.author && relatedThread.author.profileImage)? relatedThread.author.profileImage  : 'assets/images/resources/user.jpg'}}"
        [alt]="relatedThread.author.firstName" />
    </figure>
    <div class="friend-name">
      <ins>
        <a [routerLink]="['/main/profile/view/' + relatedThread.author.firstName ]"
          routerLinkActive="router-link-active"
          [innerHTML]="relatedThread.author.firstName + ' ' + relatedThread.author.lastName"
          [title]="relatedThread.author.firstName + ' ' + relatedThread.author.lastName"></a>
      </ins>
      <span>Posted on {{ relatedThread.started_on | momentDate | date : 'medium' }}</span>
    </div>
    <div class="pull-right text-center">
      <small>{{ 'Type: ' + relatedThread.type }}</small>
    </div>
  </div>
  <h5>
    <a class="anchor-link colored" [innerHTML]="relatedThread.content" (click)="openRelatedThread(relatedThread)"></a>
  </h5>
</section>

<section *ngIf="relatedThreads.length === 0">
  <div class="friend-info margin-sm">
    <p>No Related Threads Available</p>
  </div>
</section>
