section {
    padding: 15px 15px 0px;
}
#heading .editing-info .f-title{
    margin-bottom: 0px;
}
.section-border {
    margin-bottom: 20px;
    border: 1px solid #dee0e1;
}
.section-border .friend-name {
    width: 60%;
}