<div class="full-width">
  <div class="modal-wrap">
    <div class="modal-overlay" (click)="toggleForm(null)"></div>
    <div class="modal-content">
      <section id="credentials">
        <div class="central-meta">
          <div class="editing-info">
            <h5 class="f-title">{{ getCredentialHeading() }}</h5>
            <a class="fa fa-2x anchor-link rotate-45 pull-right" (click)="toggleForm(null)">+</a>
            <table class="table no-border">
              <tbody *ngIf="!showLoader">
                <tr class="row">
                  <td class="col-md-12" [ngSwitch]="credentialType">
                    <ng-container *ngSwitchCase="credentialTypes.about">
                      <ng-container [ngTemplateOutlet]="aboutDetailFormTemplate"></ng-container>
                    </ng-container>
                    <ng-container *ngSwitchCase="credentialTypes.education">
                      <ng-container [ngTemplateOutlet]="educationDetailsFormTemplate"></ng-container>
                    </ng-container>
                    <ng-container *ngSwitchCase="credentialTypes.experience">
                      <ng-container [ngTemplateOutlet]="experienceDetailsFormTemplate"></ng-container>
                    </ng-container>
                    <ng-container *ngSwitchCase="credentialTypes.certification">
                      <ng-container [ngTemplateOutlet]="certificationDetailsFormTemplate"></ng-container>
                    </ng-container>
                    <ng-container *ngSwitchCase="credentialTypes.skill">
                      <ng-container [ngTemplateOutlet]="skillDetailsFormTemplate"></ng-container>
                    </ng-container>
                    <ng-container *ngSwitchCase="credentialTypes.accomplishment">
                      <ng-container [ngTemplateOutlet]="accomplishmentDetailsFormTemplate"></ng-container>
                    </ng-container>
                    <ng-container *ngSwitchCase="credentialTypes.award">
                      <ng-container [ngTemplateOutlet]="awardsDetailsFormTemplate"></ng-container>
                    </ng-container>
                    <ng-container *ngSwitchCase="credentialTypes.patent">
                      <ng-container [ngTemplateOutlet]="patentDetailsFormTemplate"></ng-container>
                    </ng-container>
                    <ng-container *ngSwitchCase="credentialTypes.project">
                      <ng-container [ngTemplateOutlet]="projectDetailsFormTemplate"></ng-container>
                    </ng-container>
                    <ng-container *ngSwitchCase="credentialTypes.publication">
                      <ng-container [ngTemplateOutlet]="publicationDetailsFormTemplate"></ng-container>
                    </ng-container>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="showLoader">
                <tr class="row">
                  <td class="col-md-12 text-center">
                    <img src="assets/images/loader.gif" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row" *ngIf="message">
            <div class="col-md-12 text-center">
              <p [ngClass]="{'text-success': message.status, 'text-danger': !message.status}">{{ message.message }}</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<ng-template #aboutDetailFormTemplate>
  <form [formGroup]="aboutDetailsForm" (submit)="addCredential()">
                      
    <div class="row">
      <div class="col-md-12">
        <label>Summary<sup class="text-danger">*</sup></label>
        <br />
        <textarea type="text" class="form-control" row="30" cols="100" formControlName="summary" placeholder="Enter summary"></textarea>
      </div>
    </div>
    
    <div class="row" *ngIf="submitted && aboutDetailsForm.get('summary').invalid">
      <div class="col-md-12">
        <p class="text-danger"></p>
        <p class="text-danger" *ngIf="aboutDetailsForm.get('summary').errors.required">Summary is required</p>
        <p class="text-danger" *ngIf="aboutDetailsForm.get('summary').errors.minlength">Summary must be at least 10 characters long</p>
        <p class="text-danger" *ngIf="aboutDetailsForm.get('summary').errors.maxlength">Summary can be maximum 500 characters long</p>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div class="submit-btns">
          <ng-container *ngIf="credentialMode === credentialModes.add">
            <button type="submit" class="mtr-btn">
              <span>Submit</span>
            </button>
            <button type="button" (click)="submitted = false; aboutDetailsForm.reset()" class="mtr-btn pull-right">
              <span>Cancel</span>
            </button>
          </ng-container>

          <ng-container *ngIf="credentialMode === credentialModes.edit">
            <button type="button" (click)="deleteCredential()" class="mtr-btn">
              <span>Delete</span>
            </button>
            <button type="submit" class="mtr-btn pull-right">
              <span>Update</span>
            </button>
          </ng-container>
        </div>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #experienceDetailsFormTemplate>
  <form [formGroup]="experienceDetailsForm" (submit)="addCredential()">
                      
    <div class="row">
      <div class="col-md-12">
        <label>Title<sup class="text-danger">*</sup></label>
        <br />
        <input type="text" class="form-control" formControlName="title" placeholder="Enter title" />
      </div>
    </div>

    <div class="row" *ngIf="submitted && experienceDetailsForm.get('title').invalid">
      <div class="col-md-12" *ngIf="experienceDetailsForm.get('title').errors">
        <p class="text-danger" *ngIf="experienceDetailsForm.get('title').errors.required">Title is required</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label>Employment Type</label>
        <br />
        <select class="form-control" formControlName="type">
          <option selected disabled [ngValue]="null">Employment Type</option>
          <option *ngFor="let type of employmentTypes" [ngValue]="type.value">{{ type.label }}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label>Company<sup class="text-danger">*</sup></label>
        <br />
        <input type="text" class="form-control" formControlName="company" placeholder="Enter company" />
      </div>
    </div>

    <div class="row" *ngIf="submitted && experienceDetailsForm.get('company').invalid">
      <div class="col-md-12" *ngIf="experienceDetailsForm.get('company').errors">
        <p class="text-danger" *ngIf="experienceDetailsForm.get('company').errors.required">Company is required</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label class="d-inline-flex">
          <input type="checkbox" class="credentials-checkbox" formControlName="currentCompany" /> I currently work there
        </label>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label>Location</label>
        <br />
        <input type="text" class="form-control" formControlName="location" placeholder="Enter location" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <label>Start Month</label>
        <br />
        <select class="form-control" formControlName="startMonth">
          <option selected disabled [ngValue]="null">Month</option>
          <option *ngFor="let month of months" [ngValue]="month.value">{{ month.label }}</option>
        </select>
      </div>

      <div class="col-md-2">
        <label>Start Year</label>
        <br />
        <select class="form-control" formControlName="startYear">
          <option selected disabled [ngValue]="null">Year</option>
          <option *ngFor="let year of years" [ngValue]="year">{{ year }}</option>
        </select>
      </div>

      <div class="offset-1 col-md-3" *ngIf="!experienceDetailsForm.get('currentCompany').value">
        <label>End Month</label>
        <br />
        <select class="form-control" formControlName="endMonth">
          <option selected disabled [ngValue]="null">Month</option>
          <option *ngFor="let month of months" [ngValue]="month.value">{{ month.label }}</option>
        </select>
      </div>

      <div class="col-md-3" *ngIf="!experienceDetailsForm.get('currentCompany').value">
        <label>End Year(or expected)</label>
        <br />
        <select class="form-control" formControlName="endYear">
          <option selected disabled [ngValue]="null">Year</option>
          <option *ngFor="let year of years" [ngValue]="year">{{ year }}</option>
        </select>
      </div>
    </div>

    <div class="row" 
      *ngIf="submitted && !experienceDetailsForm.get('currentCompany').value &&
        (
          experienceDetailsForm.get('startMonth').invalid ||
          experienceDetailsForm.get('startYear').invalid ||
          experienceDetailsForm.get('endMonth').invalid ||
          experienceDetailsForm.get('endYear').invalid
        )">
      <div class="col-md-3">
        <p class="text-danger" *ngIf="experienceDetailsForm.get('startMonth').errors && experienceDetailsForm.get('startMonth').errors.required">Start Month is required</p>
      </div>

      <div class="col-md-3">
        <p class="text-danger" *ngIf="experienceDetailsForm.get('startYear').errors && experienceDetailsForm.get('startYear').errors.required">Start Year is required</p>
      </div>

      <div class="col-md-3">
        <p class="text-danger" *ngIf="experienceDetailsForm.get('endMonth').errors && experienceDetailsForm.get('endMonth').errors.required">End Month is required</p>
      </div>

      <div class="col-md-3">
        <p class="text-danger" *ngIf="experienceDetailsForm.get('endYear').errors && experienceDetailsForm.get('endYear').errors.required">End Year is required</p>
      </div>
    </div>

    <div class="row" 
      *ngIf="submitted && experienceDetailsForm.get('currentCompany').value &&
        (
          experienceDetailsForm.get('startMonth').invalid ||
          experienceDetailsForm.get('startYear').invalid
        )">
      <div class="col-md-3">
        <p class="text-danger" *ngIf="experienceDetailsForm.get('startMonth').errors && experienceDetailsForm.get('startMonth').errors.required">Start Month is required</p>
      </div>

      <div class="col-md-3">
        <p class="text-danger" *ngIf="experienceDetailsForm.get('startYear').errors && experienceDetailsForm.get('startYear').errors.required">Start Year is required</p>
      </div>
    </div>

    <div class="row" 
      *ngIf="submitted && !experienceDetailsForm.get('currentCompany').value &&
        (
          experienceDetailsForm.get('startYear').value > experienceDetailsForm.get('endYear').value ||
          (
            (experienceDetailsForm.get('startYear').value === experienceDetailsForm.get('endYear').value) &&
            (experienceDetailsForm.get('startMonth').value >= experienceDetailsForm.get('endMonth').value)
          )
        )
      ">
      <div class="col-md-12">
        <p class="text-danger">End year and month can’t be earlier than start year and month</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label>Industry Type<sup class="text-danger">*</sup></label>
        <br />
        <input type="text" class="form-control" formControlName="industry" placeholder="Enter description" />
      </div>
    </div>

    <div class="row" *ngIf="submitted && experienceDetailsForm.get('industry').invalid">
      <div class="col-md-12" *ngIf="experienceDetailsForm.get('industry').errors">
        <p class="text-danger" *ngIf="experienceDetailsForm.get('industry').errors.required">Industry type is required</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label>Headline<sup class="text-danger">*</sup></label>
        <br />
        <input type="text" class="form-control" formControlName="headline" placeholder="Enter headline" />
      </div>
    </div>

    <div class="row" *ngIf="submitted && experienceDetailsForm.get('headline').invalid">
      <div class="col-md-12" *ngIf="experienceDetailsForm.get('headline').errors">
        <p class="text-danger" *ngIf="experienceDetailsForm.get('headline').errors.required">Headline is required</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label>Description</label>
        <br />
        <textarea class="form-control" formControlName="description" placeholder="Enter description"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label>Add documents, photos, sites, videos, and presentations</label>
        <br />
        <label class="fileContainer1 mtr-btn">
          <span>Upload</span>
          <input id="attachment" class="d-none" (change)="submitted = false; uploadFile($event, credentialType)" type="file" />
        </label>
      </div>
    </div>

    <div class="row" *ngIf="experienceDetailsForm.get('attachedFile').value">
      <div class="col-md-12">
        <label for="attachment" class="pull-left">
          <i class="fa fa-paperclip"></i>
        </label>
        <label *ngIf="experienceDetailsForm.get('fileName').value.length"  class="pull-right">
          {{ (experienceDetailsForm.get('fileName').value && experienceDetailsForm.get('fileName').value.length > 10) ? experienceDetailsForm.get('fileName').value.substring(0,10) + '...' : experienceDetailsForm.get('fileName').value }}
          <i class="fa fa-times" aria-hidden="true" (click)="experienceDetailsForm.get('fileType').value = null; experienceDetailsForm.get('attachedFile').value = null; experienceDetailsForm.get('fileName').value = null"></i>
        </label>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div class="submit-btns">
          <ng-container *ngIf="credentialMode === credentialModes.add">
            <button type="submit" class="mtr-btn">
              <span>Submit</span>
            </button>
            <button type="button" (click)="submitted = false; experienceDetailsForm.reset()" class="mtr-btn pull-right">
              <span>Cancel</span>
            </button>
          </ng-container>

          <ng-container *ngIf="credentialMode === credentialModes.edit">
            <button type="button" (click)="deleteCredential()" class="mtr-btn">
              <span>Delete</span>
            </button>
            <button type="submit" class="mtr-btn pull-right">
              <span>Update</span>
            </button>
          </ng-container>
        </div>
      </div>
    </div>
  </form>
</ng-template>


<ng-template #educationDetailsFormTemplate>
  <form [formGroup]="educationDetailsForm" (submit)="addCredential()">
                      
    <div class="row">
      <div class="col-md-12">
        <label>School<sup class="text-danger">*</sup></label>
        <br />
        <input type="text" class="form-control" formControlName="school" placeholder="Enter school" />
      </div>
    </div>

    <div class="row" *ngIf="submitted && educationDetailsForm.get('school').invalid">
      <div class="col-md-12">
        <p class="text-danger" *ngIf="educationDetailsForm.get('school').errors.required">School is required</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label>Degree<sup class="text-danger">*</sup></label>
        <br />
        <input type="text" class="form-control" formControlName="degree" placeholder="Enter degree" />
      </div>
    </div>

    <div class="row" *ngIf="submitted && educationDetailsForm.get('degree').invalid">
      <div class="col-md-12">
        <p class="text-danger" *ngIf="educationDetailsForm.get('degree').errors.required">Degree is required</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label>Field of Study</label>
        <br />
        <input type="text" class="form-control" formControlName="field" placeholder="Enter school" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <label>Start Year</label>
        <br />
        <select class="form-control" formControlName="start">
          <option selected disabled [ngValue]="null">Year</option>
          <option *ngFor="let year of years" [ngValue]="year">{{ year }}</option>
        </select>
      </div>

      <div class="col-md-6">
        <label>End Year(or expected)</label>
        <br />
        <select class="form-control" formControlName="end">
          <option selected disabled [ngValue]="null">Year</option>
          <option *ngFor="let year of years" [ngValue]="year">{{ year }}</option>
        </select>
      </div>
    </div>

    <div class="row" *ngIf="submitted && (educationDetailsForm.get('start').invalid || educationDetailsForm.get('end').invalid)">
      <div class="col-md-6">
        <p class="text-danger" *ngIf="educationDetailsForm.get('start').errors && educationDetailsForm.get('start').errors.required">Start Year is required</p>
      </div>

      <div class="col-md-6">
        <p class="text-danger" *ngIf="educationDetailsForm.get('end').errors && educationDetailsForm.get('end').errors.required">End Year is required</p>
      </div>
    </div>

    <div class="row" *ngIf="submitted && (educationDetailsForm.get('start').value > educationDetailsForm.get('end').value)">
      <div class="col-md-12">
        <p class="text-danger">End year can’t be earlier than start year</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label>Grade</label>
        <br />
        <input type="text" class="form-control" formControlName="grade" placeholder="Enter grade" />
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <label>Description</label>
        <br />
        <textarea class="form-control" formControlName="description" placeholder="Enter description"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label>Add documents, photos, sites, videos, and presentations</label>
        <br />
        <label class="fileContainer1 mtr-btn">
          <span>Upload</span>
          <input class="d-none" type="file" (change)="message = null; uploadFile($event, credentialType)" />
        </label>
      </div>
    </div>

    <div class="row" *ngIf="educationDetailsForm.get('attachedFile').value">
      <div class="col-md-12">
        <label for="attachment" class="pull-left">
          <i class="fa fa-paperclip"></i>
        </label>
        <input id="attachment" class="d-none" (change)="submitted = false; uploadFile($event)" type="file" />
        <label *ngIf="educationDetailsForm.get('fileName').value.length"  class="pull-right">
          {{ (educationDetailsForm.get('fileName').value && educationDetailsForm.get('fileName').value.length > 10) ? educationDetailsForm.get('fileName').value.substring(0,10) + '...' : educationDetailsForm.get('fileName').value }}
          <i class="fa fa-times" aria-hidden="true" (click)="educationDetailsForm.value.fileType = ''; educationDetailsForm.value.attachedFile = null; educationDetailsForm.get('fileName').value = ''"></i>
        </label>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div class="submit-btns">
          <ng-container *ngIf="credentialMode === credentialModes.add">
            <button type="submit" class="mtr-btn">
              <span>Submit</span>
            </button>
            <button type="button" (click)="submitted = false; educationDetailsForm.reset()" class="mtr-btn pull-right">
              <span>Cancel</span>
            </button>
          </ng-container>

          <ng-container *ngIf="credentialMode === credentialModes.edit">
            <button type="button" (click)="deleteCredential()" class="mtr-btn">
              <span>Delete</span>
            </button>
            <button type="submit" class="mtr-btn pull-right">
              <span>Update</span>
            </button>
          </ng-container>
        </div>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #certificationDetailsFormTemplate>
  <form [formGroup]="certificationDetailsForm" (submit)="addCredential()">
                      
    <div class="row">
      <div class="col-md-12">
        <label>Name<sup class="text-danger">*</sup></label>
        <br />
        <input type="text" class="form-control" formControlName="name" placeholder="Enter name" />
      </div>
    </div>

    <div class="row" *ngIf="submitted && certificationDetailsForm.get('name').invalid">
      <div class="col-md-12" *ngIf="certificationDetailsForm.get('name').errors">
        <p class="text-danger" *ngIf="certificationDetailsForm.get('name').errors.required">Name is required</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label>Organization<sup class="text-danger">*</sup></label>
        <br />
        <input type="text" class="form-control" formControlName="organization" placeholder="Enter organization" />
      </div>
    </div>

    <div class="row" *ngIf="submitted && certificationDetailsForm.get('organization').invalid">
      <div class="col-md-12" *ngIf="certificationDetailsForm.get('organization').errors">
        <p class="text-danger" *ngIf="certificationDetailsForm.get('organization').errors.required">Organization is required</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label class="d-inline-flex">
          <input type="checkbox" class="credentials-checkbox" formControlName="expire" /> This credential does not expire
        </label>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <label>Issue Month</label>
        <br />
        <select class="form-control" formControlName="issueMonth">
          <option selected disabled [ngValue]="null">Month</option>
          <option *ngFor="let month of months" [ngValue]="month.value">{{ month.label }}</option>
        </select>
      </div>

      <div class="col-md-2">
        <label>Issue Year</label>
        <br />
        <select class="form-control" formControlName="issueYear">
          <option selected disabled [ngValue]="null">Year</option>
          <option *ngFor="let year of years" [ngValue]="year">{{ year }}</option>
        </select>
      </div>

      <div class="offset-1 col-md-3">
        <label>End Month</label>
        <br />
        <select class="form-control" formControlName="endMonth">
          <option selected disabled [ngValue]="null">Month</option>
          <option *ngFor="let month of months" [ngValue]="month.value">{{ month.label }}</option>
        </select>
      </div>

      <div class="col-md-3">
        <label>End Year(or expected)</label>
        <br />
        <select class="form-control" formControlName="endYear">
          <option selected disabled [ngValue]="null">Year</option>
          <option *ngFor="let year of years" [ngValue]="year">{{ year }}</option>
        </select>
      </div>
    </div>

    <div class="row" 
      *ngIf="submitted &&
        (
          certificationDetailsForm.get('issueMonth').invalid ||
          certificationDetailsForm.get('issueYear').invalid ||
          certificationDetailsForm.get('endMonth').invalid ||
          certificationDetailsForm.get('endYear').invalid
        )">
      <div class="col-md-3">
        <p class="text-danger" *ngIf="certificationDetailsForm.get('issueMonth').errors && certificationDetailsForm.get('issueMonth').errors.required">Issue Month is required</p>
      </div>

      <div class="col-md-3">
        <p class="text-danger" *ngIf="certificationDetailsForm.get('issueYear').errors && certificationDetailsForm.get('issueYear').errors.required">Issue Year is required</p>
      </div>

      <div class="col-md-3">
        <p class="text-danger" *ngIf="certificationDetailsForm.get('endMonth').errors && certificationDetailsForm.get('endMonth').errors.required">End Month is required</p>
      </div>

      <div class="col-md-3">
        <p class="text-danger" *ngIf="certificationDetailsForm.get('endYear').errors && certificationDetailsForm.get('endYear').errors.required">End Year is required</p>
      </div>
    </div>

    <div class="row" 
      *ngIf="submitted && 
        (
          certificationDetailsForm.get('issueYear').value > certificationDetailsForm.get('endYear').value ||
          (
            (certificationDetailsForm.get('issueYear').value === certificationDetailsForm.get('endYear').value) &&
            (certificationDetailsForm.get('issueMonth').value >= certificationDetailsForm.get('endMonth').value)
          )
        )">
      <div class="col-md-12">
        <p class="text-danger">End year and month can’t be earlier than start year and month</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label>Credential Id</label>
        <br />
        <input type="text" class="form-control" formControlName="credentialId" placeholder="Enter credential id" />
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <label>Credential Url</label>
        <br />
        <input type="text" class="form-control" formControlName="credentialUrl" placeholder="Enter credential url" />
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div class="submit-btns">
          <ng-container *ngIf="credentialMode === credentialModes.add">
            <button type="submit" class="mtr-btn">
              <span>Submit</span>
            </button>
            <button type="button" (click)="submitted = false; certificationDetailsForm.reset()" class="mtr-btn pull-right">
              <span>Cancel</span>
            </button>
          </ng-container>

          <ng-container *ngIf="credentialMode === credentialModes.edit">
            <button type="button" (click)="deleteCredential()" class="mtr-btn">
              <span>Delete</span>
            </button>
            <button type="submit" class="mtr-btn pull-right">
              <span>Update</span>
            </button>
          </ng-container>
        </div>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #skillDetailsFormTemplate>
  <form [formGroup]="skillDetailsForm" (submit)="addCredential()">
                      
    <div class="row">
      <div class="col-md-12">
        <label>Skills</label>
        <a class="fa anchor-link add-skill-icon" (click)="addSkill()">+</a>
      </div>
    </div>

    <ng-container formArrayName="skills" *ngFor="let skill of skillDetailsForm.get('skills')['controls']; let i = index">
      <ng-container [formGroup]="skill">
        <div class="row">
          <div class="col-md-11">
            <input type="text" class="form-control" formControlName="name" placeholder="Enter skill" />
          </div>

          <div class="col-md-1">
            <a class="fa fa-2x anchor-link rotate-45" (click)="removeSkill(i)">+</a>
          </div>
        </div>
    
        <div class="row" *ngIf="submitted && skillDetailsForm.get('skills').controls[i].get('name').invalid">
          <div class="col-md-12" *ngIf="skillDetailsForm.get('skills').controls[i].get('name').errors">
            <p class="text-danger" *ngIf="skillDetailsForm.get('skills').controls[i].get('name').errors.required">Skill can't be empty</p>
          </div>
        </div>
      </ng-container>
    </ng-container>
        
    <div class="row">
      <div class="col-md-12">
        <div class="submit-btns">
          <ng-container *ngIf="credentialMode === credentialModes.add">
            <button type="submit" class="mtr-btn">
              <span>Submit</span>
            </button>
            <button type="button" (click)="submitted = false; skillDetailsForm.reset()" class="mtr-btn pull-right">
              <span>Cancel</span>
            </button>
          </ng-container>

          <ng-container *ngIf="credentialMode === credentialModes.edit">
            <button type="button" (click)="deleteCredential()" class="mtr-btn">
              <span>Delete</span>
            </button>
            <button type="submit" class="mtr-btn pull-right">
              <span>Update</span>
            </button>
          </ng-container>
        </div>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #awardsDetailsFormTemplate>
  <form [formGroup]="awardsDetailsForm" (submit)="addCredential()">
                      
    <div class="row">
      <div class="col-md-12">
        <label>Title<sup class="text-danger">*</sup></label>
        <br />
        <input type="text" class="form-control" formControlName="title" placeholder="Enter title" />
      </div>
    </div>

    <div class="row" *ngIf="submitted && awardsDetailsForm.get('title').invalid">
      <div class="col-md-12" *ngIf="awardsDetailsForm.get('title').errors">
        <p class="text-danger" *ngIf="awardsDetailsForm.get('title').errors.required">Title is required</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label>Associated With</label>
        <br />
        <input type="text" class="form-control" formControlName="associated" placeholder="Enter associated with" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label>Issuer</label>
        <br />
        <input type="text" class="form-control" formControlName="issuer" placeholder="Enter issuer" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label>Issued Date</label>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <select class="form-control" formControlName="issueMonth">
          <option selected disabled [ngValue]="null">Month</option>
          <option *ngFor="let month of months" [ngValue]="month.value">{{ month.label }}</option>
        </select>  
      </div>

      <div class="col-md-6">
        <select class="form-control" formControlName="issueYear">
          <option selected disabled [ngValue]="null">Year</option>
          <option *ngFor="let year of years" [ngValue]="year">{{ year }}</option>
        </select>  
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <label>Description</label>
        <br />
        <textarea class="form-control" formControlName="description" placeholder="Enter description"></textarea>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div class="submit-btns">
          <ng-container *ngIf="credentialMode === credentialModes.add">
            <button type="submit" class="mtr-btn">
              <span>Submit</span>
            </button>
            <button type="button" (click)="submitted = false; awardsDetailsForm.reset()" class="mtr-btn pull-right">
              <span>Cancel</span>
            </button>  
          </ng-container>

          <ng-container *ngIf="credentialMode === credentialModes.edit">
            <button type="button" (click)="deleteCredential()" class="mtr-btn">
              <span>Delete</span>
            </button>
            <button type="submit" class="mtr-btn pull-right">
              <span>Update</span>
            </button>
          </ng-container>
        </div>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #patentDetailsFormTemplate>
  <form [formGroup]="patentDetailsForm" (submit)="addCredential()">
                      
    <div class="row">
      <div class="col-md-12">
        <label>Patent title<sup class="text-danger">*</sup></label>
        <br />
        <input type="text" class="form-control" formControlName="title" placeholder="Enter patent title" />
      </div>
    </div>

    <div class="row" *ngIf="submitted && patentDetailsForm.get('title').invalid">
      <div class="col-md-12">
        <p class="text-danger" *ngIf="patentDetailsForm.get('title').errors.required">Title is required</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label>Patent Office<sup class="text-danger">*</sup></label>
        <br />
        <input type="text" class="form-control" formControlName="office" placeholder="Enter patent office" />
      </div>
    </div>

    <div class="row" *ngIf="submitted && patentDetailsForm.get('office').invalid">
      <div class="col-md-12" *ngIf="patentDetailsForm.get('office').errors">
        <p class="text-danger" *ngIf="patentDetailsForm.get('office').errors.required">Patent office is required</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label>Patent or application number<sup class="text-danger">*</sup></label>
        <br />
        <input type="text" class="form-control" formControlName="number" placeholder="Enter patent or application number" />
      </div>
    </div>

    <div class="row" *ngIf="submitted && patentDetailsForm.get('number').invalid">
      <div class="col-md-12" *ngIf="patentDetailsForm.get('number').errors">
        <p class="text-danger" *ngIf="patentDetailsForm.get('number').errors.required">Patent or application number is required</p>
      </div>
    </div>

    <!-- <div class="row">
      <div class="col-md-12">
        <label>Status</label>
        <br />
        <div class="radio">
          <label>
            <input type="radio" name="status" formControlName="status" [value]="true" /> Patent Issued
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="status"  formControlName="status" [value]="false" /> Patent Pending
          </label>
        </div>
      </div>
    </div> -->

    <div class="row">
      <div class="col-md-12">
        <label>Status</label>
        <br />
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="status" formControlName="status" [value]="true" />
          <label class="form-check-label">Patent Issued</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio"name="status"  formControlName="status" [value]="false" />
          <label class="form-check-label">Patent Pending</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label>{{ patentDetailsForm.get('status').value === true ? 'Issuing Date' : 'Filing Date' }}</label>
      </div>
      
      <div class="col-md-6">
        <select class="form-control" formControlName="month">
          <option selected disabled [ngValue]="null">Month</option>
          <option *ngFor="let month of months" [ngValue]="month.value">{{ month.label }}</option>
        </select>
      </div>

      <div class="col-md-6">
        <select class="form-control" formControlName="year">
          <option selected disabled [ngValue]="null">Year</option>
          <option *ngFor="let year of years" [ngValue]="year">{{ year }}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label>Patent URL</label>
        <br />
        <input type="text" class="form-control" formControlName="url" placeholder="Enter url" />
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <label>Description</label>
        <br />
        <textarea class="form-control" formControlName="description" placeholder="Enter description"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label>Add documents, photos, sites, videos, and presentations</label>
        <br />
        <label class="fileContainer1 mtr-btn">
          <span>Upload</span>
          <input class="d-none" type="file" (change)="message = null; uploadFile($event, credentialType)" />
        </label>
      </div>
    </div>

    <div class="row" *ngIf="patentDetailsForm.get('attachedFile').value">
      <div class="col-md-12">
        <label for="attachment" class="pull-left">
          <i class="fa fa-paperclip"></i>
        </label>
        <input id="attachment" class="d-none" (change)="submitted = false; uploadFile($event)" type="file" />
        <label *ngIf="patentDetailsForm.get('fileName').value.length"  class="pull-right">
          {{ (patentDetailsForm.get('fileName').value && patentDetailsForm.get('fileName').value.length > 10) ? patentDetailsForm.get('fileName').value.substring(0,10) + '...' : patentDetailsForm.get('fileName').value }}
          <i class="fa fa-times" aria-hidden="true" (click)="patentDetailsForm.value.fileType = ''; patentDetailsForm.value.attachedFile = null; patentDetailsForm.get('fileName').value = ''"></i>
        </label>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div class="submit-btns">
          <ng-container *ngIf="credentialMode === credentialModes.add">
            <button type="submit" class="mtr-btn">
              <span>Submit</span>
            </button>
            <button type="button" (click)="submitted = false; patentDetailsForm.reset()" class="mtr-btn pull-right">
              <span>Cancel</span>
            </button> 
          </ng-container>

          <ng-container *ngIf="credentialMode === credentialModes.edit">
            <button type="button" (click)="deleteCredential()" class="mtr-btn">
              <span>Delete</span>
            </button>
            <button type="submit" class="mtr-btn pull-right">
              <span>Update</span>
            </button>
          </ng-container>
        </div>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #projectDetailsFormTemplate>
  <form [formGroup]="projectDetailsForm" (submit)="addCredential()">
                      
    <div class="row">
      <div class="col-md-12">
        <label>Project name<sup class="text-danger">*</sup></label>
        <br />
        <input type="text" class="form-control" formControlName="name" placeholder="Enter project name" />
      </div>
    </div>

    <div class="row" *ngIf="submitted && projectDetailsForm.get('name').invalid">
      <div class="col-md-12">
        <p class="text-danger" *ngIf="projectDetailsForm.get('name').errors.required">Project name is required</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label class="d-inline-flex">
          <input type="checkbox" class="credentials-checkbox" formControlName="current" /> I am currently working on this project
        </label>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <label>Start Date</label>
        <br />
        <select class="form-control" formControlName="startMonth">
          <option selected disabled [ngValue]="null">Month</option>
          <option *ngFor="let month of months" [ngValue]="month.value">{{ month.label }}</option>
        </select>
        <br />
        <select class="form-control" formControlName="startYear">
          <option selected disabled [ngValue]="null">Year</option>
          <option *ngFor="let year of years" [ngValue]="year">{{ year }}</option>
        </select>
      </div>

      <div class="col-md-6">
        <label>End Date</label>
        <br />
        <select class="form-control" formControlName="endMonth">
          <option selected disabled [ngValue]="null">Month</option>
          <option *ngFor="let month of months" [ngValue]="month.value">{{ month.label }}</option>
        </select>
        <br />
        <select class="form-control" formControlName="endYear">
          <option selected disabled [ngValue]="null">Year</option>
          <option *ngFor="let year of years" [ngValue]="year">{{ year }}</option>
        </select>
      </div>
    </div>

    <div class="row" *ngIf="submitted">
      <div class="col-md-12">
        <ng-container *ngIf="projectDetailsForm.get('startMonth').value && projectDetailsForm.get('startYear').value">
          <ng-container *ngIf="projectDetailsForm.get('endMonth').value && projectDetailsForm.get('endYear').value">
            <ng-container 
              *ngIf="(projectDetailsForm.get('startYear').value > projectDetailsForm.get('endYear').value) ||
                (
                  (projectDetailsForm.get('startYear').value === projectDetailsForm.get('endYear').value) &&
                  (projectDetailsForm.get('startMonth').value >= projectDetailsForm.get('endMonth').value)
                )">
              <p class="text-danger">End date can’t be earlier than start date</p>
            </ng-container>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="projectDetailsForm.get('endMonth').value && projectDetailsForm.get('endYear').value">
          <ng-container *ngIf="!(projectDetailsForm.get('startMonth').value && projectDetailsForm.get('startYear').value)">
            <p class="text-danger">Start date can’t be empty</p>
          </ng-container>
        </ng-container>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label>Associated with</label>
        <br />
        <input type="text" class="form-control" formControlName="associated" placeholder="Enter associated with" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label>Project URL</label>
        <br />
        <input type="text" class="form-control" formControlName="url" placeholder="Enter project url" />
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <label>Description</label>
        <br />
        <textarea class="form-control" formControlName="description" placeholder="Enter description"></textarea>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div class="submit-btns">
          <ng-container *ngIf="credentialMode === credentialModes.add">
            <button type="submit" class="mtr-btn">
              <span>Submit</span>
            </button>
            <button type="button" (click)="submitted = false; projectDetailsForm.reset()" class="mtr-btn pull-right">
              <span>Cancel</span>
            </button>
          </ng-container>

          <ng-container *ngIf="credentialMode === credentialModes.edit">
            <button type="button" (click)="deleteCredential()" class="mtr-btn">
              <span>Delete</span>
            </button>
            <button type="submit" class="mtr-btn pull-right">
              <span>Update</span>
            </button>
          </ng-container>
        </div>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #publicationDetailsFormTemplate>
  <form [formGroup]="publicationDetailsForm" (submit)="addCredential()">
                      
    <div class="row">
      <div class="col-md-12">
        <label>Title<sup class="text-danger">*</sup></label>
        <br />
        <input type="text" class="form-control" formControlName="title" placeholder="Enter title" />
      </div>
    </div>

    <div class="row" *ngIf="submitted && publicationDetailsForm.get('title').invalid">
      <div class="col-md-12">
        <p class="text-danger" *ngIf="publicationDetailsForm.get('title').errors.required">Title is required</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label>Publication/Publisher</label>
        <br />
        <input type="text" class="form-control" formControlName="publisher" placeholder="Enter publication/publisher" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label>Publication Date</label>
        <br />
        <div class="row">
          <div class="col-md-6">
            <select class="form-control" formControlName="month">
              <option selected disabled [ngValue]="null">Month</option>
              <option *ngFor="let month of months" [ngValue]="month.value">{{ month.label }}</option>
            </select>
          </div>
          <div class="col-md-6">
            <select class="form-control" formControlName="year">
              <option selected disabled [ngValue]="null">Year</option>
              <option *ngFor="let year of years" [ngValue]="year">{{ year }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label>Publication URL</label>
        <br />
        <input type="text" class="form-control" formControlName="url" placeholder="Enter publication url" />
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <label>Description</label>
        <br />
        <textarea class="form-control" formControlName="description" placeholder="Enter description"></textarea>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div class="submit-btns">
          <ng-container *ngIf="credentialMode === credentialModes.add">
            <button type="submit" class="mtr-btn">
              <span>Submit</span>
            </button>
            <button type="button" (click)="submitted = false; publicationDetailsForm.reset()" class="mtr-btn pull-right">
              <span>Cancel</span>
            </button>
          </ng-container>

          <ng-container *ngIf="credentialMode === credentialModes.edit">
            <button type="button" (click)="deleteCredential()" class="mtr-btn">
              <span>Delete</span>
            </button>
            <button type="submit" class="mtr-btn pull-right">
              <span>Update</span>
            </button>
          </ng-container>
        </div>
      </div>
    </div>
  </form>
</ng-template>