#credentials > .central-meta {
    border: 0px;
    background: transparent;
}
.editing-info >.f-title {
    margin-bottom: 0px;
}
#credentials .form-control {
    margin-bottom: 15px;
}

#credentials .credentials-checkbox {
    height: 25px;
    margin-right: 15px;
}

.add-skill-icon {
    width: 16px;
    height: 16px;
    margin-left: 15px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
}

.add-skill-icon:hover {
    background: rgba(0, 0, 0, 0.1);
}

#credentials .form-control,
#credentials label {
  font-size: small;
}

.issue-date-row {
    
}