<ng-container *ngIf="!showMessagesSidebar">
  <app-main-sidebar></app-main-sidebar>
</ng-container>

<ng-container *ngIf="showMessagesSidebar">
  <aside class="sidebar static rmsg1">
    <div class="widget stick-widget">
      <ul class="naves">
          <li class="main-navigation-button">
            <a class="main-navigation-button" title="" (click)="showComposeForm()">
              <span class="siderbar_color"> Write</span>
            </a>
          </li>
          <li class="main-navigation-button">
            <a routerLink="/main/message-details/inbox" class="main-navigation-button" title="">
              <span class="siderbar_color"> Inbox</span>
            </a>
          </li>
          <li class="main-navigation-button">
            <a [routerLink]="['/main/message-details/sent']" class="main-navigation-button" title="">
              <span class="siderbar_color"> Sent</span>
            </a>
          </li>
          <li class="main-navigation-button">
            <a [routerLink]="['/main/message-details/draft']" class="main-navigation-button" title="">
              <span class="siderbar_color"> Draft</span>
            </a>
          </li>
          <li class="main-navigation-button">
            <a [routerLink]="['/main/message-details/trash']" class="main-navigation-button" title="">
              <span class="siderbar_color"> Trash</span>
            </a>
          </li>
        </ul>
    </div><!-- who's following -->
  </aside>  
</ng-container>
