<section class="compose-wrap bg-white">
  <span class="close-icon" (click)="hideComposeForm(false)">+</span>
  <div class="row">
    <div class="col-md-12">
      <div class="">
      <form [formGroup]="composeForm" (ngSubmit)="sendMessage()">
        <table class="table">
          <tbody>
            <tr class="table-row">
              <td colspan="2">
                <label>From: {{ (user && user.firstName)? user.firstName + ' ' + user.lastName : '' }}<{{user.username}}></label>
                <label style="margin-right: 20px;" class="pull-right">{{ composeDate | date : 'short' }}</label>
              </td>
            </tr>

            <tr>
              <td>
                <label for="subject">Subject: </label>
              </td>
              <td>
                <input id="subject" type="text" formControlName="subject" (input)="submitted = false;" />
              </td>
            </tr>

            <tr *ngIf="subject.invalid && submitted && subject.errors">
              <td colspan="2">
                <span class="text-danger" *ngIf="subject.errors.required">Subject field is required</span>
                <span class="text-danger" *ngIf="subject.errors.minlength">Subject should have minimum 2 characters</span>
              </td>
            </tr>

            <tr>
              <td>
                <label for="to">To:</label>
              </td>
              <td>
                <input id="to" type="text" formControlName="receiverIds" (input)="submitted = false;" />
              </td>
            </tr>

            <tr *ngIf="receiverIds.invalid && submitted && receiverIds.errors">
              <td colspan="2">
                <span class="text-danger" *ngIf="receiverIds.errors.required">To field is required</span>
              </td>
            </tr>

            <tr>
              <td>
                <label for="cc">CC: </label>
              </td>
              <td>
                <input id="cc" type="text" formControlName="cc" (input)="submitted = false;" />
              </td>
            </tr>

            <tr class="table-row table-bordered">
              <td colspan="2">
                <textarea rows="10" formControlName="message" (input)="submitted = false;" ></textarea>
                <ng-container *ngIf="message.invalid && submitted && message.errors">
                  <span class="text-danger" *ngIf="message.errors.required">Message field is required</span>
                  <span class="text-danger" *ngIf="message.errors.minlength">Message should have minimum 2 characters</span>
                </ng-container>
              </td>
            </tr>

            <tr class="table-row">
              <td colspan="2">
                <label for="attachment" class="pull-left">
                  <i class="fa fa-paperclip"></i>
                </label>
                <input id="attachment" class="d-none" (change)="submitted = false; uploadFile($event)" type="file" />
                <label *ngIf="composeForm.value.fileName.length"  class="pull-right">
                  {{ (composeForm.value.fileName && composeForm.value.fileName.length > 10) ? composeForm.value.fileName.substring(0,10) + '...' : composeForm.value.fileName }}
                  <i class="fa fa-times" aria-hidden="true" (click)="composeForm.value.fileType = ''; composeForm.value.attachedFile = null; composeForm.value.fileName = ''"></i>
                </label>
              </td>
            </tr>
          </tbody>

          <tfoot>
              <tr>
                <td colspan="2">
                  <button type="reset" class="mtr-btn pull-left" (click)="submitted = false;">
                    <span class="text-white">CANCEL</span>
                  </button>

                  <button class="mtr-btn pull-right" type="submit">
                    <span>SEND</span>
                  </button>
                </td>
              </tr>
              <tr *ngIf="displayMessage">
                <td colspan="2" class="text-center">
                  <p [ngClass]="{ 'text-success': displayMessage.status, 'text-danger': !displayMessage.status }">{{ displayMessage.message }}</p>
                </td>
              </tr>
          </tfoot>
        </table>
      </form>
    </div>
  </div>
</div>
</section>
