.compose-wrap {
  position: fixed;
  z-index: 1;
  bottom: 0;
  width: 50%;
  right: 5px;
  box-shadow: 0px 0px 20px 0px;
}

.close-icon {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  margin: -10px;
  right: 0;
  padding: 0px 5px;
  transform: rotateZ(45deg);
  font-size: 32px;
  width: 32px;
  height: 32px;
}

table tr:not(.table-row) td:first-child {
  width: 10%;
  padding: 2.5px .75rem 2.5px;
  border-width: 0px;
}

table tr:not(.table-row) td:last-child {
  width: 90%;
  padding: 2.5px .75rem 2.5px;
  border-width: 0px;
}

table tr input,
table tr textarea {
  width: 100%;
  border-width: 0px;
}

table tfoot tr button.mtr-btn{
  margin-top: 5px;
}

table tbody tr:not(.table-row) td > label{
  width: 100%;
}

tr.table-row.table-bordered > td > textarea {
  max-height: 200px;
  overflow-y: auto;
}
