aside.sidebar.static {
  border: 1px solid #ede9e9;
  background: #fdfdfd none repeat scroll 0 0;
}

.navlist {
  display: table;
  float: none;
  margin: 0 auto;
  padding-bottom: 20px;
  width: 80%;
}
.navlist .list {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  background: #fdfdfd;
  border: 1px solid #ede9e9;
  border-radius: 3px;
}

span.siderbar_color {
  white-space: nowrap;
}

.table td {
  border-top: 0px;
}

.sidebar .widget>ul {
  padding: 15px 0px;
}
