<aside class="sidebar static">
  <div class="widget stick-widget">
    <ng-container *ngIf="sidebarList.length; then showSidebar else hideSidebar"></ng-container>

    <ng-template #showSidebar>
      <ul class="naves">
        <li class="main-navigation-button list-item" *ngFor="let sidebarItem of sidebarList;">
          <a [routerLink]="sidebarItem.url">
            <span class="siderbar_color">{{sidebarItem.name}}</span>
          </a>
        </li>
      </ul>
    </ng-template>

    <ng-template #hideSidebar>
      <table class="table">
        <tbody>
          <tr>
            <td>Points : {{ communityDetails.points }}</td>
          </tr>
          <tr>
            <td>Level : {{ communityDetails.level | titlecase }}</td>
          </tr>
          <tr>
            <td>Role : {{ getUserRole(communityDetails.role) | titlecase }}</td>
          </tr>
          <tr *ngIf="communityDetails.founder">
            <td>Founder</td>
          </tr>
        </tbody>
      </table>
      <br />

      <ul *ngIf="showMentorshipTree" class="naves list">
        <li class="main-navigation-button list-item">
          <svg width="200" height="200" [appMentorshipTree]="mentorshipData" [colors]="colors"></svg>
        </li>
      </ul>
    </ng-template>
  </div>
</aside>
