<div id="community-listing" class="full-width">
  <div class="central-meta">
    <div class="editing-info">
      <h5 class="f-title">Community Management</h5>
      <div class="row">
        <div class="col-md-2">
          <label for="community-selection">Select a Community</label>      
        </div>

        <div class="col-md-4">
          <select id="community-selection" class="form-control" (change)="communityUsers = []; showResults = false; selectedCommunity = $event.target.value;">
            <option disabled selected [value]="null" >Select a Community</option>
            <option *ngFor="let community of communities;" [value]="community._id" >{{ community.name }}</option>
          </select>
        </div>

        <div class="col-md-4">
          <button [disabled]="!selectedCommunity" class="mtr-btn" (click)="pageNumber = 1; loadCommunityUsers()">
            <span>Load Users</span>
          </button>
        </div>
      </div>

      <div class="row" *ngIf="showResults && communityUsers.length">
        <div class="col-md-6" *ngFor="let user of communityUsers; let i = index;">
          <div class="card">
            <div class="card-header">{{ user.firstName | titlecase }} {{ user.lastName | titlecase }}</div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6 text-left">
                  <p class="card-text">Location: {{ user.location | titlecase }}</p>
                </div>
                <div class="col-md-6 text-right">
                  <p class="card-text">Joined On: {{ user.createdAt | momentDate | date : 'mediumDate'}}</p>
                </div>
              </div>

              <div class="text-center">
                <img src="{{ user.profileImage ? user.profileImage : 'assets/images/resources/user.jpg' }}" />
              </div>
              <h5 class="card-title text-center">({{ user.userId}})</h5>
              
              <div class="row">
                <div class="col-md-12 clearfix">
                  <button [disabled]="isCommunityModerator(false, user)" class="mtr-btn" (click)="updateModerator(true, user, i)" title="Add Moderator">
                    <span>Add Moderator</span>
                  </button>
                  <button [disabled]="isCommunityModerator(true, user)" class="mtr-btn pull-right" (click)="updateModerator(false, user, i)" title="Remove Moderator">
                    <span>Remove Moderator</span>
                  </button>
                </div>
              </div>

              <div class="row" *ngIf="user.message">
                <div class="col-md-12 text-center">
                  <p [ngClass]="{'text-success': user.message.status, 'text-danger': !user.message.status }">{{ user.message.message }}</p>
                </div>
              </div>
              
            </div>
          </div>       
        </div>
      </div>

      <div class="row" *ngIf="showResults && communityUsers.length === 0">
        <div class="col-md-12">
          <div class="card text-center">
            <div class="card-header">No active community user found</div>
          </div>       
        </div>
      </div>

      <div class="row" *ngIf="showResults && config && config.loadMore && communityUsers.length">
        <div class="col-md-12 text-center">
          <i class="fa fa-spinner fa-2x fa-fw margin-bottom" (click)="pageNumber = pageNumber + 1; loadCommunityUsers()" [ngClass]="{'fa-spin': config.loading }"></i>    
        </div>
      </div>
      
      <div class="row" *ngIf="message">
        <div class="col-md-12 text-center">
          <p [ngClass]="{'text-success': message.status, 'text-danger': !message.status }">{{ message.message }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <a class="mtr-btn" [routerLink]="['/main/admin/dashboard']" routerLinkActive="router-link-active">
            <span>Go Back</span>
          </a> 
        </div>
      </div>

    </div>
  </div>
</div>
