<div class="full-width">
    <form [formGroup]="communityTrainingForm" (submit)="communityTraining()">
      <section id="search-details">
        <div class="central-meta">
          <div class="editing-info">
            <h5 class="f-title">Community Trainings</h5>
          </div>
        </div>
      </section>
    </form>
  </div>