<div class="full-width">
  <form [formGroup]="addThreadForm" (submit)="addThread()">
    <section id="new-blog-details">
      <div class="central-meta">
        <div class="editing-info">
          <h5 class="f-title">New Thread</h5>
          <table class="table no-border">
            <tbody>
              <tr class="row">
                <td class="col-md-3">
                  <div class="row">
                    <div class="col-md-12">
                      <label for="type" class="form-control">Choose Type</label>
                    </div>
                  </div>
                </td>

                <td class="col-md-9">
                  <div class="row">
                    <div class="col-md-3">
                      <select id="type" class="form-control" formControlName="type">
                        <option value="QA">Ask a Question</option>
                        <option value="DT">Kickstart Discussion</option>
                      </select>
                    </div>
                  </div>
                </td>
              </tr>

              <tr class="row">
                <td class="col-md-3">
                  <div class="row">
                    <div class="col-md-12">
                      <label for="tags" class="form-control">Tags</label>
                    </div>
                  </div>
                </td>

                <td class="col-md-6">
                  <div class="row">
                    <div class="form-group">
                      <input type="text" id="tags" class="form-control form-border" formControlName="tags" placeholder="Enter comma separated tags for the thread" />
                    </div>
                  </div>
                </td>
              </tr>

              <tr class="row">
                <td class="col-md-3">
                  <div class="row">
                    <div class="col-md-12">
                      <label for="content" class="form-control">Question/ Topic</label>
                    </div>
                  </div>
                </td>

                <td class="col-md-9">
                  <div class="row">
                    <div class="form-group">
                      <textarea id="content" class="form-control" formControlName="content" rows="5" cols="10"></textarea>
                    </div>
                  </div>
                </td>
              </tr>

              <tr class="row">
                <td colspan="2" class="col-md-9 offset-3">
                  <button [disabled]="addThreadForm.invalid" type="submit" class="mtr-btn">
                    <span>Submit</span>
                  </button>
                  <button type="reset" class="mtr-btn pull-right">
                    <span>Cancel</span>
                  </button>
                </td>
              </tr>

              <tr class="row" *ngIf="message">
                <td colspan="2" class="col-md-12 text-center">
                  <p [ngClass]="{ 'text-danger': !message.status, 'text-success': message.status }">{{ message.message }}</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </form>
</div>
