<div class="full-width">
  <section id="accounts-page">
    <div class="central-meta">
      <div class="editing-info">
        <h5 class="f-title">Account</h5>
      </div>
    </div>
  </section>
</div>