<div class="row" *ngIf="message">
  <div class="col-md-12 text-center">
    <p [ngClass]="{ 'text-success': message.status, 'text-danger': !message.status }">{{ message.message }}</p>
  </div>
</div>

<div class="community-updates-table">
  <table class="full-width table no-border" >
    <tbody>
      <tr *ngFor="let communityUpdate of communityUpdates; let i = index">
        <td>
          <label class="pull-left">
            <a class="anchor-link" (click)="openCommunityUpdate(communityUpdate)" title="{{ communityUpdate.message }}">
              {{ getCommunityUpdatesMessage(communityUpdate.message) }}
            </a>
          </label>
          <span class="pull-right" (click)="removeUpdate(i)">
            <i class="fa fa-times" aria-hidden="true"></i>
          </span>
        </td>
      </tr>
      <tr *ngIf="config && config.loadMore">
        <td>
          <div class="col-md-12 text-center anchor-link" (click)="pageNumber = pageNumber + 1; loadCommunityUpdates()">
            <i class="fa fa-spinner fa-2x fa-fw margin-bottom" [ngClass]="{'fa-spin': config.loading }" title="Load More"></i>
          </div>
        </td>
      </tr>
      <tr *ngIf="communityUpdates.length === 0">
        <td class="text-center">
          <p>No updates available</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>