<div class="user-post">
  <div class="friend-info post-info clearfix">

    <figure>
      <img [src]="(blog.authorDetails && blog.authorDetails.profileImage) ? blog.authorDetails.profileImage : 'assets/images/resources/user.jpg'" alt="">
    </figure>
    <div class="friend-name">
      <ins>
        <a [routerLink]="['/main/profile/view/' + blog.authorDetails.username ]" title="{{ blog.authorDetails.firstName + ' ' + blog.authorDetails.lastName }}">{{ blog.authorDetails.firstName + ' ' + blog.authorDetails.lastName }}</a>
      </ins>
      <span>{{ blog.createdAt | momentDate | date: 'medium' }}</span>
    </div>
    <div class="post-meta">
      <div class="clearfix post-details-wrap">
        <div class="description">
          <p [appExcerpt]="25" [contentType]="'text'">{{blog.content}}</p>
        </div>
        <div class="text-center" [ngSwitch]="blog.fileType">
            <ng-container *ngSwitchCase="'image/png'">
              <img [src]="blog.filePath" alt="">
            </ng-container>

            <ng-container *ngSwitchCase="'image/jpeg'">
              <img [src]="blog.filePath" alt="">
            </ng-container>

            <ng-container *ngSwitchCase="'audio/mp3'">
              <audio controls>
                <source [src]="blog.filePath | urlSanitizer" type="audio/mpeg">
                Your browser does not support the audio.
              </audio>
            </ng-container>

            <ng-container *ngSwitchCase="'video/x-matroska'">
              <video controls>
                <source [src]="blog.filePath | urlSanitizer" type="video/mp4">
                Your browser does not support the video.
              </video>
            </ng-container>

            <ng-container *ngSwitchCase="null"></ng-container>
        </div>

          <div class="clearfix" *ngIf="blog.referenceBlog">
            <div class="reference-author">
              <figure>
                <img [src]="(blog.referenceAuthor && blog.referenceAuthor.profileImage) ? blog.referenceAuthor.profileImage : 'assets/images/resources/user.jpg'" alt="">
              </figure>
              <span>
                <a [routerLink]="['/main/profile/view/' + blog.referenceAuthor.username ]" title="{{ blog.referenceAuthor.firstName + ' ' + blog.referenceAuthor.lastName }}">{{ blog.referenceAuthor.firstName + ' ' + blog.referenceAuthor.lastName }}</a>
              </span>
            </div>
            <div class="reference-content">
              <span *ngIf="blog.referenceFile">
                <img [src]="blog.referenceFile" alt="">
              </span>
              <p [appExcerpt]="25" [contentType]="'text'">{{blog.referenceContent}}</p>
            </div>
          </div>
      </div>
      <div class="we-video-info" *ngIf="blog.action">
        <p [ngClass]="{ 'text-danger' : !blog.action.status, 'text-success': blog.action.status }">{{ blog.action.message }}</p>
      </div>
    </div>
  </div>
  <div class="coment-area">
    <ul class="we-comet">
      <ng-container  *ngIf="blog.comments && blog.comments.length">
          <li *ngFor="let comment of blog.comments; let j = index;" >
              <div class="comet-avatar" [title]="(comment.commenter.firstName + ' ' + comment.commenter.lastName)">
                <!-- <img [src]="(comment.commenter && comment.commenter.profileImage) ? comment.commenter.profileImage : 'assets/images/resources/user.jpg'" alt=""> -->
                <i class="fa fa-2x fa-user" aria-hidden="true"></i>
              </div>
              <div class="we-comment">
                <div class="coment-head">
                  <h5>
                    <a [routerLink]="['/main/profile/view/' + comment.commenter.username]" title="">{{ (comment.commenter && comment.commenter.firstName)? (comment.commenter.firstName + ' ' + comment.commenter.lastName) : '' }}</a>
                  </h5>
                  <span>{{comment.commentedAt | momentDate | date : 'medium'}}</span>
                </div>
                <p>{{comment.comment}}</p>
              </div>
              <ul>
                <ng-container *ngIf="comment.replies">
                  <li *ngFor="let reply of comment.replies; let k = index;" >
                    <div class="comet-avatar" [title]="(reply.replier.firstName + ' ' + reply.replier.lastName)">
                      <!-- <img [src]="(reply.replier && reply.replier.profileImage)? reply.replier.profileImage : 'assets/images/resources/user.jpg'" [alt]="reply.replier? (reply.replier.firstName + ' ' + reply.replier.lastName) : ''" [title]="reply.replier? (reply.replier.firstName + ' ' + reply.replier.lastName) : ''"/> -->
                      <i class="fa fa-2x fa-user" aria-hidden="true"></i>
                    </div>
                    <div class="we-comment">
                      <div class="coment-head">
                        <h5><a [routerLink]="['/main/profile/view/' + reply.replier.username]" title="">{{reply.replier.firstName + ' ' + reply.replier.lastName}}</a></h5>
                        <span>{{ reply.repliedAt | momentDate | date: 'medium' }}</span>
                      </div>
                      <pre>{{reply.comment}}</pre>
                    </div>
                  </li>
                </ng-container>

                <li *ngIf="comment.replyAction">
                  <div class="we-video-info">
                    <p [ngClass]="{ 'text-danger' : !comment.replyAction.status, 'text-success': comment.replyAction.status }">{{ comment.replyAction.message }}</p>
                  </div>
                </li>
              </ul>
            </li>
      </ng-container>
      
      <li class="post-comment" *ngIf="blog.commentAction">
        <p [ngClass]="{'text-danger': !blog.commentAction.status, 'text-success': blog.commentAction.status }">{{ blog.commentAction.message }}</p>
      </li>
    </ul>
  </div>
</div>