<div class="full-width">
  <section id="current-requests-list">
    <div class="central-meta">
      <div class="editing-info">
        <h5 class="f-title">History</h5>
        <ng-container *ngIf="mentorshipRequests">
          <table class="table no-border" *ngFor="let mentorshipRequest of mentorshipRequests; let i = index;">
            <tbody>
              <tr class="row">
                <td class="col-md-12">
                  <h5 class="f-title">{{ mentorshipRequest.community | titlecase }}</h5>
                </td>
              </tr>
              <ng-container *ngFor="let request of mentorshipRequest.requestList; let j = index;">

                <tr class="row">
                  <td class="col-md-2">
                   {{ j + 1 }}. Mentor :
                  </td>
                  <td class="col-md-5">
                    {{ request.mentorId_user_docs.firstName + ' ' + request.mentorId_user_docs.lastName + ' (' + request.mentorId_user_docs.username + ')'}}
                  </td>
                </tr>

                <tr class="row">
                  <td class="col-md-2">
                    Level :
                  </td>
                  <td class="col-md-10">
                    {{ (request.mentorId_user_docs && request.mentorId_user_docs.communityUser && request.mentorId_user_docs.communityUser[0] && request.mentorId_user_docs.communityUser[0].level) ? ( request.mentorId_user_docs.communityUser[0].level | titlecase ) : '' }}
                  </td>
                </tr>

                <tr class="row">
                  <td class="col-md-2">
                    Mentee Level :
                  </td>
                  <td class="col-md-10">
                    {{ (request.menteeId_user_docs && request.menteeId_user_docs.communityUser && request.menteeId_user_docs.communityUser[0] && request.menteeId_user_docs.communityUser[0].level) ? ( request.menteeId_user_docs.communityUser[0].level | titlecase ) : '' }}
                  </td>
                </tr>

                <tr class="row">
                  <td class="col-md-3">
                    Duration :
                  </td>
                  <td class="col-md-9">
                    {{ request.programDetails.duration }} weeks
                  </td>
                </tr>

                <tr class="row">
                  <td class="col-md-3">Start Date</td>

                  <td class="col-md-3">
                    {{ request.programDetails.startDate }}
                  </td>

                  <td class="col-md-3">End Date</td>

                  <td class="col-md-3">
                    {{ getEndDate(request.programDetails.startDate, request.programDetails.duration)  }}
                  </td>
                </tr>

                <tr class="row">
                  <td class="col-md-3">Status</td>

                  <td class="col-md-3">
                    {{ request.requestStatus }}
                  </td>

                  <td class="col-md-3">Rating</td>

                  <td class="col-md-3">

                  </td>
                </tr>

                <tr class="row">
                  <td class="col-md-3">Topics</td>

                  <td class="col-md-9">
                    <ul class="list-group">
                      <li *ngFor="let topic of request.programDetails.topics.split('\n')">{{ topic }}</li>
                    </ul>
                  </td>
                </tr>

                <ng-container *ngFor="let milestone of request.mileStones; let k = index;">
                  <tr class="row">
                    <td class="col-md-1">{{ 'MS-' + (k + 1) }}:</td>
                    <td class="col-md-11">
                      <div class="row">
                        <div class="col-md-6">
                          <label class="form-control">{{ milestone.title | titlecase }}</label>
                        </div>
                        <div class="col-md-6">
                          <label class="form-control">{{ milestone.date }}</label>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6">
                          <label class="form-control">Status: {{ milestone.status ? milestone.status : '' }}</label>
                        </div>

                        <div class="col-md-6">
                          <label class="form-control">Rating: {{ milestone.rating ? milestone.rating : '' }}</label>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12">
                          <label class="form-control">Segment Initiation Meeting - </label>
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-container>
              </ng-container>
            </tbody>
          </table>

          <table *ngIf="mentorshipRequests.length === 0">
            <tbody>
              <tr class="row">
                <td class="col-md-12 text-center">
                  <h6>No completed mentorship requests found</h6>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>
      </div>
    </div>
  </section>
</div>
