

<section *ngIf="user">
  <div class="gap gray-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row" id="page-contents">
            <div class="col-lg-4 bg-white">
              <ng-container *ngIf="!loading">
                <app-user-profile-details [user]="user" [guestUser]="guestUser" [friendList]="friendList"></app-user-profile-details>
              </ng-container>
              <ng-container *ngIf="loading">
                <ng-container [ngTemplateOutlet]="loadingTemplate"></ng-container>
              </ng-container>
            </div><!-- sidebar -->
            <div class="col-lg-8">
                <div class="central-meta h-100">
                  <div class="frnds" *ngIf="!loading">
                    <ul class="nav nav-tabs">
                      <li class="nav-item">
                        <a [ngClass]="{'active': activeTab === 'credentials'}" (click)="activeTab = 'credentials'" data-toggle="tab" title="Credentials">CREDENTIALS</a>
                      </li>
                      <li class="nav-item">
                        <a [ngClass]="{'active': activeTab === 'recommendations'}" (click)="activeTab = 'recommendations'" data-toggle="tab" title="Recommendations">RECOMMENDATIONS</a>
                      </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                      <div class="tab-pane fade" [ngClass]="{'active show': activeTab === 'credentials'}" >
                        <div class="row">
                          <div class="col-md-9">
                            <app-credentials [user]="user"></app-credentials>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-9">
                            <app-user-timeline [user]="user"></app-user-timeline>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" [ngClass]="{'active show': activeTab === 'recommendations'}" >
                        <div class="row">
                          <div class="col-md-9">
                            <app-recommendations [user]="user"></app-recommendations>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="frnds h-100" *ngIf="loading">
                    <ng-container [ngTemplateOutlet]="loadingTemplate"></ng-container>
                  </div>
              </div>
            </div><!-- centerl meta -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section *ngIf="!user" class="h-100">
  <ng-container [ngTemplateOutlet]="loadingTemplate"></ng-container>
</section>

<ng-template #loadingTemplate>
  <div class="w-100 h-100">
    <app-loader></app-loader>
  </div>
</ng-template>
