<div class="row no-right-margin">
  <div class="col-md-12 messages-list-wrapper">
    <div class="timeline-info">
      <ul [ngClass]="{ 'd-none' : hideMenu }">
        <li>
          <a id="compose-tab" title="Compose" (click)="showCompose = true;" > <i class="fa fa-edit" aria-hidden="true"></i> Write</a>
        </li>
        <li *ngFor="let tab of tabs;let i = index;">
          <a title="{{ tab.getName() }}" [ngClass]="{ 'active': (tab.getName().toLowerCase() === this.folder) }" [routerLink]="[tab.getUrl()]">{{tab.getName()}}</a>
        </li>
      </ul>
      </div>
      <div class="inbox-lists">
        <div class="mesages-lists">
          <label>
            <input type="text" placeholder="Filter Messages" [(ngModel)]="messageFilter" />
          </label>

          <div class="clearfix table-responsive">
            <div class="bg-white text-center" *ngIf="message">
              <p [ngClass]="{ 'text-success': message.status, 'text-danger': !message.status }">{{ message.message }}</p>
            </div>
            <table id="message-list-table" class="table">
              <thead>
                <tr class="bg-light">
                  <th>
                    <span class="star-this starred">
                      <i class="fa fa-star-o"></i>
                    </span>
                  </th>
                  <th>
                    <a title="Attachment" data-toggle="tooltip" data-original-title="Attachment"><i class="fa fa-paperclip"></i></a>
                  </th>
                  <th>
                    <p class="sender-name">Subject</p>
                  </th>
                  <th>
                    <p class="sender-name">Correspondents</p>
                  </th>
                  <th>
                    <p class="sender-name">Date</p>
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let message of messages | filterList: messageFilter; let i = index;" [ngClass]="{ 'bg-light': !message.isRead, 'bg-white': message.isRead }" (click)="openMessage(i)">
                  <td (click)="$event.stopPropagation(); updateMessage(i);">
                    <span class="star-this" [ngClass]="{ 'starred': message.isStar}">
                      <i class="fa fa-star-o"></i>
                    </span>
                  </td>
                  <td>
                    <a title="Attachment" data-toggle="tooltip" data-original-title="Attachment">
                      <i [ngClass]="{ 'fa fa-paperclip': message.attachment }"></i>
                    </a>
                  </td>
                  <td>
                    <p class="sender-name">{{message.message.subject}}</p>
                  </td>
                  <td>
                    <p class="sender-name">{{ (folder === 'inbox') ? message.fromUserId : message.toUserId.join(', ') }}</p>
                  </td>
                  <td>
                      <p class="sender-name">{{ message.message.createdAt | momentDate | date: 'short' }}</p>
                  </td>
                </tr>

                <tr class="bg-light" *ngIf="config.loadMore">
                  <td colspan="5" class="text-center" (click)="pageNumber = pageNumber + 1; loadMessages();">
                    <i class="fa fa-spinner fa-2x fa-fw margin-bottom" [ngClass]="{'fa-spin': config.loading }"></i>
                  </td>
                </tr>

                <tr *ngIf="(messages | filterList: messageFilter).length === 0" class="bg-light">
                  <td colspan="5" class="text-center">
                    <p class="sender-name">You don't have any messages for this tab.</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div><!-- Inbox lists -->
    </div>
    <!-- centerl meta -->
    <div *ngIf="activeMessage" class="col-md-12">
      <app-message-details [user]="user" [message]="activeMessage" (messageOperation)="handleMessage($event)"></app-message-details>
    </div>
</div>

<div class="row" *ngIf="showCompose">
  <div class="col-md-12">
    <app-compose [user]="user" (showCompose)="handleShowCompose($event)"></app-compose>
  </div>
</div>
