.no-right-margin {
  margin-right: 0px;
}

.row .messages-list-wrapper {
  margin-bottom: 20px;
}

.mesages-lists {
  padding: 10px 15px;
  background: #ffffff;
}

.mesages-lists > label {
  width: 100%;
}

.mesages-lists > label input {
  background: #f5f5f5 none repeat scroll 0 0;
  border: 1px solid #dadede;
  border-radius: 30px;
  color: #7b7b7b;
  font-size: 15px;
  padding: 7px 20px;
  width: 100%;
}

.mesages-lists > .clearfix.table-responsive {
  max-height: 40vh;
  overflow: auto;
}

/*.table td {
  padding: .25rem;
}*/

#message-list-table .sender-name {
  margin: 0px 0px;
}

.table tr > td span.starred {
  color: var(--background-color);
}
.new-window > div {
  max-width: 100% !important;
  flex: 0 0 100%;
  margin-bottom: 20px;
}
p.sender-name {
    font-size: 15px;
}