<section>
    <div class="gap gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="row" id="page-contents">
              <div class="col-lg-3">
                <app-main-sidebar></app-main-sidebar>
              </div><!-- sidebar -->
              <div class="col-lg-9">
                  <div class="central-meta">
                    <div class="editing-interest">
                      <h5 class="f-title">Notifications Coming Soon</h5>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
