<div class="full-width">
  <section id="blog-list">
    <div class="central-meta">
      <div class="editing-info">
        <h5 class="f-title">
          {{(blogAuthor === 'all')? 'All Blogs': 'Blogs by ' + user.username }}
        </h5>
        <span class="pull-right">
          Search: <input id="keyword" type="text" (keydown)="searchBlog($event.target.value)" placeholder="Keyboard" />
        </span>
        <div class="clearfix blog-list-wrap">
          <table class="table table-bordered">
            <thead>
              <tr class="row">
                <th class="col-md-1">Sl No.</th>
                <th class="col-md-6">Topic</th>
                <th class="col-md-3">Published On</th>
                <th class="col-md-2">Upvotes/ Downvotes</th>
              </tr>
            </thead>
            <tbody>
              <tr class="row" *ngFor="let blog of blogs | filterList : blogFilter; let i = index;" (click)="viewBlogDetails(i)">
                <td  class="col-md-1">
                  {{ i + 1 }}
                </td>
                <td class="col-md-6">
                  {{ getBlogTitle(blog) }}
                </td>
                <td class="col-md-3">
                  {{ blog.published_on | momentDate | date: 'medium'  }}
                </td>
                <td class="col-md-2">
                  {{ (blog.status === 'DRAFT')? 'DRAFT' : getBlogVotes(blog) }}
                </td>
              </tr>

              <tr class="row" *ngIf="config && config.loadMore">
                <td colspan="4" class="col-md-12 text-center">
                  <a class="anchor-link" (click)="pageNumber = pageNumber + 1; loadBlogs(pageNumber)">
                    <i class="fa fa-spinner fa-2x fa-fw margin-bottom" [ngClass]="{'fa-spin': config.loading }" title="Load More"></i>
                  </a>
                </td>
              </tr>

              <tr class="row" *ngIf="(blogs | filterList : blogFilter).length === 0">
                <td colspan="4" class="col-md-12 text-center">
                  <label for="no-blogs" class="form-control">No Blogs Available</label>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
