.blog-list-wrap {
  max-height: 300px;
  padding: 0px 15px;
  overflow: hidden auto;
}

.blog-list-wrap .table tbody > tr.row {
  cursor: pointer;
}

.blog-list-wrap .table-bordered {
  border: 0px;
}