<article>
  <div class="full-width">
    <div class="row">
      <div class="col-lg-12">
        <div class="row" id="page-contents">
          <div class="col-lg-12 col-md-12 bg-white">
            <div class="theme-layout">
              <div class="topbar stick roletune-page-title">
                <div>
                  <h4 class="text-white pt-2">Forgot Password</h4>
                </div>
              </div>
              <div class="forgot-password-wrap">
                <div class="row">
                  <div class="offset-md-3 col-md-6 col-sm-12 bg-white">
                    <form [formGroup]="forgotPasswordForm" (ngSubmit)="updatePassword()" [autocomplete]="'off'">
                      <ng-container>
                        <div class="row">
                          <div class="col-md-5">
                            <label class="form-control">Email<sup class="text-danger">*</sup></label>
                          </div>
                          <div class="col-md-7">
                            <input [readonly]="step !== forgotPasswordSteps.submitEmail" type="email" class="form-control" placeholder="Enter Email" formControlName="email" (input)="submitted = false;" />
                          </div>
                        </div>

                        <div class="row" *ngIf="submitted && forgotPasswordForm.get('email').invalid" >
                          <div class="col-md-12">
                            <p class="text-danger form-control" *ngIf="forgotPasswordForm.get('email').errors.required">Email is required.</p>
                            <p class="text-danger form-control" *ngIf="forgotPasswordForm.get('email').errors.email || forgotPasswordForm.get('email').errors.pattern">Email format is not in valid</p>
                            <p class="text-danger form-control" *ngIf="forgotPasswordForm.get('email').errors.invalid">Email is not valid</p>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="row">
                              <div class="col-md-12 clearfix">
                                <button type="button" class="mtr-btn" (click)="submitEmail()">
                                  <span>Submit Email</span>
                                </button>
                                <button type="button" class="mtr-btn pull-right" (click)="step = forgotPasswordSteps.submitEmail; submitted = false; forgotPasswordForm.value.email = null;">
                                  <span>Cancel</span>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </ng-container>

                      <ng-container *ngIf="checkVisibitity(forgotPasswordSteps.verifyCode)">
                        <div class="row">
                          <div class="col-md-5">
                            <label class="form-control">Enter Verification Code<sup class="text-danger">*</sup></label>
                          </div>
                          <div class="col-md-7">
                            <input [readonly]="step !== forgotPasswordSteps.verifyCode" type="text" class="form-control" placeholder="Enter Verification Code" formControlName="verificationCode" (input)="submitted = false;" />
                          </div>
                        </div>

                        <div class="row" *ngIf="submitted && forgotPasswordForm.get('verificationCode').invalid" >
                          <div class="col-md-12" *ngIf="forgotPasswordForm.get('verificationCode').errors">
                            <p class="text-danger form-control" *ngIf="forgotPasswordForm.get('verificationCode').errors.required">Verification code is required</p>
                            <p class="text-danger form-control" *ngIf="forgotPasswordForm.get('verificationCode').errors.minlength || forgotPasswordForm.get('verificationCode').errors.maxlength">Verification code is not valid</p>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="row">
                              <div class="col-md-5 text-left">
                                <button type="button" class="mtr-btn" (click)="submitVerificationCode()">
                                  <span>Submit Verification Code</span>
                                </button>
                              </div>
                              <div class="col-md-2 text-center">
                                <u (click)="step = forgotPasswordSteps.submitEmail; submitEmail()">Resend</u>
                              </div>
                              <div class="col-md-5 text-right">
                                <button type="button" class="mtr-btn" (click)="step = forgotPasswordSteps.verifyCode; submitted = false; forgotPasswordForm.value.verificationCode = null;">
                                  <span>Cancel</span>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </ng-container>

                      <ng-container *ngIf="checkVisibitity(forgotPasswordSteps.submitPhone) && twoFactorAuthEnabled">
                        <div class="row">
                          <div class="col-md-5">
                            <label class="form-control">Enter phone<sup class="text-danger">*</sup></label>
                          </div>
                          <div class="col-md-7">
                            <input [readonly]="step !== forgotPasswordSteps.submitPhone" type="text" class="form-control" placeholder="Enter phone" formControlName="phone" (input)="submitted = false;" />
                          </div>
                        </div>

                        <div class="row" *ngIf="submitted && forgotPasswordForm.get('phone').invalid" >
                          <div class="col-md-12">
                            <p class="text-danger form-control" *ngIf="forgotPasswordForm.get('phone').errors.required">Phone is required</p>
                            <p class="text-danger form-control" *ngIf="forgotPasswordForm.get('phone').errors.minLength || forgotPasswordForm.get('phone').errors.maxLength">Phone must be 10 characters long</p>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="row">
                              <div class="col-md-12 clearfix">
                                <button type="button" class="mtr-btn" (click)="submitPhone()">
                                  <span>Submit Phone</span>
                                </button>
                                <button type="button" class="mtr-btn pull-right" (click)="step = forgotPasswordSteps.submitPhone; submitted = false; forgotPasswordForm.value.phone = null;">
                                  <span>Cancel</span>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </ng-container>

                      <ng-container *ngIf="checkVisibitity(forgotPasswordSteps.verifyOtp) && twoFactorAuthEnabled">
                        <div class="row">
                          <div class="col-md-5">
                            <label class="form-control">Enter OTP Code<sup class="text-danger">*</sup></label>
                          </div>
                          <div class="col-md-7">
                            <input [readonly]="step !== forgotPasswordSteps.verifyOtp" type="text" class="form-control" placeholder="Enter OTP Code" formControlName="otp" (input)="submitted = false;" />
                          </div>
                        </div>

                        <div class="row" *ngIf="submitted && forgotPasswordForm.get('otp').invalid" >
                          <div class="col-md-12">
                            <p class="text-danger form-control" *ngIf="forgotPasswordForm.get('otp').errors.required">Verification code is required.</p>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="row">
                              <div class="col-md-12 clearfix">
                                <div class="row">
                                  <div class="col-md-5 text-left">
                                    <button type="button" class="mtr-btn" (click)="submitOTP()">
                                      <span>Submit OTP Code</span>
                                    </button>
                                  </div>
                                  <div class="col-md-2 text-center">
                                    <u (click)="step = forgotPasswordSteps.submitPhone; submitPhone()">Resend</u>
                                  </div>
                                  <div class="col-md-5 text-right">
                                    <button type="button" class="mtr-btn" (click)="step = forgotPasswordSteps.verifyOtp; submitted = false; forgotPasswordForm.value.otp = null;">
                                      <span>Cancel</span>
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </ng-container>

                      <ng-container *ngIf="checkVisibitity(forgotPasswordSteps.updatePassword)">
                        <div class="row">
                          <div class="col-md-5">
                            <label class="form-control">Enter New Password<sup class="text-danger">*</sup></label>
                          </div>
                          <div class="col-md-7">
                            <input type="password" class="form-control" placeholder="Enter new password" formControlName="password" (input)="submitted = false;" />
                          </div>
                        </div>

                        <div class="row" *ngIf="submitted && forgotPasswordForm.get('password').invalid" >
                          <div class="col-md-12">
                            <p class="text-danger form-control" *ngIf="forgotPasswordForm.get('password').errors.required">Password is required</p>
                            <p class="text-danger form-control" *ngIf="forgotPasswordForm.get('password').errors.pattern">Password should contain atleast 1 lowercase character, 1 uppercase character, 1 alphanumeric character and a special character</p>
                            <p class="text-danger form-control" *ngIf="forgotPasswordForm.get('password').errors.minlength || forgotPasswordForm.get('password').errors.maxlength">Password must be between 8 to 128 characters</p>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-5">
                            <label class="form-control">Re-enter New Password<sup class="text-danger">*</sup></label>
                          </div>
                          <div class="col-md-7">
                            <input type="password" class="form-control" placeholder="Re-enter new password" formControlName="confirmPassword" (input)="submitted = false;" />
                          </div>
                        </div>

                        <div class="row" *ngIf="submitted && (forgotPasswordForm.get('password').value !== forgotPasswordForm.get('confirmPassword').value)" >
                          <div class="col-md-12">
                            <p class="text-danger form-control">Passwords do not match</p>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="row">
                              <div class="col-md-12 clearfix">
                                <button type="submit" class="mtr-btn">
                                  <span>Submit</span>
                                </button>
                                <button type="button" class="mtr-btn pull-right" (click)="step = forgotPasswordSteps.updatePassword; submitted = false; forgotPasswordForm.value.password = null; forgotPasswordForm.value.confirmPassword = null;">
                                  <span>Cancel</span>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </ng-container>

                      <div class="row" *ngIf="message">
                        <div class="col-md-12">
                          <p [ngClass]="{'text-danger': !message.status, 'text-success': message.status }">{{ message.message }}</p>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</article>
