.topbar {
  background: var(--background-color);
}

.theme-layout {
  background: #f6f6f6;
}

form > .row {
  margin-top: 15px;
  margin-bottom: 15px;
}

.form-control {
  margin-bottom: 0px;
}

.submit-btns {
  margin-top: 0px;
}

.forgot-password-wrap {
  height: calc(100vh - 120px);
  max-height: calc(100vh - 120px);
  margin: 15px 0px;
  padding: 0px 15px;
  overflow-y: auto;
}
