#messaging-container {
    max-height: calc(100vh - 88px);
    height: calc(100vh - 88px);
    overflow: hidden;
}

#messaging-container .central-meta,
.full-height {
    height: 100%;
}

.central-meta .f-title {
    height: 40px;
}

.messages .message-box {
    height: calc(100% - 60px);
}
.message-box #friends-list {
    width: 100%;
    max-height: 100%;
    height: calc(100% - 40px);
    overflow-y: auto;
}

.peoples > .active-friend {
    background: rgba(0,0,0, 0.03);
    border-left: 5px solid var(--background-color);
}

.peoples > li {
    padding: 25px 15px;
    display: inline-flex;
    align-items: center
}

.full-width,
.full-width > input {
    width: 100%;
    height: 35px;
    margin: 0px 0px 5px;
}

.width-100 {
    width: 100%;
}

.user-icon {
    width: 42px !important;
    height: 42px !important;
    border-radius: 100%;
}

.me > .clearfix > label {
    padding: 0px 15px;
    text-align: left;
    font-size: 12px;
}

.user-messages {
    margin: 15px 0px;
    max-height: calc(100% - 275px);
    height: calc(100% - 275px);
    overflow: auto;
    padding: 0px 0px;
}

.user-messages > .me,
.user-messages > .me * {
    direction: ltr;
    text-align: left;
    position: relative;
}

.user-messages > .me:not(:first-child):before {
    width: 50%;
    content: "";
    display: block;
    border-top: 1px solid #cdcfd2;
    height: 10px;
    transform: translate(50%, 0%);
}

.conversation-head,
.message-text-container {
    height: 80px;
}

span > small {
    text-transform: none;
}

.peoples-mesg-box {
    border: 1px solid #cdcfd2;
    padding: 0px 15px;
}

.row > #no-active-friend {
    justify-content: center;
    align-items: center;
}

.message-text-container textarea {
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

.inline-list {
    display: inline-flex;
    list-style: outside none none;
    vertical-align: middle;
    width: 100%;
    padding: 0px 0px;
    margin: 0px 0px 5px;
}
  
.inline-list > .list-item {
    margin-bottom: 0;
}
  
.inline-list > .list-item i {
    font-size: 18px;
}
  
.smiles-bunch::before {
    right: calc(100% - 30px);
}

.smiles-bunch {
    top: auto;
    bottom: 36px;
    right: auto;
    left: 0;
    width: 125px;
}

.message-text-container form button {
    border-radius: 0%;
    height: auto;
    padding: 2.5px 10px;
    position: relative;
    right: auto;
    top: auto;
    transform: none;
    width: auto;
}

.me span.chat-message {
    color: #212529;
}

label > small {
    padding-left: 10px;
}

@media screen and (max-width: 767px) {
    .central-meta {
        padding: 15px 15px 15px; 
    }
    #messaging-container {
        height: auto;
        max-height: fit-content;
    }
    .conversation-head,
    .message-text-container {
        height: auto;
    } 
    .user-messages {
        max-height: 25vh;
        height: 25vh;
    }
}