<div id="messaging-container" class="col-md-11">
  <div class="central-meta">
    <div class="messages full-height">
      <h5 class="f-title">Messaging</h5>
      <div class="message-box row">
        <div class="col-md-4 full-height">
          <label class="full-width">
            <input type="text" class="form-control" (input)="friendsFilter = $event.target.value;" placeholder="Search Friends" />
          </label>
          <ul id="friends-list" class="peoples ps-theme-default ps-active-y">
            <ng-container *ngFor="let friend of friendsList | filterFriends: friendsFilter : ['firstName'] : user.username;">
              <li (click)="setActiveFriend(friend)" [ngClass]="{ 'active-friend': (activeFriend && activeFriend.username === friend.username) }">
                <figure>
                  <img class="user-icon" [src]="(friend.profileImage)? friend.profileImage: 'assets/images/resources/user.jpg'" alt="">
                </figure>
                <div class="people-name">
                  <span>{{ friend.firstName }}</span>
                </div>
              </li>
            </ng-container>

            <ng-container *ngIf="friendsList.length === 0;">
              <li>
                <figure>
                </figure>
                <div class="people-name">
                  <span>No friends available</span>
                </div>
              </li>
            </ng-container>
          </ul>
        </div>

        <div class="col-md-8 full-height">
          <div class="peoples-mesg-box width-100 full-height" *ngIf="activeFriend">
            <div class="conversation-head">
              <figure>
                <img
                  class="user-icon"
                  [src]="activeFriend.profileImage ? activeFriend.profileImage : 'assets/images/resources/user.jpg'"
                  [alt]="activeFriend.firstName ? activeFriend.firstName + ' ' + activeFriend.lastName : 'Friend'"
                  [title]="activeFriend.firstName ? activeFriend.firstName + ' ' + activeFriend.lastName : 'Friend'"
                />
              </figure>
              <span>
                {{ activeFriend.firstName ? activeFriend.firstName + ' ' + activeFriend.lastName : 'Friend' }} <br />
                <small>({{ activeFriend.username }})</small>
              </span>
            </div>
            <ul class="user-messages" [appLoadMore]="loadMoreDetails" [(config)]="config" (loadMoreEvent)="loadMoreEvent($event)" >
              <li class="me" *ngIf="config && config.loading">
                <div class="col-md-12 clearfix text-center">
                  <i class="fa fa-spinner fa-2x" [ngClass]="{'fa-spin': config.loading }"></i>
                </div>
              </li>
              <ng-container *ngFor="let message of activeFriend.messages;">
                <li class="me">
                  <div class="clearfix">
                    <label>
                      <ng-container *ngIf="message.fromUserId === activeFriend.username">
                        <img
                          class="user-icon"
                          [src]="activeFriend.profileImage ? activeFriend.profileImage : 'assets/images/resources/user.jpg'"
                          [alt]="activeFriend.firstName ? activeFriend.firstName + ' ' + activeFriend.lastName : 'Friend'"
                          [title]="activeFriend.firstName ? activeFriend.firstName + ' ' + activeFriend.lastName : 'Friend'"
                        />
                      </ng-container>
                      <ng-container *ngIf="message.fromUserId !== activeFriend.username">
                        <img
                          class="user-icon"
                          [src]="user.profileImage ? user.profileImage : 'assets/images/resources/user.jpg'"
                          [alt]="user.firstName ? user.firstName + ' ' + user.lastName : 'Friend'"
                          [title]="user.firstName ? user.firstName + ' ' + user.lastName : 'Friend'"
                        />
                      </ng-container>
                    </label>
                    <label>
                      <ng-container *ngIf="message.fromUserId === activeFriend.username">
                        <a class="d-block" [routerLink]="['/main/profile/view/' + activeFriend.username ]">{{ activeFriend.firstName ? activeFriend.firstName + ' ' + activeFriend.lastName : 'Friend' }}</a>
                      </ng-container>
                      <ng-container *ngIf="message.fromUserId !== activeFriend.username">
                        <a class="d-block" [routerLink]="['/main/profile/']">{{ user.firstName ? user.firstName + ' ' + user.lastName : 'Friend' }}</a>
                      </ng-container>
                      <i class="entry-date updated">{{ message.sentAt | momentDate | date:"medium"}}</i>
                    </label>
                  </div>
                  <div class="col-md-12">
                    <span class="chat-message">{{ message.message }}</span>
                    <br />
                    <a class="anchor-link" *ngIf="message.filePath" [href]="message.filePath" target="_blank" [title]="message.fileName">
                      <i aria-hidden="true" class="fa fa-paperclip"></i>
                    </a>
                  </div>
                </li>
              </ng-container>
            </ul>
            <div class="message-text-container">
              <form [formGroup]="friendsChatForm" (submit)="checkMessageFile()" >
                <textarea placeholder="Write a message…" formControlName="message"></textarea>
                <div class="d-inline">
                  <ul class="inline-list">
                    <li class="list-item col-md-2">
                      <i aria-hidden="true" class="fa fa-smile-o anchor-link" (click)="activeFriend.showIcons = !activeFriend.showIcons"></i>

                      <div class="smiles-bunch" [ngClass]="{ 'active' : activeFriend.showIcons }">
                        <i (click)="appendEmoji(activeFriend, 128077)" class="em em---1"></i>
                        <i (click)="appendEmoji(activeFriend, 128512)" class="em em-smiley"></i>
                        <i (click)="appendEmoji(activeFriend, 128551)" class="em em-anguished"></i>
                        <i (click)="appendEmoji(activeFriend, 128518)" class="em em-laughing"></i>
                        <i (click)="appendEmoji(activeFriend, 128544)" class="em em-angry"></i>
                        <i (click)="appendEmoji(activeFriend, 128562)" class="em em-astonished"></i>
                        <i (click)="appendEmoji(activeFriend, 128522)" class="em em-blush"></i>
                        <i (click)="appendEmoji(activeFriend, 128542)" class="em em-disappointed"></i>
                        <i (click)="appendEmoji(activeFriend, 128543)" class="em em-worried"></i>
                        <i (click)="appendEmoji(activeFriend, 128536)" class="em em-kissing_heart"></i>
                        <i (click)="appendEmoji(activeFriend, 128545)" class="em em-rage"></i>
                        <i (click)="appendEmoji(activeFriend, 128539)" class="em em-stuck_out_tongue"></i>
                      </div>
                    </li>

                    <li class="list-item col-md-6">
                      <label for="{{ 'file-' + activeFriend.username }}">
                        <i aria-hidden="true" class="fa fa-paperclip"></i>
                        <small *ngIf="friendsChatForm.value.fileName" [title]="friendsChatForm.value.fileName">{{ (friendsChatForm.value.fileName.length > 10) ? friendsChatForm.value.fileName.substring(0,10) + '...' : friendsChatForm.value.fileName }}</small>
                        <input [id]="'file-' + activeFriend.username" class="d-none" type="file" (change)="uploadFile($event)"/>
                      </label>
                    </li>

                    <li class="list-item col-md-4 text-right">
                      <button [disabled]="friendsChatForm.invalid" type="button" class="pull-right" (click)="checkMessageFile()">
                        <span class="text-white">Send</span>
                      </button>
                    </li>
                  </ul>
                </div>
                <p *ngIf="activeFriend.message" class="text-center" [ngClass]="{'text-danger': !activeFriend.message.status, 'text-success': activeFriend.message.status }">{{ activeFriend.message.message }}</p>
              </form>
            </div>
          </div>

          <div class="peoples-mesg-box width-100 full-height" *ngIf="!activeFriend">
            <div class="row full-height">
              <div id="no-active-friend" class="col-md-12 d-inline-flex full-height">
                <h4>No friend selected</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
