<!-- <div class="communities-list-wrap full-width">
  <div class="clearfix">
    <aside class="one-fifth">
      <app-navigation></app-navigation>
    </aside>
    <main class="four-fifth">
      <section id="active-subscriptions">
        <h2 class="section-heading">Active Subscriptions</h2>
        <div class="section-body">
          <ul class="list">
            <li class="list-item">
              <a [routerLink]="['/main/communities/big data']">
                <h2>Big Data Community</h2>
                <div class="clearfix">
                  <span class="one-third">BADGE</span>
                  <span class="one-third">LEVEL</span>
                  <span class="one-third">POINTS</span>
                </div>
              </a>
            </li>
            <li class="list-item">
              <a [routerLink]="['/main/communities/pottery']">
                <h2>Pottery</h2>
                <div class="clearfix">
                  <span class="one-third">BADGE</span>
                  <span class="one-third">LEVEL</span>
                  <span class="one-third">POINTS</span>
                </div>
              </a>
            </li>
            <li class="list-item">
              <a [routerLink]="['/main/communities/painting']">
                <h2>Painting</h2>
                <div class="clearfix">
                  <span class="one-third">BADGE</span>
                  <span class="one-third">LEVEL</span>
                  <span class="one-third">POINTS</span>
                </div>
              </a>
            </li>
          </ul>
          <span>More...</span>
        </div>
      </section>

      <section id="search-interest">
        <h2 class="section-heading">Search an Interest</h2>
        <div class="section-body">
          <h2>Keyword Search:</h2>
          <form [formGroup]="keySearchForm" (ngSubmit)="searchKeyword()" autocomplete="off">
            <div class="clearfix">
              <div class="one-third">
                <input type="text" class="form-control" placeholder="Search Keyword" formControlName="keyword" />
              </div>

              <div class="one-third">
                <select class="form-control" formControlName="contains">
                  <option value="contains">Contains</option>
                  <option value="exact">Exact match</option>
                </select>
              </div>

              <div class="one-third">
                <input type="submit" class="form-control" value="Search" />
              </div>
            </div>
          </form>
        </div>
      </section>

      <section id="select-search">
        <h2 class="section-heading">Select Search</h2>
        <div class="section-body">
          <form [formGroup]="selectSearchForm" (ngSubmit)="selectedSearch()" autocomplete="off">
            <div class="clearfix">
              <div class="one-fourth">
                <input type="text" class="form-control" formControlName="level1" placeholder="Level 1"/>
              </div>

              <div class="one-fourth">
                <input type="text" class="form-control" formControlName="level2" placeholder="Level 2"/>
              </div>

              <div class="one-fourth">
                <input type="text" class="form-control" formControlName="level3" placeholder="Level 3"/>
              </div>

              <div class="one-fourth">
                <input type="text" class="form-control" formControlName="level4" placeholder="Level 4"/>
              </div>

            </div>
            <div class="clearfix">
              <input type="submit" class="form-control" value="Search" />
            </div>
          </form>
        </div>
      </section>

      <section id="propose-interest">
        <h2 class="section-heading">Propose an Interest</h2>
        <div class="section-body">
          <div class="clearfix">
            <div class="one-fourth">
              <input [readonly]="true" type="text" class="form-control" value="Level 1"/>
              <br />
              <input type="button" (click)="toggleProposeForm(0)" value="Add"/>
            </div>

            <div class="one-fourth">
              <input [readonly]="true" type="text" class="form-control" value="Level 2"/>
              <br />
              <input type="button" (click)="toggleProposeForm(1)" value="Add"/>
            </div>

            <div class="one-fourth">
              <input [readonly]="true" type="text" class="form-control" value="Level 3"/>
              <br />
              <input type="button" (click)="toggleProposeForm(2)" value="Add"/>
            </div>

            <div class="one-fourth">
              <input [readonly]="true" type="text" class="form-control" value="Level 4"/>
              <br />
              <input type="button" (click)="toggleProposeForm(3)" value="Add"/>
            </div>
          </div>
        </div>
      </section>

      <section id="propose-interest-form" *ngIf="showProposeForm">
        <app-propose-interest [interest]="proposeInterestDetails" (hideForm)="handleHideForm($event)"></app-propose-interest>
      </section>
    </main>
  </div>
</div> -->

<section>
    <div class="gap gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="row" id="page-contents">
              <div class="col-lg-3">
                 <app-main-sidebar></app-main-sidebar>
              </div><!-- sidebar -->
              <div class="col-lg-9">
                <div class="central-meta">
                  <div class="groups">
                    <h5 class="f-title">Active Subscription</h5>
                  </div>
                  <!-- Tab panes -->
                  <ul class="nearby-contct1">
                    <li *ngFor="let community of communities; let i = index;">
                      <a [routerLink]="['/main/communities/' + community.community_docs._id + '/dashboard']" routerLinkActive="router-link-active" >
                        <div class="pepl-info r-info1">
                          <em>
                            <span>
                              <b>{{ i + 1 }}.</b>
                            </span>
                            <span class="c-title1">{{ ((community.community_docs && community.community_docs.name) ? community.community_docs.name : '') | titlecase }}</span>
                          </em>
                        </div>
                        <br>
                        <div class="nearly-pepls r-info2">
                          <div class="row">
                            <div class="col-md-4">
                              <span>Badge: {{ community.badge | titlecase }}</span>
                            </div>
                            <div class="col-md-5">
                              <span>Level: {{ community.level | titlecase }}</span>
                            </div>
                            <div class="col-md-3">
                              <span>Points: {{ community.points }}</span>
                            </div>
                          </div>
                        </div>
                      </a>
                    </li>

                    <li *ngIf="communities.length === 0">
                      <h5>No Subscriptions Found</h5>
                    </li>
                  </ul>
                </div>

                <div class="central-meta">
                  <div class="groups">
                    <h5 class="f-title">Search an Interest:</h5>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <strong>Keyword Search:</strong>
                    </div>
                  </div>
                  <form [formGroup]="keySearchForm" (ngSubmit)="searchInterests('KEYWORD', 1)" class="r-info4">
                    <table class="table interest-search-table">
                      <tbody>
                        <tr class="row">
                          <td class="col-md-4">
                            <label>Keyword</label>
                            <input type="text" class="form-control r-search1" placeholder="Search Here" formControlName="keyword"  (input)="resetSearch('KEYWORD')"/>
                          </td>
                          <td class="col-md-4">
                            <label>Match Type</label>
                            <select class="form-control r-search1" formControlName="matchType" (change)="resetSearch('KEYWORD')">
                              <option class="r-info3" value="exact-match">Exact Match</option>
                              <option class="r-info3" value="contains">Contains</option>
                            </select>
                          </td>
                          <td class="col-md-4">
                            <button [disabled]="keySearchForm.invalid" type="submit" class="mtr-btn">
                              <span>Search</span>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </form>
                  <br>
                  <!-- Tab panes -->
                  <ng-container *ngIf="(showResults && searchFormType === 'KEYWORD') then searchResults"></ng-container>

                  <ng-template #searchResults>
                    <div class="row interest-results-wrap">
                      <div class="col-md-12 bg-white">
                        <h5>Results: {{ totalCount }} matches found</h5>

                        <h6 *ngIf="message" [ngClass]="{ 'text-danger': !message.status, 'text-success': message.status }">{{ message.message }}</h6>
                      </div>

                      <div class="col-md-12 bg-white" *ngFor="let interest of displayedInterests; let i = index;">
                        <app-interest-tree [interest]="interest" [index]="(i+1)" (interestSelected)="viewCommunity($event)"></app-interest-tree>
                      </div>
                      <div class="col-md-12 bg-white" *ngIf="displayedInterests.length === 0">
                        <span>No matches found</span>
                      </div>
                    </div>
                    <div class="row" *ngIf="config && config.loadMore">
                      <div class="col-md-12 text-center anchor-link" (click)="pageNumber = pageNumber + 1; searchInterests()">
                        <i class="fa fa-spinner fa-2x fa-fw margin-bottom" [ngClass]="{'fa-spin': config.loading }" title="Load More"></i>
                      </div>
                    </div>
                  </ng-template>

                  <!-- <div class="row">
                    <div class="col-md-12">
                      <strong>Select Search:</strong>
                    </div>
                  </div>
                  <table class="table interest-search-table">
                    <tbody>
                      <tr class="row" *ngFor="let levelRows of levels;">
                        <ng-container *ngFor="let level of levelRows;">
                          <td class="col-md-3">
                            <button type="button" class="mtr-btn"  [ngClass]="{ 'unselected-btn' : (selectedLevel !== level) }" (click)="resetSearch('SELECT_SEARCH', level)">
                              <span>{{ 'Level ' + level }}</span>
                            </button>
                          </td>
                        </ng-container>
                      </tr>
                    </tbody>

                    <tfoot>
                      <tr class="row">
                        <td class="col-md-3">
                          <button [disabled]="!selectedLevel" type="button" class="mtr-btn" (click)="searchInterests('SELECT_SEARCH', 1)">
                            <span>Search</span>
                          </button>
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                  <br> -->
                  <!-- Tab panes -->
                  <!-- <ng-container *ngIf="(showResults && searchFormType === 'SELECT_SEARCH') then searchResults"></ng-container> -->
                  <div class="row">
                    <div class="col-md-12">
                      <strong>Select Search:</strong>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <select (change)="searchInterestByLevel($event.target.value)" class="form-control">
                        <option selected disabled>Select</option>
                        <option *ngFor="let interest of " value="interest._id">{{ interest.name | titlecase }}</option>
                      </select>
                    </div>
                  </div>
                  <br>
                </div>

                <div class="central-meta">
                  <div class="groups">
                    <h5 class="f-title">Propose an Interest:</h5>
                  </div>

                  <table class="table propose-interest-table">
                    <tbody>
                      <tr class="row" *ngFor="let levelRows of levels;">
                        <ng-container *ngFor="let level of levelRows;">
                          <td class="col-md-3">
                            <div class="button-wrap">
                              <button type="button" class="mtr-btn"  [ngClass]="{ 'unselected-btn' : (selectedLevel !== level) }" (click)="resetSearch('SELECT_SEARCH', level)">
                                <span>{{ 'Level ' + level }}</span>
                              </button>
                            </div>
                            <div class="button-wrap">
                              <button type="button" class="mtr-btn"  [ngClass]="{ 'unselected-btn' : (selectedLevel !== level) }" (click)="resetSearch('SELECT_SEARCH', level)">
                                <span>Add</span>
                              </button>
                            </div>
                          </td>
                        </ng-container>
                      </tr>
                    </tbody>
                  </table>
                  <br>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
