.communities-list-wrap {
  padding: 20px 0px;
}

.communities-list-wrap section {
  background: #ffffff;
  margin-bottom: 20px;
  padding: 20px;
}
.communities-list-wrap section .section-heading {
  text-align: left;
  margin-bottom: 30px;
}

.communities-list-wrap section .section-heading::before {
  left: 25px;
}

.select {
  height: 30px;
}

.pepl-info.r-info1 {
    margin-left: -4%;
    font-size: 14px;
}
span.r-number1 {
    font-size: 19px;
    font-weight: 500;
}
span.c-title1 {
    font-size: 19px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
}
.nearly-pepls.r-info2 {
    padding: 2%;
    margin-left: 1%;
    font-size: 18px;
}
.nearby-contct1 {
    display: inline-block;
    list-style: outside none none;
    margin-bottom: 0;
    /* margin-top: 35px; */
    padding-left: 4%;
    width: 100%;
}
input.form-control.r-search1 {
    background-color: rgba(33, 33, 33, 0.1);
    color: #aaaaaa;
    font-size: 14px;
    border: 0px;
    width: 220px;
    margin: 0px 20px 0 20px;
}
select.form-control.r-search1 {
    background-color: rgba(33, 33, 33, 0.1);
    color: #aaaaaa;
    font-size: 14px;
    border: 0px;
    width: 220px;
    margin: 0px 20px 0 20px;
}
form.ng-pristine.ng-invalid.ng-touched {
    margin-left: 5%;
}
option.r-info3 {
    /* border: none; */
    color: #212529;
    /* border: 1px solid red; */
}
form.r-info4 {
    margin-left: 5%;
}
.pull-left.r-space3 {
    margin-left: 22%;
}
.interest-search-table td {
  display: inline-flex;
  white-space: nowrap;
  border-top: 0px;
}

.interest-search-table td label {
  padding-right: 15px;
}

.unselected-btn {
  background: #505050;
}

.interest-results-wrap {
  padding: 15px 0px;
}

.interest-results-wrap > div {
  padding: 15px 15px;
  margin: 15px 0px;
}

.propose-interest-table td {
  border: 0px;
}

.propose-interest-table td .button-wrap {
  margin: 15px 0px;
  display: block;
}