<div class="chat-box" [ngClass]="{'show': activeFriend, 'expand': activeFriend.expand, 'hide-chat': !activeFriend.showChat }">
  <div class="chat-head">
    <label class="anchor-link" (click)="activeFriend.expand = false; activeFriend.showDropdown = false; activeFriend.showChat = !activeFriend.showChat">
      {{ activeFriend.firstName + ' ' + activeFriend.lastName | titlecase }} 
      <!-- <span class="status" [ngClass]="{ 'f-online': activeFriend.status, 'f-off': !activeFriend.status }"></span> -->
    </label>
    
    <div class="chat-head-menu pull-right d-inline">
      <span>
        <i class="fa anchor-link" [ngClass]="{'fa-expand' : !activeFriend.expand, 'fa-compress' : activeFriend.expand }" (click)="activeFriend.showChat = true; activeFriend.expand = !activeFriend.expand" aria-hidden="true"></i>
      </span>
      <span>
        <i class="fa fa-ellipsis-h anchor-link" aria-hidden="true" (click)="activeFriend.showDropdown = !activeFriend.showDropdown"></i>
        <dl *ngIf="activeFriend.showDropdown" class="bg-white">
          <dt>
            <a class="anchor-link" (click)="chatAction('ARCHIEVE')">Archieve</a>
          </dt>
          <dt>
            <a class="anchor-link" (click)="chatAction('DELETE')">Delete</a>
          </dt>
          <dt>
            <a class="anchor-link" (click)="chatAction('MUTE')">Mute</a>
          </dt>
          <dt>
            <a class="anchor-link" (click)="chatAction('REPORT')">Report</a>
          </dt>
        </dl>
      </span>            
      <span>
        <i class="ti-close anchor-link" (click)="removeFriend(activeFriend)"></i>
      </span>
    </div>
  </div>
  <div class="chat-list">
    <ul>
      <ng-container *ngIf="activeFriend.messages">
        <!-- <li *ngFor="let message of messages;" [ngClass]="{'me' : (message.fromUserId === user.username), 'you' : (message.fromUserId !== user.username) }"> -->
        <li *ngFor="let message of activeFriend.messages;" class="me">
          <div class="clearfix">
            <label class="pull-left">
              <img [src]="getSenderDetails(message, 'IMAGE')" class="chat-icon" alt="" /> 
            </label>
            <label>
              <a class="d-block" [routerLink]="['/main/profile/view/' + getSenderDetails(message, 'USERNAME') ]">{{ getSenderDetails(message, 'NAME') }}</a>
              <i class="entry-date updated">{{ message.sentAt | momentDate | date:"medium"}}</i>
            </label>
          </div>
          <div class="col-md-12">
            <span class="chat-message">{{ message.message }}</span>
            <br />
            <a class="anchor-link" *ngIf="message.filePath" [href]="message.filePath" target="_blank" [title]="message.fileName">
              <i aria-hidden="true" class="fa fa-paperclip"></i>  
            </a>
          </div>
        </li>
      </ng-container>
    </ul>
    <form [formGroup]="friendsChatForm" class="text-box" (keyup.enter)="checkMessageFile()" >
      <textarea [id]="activeFriend.username.split('.').join('-')" placeholder="Write a message…" formControlName="message"></textarea>
      <div class="d-inline">
        <ul class="inline-list">
          <li class="list-item col-md-2">
            <i aria-hidden="true" class="fa fa-smile-o anchor-link" (click)="activeFriend.showIcons = !activeFriend.showIcons"></i>
            
            <div class="smiles-bunch" [ngClass]="{ 'active' : activeFriend.showIcons }">
              <i (click)="appendEmoji(activeFriend, 128077)" class="em em---1"></i>
              <i (click)="appendEmoji(activeFriend, 128512)" class="em em-smiley"></i>
              <i (click)="appendEmoji(activeFriend, 128551)" class="em em-anguished"></i>
              <i (click)="appendEmoji(activeFriend, 128518)" class="em em-laughing"></i>
              <i (click)="appendEmoji(activeFriend, 128544)" class="em em-angry"></i>
              <i (click)="appendEmoji(activeFriend, 128562)" class="em em-astonished"></i>
              <i (click)="appendEmoji(activeFriend, 128522)" class="em em-blush"></i>
              <i (click)="appendEmoji(activeFriend, 128542)" class="em em-disappointed"></i>
              <i (click)="appendEmoji(activeFriend, 128543)" class="em em-worried"></i>
              <i (click)="appendEmoji(activeFriend, 128536)" class="em em-kissing_heart"></i>
              <i (click)="appendEmoji(activeFriend, 128545)" class="em em-rage"></i>
              <i (click)="appendEmoji(activeFriend, 128539)" class="em em-stuck_out_tongue"></i>
            </div>
          </li>

          <li class="list-item col-md-6">
            <label for="{{ 'file-' + activeFriend.username }}">
              <i aria-hidden="true" class="fa fa-paperclip"></i>
              <small *ngIf="friendsChatForm.value.fileName" [title]="friendsChatForm.value.fileName">{{ (friendsChatForm.value.fileName.length > 10) ? friendsChatForm.value.fileName.substring(0,10) + '...' : friendsChatForm.value.fileName }}</small>
              <input [id]="'file-' + activeFriend.username" class="d-none" type="file" (change)="uploadFile($event)"/>
            </label>
          </li>

          <li class="list-item col-md-4 text-right">
            <button [disabled]="friendsChatForm.invalid" type="button" class="pull-right" (click)="checkMessageFile()">
              <span class="text-white">Send</span>
            </button>
          </li>
        </ul>
      </div>
      <p *ngIf="activeFriend.message" [ngClass]="{'text-danger': !activeFriend.message.status, 'text-success': activeFriend.message.status }">{{ activeFriend.message.message }}</p>
    </form>
  </div>
</div>