

  .chat-box.show.hide-chat {
    margin-bottom: -360px;
    overflow: hidden;
  }

  ul > li > figure img {
    width: 42px;
    height: 42px;
  }


  .chat-box.show {
    position: relative;
    bottom: 0;
    min-height: 400px;
    right: auto;
    margin: 0px 0.5px;
  }

  .chat-box.show .chat-list {
    padding: 5px 0px 0px 5px;
  }

  .chat-list > ul {
    overflow-y: auto;
    min-height: 250px;
  }

  .chat-list > form {
    width: 100%;
    padding: 0px 5px 0px 0px;
  }

  .notification-evt > .chat-message {
    width: 100%;
    font-size: 14px;
  }

  .chat-thumb > img {
    width: 28px;
    height: 28px;
  }

  li.anchor-link  ul.user-friend-actions {
    padding: 0px 0px;
    position: absolute;
    z-index: 1;
    border: 2.5px solid var(--background-color);
    border-radius: 5px;
  }

  li.anchor-link ul.user-friend-actions> li {
    margin: 0px 0px;
  }

  li.anchor-link ul.user-friend-actions> li > span {
    display: inline-flex;
    font-size: 12px;
    align-items: center;
  }

  li.anchor-link ul.user-friend-actions> li > span > i {
    padding-left: 10px;
  }

  /*Code added by Priya*/
  span.status {
    border-radius: 50%;
    bottom: 13px;;
    display: inline-block;
    height: 12px;
    padding: 2px;
    position: absolute;
    right: 0;
    width: 12px;
    left: 207px;
  }
  .page-sidebar.fixedscroll {
      position: fixed;
  }
  .page-sidebar {
      height: auto;
      width: 23%;
      position: fixed;
      padding: 0px;
      background-color: #ffffff;
     /* margin-top: 60px;*/
      overflow: hidden;
      box-shadow: 0 0 10px 0 rgba(33,33,33,.2);
      min-height: 100%;
      height: auto;
  }
  .fixedscroll #main-menu-wrapper {
      padding-top: 0px;
      overflow: hidden;
      position: relative;
  }
  input.form-control.r-search1 {
      background-color: rgba(33, 33, 33, 0.1);
      color: #aaaaaa;
      font-size: 14px;
      border: 0px;
      margin: 0px 20px 0 20px;
  }

  .inline-list {
    display: inline-flex;
    list-style: outside none none;
    vertical-align: middle;
    width: 100%;
    padding: 0px 0px;
    margin: 0px 0px 5px;
  }

  .inline-list > .list-item {
    margin-bottom: 0;
  }

  .inline-list > .list-item i {
    font-size: 18px;
  }

  .smiles-bunch::before {
    right: calc(100% - 30px);
  }

  .smiles-bunch {
    top: auto;
    bottom: 36px;
    right: auto;
    left: 0;
  }

  .chat-box.show.expand {
    min-height: 500px;
    width: 400px;
    transition: all 0.5s ease-in-out;
  }

  .chat-box.show.expand .chat-list > ul {
    min-height: 350px;
    transition: all 0.5s ease-in-out;
  }

  .chat-icon {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    padding: 5px;
  }

  .me > .clearfix > label {
    display: inherit;
    font-size: 12px;
    margin-bottom: 0px;
  }

  .chat-list ul > li {
    margin-bottom: 7.5px;
  }

  .d-inline ul.inline-list > li.list-item,
  .chat-head > label {
    margin-bottom: 0px;
  }

  .chat-head-menu > span {
    margin-left: 15px;
  }

  .chat-head-menu > span dl {
    position: absolute;
    z-index: 1;
    padding: 0px 15px;
    top: 45px;
    right: 0;
    box-shadow: 1px 1px 5px rgba(0,0,0, 0.5);
  }

  dl > dt > a {
    color: var(--background-color);
    font-weight: normal;
    font-size: 14px;
    padding: 5px;
  }

  .chat-head {
    padding: 10px 15px 10px 15px;
  }

  .me span.chat-message {
    color: #505050;
    font-size: 0.75rem;
  }
