<div id="moderator-listing" class="full-width">
  <ng-container [ngSwitch]="listingType">
    <ng-container *ngSwitchCase="listingTypes.chat">
      <ng-container [ngTemplateOutlet]="reportedChatTemplate"></ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="listingTypes.timeline">
      <ng-container [ngTemplateOutlet]="reportedTimelineTemplate"></ng-container>
    </ng-container>

    <ng-container *ngSwitchDefault>
      <div class="central-meta">
        <div class="editing-info">
          <h5 class="f-title">Listing type not found</h5>
        </div>
      </div>
    </ng-container>
  </ng-container>
  
  
  <ng-template #reportedChatTemplate>
    <div class="central-meta">
      <div class="editing-info">
        <h5 class="f-title">Reported Chats</h5>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Reported By</th>
                  <th>Reported Against</th>
                  <th>Reported On</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let message of reportedChats; let i = index;">
                  <td>{{ message.reporter.firstName + ' ' + message.reporter.lastName}}</td>
                  <td>{{ message.reportedAgainst.firstName + ' ' + message.reportedAgainst.lastName}}</td>
                  <td>{{ message.createdAt | momentDate | date : "mediumDate" }}</td>
                  <td>
                    <div class="d-inline moderator-actions">
                      <a class="anchor-link d-inline-block text-center" [routerLink]="['/main/moderator/details-view/' + message._id ]" routerLinkActive="router-link-active"  title="View">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                      </a>
                    </div>
                  </td>
                </tr>

                <tr *ngIf="config && config.loadMore">
                  <td colspan="4" class="text-center" (click)="pageNumber = pageNumber + 1; loadReportedChats();">
                    <i class="fa fa-spinner fa-2x fa-fw margin-bottom" [ngClass]="{'fa-spin': config.loading }"></i>
                  </td>
                </tr>

                <tr *ngIf="reportedChats.length === 0">
                  <td colspan="4" class="text-center">
                    <p>No reported chats found</p>
                  </td>
                </tr>

                <tr *ngIf="message">
                  <td colspan="4" class="text-center">
                    <p [ngClass]="{'text-success': message.status, 'text-danger': !message.status}">{{ message.message }}</p>
                  </td>
                </tr>
              </tbody>

              <tfoot>
                <tr>
                  <td colspan="4">
                    <a [routerLink]="['/main/moderator/dashboard']" routerLinkActive="router-link-active"  class="mtr-btn"><span>Go Back</span></a>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #reportedTimelineTemplate>
    <div class="central-meta">
      <div class="editing-info">
        <h5 class="f-title clearfix">
          Reported Timeline
        </h5>
        <div class="row">
          <div class="col-md-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Reported By</th>
                  <th>Reported Against</th>
                  <th>Reported On</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let timeline of reportedTimeline; let i = index;">
                  <td>{{ timeline.reporter.firstName + ' ' + timeline.reporter.lastName}}</td>
                  <td>{{ timeline.reportedAgainst.firstName + ' ' + timeline.reportedAgainst.lastName}}</td>
                  <td>{{ timeline.createdAt | momentDate | date : "mediumDate" }}</td>
                  <td>
                    <div class="d-inline moderator-actions">
                      <a class="anchor-link d-inline-block text-center" [routerLink]="['/main/moderator/details-view/' + timeline._id ]" routerLinkActive="router-link-active"   title="View">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                      </a>
                    </div>
                  </td>
                </tr>

                <tr *ngIf="config && config.loadMore">
                  <td colspan="4" class="text-center" (click)="pageNumber = pageNumber + 1; loadReportedTimeline();">
                    <i class="fa fa-spinner fa-2x fa-fw margin-bottom" [ngClass]="{'fa-spin': config.loading }"></i>
                  </td>
                </tr>

                <tr *ngIf="reportedTimeline.length === 0">
                  <td colspan="4" class="text-center">
                    <p>No reported timeline found</p>
                  </td>
                </tr>

                <tr *ngIf="message">
                  <td colspan="4" class="text-center">
                    <p [ngClass]="{'text-success': message.status, 'text-danger': !message.status}">{{ message.message }}</p>
                  </td>
                </tr>
              </tbody>

              <tfoot>
                <tr>
                  <td colspan="4">
                    <a [routerLink]="['/main/moderator/dashboard']" routerLinkActive="router-link-active"  class="mtr-btn"><span>Go Back</span></a>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
