<table class="userlist-table table table-bordered table-stripped">
  <thead>
    <tr>
        <th>Name</th>
        <th>Community Score</th>
        <th>Level</th>
        <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of usersList;let i = index;">
      <td>{{ user.firstName + ' ' + user.lastName | titlecase }}</td>
      <td>{{ user.communityUserDetails.points }}</td>
      <td>{{ user.communityUserDetails.level | titlecase }}</td>
      <td>
        <button [disabled]="isFriend(i)" class="mtr-btn" (click)="addFriend(i)">
          <span>{{ isFriend(i) ? 'Friends' : '+ Friend' }}</span>
        </button>
      </td>
    </tr>
    <tr *ngIf="usersList.length === 0">
      <td colspan="4" class="text-center">
        <p>No users found</p>
      </td>
    </tr>
  </tbody>
</table>
