<div class="central-meta">
  <div class="editing-info">
    <h5 class="f-title">Select a Community</h5>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <select class="form-control" (change)="showAvailabilityDetails = false; communityId = $event.target.value;">
        <option selected disabled>Select a Community</option>
        <option *ngFor="let community of communitiesList" [value]="community.community_docs._id">{{ (community.community_docs && community.community_docs.name) ? ( community.community_docs.name | titlecase ) : '' }}</option>
      </select>
    </div>
    <div class="col-md-6 col-sm-12">
      <button class="mtr-btn" (click)="showAvailabilityDetails = false; selectCommunity()" [disabled]="!communityId">
        <span>Load Availability Details</span>
      </button>
    </div>
  </div>

  <div class="row mentorship-availability-form-wrapper" *ngIf="showAvailabilityDetails">
    <div class="col-md-12">
      <form [formGroup]="mentorshipAvailabilityForm" (ngSubmit)="updateAvailability('all')" >
        <div class="groups">
          <span><u> Set Availability</u></span>
          <button type="submit" class="mtr-btn signup pull-right" ><span>Save</span></button>
          <button type="reset" class="mtr-btn signup pull-right " style="margin-right: 12px;"><span>Cancel</span></button>
        </div><br>
        <div class="form-control">
          <div class="form-radio">
            <div class="row">
              <div class="col-md-2">
                <label style="padding-left: 11px;    font-size: 15px;">Available</label>
              </div>
              <div class="col-md-2">
                <div class="radio">
                  <label>
                    <input type="radio" formControlName="available" value="true" /><i class="check-box"></i><span
                      style="font-size: 15px;">Yes</span>
                  </label>
                </div>
              </div>
              <div class="col-md-2">
                <div class="radio">
                  <label>
                    <input type="radio" formControlName="available" value="false" /><i class="check-box"></i><span
                      style="font-size: 15px;">No</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-control" *ngIf="mentorshipAvailabilityForm.value.available === 'false'">
          <div class="row">
            <div class="col-md-3">
              <label class="control-label" for="input">Unavailable From</label><i class="mtrl-select"></i>
            </div>
            <div class="col-md-3">
              <div class="input-append date">
                <input id="unavailableFrom" type="date" class="form-control" [ngClass]="{'transparent-text': (mentorshipAvailabilityForm.value.unavailableFrom === '' || mentorshipAvailabilityForm.value.unavailableFrom === null) }" (input)="checkToDate(false)" formControlName="unavailableFrom" placeholder="Enter From Date" [min]="getCurrentDate()"  value="" />
                <label for="unavailableFrom" *ngIf="(mentorshipAvailabilityForm.value.unavailableFrom === '' || mentorshipAvailabilityForm.value.unavailableFrom === null)">Enter From Date</label>
              </div>
            </div>
            <div class="col-md-1">
              <label class="control-label" for="input">To</label><i class="mtrl-select"></i>
            </div>
            <div class="col-md-3">
                <input [readonly]="(mentorshipAvailabilityForm.value.unavailableFrom === '' || mentorshipAvailabilityForm.value.unavailableFrom === null)" id="unavailableTo" type="date" class="form-control" [ngClass]="{'transparent-text': (mentorshipAvailabilityForm.value.unavailableTo === '' || mentorshipAvailabilityForm.value.unavailableTo === null) }" formControlName="unavailableTo" [min]="mentorshipAvailabilityForm.value.unavailableFrom" (blur)="checkToDate(true)" placeholder="Enter To Date"/>
                <label [for]="(mentorshipAvailabilityForm.value.unavailableFrom === '' || mentorshipAvailabilityForm.value.unavailableFrom === null) ? 'unavailableFrom' : 'unavailableTo'" *ngIf="(mentorshipAvailabilityForm.value.unavailableTo === '' || mentorshipAvailabilityForm.value.unavailableTo === null)">Enter To Date</label>
            </div>
            <div class="col-md-1">
                <a (click)="updateAvailability('unavailable')"><u>Change</u></a>
              </div>
          </div>
        </div>
        <!-- <div class="form-control">
          <div class="row">
            <div class="col-md-3">
              <label class="control-label" for="input">OR</label><i class="mtrl-select"></i>
            </div>
          </div>
        </div> -->
        <div class="form-control" *ngIf="mentorshipAvailabilityForm.value.available === 'true'">
          <div class="row">
            <div class="col-md-3">
              <label class="control-label" for="input">Available From</label><i class="mtrl-select"></i>
            </div>
            <div class="col-md-3">
              <!-- <div id="datetimepicker" class="input-append date">
                <input type="date" required="required" placeholder="01-Nov-2018" />
                <span class="add-on">
                  <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </span>
              </div> -->
              <div class="input-append date">
                <input id="availableFrom" type="date" class="form-control" [ngClass]="{'transparent-text': (mentorshipAvailabilityForm.value.availableFrom === '' || mentorshipAvailabilityForm.value.availableFrom === null) }" formControlName="availableFrom" placeholder="Enter From Date" [min]="getCurrentDate()"/>
                <label for="availableFrom" *ngIf="(mentorshipAvailabilityForm.value.availableFrom === '' || mentorshipAvailabilityForm.value.availableFrom === null)">Enter From Date</label>
              </div>
            </div>
            <div class="col-md-1">
              <a (click)="updateAvailability('available')"><u>Change</u></a>
            </div>
          </div>

          <div class="row">
              <div class="col-md-3">
                <label class="control-label" for="concurrent-mentorships">Concurrent Mentorships</label><i class="mtrl-select"></i>
              </div>
              <div class="col-md-2">
                <div class="input-append date">
                  <select type="concurrent-mentorships" class="form-control" required="required" formControlName="concurrentMentorships">
                    <option [value]="1">1</option>
                    <option [value]="2">2</option>
                  </select>
                </div>
              </div>
            </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="central-meta" *ngIf="showAvailabilityDetails">
  <div class="groups">
    <span><u>Mentoring Status</u></span>
  </div><br>
  <div class="form-control">
    <div class="form-radio">
      <div class="row">
        <div class="col-md-12">
          <svg *ngIf="user" width="500" height="500" [appMentorshipTree]="mentorshipData" [colors]="colors"></svg>
        </div>
      </div>
    </div>
  </div>
</div>
