svg path {
  stroke: var(--background-color);
}

input[type='date'].form-control {
  border: 1px solid #6c757d;
}

.form-group > .clearfix {
  position: relative;
}
input[type='date'] ~ label {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  padding-top: 8px;
  padding-left: 15px;
  background: transparent;
  color: #505050;
}

input[type='date']:focus-within ~ label {
  display: none;
}

input.transparent-text {
  color: transparent;
}

div > .input-append {
  position: relative;
}

.mentorship-availability-form-wrapper {
  padding: 15px 0px;
}
