.mesages-lists {
  padding-top: 120px;
}

.mesages-lists > label {
  left: 50%;
  max-width: 92%;
  position: absolute;
  top: 40px;
  transform: translate(-50%);
  width: 100%;
}

.mesages-lists > label input {
  background: #f5f5f5 none repeat scroll 0 0;
  border: 1px solid #dadede;
  border-radius: 30px;
  color: #7b7b7b;
  float: left;
  font-size: 15px;
  padding: 7px 20px;
  width: 100%;
}

#message-list-table .sender-name {
  margin: 0px 0px;
}

.table tr > td span.starred {
  color: orange;
}
