  <section>
      <div class="gap gray-bg">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="row" id="page-contents">
                <div class="col-lg-3">
                  <app-messages-sidebar></app-messages-sidebar>
                </div>
                <!-- sidebar -->
                <div class="col-lg-9">
                  <router-outlet></router-outlet>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
