<div class="privacy-settings-wrap">
  <form [formGroup]="privacySettingsForm" (ngSubmit)="updatePrivacySettings()">
    <section id="visibility-restriction-details">
      <div class="central-meta">
          <div class="editing-info">
            <h5 class="f-title">Visibility Restricted to Self</h5>

              <div class="form-radio">
                <div class="radio">
                  <label>1. Messages</label>
                </div>
                <div class="radio">
                  <label>2. Huddle Room</label>
                </div>
                <div class="radio">
                  <label>3. Shopping Complex</label>
                </div>
                <div class="radio">
                  <label>4. Account</label>
                </div>
                <div class="radio">
                  <label>5. Groups in Friend List</label>
                </div>
              </div>

          </div>
        </div>
    </section>

    <section id="visibility-other-features-details" *ngIf="!step">
      <div class="central-meta">
          <div class="editing-info">
            <h5 class="f-title">Set Visibility of Other Features</h5>

              <div class="form-radio">
                <div class="radio">
                  <label>
                    <input type="radio" formControlName="otherFeatures" value="S" /><i class="check-box"></i>
                    Only to Self
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" formControlName="otherFeatures" value="F" /><i class="check-box"></i>
                    Only Friends
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" formControlName="otherFeatures" value="FF" /><i class="check-box"></i>
                    Only Friends and their Friends
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" formControlName="otherFeatures" value="P" /><i class="check-box"></i>
                    Public
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" formControlName="otherFeatures" value="C" /><i class="check-box"></i>
                    I'll set visibility for each feature separately
                  </label>
                </div>
              </div>
              <div class="submit-btns">
                <button type="button" class="mtr-btn" (click)="updatePrivacySettings('other-features')"><span>Save</span></button>
              </div>
              <div class="row" *ngIf="message && (formSection === 'other-features')" >
                <div class="colmd-12">
                  <p [ngClass]="{'text-success': message.status, 'text-danger': !message.status }">{{ message.message }}</p>
                </div>
              </div>
          </div>
        </div>
    </section>

    <section id="showcase-details" *ngIf="step === 1">
      <div class="central-meta">
          <div class="editing-info">
            <h5 class="f-title">Showcase</h5>
            <div>
              <table class="table no-border">
                <thead>
                  <tr class="row" *ngFor="let community of communityList; let i = index;" >
                    <td class="col-md-6">
                      <label class="control-label" for="name-{{i}}">{{ (community && community.communityUser && community.communityUser.communityDetails) ? (community.communityUser.communityDetails.name | uppercase ) : 'Community' }}</label>
                    </td>
                    <td class="col-md-6">
                      <select id="name-{{i}}" class="form-control" (change)="updateCommunityPrivacy($event, i)">
                        <option value="S" [selected]="community.showcase === 'S'">Self</option>
                        <option value="F" [selected]="community.showcase === 'F'">Friends</option>
                        <option value="CM" [selected]="community.showcase === 'CM'">Community Members</option>
                        <option value="FC" [selected]="community.showcase === 'FC'">Friends and Community Members</option>
                        <option value="P" [selected]="community.showcase === 'P'">Public</option>
                      </select>
                    </td>
                  </tr>
                  <tr class="row" *ngIf="communityList.length === 0">
                    <td class="col-md-12">No communities found</td>
                  </tr>
                </thead>
              </table>
            </div>

            <div class="submit-btns">
              <button type="button" [disabled]="(communityList.length === 0)" class="mtr-btn" (click)="updatePrivacySettings('showcase')"><span>Save</span></button>
            </div>

            <div class="row" *ngIf="message && (formSection === 'showcase')" >
              <div class="colmd-12">
                <p [ngClass]="{'text-success': message.status, 'text-danger': !message.status }">{{ message.message }}</p>
              </div>
            </div>
          </div>
        </div>
    </section>

    <section id="notification-details" *ngIf="step === 2">
      <div class="central-meta">
          <div class="editing-info">
            <h5 class="f-title">Notifications</h5>
              <div class="form-radio">
                <div class="radio">
                  <label>
                    <input type="radio" formControlName="notifications" value="S" /><i class="check-box"></i>
                    Only to Self
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" formControlName="notifications" value="F" /><i class="check-box"></i>
                    Only Friends
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" formControlName="notifications" value="FF" /><i class="check-box"></i>
                    Only Friends and their Friends
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" formControlName="notifications" value="FFC" /><i class="check-box"></i>
                    Only Friends, their Friends and <strong title="Community Members would have visibility to only community related posts">Community Members</strong>
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" formControlName="notifications" value="P" /><i class="check-box"></i>
                    Public
                  </label>
                </div>
              </div>
              <div class="submit-btns">
                <button type="button" class="mtr-btn" (click)="updatePrivacySettings('notifications')"><span>Save</span></button>
              </div>

              <div class="row" *ngIf="message && (formSection === 'notifications')" >
                <div class="colmd-12">
                  <p [ngClass]="{'text-success': message.status, 'text-danger': !message.status }">{{ message.message }}</p>
                </div>
              </div>
          </div>
      </div>
    </section>

    <section id="friendlist-details" *ngIf="step === 3">
      <div class="central-meta">
        <div class="editing-info">
          <h5 class="f-title">Friends List</h5>

            <div class="form-radio">
              <div class="radio">
                <label>
                  <input type="radio" formControlName="friendslist" value="S" /><i class="check-box"></i>
                  Only to Self
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" formControlName="friendslist" value="F" /><i class="check-box"></i>
                  Only Friends
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" formControlName="friendslist" value="FF" /><i class="check-box"></i>
                  Only Friends and their Friends
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" formControlName="friendslist" value="P" /><i class="check-box"></i>
                  Public
                </label>
              </div>
            </div>
            <div class="submit-btns">
              <button type="button" class="mtr-btn" (click)="updatePrivacySettings('friendslist')"><span>Save</span></button>
            </div>

            <div class="row" *ngIf="message && (formSection === 'friendslist')" >
              <div class="colmd-12">
                <p [ngClass]="{'text-success': message.status, 'text-danger': !message.status }">{{ message.message }}</p>
              </div>
            </div>
        </div>
      </div>
    </section>

    <section id="prev-next-btn-wrap" *ngIf="step" >
      <div class="central-meta">
        <div class="editing-info">
          <div class="submit-btns">
            <button type="button" *ngIf="step !== 1" class="mtr-btn" (click)="step = step - 1"><span>Previous</span></button>
            <button type="button" *ngIf="step === 1" class="mtr-btn" (click)="step = null"><span>Cancel</span></button>

            <button type="button" *ngIf="step !== 3" class="pull-right mtr-btn" (click)="step = step + 1"><span>Next</span></button>
          </div>
        </div>
      </div>
    </section>
  </form>
</div>
