.privacy-settings-wrap .form-group {
  margin-top: 0px;
}
.privacy-settings-wrap .form-group .list-item input {
  width: auto !important;
}
.privacy-settings-wrap .form-group .list-item p {
  display: inline-flex;
  align-items: center;
}
.privacy-settings-wrap .submit-wrap {
  margin: 0px 0px 20px;
}
.form-radio > .radio {
  width: 100%;
}
.no-border tr > td {
  border-top: 0px;
}

.editing-info > .form-radio {
  margin: 0px 0px;
  padding: 0px 15px;
}

.editing-info > .row {
  margin: 20px 0px 0px;
}
