<div class="full-width">
    <section id="current-requests-list">
      <div class="central-meta">
        <div class="editing-info">
          <h5 class="f-title">Current Programs</h5>
          <ng-container *ngIf="currentMentorshipRequests">
            <table class="table no-border" *ngFor="let currentMentorshipRequest of currentMentorshipRequests; let i = index;">
              <tbody>
                <tr class="row">
                  <td class="col-md-12">
                    <h5 class="f-title">{{ currentMentorshipRequest.community | titlecase }}</h5>
                  </td>
                </tr>
                <ng-container *ngFor="let consideration of currentMentorshipRequest.requestList; let j = index;">

                  <tr class="row">
                    <td class="col-md-2">
                      Mentee :
                    </td>
                    <td class="col-md-5">
                      {{ consideration.menteeId_user_docs.firstName + ' ' + consideration.menteeId_user_docs.lastName + ' (' + consideration.menteeId_user_docs.username + ')'}}
                    </td>

                    <td class="col-md-4">
                      Status : {{ ( consideration.mentorId_user_docs && consideration.mentorId_user_docs.mentorshipAvailabilitySettings && consideration.mentorId_user_docs.mentorshipAvailabilitySettings.available ) ? 'Available' : 'Unavailable' }}
                    </td>

                    <td class="col-md-1">
                      <div class="row">
                        <div class="col-md-6" title="Send Message">
                          <i class="fa fa-comment" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-6" title="Video Message">
                          <i class="fa fa-video-camera" aria-hidden="true"></i>
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr class="row">
                    <td class="col-md-2">
                      Level :
                    </td>
                    <td class="col-md-7">
                      {{ (consideration.mentorId_user_docs && consideration.mentorId_user_docs.communityUser && consideration.mentorId_user_docs.communityUser[0] && consideration.mentorId_user_docs.communityUser[0].level) ? ( consideration.mentorId_user_docs.communityUser[0].level | titlecase ) : '' }}
                    </td>
                    <td class="col-md-3">
                      <button type="button" class="mtr-btn" (click)="consideration.showTermination = true">
                        <span>End Program</span>
                      </button>
                    </td>
                  </tr>

                  <ng-container *ngIf="consideration.showTermination">
                    <tr class="row">
                      <td class="col-md-12">
                        <div class="row">
                          <div class="col-md-12 text-justify">
                            You may end program either mutually by taking consent of mentee or by abandoning it. Here are penalty imposed.<br />
                            Mutual Consent - 3.0 rating awarded to both with program termination<br />
                            Abandoning - 1.0 rating awarded to you with program termination<br />
                          </div>
                        </div>
                      </td>
                    </tr>

                    <tr class="row">
                      <td class="col-md-12">
                        <div class="row">
                          <div class="col-md-4">
                            <button disabled type="button" class="mtr-btn" (click)="consideration.showTermination = true">
                              <span>Seek Consent</span>
                            </button>
                          </div>
                          <div class="col-md-4">
                            <button disabled type="button" class="mtr-btn" (click)="consideration.showTermination = true">
                              <span>Abandon</span>
                            </button>
                          </div>
                          <div class="col-md-4">
                            <button type="button" class="mtr-btn" (click)="consideration.showTermination = false">
                              <span>Cancel</span>
                            </button>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </ng-container>

                  <tr class="row">
                    <td class="col-md-12">
                      <table id="proposed-program-{{ j + 1 }}" class="table table-bordered program-table">
                        <thead>
                          <tr class="row">
                            <th class="col-md-12">
                              <button disabled type="button" class="mtr-btn pull-right">
                                <span>Edit</span>
                              </button>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="row">
                            <td class="col-md-3">
                              Duration :
                            </td>
                            <td class="col-md-5">
                              {{ consideration.programDetails.duration }} weeks
                            </td>
                            <td class="col-md-4">&nbsp;</td>
                          </tr>

                          <tr class="row">
                            <td class="col-md-3">Start Date</td>

                            <td class="col-md-3">
                              {{ consideration.programDetails.startDate }}
                            </td>

                            <td class="col-md-3">End Date</td>

                            <td class="col-md-3">
                              {{ getEndDate(consideration.programDetails.startDate, consideration.programDetails.duration)  }}
                            </td>
                          </tr>

                          <tr class="row">
                            <td class="col-md-3">Topics</td>

                            <td class="col-md-9">
                              <ul class="list-group">
                                <li *ngFor="let topic of consideration.programDetails.topics.split('\n')">{{ topic }}</li>
                              </ul>
                            </td>
                          </tr>

                          <tr class="row">
                            <td class="col-md-12">
                              <table class="table table-bordered">
                                <thead>
                                  <tr class="row">
                                    <th class="col-md-2">Symbol</th>
                                    <th class="col-md-4">Milestone</th>
                                    <th class="col-md-4">Completion Date</th>
                                    <th class="col-md-2">Status</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <ng-container *ngFor="let milestone of consideration.mileStones; let k = index; let l = last;">
                                    <tr class="row">
                                      <td class="col-md-2">{{ 'MS-' + (k + 1) }}</td>
                                      <td class="col-md-4">{{ milestone.title | titlecase }}</td>
                                      <td class="col-md-4">{{ milestone.date }}</td>
                                      <td class="col-md-2">{{ milestone.status ? milestone.status : 'PENDING' }}</td>
                                    </tr>

                                    <tr class="row" *ngIf="l">
                                      <td class="offset-8 col-md-2">
                                        <button disabled class="mtr-btn" (click)="withdrawRequest(consideration, i, j)">
                                          <span>Confirm</span>
                                        </button>
                                      </td>
                                      <td class="col-md-2">
                                        <button disabled class="mtr-btn" (click)="withdrawRequest(consideration, i, j)">
                                          <span>Reject</span>
                                        </button>
                                      </td>
                                    </tr>
                                  </ng-container>

                                  <tr class="row" *ngIf="consideration.mileStones.length === 0;">
                                    <td class="col-md-12 text-center">No milestone found</td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </td>
                  </tr>

                  <tr class="row">
                    <td class="col-md-12">
                      <table class="table no-border">
                        <thead>
                          <tr class="row">
                            <th class="col-md-12">
                              <h5 class="f-title">Update Milestone Status</h5>
                            </th>
                          </tr>
                        </thead>

                        <tbody>
                          <ng-container *ngFor="let milestone of consideration.mileStones;let x = index;">
                            <tr class="row">
                              <td class="col-md-6">Milestone MS-{{ x + 1 }}:</td>
                              <td class="col-md-6">{{ milestone.title }}</td>
                            </tr>

                            <tr class="row">
                              <td class="col-md-6">Completion Date:</td>
                              <td class="col-md-6">{{ milestone.date }}</td>
                            </tr>

                            <tr class="row">
                              <td class="col-md-12">Please Provide Feedback -</td>
                            </tr>

                            <tr class="row">
                              <td class="col-md-10">Is Milestone MS-{{ x + 1 }} {{ milestone.title }} complete? </td>
                              <td class="col-md-2">
                                <select class="form-control">
                                  <option [value]="YES">Yes</option>
                                  <option [value]="NO">No</option>
                                </select>
                              </td>
                            </tr>

                            <tr class="row">
                              <td class="col-md-12">Meeting Status</td>
                            </tr>

                            <tr class="row">
                              <td class="col-md-4">Meeting</td>
                              <td class="col-md-4">Conducted</td>
                              <td class="col-md-4">Attended by Mentee</td>
                            </tr>

                            <tr class="row">
                              <td class="col-md-4">
                                Segment Initiation -
                              </td>
                              <td class="col-md-4">
                                <select class="form-control">
                                  <option [value]="YES">Yes</option>
                                  <option [value]="NO">No</option>
                                </select>
                              </td>
                              <td class="col-md-4">
                                <select class="form-control">
                                  <option [value]="YES">Yes</option>
                                  <option [value]="NO">No</option>
                                </select>
                              </td>
                            </tr>

                            <tr class="row">
                              <td class="col-md-4">
                                Progress Meeting -
                              </td>
                              <td class="col-md-4">
                                <select class="form-control">
                                  <option [value]="YES">Yes</option>
                                  <option [value]="NO">No</option>
                                </select>
                              </td>
                              <td class="col-md-4">
                                <select class="form-control">
                                  <option [value]="YES">Yes</option>
                                  <option [value]="NO">No</option>
                                </select>
                              </td>
                            </tr>

                            <tr class="row">
                              <td class="col-md-12">How do you rate mentee performance for this segment?</td>
                            </tr>

                            <tr class="row">
                              <td class="col-md-1">
                                <select class="form-control">
                                  <option [value]="1">1</option>
                                  <option [value]="2">2</option>
                                  <option [value]="3">3</option>
                                  <option [value]="4">4</option>
                                  <option [value]="5">5</option>
                                </select>
                              </td>
                            </tr>

                            <tr class="row">
                              <td class="col-md-4">
                                <div class="row">
                                  <div class="col-md-6">
                                    <button disabled type="button" class="mtr-btn">
                                      <span>Save</span>
                                    </button>
                                  </div>

                                  <div class="col-md-6">
                                    <button disabled type="reset" class="mtr-btn">
                                      <span>Cancel</span>
                                    </button>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </ng-container>
                        </tbody>
                      </table>
                    </td>
                  </tr>

                  <tr class="row">
                    <td class="col-md-12">
                      <h5 class="f-title">Progress Status</h5>
                    </td>
                  </tr>

                  <tr class="row">
                    <td class="col-md-12">
                      <h5 class="f-title">Current Segment</h5>
                    </td>
                  </tr>

                  <tr class="row">
                    <td class="col-md-12">
                      <table class="table no-border">
                        <thead>
                          <tr class="row">
                            <th class="col-md-12">
                              <h5 class="f-title">Planned Meetings</h5>
                            </th>
                          </tr>
                        </thead>

                        <tbody>
                          <tr class="row">
                            <td class="col-md-6">Segment Initiation:</td>
                            <td class="col-md-6"></td>
                          </tr>

                          <tr class="row">
                            <td class="col-md-6">Progress Meeting:</td>
                            <td class="col-md-6"></td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>

                  <tr class="row">
                    <td class="col-md-12">
                      <table class="table no-border">
                        <thead>
                          <tr class="row">
                            <th class="col-md-12">
                              <h5 class="f-title">Schedule a Meeting</h5>
                            </th>
                          </tr>
                        </thead>

                        <tbody>
                          <tr class="row">
                            <td class="col-md-12">Type - Progress Meeting</td>
                          </tr>

                          <tr class="row">
                            <td class="col-md-6">
                              <label for="date">Date</label>
                              <input type="date" />
                            </td>
                            <td class="col-md-6">
                              <label for="time">Time</label>
                              <input type="time" />
                            </td>
                          </tr>

                          <tr class="row">
                            <td class="col-md-12">
                              <label for="agenda" class="form-control">Agenda:</label>
                              <textarea class="form-control" rows="3"></textarea>
                            </td>
                          </tr>

                          <tr class="row">
                            <td class="offset-10 col-md-2">
                              <button disabled class="mtr-btn" (click)="withdrawRequest(consideration, i, j)">
                                <span>Schedule</span>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>

            <table *ngIf="currentMentorshipRequests.length === 0">
              <tbody>
                <tr class="row">
                  <td class="col-md-12 text-center">
                    <p>No mentorship requests in progress</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-container>
        </div>
      </div>
    </section>
  </div>
