<section id="admin-dashboard">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="card text-center">
        <h5 class="card-header">User Management</h5>
        <div class="card-body">
          <h5 class="card-title"><i class="fa fa-5x fa-user" aria-hidden="true"></i></h5>
          <p class="card-text">View List of Users</p>
          <button class="mtr-btn" (click)="navigateToScreen('users')">
              <span>View Users</span>
          </button> 
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="card text-center">
        <h5 class="card-header">Community Management</h5>
        <div class="card-body">
          <h5 class="card-title"><i class="fa fa-5x fa-users" aria-hidden="true"></i></h5>
          <p class="card-text">View List of Communities</p>
          <button class="mtr-btn" (click)="navigateToScreen('communities')">
              <span>View Community</span>
          </button> 
        </div>
      </div>
    </div>
  </div>
</section>