<div class="full-width">
  <form [formGroup]="addBlogForm" (submit)="addBlogForm.value.status = 'PUBLISHED'; addBlog()">
    <section id="new-blog-details">
      <div class="central-meta">
        <div class="editing-info">
          <h5 class="f-title">New Blog</h5>
          <table class="table no-border">
            <tbody>
              <tr class="row">
                <td class="col-md-6">
                  <label for="title" class="form-control">Title <sup class="text-danger">*</sup></label>
                </td>
                <td class="col-md-6">
                  <div class="text-right">
                    <button [disabled]="addBlogForm.invalid" type="button" class="mtr-btn" (click)="addBlogForm.value.status = 'DRAFT'; addBlog()">
                      <span>Save</span>
                    </button>
                    <button [disabled]="addBlogForm.invalid" type="submit" class="mtr-btn">
                      <span>Publish</span>
                    </button>
                    <button type="button" (click)="resetForm()" class="mtr-btn">
                      <span>Cancel</span>
                    </button>
                  </div>
                </td>
              </tr>
              <tr class="row" *ngIf="message">
                <td colspan="2" class="col-md-12 text-center">
                  <p [ngClass]="{ 'text-success': message.status, 'text-danger': !message.status }">{{ message.message }}</p>
                </td>
              </tr>
              <tr class="row">
                <td class="col-md-12">
                  <input id="title" type="text" class="form-control" formControlName="title" />
                </td>
              </tr>
              <tr class="row">
                <td class="col-md-12">
                  <textarea id="content" class="form-control" [ngxSummernote] formControlName="content" rows="20" cols="50"></textarea>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </form>
</div>
