<div class="row">
  <div class="col-md-7 detail-page bg-white">

    <div class="detail-meta" *ngIf="thread" >
      <div class="friend-info margin-sm">
        <figure>
          <img class="user-icon"
            src="{{ (thread && thread.author && thread.author.profileImage)? thread.author.profileImage  : 'assets/images/resources/user.jpg'}}"
            [alt]="thread.author.firstName" />
        </figure>
        <div class="friend-name">
          <ins>
            <a [routerLink]="['/main/profile/view/' + thread.author.username ]"
              routerLinkActive="router-link-active"
              [innerHTML]="thread.author.firstName + ' ' + thread.author.lastName"
              [title]="thread.author.firstName + ' ' + thread.author.lastName"></a>
          </ins>
          <span>Posted on {{ thread.started_on | momentDate | date : 'medium' }}</span>
        </div>
        <div class="pull-right text-center">
          <small>{{ 'Type: ' + thread.type }}</small>
        </div>
      </div>
      <h5>
        <a class="anchor-link colored" [innerHTML]="thread.content"></a>
      </h5>

      <div class="row margin-sm">
        <div class="col-md-6 text-left">
          <label class="thread-reactions anchor-link" (click)="thread.showCommentForm = !thread.showCommentForm">
            <i class="fa fa-pencil" aria-hidden="true"></i> {{ (thread.type === 'QA') ? 'Answer' : 'Comment' }}
          </label>
        </div>

        <div class="col-md-3 text-center">
          <label class="thread-reactions anchor-link">
            <i class="fa fa-share" aria-hidden="true"></i> Share
          </label>
        </div>

        <div class="col-md-3 text-right">
          <label class="thread-reactions anchor-link" (click)="threadReaction(thread, 'DOWNVOTE')">
            <i class="fa fa-arrow-down" aria-hidden="true"></i> Downvote <sup>{{ getVotesCount(thread, 'DOWNVOTE') }}</sup>
          </label>
        </div>
      </div>

      <div class="row margin-sm" *ngIf="thread.showCommentForm">
        <div class="col-md-12">
          <form [formGroup]="commentForm" (submit)="createComment()">
            <div class="row">
              <div class="col-md-12">
                <textarea placeholder="Post a comment" [ngxSummernote] formControlName="comment" rows="5" cols="10"></textarea>
              </div>
            </div>
            <div class="row margin-sm">
              <div class="col-md-6 text-left">
                <button [disabled]="commentForm.invalid" class="btn" type="submit">
                  <span>Post</span>
                </button>
              </div>

              <div class="col-md-6 text-right">
                <button class="btn" type="reset">
                  <span>Cancel</span>
                </button>
              </div>
            </div>

            <div class="row margin-sm" *ngIf="message">
              <div class="col-md-12 text-center">
                <p [ngClass]="{'text-danger': !message.status, 'text-success': message.status }">
                  {{ message.message }}
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="reply-form-border">
        <div class="answer">
          <h6>{{ (thread.comments && thread.comments.length) ? thread.comments.length : '0' }} {{ (thread.type === 'QA') ? 'Answers' : 'Comments' }}</h6>
        </div>
      </div>

      <ng-container *ngFor="let comment of thread.comments;">
        <div class="comment-wrapper">
          <div class="friend-info margin-sm">
            <figure>
              <img class="user-icon"
                src="{{ (comment.commenter && comment.commenter.profileImage)? comment.commenter.profileImage  : 'assets/images/resources/user.jpg'}}"
                [alt]="comment.commenter.firstName" />
            </figure>
            <div class="friend-name">
              <ins>
                <a [routerLink]="['/main/profile/view/' + comment.commenter.username ]"
                  routerLinkActive="router-link-active"
                  [title]="comment.commenter.firstName + ' ' + comment.commenter.lastName"
                  [innerHTML]="comment.commenter.firstName + ' ' + comment.commenter.lastName"></a>
              </ins>
              <span>Answered on {{ comment.commentedAt | momentDate | date : 'medium' }}</span>
            </div>
          </div>

          <div class="description">
            <div class="" [ngxSummernoteView]="comment.comment" [appExcerpt]="1" [contentType]="'html'"></div>
          </div>

          <div class="row margin-sm">
            <div class="col-md-3 text-left">
              <label class="thread-reactions anchor-link" (click)="commentReaction(comment, 'UPVOTE')">
                <i class="fa fa-arrow-up" aria-hidden="true"></i> Upvote <sup>{{ getVotesCount(comment, 'UPVOTE') }}</sup>
              </label>
            </div>

            <div class="col-md-3 text-center">
              <label class="thread-reactions anchor-link"
                (click)="comment.showReplies = !comment.showReplies">
                <i class="fa fa-comment" aria-hidden="true"></i> Replies
              </label>
            </div>

            <div class="col-md-3 text-center">
              <label class="thread-reactions anchor-link">
                <i class="fa fa-share" aria-hidden="true"></i> Share
              </label>
            </div>

            <div class="col-md-3 text-right">
              <label class="thread-reactions anchor-link" (click)="commentReaction(comment, 'DOWNVOTE')">
                <i class="fa fa-arrow-down" aria-hidden="true"></i> Downvote <sup>{{ getVotesCount(comment, 'DOWNVOTE') }}</sup>
              </label>
            </div>
          </div>

          <div class="row margin-sm" *ngIf="comment.reactionMessage">
            <div class="col-md-12 text-center">
              <p [ngClass]="{ 'text-success': comment.reactionMessage.status, 'text-danger': !comment.reactionMessage.status }">{{ comment.reactionMessage.message }}</p>
            </div>
          </div>

          <div class="replies-wrapper">
            <div class="reply-form-wrap">
              <div class="col-md-12">
                <form class="friend-info clearfix" [formGroup]="replyForm"
                  (submit)="createCommentReply(comment)">
                  <figure>
                    <img class="user-icon"
                      src="{{ user.profileImage ? user.profileImage  : 'assets/images/resources/user.jpg'}}"
                      [alt]="user.firstName + ' ' + user.lastName"
                      [title]="user.firstName + ' ' + user.lastName" />
                  </figure>
                  <div class="friend-name">
                    <ins>
                      <textarea placeholder="Post a reply" formControlName="comment" rows="1"></textarea>
                    </ins>
                  </div>
                  <button [disabled]="replyForm.invalid" class="btn pull-right text-center reply-button"
                    type="submit">
                    <span>Add Reply</span>
                  </button>
                </form>
              </div>
            </div>

            <div class="row margin-sm" *ngIf="comment.message">
              <div class="col-md-12 text-center">
                <p [ngClass]="{'text-danger': !comment.message.status, 'text-success': comment.message.status }">
                  {{ comment.message.message }}
                </p>
              </div>
            </div>

            <ng-container *ngIf="(comment.showReplies && comment.replies) then commentReplies else commentNoReplies"></ng-container>
          </div>

        </div>

        <ng-template #commentReplies>
          <ng-container *ngFor="let reply of comment.replies;">
            <div class="row margin-sm">
              <div class="col-md-12">
                <div class="friend-info margin-sm">
                  <figure>
                    <img class="user-icon"
                      src="{{ (reply.replier && reply.replier.profileImage)? reply.replier.profileImage  : 'assets/images/resources/user.jpg'}}"
                      [alt]="reply.replier.firstName + ' ' + reply.replier.lastName"
                      [title]="reply.replier.firstName + ' ' + reply.replier.lastName" />
                  </figure>
                  <div class="friend-name">
                    <ins>
                      <a [routerLink]="['/main/profile/view/' + reply.replier.username ]"
                        routerLinkActive="router-link-active"
                        [title]="reply.replier.firstName + ' ' + reply.replier.lastName"
                        [innerHTML]="reply.replier.firstName + ' ' + reply.replier.lastName"></a>
                    </ins>
                    <span>Replied on {{ reply.repliedAt | momentDate | date : 'medium' }}</span>
                  </div>
                </div>
                <span class="" [innerHTML]="reply.comment"></span>

                <div class="row margin-sm">
                  <!-- <div class="col-md-3 text-left">
                    <label class="thread-reactions anchor-link" (click)="commentReaction(comment, 'UPVOTE')">
                      <i class="fa fa-arrow-up" aria-hidden="true"></i> Upvote
                    </label>
                  </div> -->

                  <div class="col-md-3 text-left">
                    <label class="thread-reactions anchor-link"
                      (click)="reply.showReplyForm = !reply.showReplyForm;">
                      <i class="fa fa-reply" aria-hidden="true"></i> Reply
                    </label>
                  </div>

                  <!-- <div class="col-md-3 text-right">
                    <label class="thread-reactions anchor-link" (click)="commentReaction(comment, 'DOWNVOTE')">
                      <i class="fa fa-arrow-down" aria-hidden="true"></i> Downvote
                    </label>
                  </div> -->
                </div>

                <!-- <div class="row">
                  <div class="col-md-12">
                    <label class="thread-reactions anchor-link"
                      (click)="reply.showReplyForm = !reply.showReplyForm;">
                      <i class="fa fa-reply" aria-hidden="true"></i> Reply
                    </label>
                  </div>
                </div>-->

                <ng-container *ngIf="reply.showReplyForm">
                    <div class="row margin-sm">
                      <div class="col-md-12">
                        <form class="friend-info clearfix" [formGroup]="replyForm"
                          (submit)="createCommentReply(comment)">
                          <figure>
                            <img class="user-icon"
                              src="{{ user.profileImage ? user.profileImage  : 'assets/images/resources/user.jpg'}}"
                              [alt]="user.firstName + ' ' + user.lastName"
                              [title]="user.firstName + ' ' + user.lastName" />
                          </figure>
                          <div class="friend-name">
                            <ins>
                              <textarea placeholder="Post a reply" formControlName="comment" rows="1"></textarea>
                            </ins>
                          </div>
                          <button [disabled]="replyForm.invalid" class="btn pull-right text-center reply-button"
                            type="submit">
                            <span>Add Reply</span>
                          </button>
                        </form>
                      </div>
                    </div>
                </ng-container>

              </div>
            </div>
          </ng-container>
        </ng-template>

        <ng-template #commentNoReplies>
          <div class="row" *ngIf="comment.showReplies">
            <div class="col-md-12 text-center">
              <p>There are no replies to this comment</p>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </div>
</div>

<div class="col-md-5 detail-page bg-white">
  <app-related-threads></app-related-threads>
</div>

</div>
