.detail-page > .detail-meta {
  padding: 0px 15px;
  margin-top: 30px;
}

.post-commenter {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.friend-info {
  margin-bottom: 8px;
}

.friend-info > figure {
  width: auto;
}
.friend-info .friend-name {
  width: 80%;
}
.friend-info>figure {
  width: auto;
}

.friend-info> figure > img {
  width: 48px !important;
  height: 48px !important;
}

.thread-reactions {
  font-size: 16px;
  display: inline-flex;
  align-items: baseline !important;
  padding: 10px;
  border-radius: 32px;
}

.thread-reactions:hover {
  background: rgba(0,0,0,0.03);
}

.thread-reactions > i {
  margin-right: 15px;
}

.margin-sm {
  margin-top: 8px;
  margin-bottom: 8px;
}

.description {
  float: none;
  overflow: auto;
}

.reply-button {
  width: 100px;
  border-radius: 20px;
}

form.friend-info > div.friend-name {
  width: calc(100% - 148px);
  padding: 0px 15px;
}

form.friend-info > div.friend-name textarea {
  border-radius: 20px;
  font-size: 14px;
}

.replies-wrapper .reply-form-wrap {
  padding: 15px 0px;
}

.reply-form-border {
  padding: 15px 0px;
  border-top: 1px solid #dee0e1;
  border-bottom: 1px solid #dee0e1;
}

.replies-wrapper {
  background: rgba(0,0,0,0.03);
  padding: 15px 0px 0px;
  border: 1px solid #dee0e1;
  margin: 0px 0px 30px;
}

.replies-wrapper > .row.margin-sm {
  padding: 15px 15px;
  margin: 0px 0px;
  border-top: 1px solid rgba(0,0,0,0.1);
}