<div class="full-width">
  <div class="modal-wrap">
    <div class="modal-overlay" (click)="toggleForm(false)"></div>
    <div class="modal-content">
      <form [formGroup]="mentorshipForm" (ngSubmit)="requestMentorship()">
            <section id="search-members">
              <div class="central-meta">
                <div class="editing-info">
                  <h5 class="f-title">Request Mentorship Page</h5>
                  <a class="pull-right close-modal" (click)="toggleForm(false)">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </a>
                  <table class="table no-border">
                    <tbody>
                      <tr class="row">
                        <td class="col-md-12">
                          <div class="row">
                            <div class="col-md-12">
                              <label for="mentorName" class="form-control">Mentor: {{ mentor.firstName + ' ' + mentor.lastName + '(' + mentor.username + ')' }}</label>
                            </div>
                          </div>
                        </td>
                      </tr>

                      <tr class="row">
                        <td class="col-md-12">
                          <div class="row">
                            <div class="col-md-12">
                              <label for="mentorStatus" class="form-control">Status: {{ mentor.communityUserDetails.availableFlag? 'Available' : 'Unavailable' }}</label>
                            </div>
                          </div>
                        </td>
                      </tr>

                      <tr class="row">
                        <td class="col-md-12">
                          <div class="row">
                            <div class="col-md-12">
                              <label for="mentoringTopics" class="form-control">Mention Topics for Mentoring:</label>
                              <br />
                              <textarea cols="50" row="10" formControlName="topics"></textarea>
                            </div>
                          </div>
                        </td>
                      </tr>

                      <tr class="row">
                        <td class="col-md-12">
                          <div class="row">
                            <div class="col-md-12">
                              <label for="duration">Duration:&nbsp;</label>
                              <select formControlName="duration">
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                              </select> Weeks
                            </div>
                          </div>
                        </td>
                      </tr>

                      <tr class="row">
                        <td class="col-md-12">
                          <div class="row">
                            <div class="col-md-12">
                              <label for="startDate">Start From:&nbsp;</label>
                              <input type="date" formControlName="startDate" [min]="getMinDate()"/>
                            </div>
                          </div>
                        </td>
                      </tr>

                      <tr class="row">
                        <td class="col-md-12">
                          <div class="row">
                            <div class="col-md-12">
                                <label for="additional-info">Additional Information:</label>
                                <br />
                                <textarea for="additional-info" cols="50" row="10" formControlName="additionalInfo"></textarea>
                            </div>
                          </div>
                        </td>
                      </tr>



                      <tr class="row">
                        <td class="col-md-12">
                          <div class="row">
                            <div class="col-md-12">
                                <div class="clearfix">
                                  <div class="pull-left">
                                    <button type="reset" class="mtr-btn">
                                      <span>Cancel</span>
                                    </button>
                                  </div>

                                  <div class="pull-right">
                                    <button [disabled]="mentorshipForm.invalid" type="submit" class="mtr-btn">
                                      <span>Request Mentorship</span>
                                    </button>
                                  </div>
                                </div>
                            </div>
                          </div>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </section>
          </form>
    </div>
  </div>
</div>
