<article>
  <div class="full-width">
    <div class="row">
      <div class="col-lg-12">
        <div class="row" id="page-contents">
          <div class="col-lg-12 col-md-12 bg-white">
            <div class="theme-layout">
              <div class="topbar stick roletune-page-title">
                <div>
                  <h4 class="text-white pt-2">Join Now</h4>
                </div>
              </div>
              <div class="container">
                <div class="row merged">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="login-reg-bg">
                      <div class="log-reg-area sign">
                        <h2 class="log-title"></h2>
                        <div class="mesages-lists">
                          <form [formGroup]="registerForm" class="register-form" (ngSubmit)="register()">
                            <div class="form-control">
                              <div class="row">
                                <div class="col-md-2">
                                  <label class="control-label" for="input">Name <sup class="text-danger">*</sup></label><i class="mtrl-select"></i>
                                </div>
                                <div class="col-md-3">
                                  <input autocomplete="new-password" type="text" placeholder="First Name" formControlName="firstName" (input)="submitted = false; message = null;" (blur)="setUsername()" />
                                </div>
                                <div class="col-md-3">
                                  <input autocomplete="new-password" type="text" placeholder="Middle Name" formControlName="middleName" (input)="submitted = false; message = null;" (blur)="setUsername()" />
                                </div>
                                <div class="col-md-3">
                                  <input autocomplete="new-password" type="text" placeholder="Last Name" formControlName="lastName" (input)="submitted = false; message = null;" (blur)="setUsername()" />
                                </div>
                              </div>
                            </div>
                            <div class="form-control">
                              <div class="row">
                                <div class="col-md-12">
                                  <ng-container *ngIf="firstName.invalid && submitted" class="alert alert-danger">
                                    <p class="text-danger" *ngIf="firstName.errors.required">First Name is required.</p>
                                    <p class="text-danger" *ngIf="firstName.errors.minlength">First Name must be at least 2 characters long.</p>
                                  </ng-container>

                                  <ng-container *ngIf="lastName.invalid && submitted" class="alert alert-danger">
                                    <p class="text-danger" *ngIf="lastName.errors.required">Last Name is required.</p>
                                    <p class="text-danger" *ngIf="lastName.errors.minlength">Last Name must be at least 3 characters long.</p>
                                  </ng-container>
                                </div>
                              </div>
                            </div>
                            <div class="form-control">
                              <div class="row">
                                <div class="col-md-2">
                                  <label class="control-label" for="input">Date of Birth</label><i class="mtrl-select"></i>
                                </div>
                                <div class="col-md-4">
                                  <input autocomplete="new-password" type="text" placeholder="Date of Birth (dd/mm/yyyy)" formControlName="dateOfBirth" (input)="submitted = false; checkDateValidator()" />
                                </div>
                                <div class="col-md-1">
                                  <label class="control-label" for="input">Location</label><i class="mtrl-select"></i>
                                </div>
                                <div class="col-md-4">
                                  <input list="locations" autocomplete="new-password" type="text" placeholder="Enter your location" formControlName="location" (input)="submitted = false; message = null;" />
                                  <datalist id="locations">
                                    <option *ngFor="let location of locations;" [ngValue]="location">{{location}}</option>
                                  </datalist>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-12">
                                  <ng-container *ngIf="dateOfBirth.invalid && submitted" class="alert alert-danger">
                                    <p class="text-danger" *ngIf="dateOfBirth.errors.pattern">Date of birth should be in DD/MM/YYYY format</p>
                                  </ng-container>
                                </div>
                              </div>
                            </div>
                            <div class="form-control">
                              <div class="form-radio">
                                <div class="row">
                                  <div class="col-md-2">
                                    <label id="gender-label" class="control-label" for="input">Gender</label>
                                  </div>
                                  <div class="col-md-2">
                                    <div class="radio">
                                      <label>
                                        <input autocomplete="new-password" type="radio" name="gender" formControlName="gender" value="male" /><i class="check-box"></i><span
                                          style="font-size: 15px;">Male</span>
                                      </label>
                                    </div>
                                  </div>
                                  <div class="col-md-2">
                                    <div class="radio">
                                      <label>
                                        <input autocomplete="new-password" type="radio" name="gender" formControlName="gender" value="female" /><i class="check-box"></i><span
                                          style="font-size: 15px;">Female</span>
                                      </label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="form-control">
                              <div class="row">
                                <div class="col-md-2">
                                  <label class="control-label" for="input">Username <sup class="text-danger">*</sup></label><i class="mtrl-select"></i>
                                </div>
                                <div class="col-md-4">
                                  <input autocomplete="new-password" type="text" placeholder="Username" formControlName="username" (input)="submitted = false; usernameVerified = true; usernameTaken = false;"/>
                                </div>
                                <div class="col-md-4">
                                  <label class="control-label" for="input" [ngClass]="{ 'disabled': registerForm.get('username').invalid }">
                                    <a (click)="checkUsernameAvailability()"><u>Check Availability</u></a>
                                  </label><i class="mtrl-select"></i>
                                </div>
                              </div>
                            </div>
                          <div class="form-control">
                              <div class="row">
                                <div class="col-md-12" *ngIf="!(usernameVerified || usernameTaken) && submitted">
                                  <p class="text-danger" *ngIf="username.value && (username.value.length <= 20) && (username.value.length >= 4)">Verify the Username</p>
                                  <p class="text-danger" *ngIf="username.invalid && username.errors.maxlength">Username can be at most 20 characters long</p>
                                  <p class="text-danger" *ngIf="username.invalid && username.errors.minlength">Username must be at least 4 characters long.</p>
                                  <p class="text-danger" *ngIf="username.invalid && username.errors.required">Username is required.</p>
                                </div>
                                <div class="col-md-12" *ngIf="usernameTaken && username.value">
                                  <p class="text-danger">Username is not available</p>
                                </div>
                                <div class="col-md-12" *ngIf="usernameVerified && username.value">
                                  <p class="text-success">Username is available</p>
                                </div>
                              </div>
                            </div>
                            <div class="form-control">
                              <div class="row">
                                <div class="col-md-2">
                                  <label class="control-label" for="input">Password <sup class="text-danger">*</sup></label><i class="mtrl-select"></i>
                                </div>
                                <div class="col-md-4">
                                  <input autocomplete="new-password" type="password" placeholder="Password" formControlName="password" (input)="submitted = false; message = null;" />
                                </div>
                                <div class="col-md-1">
                                  <label class="control-label" for="input">Retype Password</label><i class="mtrl-select"></i>
                                </div>
                                <div class="col-md-4">
                                  <input autocomplete="new-password" type="password" placeholder="Confirm Password" formControlName="confirmPassword" (input)="submitted = false; message = null;" />
                                </div>
                              </div>
                            </div>
                            <div class="form-control">
                              <div class="row">
                                <div class="col-md-12">
                                  <ng-container *ngIf="password.invalid && submitted" class="alert alert-danger">
                                    <p class="text-danger" *ngIf="password.errors.required">Password is required.</p>
                                    <p class="text-danger" *ngIf="password.errors.minlength">Password should contain atleast 8 character</p>
                                    <p class="text-danger" *ngIf="password.errors.pattern">Password should contain atleast 1 lowercase character, 1 uppercase character, 1 alphanumeric character and a special character</p>
                                  </ng-container>

                                  <ng-container *ngIf="submitted && (registerForm.value.password !== registerForm.value.confirmPassword)" class="alert alert-danger">
                                    <p class="text-danger">Passwords do not match</p>
                                  </ng-container>
                                </div>
                              </div>
                            </div>
                            <div class="form-control">
                              <div class="row">
                                <div class="col-md-2">
                                  <label class="control-label" for="input">Email <sup class="text-danger">*</sup></label><i class="mtrl-select"></i>
                                </div>
                                <div class="col-md-4">
                                  <input autocomplete="new-password" type="email" placeholder="Email" formControlName="email" (input)="submitted = false; message = null;" />
                                </div>
                              </div>
                            </div>
                            <div class="form-control">
                              <div class="row">
                                <div class="col-md-12">
                                  <ng-container *ngIf="email.invalid && submitted" class="alert alert-danger">
                                    <p class="text-danger" *ngIf="email.errors.required">Email is required.</p>
                                    <p class="text-danger" *ngIf="email.errors.email">Email format is not in valid</p>
                                    <p class="text-danger" *ngIf="email.errors.invalid">Email is not valid</p>
                                  </ng-container>
                                </div>
                              </div>
                            </div>

                            <div class="form-control">
                              <div class="row">
                                <div class="col-md-2">
                                  <label class="control-label" for="input">Mobile</label><i class="mtrl-select"></i>
                                </div>
                                <div class="col-md-1">
                                  <select class="control-label" formControlName="stdCode">
                                    <option value="+91">+91</option>
                                  </select>
                                </div>
                                <div class="col-md-3">
                                  <input autocomplete="new-password" type="text" placeholder="Mobile Number" formControlName="phone" title="Verify your mobile number for availing added features" (input)="submitted = false; message = null;" />
                                </div>
                                <div class="col-md-3">
                                  <label class="control-label" for="input" (click)="verifyMobileNumber()" [ngClass]="{ 'disabled': !registerForm.get('phone').value || (registerForm.get('phone').value.length < 10)  }">
                                    <u>Verify</u>
                                  </label>
                                </div>
                              </div>
                            </div>

                            <div class="form-control">
                              <div class="row">
                                <div class="col-md-12">
                                  <ng-container *ngIf="phone.invalid && (phone.dirty || phone.touched) && (twoFactorAuth.value === true) && submitted" class="alert alert-danger">
                                    <p class="text-danger" *ngIf="phone.errors.required">Phone is required.</p>
                                    <p class="text-danger" *ngIf="phone.errors.pattern">Phone format is not in valid</p>
                                    <p class="text-danger" *ngIf="phone.errors.min || phone.errors.max">Phone is not valid</p>
                                  </ng-container>
                                </div>
                              </div>
                            </div>

                            <div class="form-control" *ngIf="showTwoFactorForm" >
                              <div class="row">
                                <div class="col-md-2">
                                  <label class="control-label" for="otp">Enter OTP</label>
                                </div>
                                <div class="col-md-4">
                                  <input autocomplete="new-password" type="text" placeholder="Enter OTP" formControlName="otp" (input)="submitted = false; message = null;" />
                                </div>
                                <div class="col-md-3">
                                  <label class="control-label" for="input" (click)="verifyMobileNumber()"><u>Resend OTP</u></label>
                                </div>
                              </div>
                              <div class="row">
                                <div class="offset-1 col-md-9">
                                  <div class="checkbox">
                                    <label>
                                      <input autocomplete="new-password" type="checkbox" formControlName="twoFactorAuth" /><i class="check-box"></i>
                                    </label>
                                  </div>
                                  <div class="terms-of">
                                    <label style="font-size:16px;">I would like to opt for two factor auth</label>
                                  </div>
                                </div>
                              </div>

                            </div>

                            <br>
                            <div class="form-control">
                              <div class="row">
                                <div class="offset-2 col-md-10">
                                  <div class="checkbox">
                                    <label>
                                      <input autocomplete="new-password" type="checkbox" formControlName="termsAndConditions" /><i class="check-box"></i>
                                    </label>
                                  </div>
                                  <div class="terms-of">
                                    <span class="terms-text">By clicking signup, you agree to the Roletune <a>User Agreement</a>, <a>Privacy Policy</a>
                                    and
                                    <a>Cookie Policy</a>.</span>
                                  </div>
                                </div>
                              </div>
                              <div class="row" *ngIf="submitted && !registerForm.value.termsAndConditions">
                                <div class="offset-2 col-md-10">
                                  <p class="text-danger">You need to agree to the terms and conditions</p>
                                </div>
                              </div>
                            </div>

                            <div class="form-control">

                              <div class="row">
                                <div class="offset-2 col-md-3">
                                  <div class="submit-btns">
                                    <button class="mtr-btn signup" type="submit">
                                      <span>Sign Up</span>
                                    </button>
                                  </div>
                                </div>
                                <div class="col-md-3">
                                  <div class="submit-btns">
                                    <button class="mtr-btn signup" type="button" (click)="resetForm()"><span>Cancel</span></button>
                                  </div>
                                </div>

                                <div class="col-md-4">
                                  <div class="submit-btns">
                                    <a routerLink="/auth/login" title="">
                                      <span>Already have an account</span>
                                    </a>
                                  </div>
                                </div>
                              </div>

                            </div>

                            <div class="form-control">

                              <div class="row" *ngIf="message">
                                <div class="offset-1 col-md-11">
                                  <div class="submit-btns">
                                    <p [ngClass]="{ 'text-danger': !message.status, 'text-success': message.status }">{{ message.message }}</p>
                                  </div>
                                </div>
                              </div>

                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>

