.mesages-lists>form select {
 background: #f5f5f5 none repeat scroll 0 0;
    border: 0px solid #dadede;
    color: #7b7b7b;
    padding: 11px 5px;
}

.checkbox .check-box {
  padding: 7px;
    margin-top: 3px;
  }

u:hover {
  cursor: pointer;
}

#gender-label {
  padding-left: 0px;
  font-size: 1rem;
  line-height: 1.5;
  color: #000;
}

.theme-layout {
  background: #f6f6f6;
}

/* code added by Tanya */

.mesages-lists>form input {
      background: #f5f5f5 none repeat scroll 0 0;
    border: 0px solid #dadede;
    color: #7b7b7b;
    float: left;
    font-size: 15px;
    padding: 13px 16px;
    width: 100%;
}

.terms-of {
    margin-left: 2%;
}

.form-control {
  margin-bottom: 10px;
}

.disabled,
.disabled u,
.disabled u:hover {
  cursor: not-allowed;
}
