<div class="full-width">
  <section id="blog-list">
    <div class="central-meta">
      <div class="editing-info">
        <h5 class="f-title">Threads</h5>
        <span class="pull-right">
          Search: <input id="keyword" type="text" (keydown)="searchThread($event.target.value)" placeholder="Keyword" />
        </span>
        <div class="blog-sec right-pading" *ngIf="threads">
          <div *ngFor="let thread of threads | filterList : threadFilter; let i = index;">
            <div class="central-meta d-inline-block item">
              <div class="user-post">
                <ng-container *ngIf="(thread.comments && thread.comments.length) then comments else nocomments">
                </ng-container>

                <ng-template #comments>
                  <ng-container *ngFor="let comment of thread.comments | slice: 0 : 1">
                    <div class="friend-info margin-sm">
                      <figure>
                        <img class="user-icon"
                          src="{{ (comment.commenter && comment.commenter.profileImage)? comment.commenter.profileImage  : 'assets/images/resources/user.jpg'}}"
                          [alt]="comment.commenter.firstName" />
                      </figure>
                      <div class="friend-name">
                        <ins>
                          <a [routerLink]="['/main/profile/view/' + comment.commenter.username ]"
                            routerLinkActive="router-link-active"
                            [title]="comment.commenter.firstName + ' ' + comment.commenter.lastName"
                            [innerHTML]="comment.commenter.firstName + ' ' + comment.commenter.lastName"></a>
                        </ins>
                        <span>Answered on {{ comment.commentedAt | momentDate | date : 'medium' }}</span>
                      </div>
                      <div class="close-icon pull-right text-center">
                        <a class="fa fa-2x anchor-link rotate-45" (click)="hideThread(i)">+</a>
                      </div>
                    </div>
                    <h5>
                      <a class="anchor-link colored" (click)="openThread(thread)" [innerHTML]="thread.content"></a>
                    </h5>
                    <div class="description">
                      <div class="" [ngxSummernoteView]="comment.comment" [appExcerpt]="1" [contentType]="'html'"></div>
                    </div>

                    <div class="row margin-sm">
                      <div class="col-md-3 text-left">
                        <label class="thread-reactions anchor-link" (click)="commentReaction(comment, 'UPVOTE')">
                          <i class="fa fa-arrow-up" aria-hidden="true"></i> Upvote <sup>{{ getCommentVotes(comment, 'UPVOTE') }}</sup>
                        </label>
                      </div>

                      <div class="col-md-3 text-center">
                        <label class="thread-reactions anchor-link"
                          (click)="comment.showReplies = !comment.showReplies;">
                          <i class="fa fa-comment" aria-hidden="true"></i> Replies
                        </label>
                      </div>

                      <div class="col-md-3 text-center">
                        <label class="thread-reactions anchor-link">
                          <i class="fa fa-share" aria-hidden="true"></i> Share
                        </label>
                      </div>

                      <div class="col-md-3 text-right">
                        <label class="thread-reactions anchor-link" (click)="commentReaction(comment, 'DOWNVOTE')">
                          <i class="fa fa-arrow-down" aria-hidden="true"></i> Downvote <sup>{{ getCommentVotes(comment, 'DOWNVOTE') }}</sup>
                        </label>
                      </div>
                    </div>

                    <div class="row margin-sm" *ngIf="comment.reactionMessage">
                      <div class="col-md-12 text-center">
                        <p [ngClass]="{ 'text-success': comment.reactionMessage.status, 'text-danger': !comment.reactionMessage.status }">{{ comment.reactionMessage.message }}</p>
                      </div>
                    </div>

                    <ng-container *ngIf="comment.showReplies then replyFormTemplate"></ng-container>


                    <ng-template #replyFormTemplate>
                      <div class="row margin-sm reply-form-border">
                        <div class="col-md-12">
                          <form class="friend-info clearfix" [formGroup]="replyForm"
                            (submit)="createCommentReply(comment)">
                            <figure>
                              <img class="user-icon"
                                src="{{ user.profileImage ? user.profileImage  : 'assets/images/resources/user.jpg'}}"
                                [alt]="user.firstName + ' ' + user.lastName"
                                [title]="user.firstName + ' ' + user.lastName" />
                            </figure>
                            <div class="friend-name">
                              <ins>
                                <textarea placeholder="Post a reply" formControlName="comment" rows="1"></textarea>
                              </ins>
                            </div>
                            <button [disabled]="replyForm.invalid" class="btn pull-right text-center reply-button"
                              type="submit">
                              <span>Add Reply</span>
                            </button>
                          </form>
                        </div>

                        <div class="col-md-12 text-center" *ngIf="comment.message">
                          <p [ngClass]="{ 'text-success': comment.message.status, 'text-danger': !comment.message.status }">{{ comment.message.message }}</p>
                        </div>
                      </div>
                    </ng-template>

                    <ng-container *ngIf="(comment.showReplies && comment.replies) then commentReplies else commentNoReplies"></ng-container>

                    <ng-template #commentReplies>
                      <ng-container *ngFor="let reply of comment.replies;">
                        <div class="row margin-sm">
                          <div class="col-md-12">
                            <div class="friend-info margin-sm">
                              <figure>
                                <img class="user-icon"
                                  src="{{ (reply.replier && reply.replier.profileImage)? reply.replier.profileImage  : 'assets/images/resources/user.jpg'}}"
                                  [alt]="reply.replier.firstName + ' ' + reply.replier.lastName"
                                  [title]="reply.replier.firstName + ' ' + reply.replier.lastName" />
                              </figure>
                              <div class="friend-name">
                                <ins>
                                  <a [routerLink]="['/main/profile/view/' + reply.replier.username ]"
                                    routerLinkActive="router-link-active"
                                    [title]="reply.replier.firstName + ' ' + reply.replier.lastName"
                                    [innerHTML]="reply.replier.firstName + ' ' + reply.replier.lastName"></a>
                                </ins>
                                <span>Replied on {{ reply.repliedAt | momentDate | date : 'medium' }}</span>
                              </div>
                            </div>
                            <span class="anchor-link" [innerHTML]="reply.comment"></span>

                            <div class="row">
                              <div class="col-md-12">
                                <label class="thread-reactions anchor-link"
                                  (click)="reply.showReplyForm = !reply.showReplyForm;">
                                  <i class="fa fa-reply" aria-hidden="true"></i> Reply
                                </label>
                              </div>
                            </div>

                            <ng-container *ngIf="reply.showReplyForm then replyFormTemplate"></ng-container>

                          </div>
                        </div>
                      </ng-container>
                    </ng-template>

                    <ng-template #commentNoReplies>
                      <div class="row" *ngIf="thread.showComments">
                        <div class="col-md-12 text-center">
                          <p>There are no replies to this comment</p>
                        </div>
                      </div>
                    </ng-template>
                  </ng-container>
                </ng-template>

                <ng-template #nocomments>
                  <div class="friend-info margin-sm">
                    <figure>
                      <img class="user-icon"
                        src="{{ (thread && thread.author && thread.author.profileImage)? thread.author.profileImage  : 'assets/images/resources/user.jpg'}}"
                        [alt]="thread.author.firstName" />
                    </figure>
                    <div class="friend-name">
                      <ins>
                        <a [routerLink]="['/main/profile/view/' + thread.author.firstName ]"
                          routerLinkActive="router-link-active"
                          [innerHTML]="thread.author.firstName + ' ' + thread.author.lastName"
                          [title]="thread.author.firstName + ' ' + thread.author.lastName"></a>
                      </ins>
                      <span>Published on {{ thread.started_on | momentDate | date : 'medium' }}</span>
                    </div>
                    <div class="close-icon pull-right text-center">
                      <a class="fa fa-2x anchor-link rotate-45" (click)="hideThread(i)">+</a>
                    </div>
                  </div>
                  <h5>
                    <a class="anchor-link colored" (click)="openThread(thread)" [innerHTML]="thread.content"></a>
                  </h5>
                </ng-template>
              </div>
            </div>
          </div>

          <div *ngIf="!config.loading && (threads | filterList : threadFilter).length === 0">
            <div class="central-meta text-center">
              <h4>No Threads Found</h4>
            </div>
          </div>

          <div class="bg-white text-center" *ngIf="message">
            <p [ngClass]="{ 'text-success': message.status, 'text-danger': !message.status }">{{ message.message }}</p>
          </div>

          <div *ngIf="config && config.loadMore">
            <div class="text-center" (click)="pageNumber = pageNumber + 1; loadThreads();">
              <i class="fa fa-spinner fa-2x fa-fw margin-bottom anchor-link"
                [ngClass]="{'fa-spin': config.loading }"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>