.l-post > .l-post-meta {
  width: 100%;
  padding: 20px 15px;
}

.friend-info>figure {
  width: auto;
}

.friend-info> figure > img {
  width: 48px !important;
  height: 48px !important;
}

.thread-reactions {
  font-size: 16px;
  display: inline-flex;
  align-items: baseline !important;
  padding: 10px;
  border-radius: 32px;
}

.thread-reactions:hover {
  background: rgba(0,0,0,0.03);
}

.thread-reactions > i {
  margin-right: 15px;
}

.margin-sm {
  margin-top: 8px;
  margin-bottom: 8px;
}

.description {
  float: none;
  overflow: auto;
}

.reply-button {
  width: 100px;
  border-radius: 20px;
}

form.friend-info > div.friend-name {
  width: calc(100% - 148px);
  padding: 0px 15px;
}

form.friend-info > div.friend-name textarea {
  border-radius: 20px;
  font-size: 14px;
}

.reply-form-border {
  padding: 1.5% 0%;
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
}