<div class="community-trainings-table">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Topic</th>
        <th>Available Seats</th>
        <th>Date & Time</th>
        <th>Cost</th>
        <th>Offered By</th>
        <th>Duration</th>
        <th>Enroll Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td *ngIf="communityTrainings.length === 0" colspan="7" class="text-center">
          <p>No trainings available</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>