<div class="detail-page bg-white">

    <div class="detail-meta" *ngIf="blog" >
      <h2>{{ blog.title }}</h2>

      <div class="post-time clearfix">
        <div class="author-thumb">
          <span><a title="">{{ (blog.author && blog.author.firstName)? (blog.author.firstName + ' ' + blog.author.lastName) : '' }}</a></span>
        </div>
        <span class="post-date pull-right">
          Published on <a title="" href="#">{{ blog.published_on | momentDate | date : 'medium' }}</a>
        </span>
      </div>

      <div class="row">
        <div class="col-md-12" [ngxSummernoteView]="blog.content"></div>
      </div>

      <div class="gap-60">
        <div class="site-admin">
          <div class="row">
            <div class="col-md-2" (click)="blogReaction(blog, reactionTypes.upVote)">
              <i class="fa fa-arrow-up"></i>
              Upvote <sup>{{ getVotes(reactionTypes.upVote) }}</sup>
            </div>

            <div class="col-md-2 offset-2" (click)="blogReaction(blog, reactionTypes.share)">
              Share <i class="fa fa-share-alt"></i>
            </div>

            <div class="col-md-3 offset-1" (click)="blogReaction(blog, reactionTypes.downVote)">
              <i class="fa fa-arrow-down"></i>
              Downvote<sup>{{ getVotes(reactionTypes.downVote) }}</sup>
            </div>

            <div class="col-md-2 text-right">
              <i class="fa fa-ellipsis-h"></i>
              <ul class="d-none">
                <li (click)="blogReaction(blog, reactionTypes.save)">Save Post</li>
                <li (click)="blogReaction(blog, reactionTypes.hide)">Hide Post</li>
                <li (click)="blogReaction(blog, reactionTypes.bookmark)">Bookmark</li>
                <li (click)="blogReaction(blog, reactionTypes.report)">Report</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="gap-60">
        <div class="comment-area">
          <h4 class="comment-title">{{ (blog.comments && blog.comments.length) ? blog.comments.length : '0'}} comments </h4>
          <div class="coment-area">
              <ul class="we-comet">
                <ng-container  *ngIf="blog.comments && blog.comments.length">
                    <li *ngFor="let comment of blog.comments; let j = index;" >
                        <div class="comet-avatar" [title]="(comment.commenter.firstName + ' ' + comment.commenter.lastName)">
                          <!-- <img [src]="(comment.commenter && comment.commenter.profileImage) ? comment.commenter.profileImage : 'assets/images/resources/user.jpg'" alt=""> -->
                          <i class="fa fa-2x fa-user" aria-hidden="true"></i>
                        </div>
                        <div class="we-comment">
                          <div class="coment-head">
                            <h5>
                              <a [routerLink]="['/main/profile/view/' + comment.commenter.username]" title="">{{ comment.commenter.firstName + ' ' + comment.commenter.lastName }}</a>
                            </h5>
                            <span>{{ comment.commentedAt | momentDate | date : 'medium' }}</span>
                            <a class="we-reply" title="Reply" (click)="comment.showReplyForm = true">
                              <i class="fa fa-reply"></i>
                            </a>
                          </div>
                          <p>{{comment.comment}}</p>
                        </div>
                        <ul>
                          <ng-container *ngIf="comment.replies && comment.replies.length">
                            <li *ngFor="let reply of comment.replies; let k = index;" >
                              <div class="comet-avatar" [title]="(reply.replier.firstName + ' ' + reply.replier.lastName)">
                                <!-- <img [src]="(reply.replier && reply.replier.profileImage)? reply.replier.profileImage : 'assets/images/resources/user.jpg'" [alt]="reply.replier? (reply.replier.firstName + ' ' + reply.replier.lastName) : ''" [title]="reply.replier? (reply.replier.firstName + ' ' + reply.replier.lastName) : ''"/>-->
                                 <i class="fa fa-2x fa-user" aria-hidden="true"></i>
                              </div>
                              <div class="we-comment">
                                <div class="coment-head">
                                  <h5><a [routerLink]="['/main/profile/view/' + reply.replier.username]" title="">{{reply.replier.firstName + ' ' + reply.replier.lastName}}</a></h5>
                                  <span>{{reply.repliedAt | momentDate | date : 'medium' }}</span>
                                  <!-- <i class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a> -->
                                  <a class="we-reply" title="Reply" (click)="comment.showReplyForm = true">
                                    <i class="fa fa-reply"></i>
                                  </a>
                                </div>
                                <pre>{{ reply.comment }}</pre>
                              </div>
                            </li>
                          </ng-container>

                          <li *ngIf="comment.showReplyForm">
                            <form [formGroup]="replyForm" (submit)="createReply(j)">
                              <div class="row">
                                <div class="col-md-10">
                                  <input type="text" class="form-control" placeholder="Reply" formControlName="comment" />
                                </div>
                                <div class="col-md-2">
                                  <button [disabled]="replyForm.invalid" class="btn" type="submit">
                                    <span>Reply</span>
                                  </button>
                                </div>
                              </div>
                            </form>
                          </li>
                        </ul>
                      </li>
                </ng-container>
                <li class="post-comment">
                  <form [formGroup]="commentForm" (submit)="createComment()">
                    <div class="row">
                      <div class="col-md-1">
                        <img class="post-commenter" [src]="(user && user.profileImage)? user.profileImage : 'assets/images/resources/user.jpg'" alt="{{ user? (user.firstName + ' ' + user.lastName) : ''}}" title="{{user? (user.firstName + ' ' + user.lastName) : ''}}" />
                      </div>
                      <div class="col-md-9">
                        <textarea placeholder="Post a comment" formControlName="comment" rows="1"></textarea>
                      </div>
                      <div class="col-md-2">
                        <button [disabled]="commentForm.invalid" class="btn" type="submit">
                          <span>Post</span>
                        </button>
                      </div>
                    </div>
                  </form>
                </li>
              </ul>
            </div>
        </div>
      </div><!-- comments sec -->
    </div>
  </div>
