.detail-page > .detail-meta {
  padding: 0px 15px;
  margin-top: 30px;
}

.post-commenter {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.fa-ellipsis-h {
  width: 50%;
  height: 100%;
}

.col-md-2.text-right:hover ul.d-none {
  display: block !important;
}

.fa-ellipsis-h ~ ul.d-none {
  position: absolute;
  right: 10px;
  padding: 15px 15px;
  list-style: none;
  text-align: left;
  background: #ffffff;
  box-shadow: 5px 5px 5px 5px;
  border-radius: 5px;
}

.fa-ellipsis-h ~ ul.d-none > li {
  padding: 5px 5px;
}
