<div class="message-settings-wrap">
  <form [formGroup]="messageSettingsForm" (ngSubmit)="updateMessagSettings()">
    <section id="open-message-details">
        <div class="central-meta">
            <div class="editing-info">
              <h5 class="f-title">Open In</h5>
                <div class="form-radio">
                  <div class="radio">
                    <label>
                      <input type="radio" formControlName="openIn" value="H" /><i class="check-box"></i>
                      Open in Home Page
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" formControlName="openIn" value="W" /><i class="check-box"></i>
                      Open in New WebPage/ Window
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" formControlName="openIn" value="T" /><i class="check-box"></i>
                      Open in New Tab
                    </label>
                  </div>
                </div>
                <div class="submit-btns">
                  <button type="button" class="mtr-btn" (click)="updateMessagSettings('message-open')"><span>Save</span></button>
                </div>
                <div class="form-group" *ngIf="message && formSection === 'message-open'">
                  <p [ngClass]="{ 'text-danger': !message.status, 'text-success': message.status }">{{ message.message }}</p>
                </div>
            </div>
          </div>
    </section>

    <section id="delete-message-details">
        <div class="central-meta">
            <div class="editing-info">
              <h5 class="f-title">Deletion</h5>
                <div class="form-radio">
                  <div class="radio">
                    <label>
                      <input type="radio" formControlName="deletePermanently" value="false" /><i class="check-box"></i>
                      Move all Deleted messages to trash folder
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" formControlName="deletePermanently" value="true" /><i class="check-box"></i>
                      Do not send messages to trash folder and Permanently Delete
                    </label>
                  </div>
                </div>
                <div class="submit-btns">
                  <button type="button" class="mtr-btn" (click)="updateMessagSettings('message-delete')"><span>Save</span></button>
                </div>
                <div class="form-group" *ngIf="message && formSection === 'message-delete'">
                  <p [ngClass]="{ 'text-danger': !message.status, 'text-success': message.status }">{{ message.message }}</p>
                </div>
            </div>
          </div>
    </section>

    <section id="purge-message-details">
        <div class="central-meta">
            <div class="editing-info">
              <h5 class="f-title">Purging Option</h5>
                <div class="form-radio">
                  <div class="radio">
                    <label>
                      <input type="radio" formControlName="purge" value="false" /><i class="check-box"></i>
                      Never Purge Trash Folder
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" formControlName="purge" value="true" /><i class="check-box"></i>
                      Automatically Purge Trash Folder after &nbsp;
                      <select formControlName="purgeAfter">
                        <option [value]="1">1</option>
                        <option [value]="2">2</option>
                        <option [value]="3">3</option>
                        <option [value]="4">4</option>
                        <option [value]="5">5</option>
                        <option [value]="6">6</option>
                        <option [value]="7">7</option>
                        <option [value]="8">8</option>
                        <option [value]="9">9</option>
                        <option [value]="10">10</option>
                      </select> &nbsp;weeks
                    </label>
                  </div>
                </div>
                <div class="submit-btns">
                  <button type="button" class="mtr-btn" (click)="updateMessagSettings('message-purge')"><span>Save</span></button>
                </div>
                <div class="form-group" *ngIf="message && formSection === 'message-purge'">
                  <p [ngClass]="{ 'text-danger': !message.status, 'text-success': message.status }">{{ message.message }}</p>
                </div>
            </div>
          </div>
    </section>
  </form>
</div>
