<div class="full-width">
  <section id="blog-list">
    <div class="central-meta">
      <div class="editing-info">
        <h5 class="f-title">Blogs</h5>
        <span class="pull-right">
          Search: <input id="keyword" type="text" (input)="searchBlog($event.target.value)" placeholder="Keyword" />
        </span>
        <!-- <div class="blog-sec right-pading">
          <div class="l-post text-center" *ngIf="message">
            <p [ngClass]="{ 'text-success': message.status, 'text-danger': !message.status }">{{ message.message }}</p>
          </div>

          <div class="l-post" *ngFor="let blog of blogs | filterList : blogFilter; let i = index;">
            <div class="l-post-meta">
              <h4><a class="anchor-link" (click)="openBlogDetailsLink(blog)" routerLinkActive="router-link-active" title="{{ blog.title }}">{{ blog.title }}</a></h4>
              <div class="l-post-ranking clearfix">
                <a class="pdate pull-left" title="">Published on {{ blog.published_on | momentDate | date: "medium" }}</a>
                <a class="admin pull-right" title="">Author: {{ (blog.author && blog.author.firstName)? (blog.author.firstName + ' ' + blog.author.lastName) : '' }}</a>
              </div>
              <div *ngIf="blog.content" class="clearfix">
                <div class="" [ngxSummernoteView]="blog.content" [appExcerpt]="100" [contentType]="'text'"></div>
              </div>
              <div class="g-post-ranking">
                <a class="likes" title="Upvotes">Upvotes: {{ blog.upvotes }}</a>
              </div>
            </div>
          </div>

          <div class="l-post" *ngIf="(blogs | filterList : blogFilter).length === 0">
            <div class="l-post-meta text-center">
              <h4>No Blogs Found</h4>
            </div>
          </div>

          <div class="l-post" *ngIf="config && config.loadMore">
            <div class="col-md-12 text-center anchor-link" (click)="pageNumber = pageNumber + 1; loadBlogs(pageNumber)">
              <i class="fa fa-spinner fa-2x fa-fw margin-bottom" [ngClass]="{'fa-spin': config.loading }" title="Load More"></i>
            </div>
          </div>
        </div> -->

        <div class="blog-sec right-pading" *ngIf="blogs">
          <div *ngFor="let blog of blogs | filterList : blogFilter; let i = index;">
            <div class="central-meta d-inline-block item">
              <div class="user-post">
                <div class="friend-info margin-sm">
                  <figure>
                    <img class="user-icon"
                      src="{{ (blog && blog.author && blog.author.profileImage)? blog.author.profileImage  : 'assets/images/resources/user.jpg'}}"
                      [alt]="blog.author.firstName" />
                  </figure>
                  <div class="friend-name">
                    <ins>
                      <a [routerLink]="['/main/profile/view/' + blog.author.username ]"
                        routerLinkActive="router-link-active"
                        [innerHTML]="blog.author.firstName + ' ' + blog.author.lastName"
                        [title]="blog.author.firstName + ' ' + blog.author.lastName"></a>
                    </ins>
                    <span>Published on {{ blog.published_on | momentDate | date : 'medium' }}</span>
                  </div>
                  <div class="close-icon pull-right text-center">
                    <a class="fa fa-2x anchor-link rotate-45" (click)="hideBlog(i)">+</a>
                  </div>
                </div>
                <h5>
                  <a class="anchor-link colored" (click)="openBlog(blog)" [innerHTML]="blog.title"></a>
                </h5>
                <div class="clearfix" [ngxSummernoteView]="blog.content" [appExcerpt]="1" [contentType]="'html'"></div>

                <div class="row margin-sm">
                  <div class="col-md-4 text-left">
                    <label class="blog-reactions anchor-link" (click)="blogReaction(blog, 'UPVOTE')">
                      <i class="fa fa-arrow-up" aria-hidden="true"></i> Upvote <sup>{{ getBlogVotes(blog, 'UPVOTE') }}</sup>
                    </label>
                  </div>

                  <div class="col-md-4 text-center">
                    <label class="blog-reactions anchor-link">
                      <i class="fa fa-share" aria-hidden="true"></i> Share
                    </label>
                  </div>

                  <div class="col-md-4 text-right">
                    <label class="blog-reactions anchor-link" (click)="blogReaction(blog, 'DOWNVOTE')">
                      <i class="fa fa-arrow-down" aria-hidden="true"></i> Downvote <sup>{{ getBlogVotes(blog, 'DOWNVOTE') }}</sup>
                    </label>
                  </div>
                </div>

                <div class="bg-white text-center" *ngIf="blog.reactionMessage">
                  <p [ngClass]="{ 'text-success': blog.reactionMessage.status, 'text-danger': !blog.reactionMessage.status }">{{ blog.reactionMessage.message }}</p>
                </div>

                <!-- <ng-container *ngIf="(blog.comments && blog.comments.length) then comments else nocomments">
                </ng-container> -->

                <!-- <ng-template #comments>
                  <ng-container *ngFor="let comment of blog.comments | slice: 0 : 1">
                    <div class="friend-info margin-sm">
                      <figure>
                        <img class="user-icon"
                          src="{{ (comment.commenter && comment.commenter.profileImage)? comment.commenter.profileImage  : 'assets/images/resources/user.jpg'}}"
                          [alt]="comment.commenter.firstName" />
                      </figure>
                      <div class="friend-name">
                        <ins>
                          <a [routerLink]="['/main/profile/view/' + comment.commenter.username ]"
                            routerLinkActive="router-link-active"
                            [title]="comment.commenter.firstName + ' ' + comment.commenter.lastName"
                            [innerHTML]="comment.commenter.firstName + ' ' + comment.commenter.lastName"></a>
                        </ins>
                        <span>Commented on {{ comment.commentedAt | momentDate | date : 'medium' }}</span>
                      </div>
                      <div class="close-icon pull-right text-center">
                        <a class="fa fa-2x anchor-link rotate-45" (click)="hideBlog(i)">+</a>
                      </div>
                    </div>
                    <h5>
                      <a class="anchor-link colored" (click)="openBlog(blog)" [innerHTML]="blog.title"></a>
                    </h5>
                    <div class="clearfix" [ngxSummernoteView]="blog.content" [appExcerpt]="1" [contentType]="'html'"></div>

                    <div class="description">
                      <div [ngxSummernoteView]="comment.comment" [appExcerpt]="1" [contentType]="'html'"></div>
                    </div>

                    <div class="row margin-sm">
                      <div class="col-md-3 text-left">
                        <label class="blog-reactions anchor-link" (click)="commentReaction(comment, 'UPVOTE')">
                          <i class="fa fa-arrow-up" aria-hidden="true"></i> Upvote <sup>{{ getCommentVotes(comment, 'UPVOTE') }}</sup>
                        </label>
                      </div>

                      <div class="col-md-3 text-center">
                        <label class="blog-reactions anchor-link"
                          (click)="comment.showReplies = !comment.showReplies;">
                          <i class="fa fa-comment" aria-hidden="true"></i> Replies
                        </label>
                      </div>

                      <div class="col-md-3 text-center">
                        <label class="blog-reactions anchor-link">
                          <i class="fa fa-share" aria-hidden="true"></i> Share
                        </label>
                      </div>

                      <div class="col-md-3 text-right">
                        <label class="blog-reactions anchor-link" (click)="commentReaction(comment, 'DOWNVOTE')">
                          <i class="fa fa-arrow-down" aria-hidden="true"></i> Downvote <sup>{{ getCommentVotes(comment, 'DOWNVOTE') }}</sup>
                        </label>
                      </div>
                    </div>

                    <div class="row margin-sm" *ngIf="comment.reactionMessage">
                      <div class="col-md-12 text-center">
                        <p [ngClass]="{ 'text-success': comment.reactionMessage.status, 'text-danger': !comment.reactionMessage.status }">{{ comment.reactionMessage.message }}</p>
                      </div>
                    </div>

                    <ng-container *ngIf="comment.showReplies then replyFormTemplate"></ng-container>


                    <ng-template #replyFormTemplate>
                      <div class="row margin-sm reply-form-border">
                        <div class="col-md-12">
                          <form class="friend-info clearfix" [formGroup]="replyForm"
                            (submit)="createCommentReply(comment)">
                            <figure>
                              <img class="user-icon"
                                src="{{ user.profileImage ? user.profileImage  : 'assets/images/resources/user.jpg'}}"
                                [alt]="user.firstName + ' ' + user.lastName"
                                [title]="user.firstName + ' ' + user.lastName" />
                            </figure>
                            <div class="friend-name">
                              <ins>
                                <textarea placeholder="Post a reply" formControlName="comment" rows="1"></textarea>
                              </ins>
                            </div>
                            <button [disabled]="replyForm.invalid" class="btn pull-right text-center reply-button"
                              type="submit">
                              <span>Add Reply</span>
                            </button>
                          </form>
                        </div>

                        <div class="col-md-12 text-center" *ngIf="comment.message">
                          <p [ngClass]="{ 'text-success': comment.message.status, 'text-danger': !comment.message.status }">{{ comment.message.message }}</p>
                        </div>
                      </div>
                    </ng-template>

                    <ng-container *ngIf="(comment.showReplies && comment.replies) then commentReplies else commentNoReplies"></ng-container>

                    <ng-template #commentReplies>
                      <ng-container *ngFor="let reply of comment.replies;">
                        <div class="row margin-sm">
                          <div class="col-md-12">
                            <div class="friend-info margin-sm">
                              <figure>
                                <img class="user-icon"
                                  src="{{ (reply.replier && reply.replier.profileImage)? reply.replier.profileImage  : 'assets/images/resources/user.jpg'}}"
                                  [alt]="reply.replier.firstName + ' ' + reply.replier.lastName"
                                  [title]="reply.replier.firstName + ' ' + reply.replier.lastName" />
                              </figure>
                              <div class="friend-name">
                                <ins>
                                  <a [routerLink]="['/main/profile/view/' + reply.replier.username ]"
                                    routerLinkActive="router-link-active"
                                    [title]="reply.replier.firstName + ' ' + reply.replier.lastName"
                                    [innerHTML]="reply.replier.firstName + ' ' + reply.replier.lastName"></a>
                                </ins>
                                <span>Replied on {{ reply.repliedAt | momentDate | date : 'medium' }}</span>
                              </div>
                            </div>
                            <span class="anchor-link" [innerHTML]="reply.comment"></span>

                            <div class="row">
                              <div class="col-md-12">
                                <label class="blog-reactions anchor-link"
                                  (click)="reply.showReplyForm = !reply.showReplyForm;">
                                  <i class="fa fa-reply" aria-hidden="true"></i> Reply
                                </label>
                              </div>
                            </div>

                            <ng-container *ngIf="reply.showReplyForm then replyFormTemplate"></ng-container>

                          </div>
                        </div>
                      </ng-container>
                    </ng-template>

                    <ng-template #commentNoReplies>
                      <div class="row" *ngIf="blog.showComments">
                        <div class="col-md-12 text-center">
                          <p>There are no replies to this comment</p>
                        </div>
                      </div>
                    </ng-template>
                  </ng-container>
                </ng-template>

                <ng-template #nocomments>
                  <div class="friend-info margin-sm">
                    <figure>
                      <img class="user-icon"
                        src="{{ (blog && blog.author && blog.author.profileImage)? blog.author.profileImage  : 'assets/images/resources/user.jpg'}}"
                        [alt]="blog.author.firstName" />
                    </figure>
                    <div class="friend-name">
                      <ins>
                        <a [routerLink]="['/main/profile/view/' + blog.author.firstName ]"
                          routerLinkActive="router-link-active"
                          [innerHTML]="blog.author.firstName + ' ' + blog.author.lastName"
                          [title]="blog.author.firstName + ' ' + blog.author.lastName"></a>
                      </ins>
                      <span>Published on {{ blog.published_on | momentDate | date : 'medium' }}</span>
                    </div>
                    <div class="close-icon pull-right text-center">
                      <a class="fa fa-2x anchor-link rotate-45" (click)="hideblog(i)">+</a>
                    </div>
                  </div>
                  <h5>
                    <a class="anchor-link colored" (click)="openBlog(blog)" [innerHTML]="blog.title"></a>
                  </h5>
                  <div class="clearfix" [ngxSummernoteView]="blog.content" [appExcerpt]="1" [contentType]="'html'"></div>
                </ng-template> -->
              </div>
            </div>
          </div>

          <div *ngIf="!config.loading && (blogs | filterList : blogFilter).length === 0">
            <div class="central-meta text-center">
              <h4>No blogs Found</h4>
            </div>
          </div>

          <div class="bg-white text-center" *ngIf="message">
            <p [ngClass]="{ 'text-success': message.status, 'text-danger': !message.status }">{{ message.message }}</p>
          </div>

          <div *ngIf="config && config.loadMore">
            <div class="text-center" (click)="pageNumber = pageNumber + 1; loadBlogs();">
              <i class="fa fa-spinner fa-2x fa-fw margin-bottom anchor-link"
                [ngClass]="{'fa-spin': config.loading }"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


