<div class="page-sidebar fixedscroll">
            <!-- MAIN MENU - START -->
 <div class="page-sidebar-wrapper ps-container ps-active-y" id="main-menu-wrapper">

<aside class="sidebar static r-space4">
  <div class="widget stick-widget">
    <ng-container [ngSwitch]="sidebarType">
      <ng-container *ngSwitchCase="sidebarTypes.general">
        <ng-container [ngTemplateOutlet]="defaultSidebar"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="sidebarTypes.interest">
        <ng-container [ngTemplateOutlet]="interestSidebar"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="sidebarTypes.mentorship">
        <ng-container [ngTemplateOutlet]="mentorshipSidebar"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="sidebarTypes.profile">
        <ng-container [ngTemplateOutlet]="profileSidebar"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="sidebarTypes.settings">
        <ng-container [ngTemplateOutlet]="settingsSidebar"></ng-container>
      </ng-container>
    </ng-container>
  </div><!-- who's following -->
</aside>
</div>
</div>

<ng-template #defaultSidebar>
  <ul class="naves" >
    <li class="main-navigation-button siderbar_color">
      <a routerLink="/main/notifications">
        <span class="siderbar_color">  NOTIFICATIONS</span>
      </a>
    </li>
    <li class="main-navigation-button">
      <a routerLink="/main/shopping-complex">
        <span class="siderbar_color">  SHOPPING COMPLEX</span>
      </a>
    </li>
    <li class="main-navigation-button">
      <a routerLink="/main/huddle-room">
        <span class="siderbar_color">  HUDDLE ROOM</span>
      </a>
    </li>
    <li class="main-navigation-button">
      <a title="MESSAGES" (click)="navigateToMessages()" class="anchor-link">
        <span class="siderbar_color">  MESSAGES</span>
      </a>
    </li>
    <li class="main-navigation-button">
      <a routerLink="/main/communities">
        <span class="siderbar_color">  COMMUNITIES</span>
      </a>
    </li>
    <li class="main-navigation-button">
      <a routerLink="/main/interest">
        <span class="siderbar_color">  INTEREST</span>
      </a>

      <ul class="interest-list">
        <ng-container *ngIf="communities && communities.length" >
          <li class="secondary-navigation-item" *ngFor="let community of communities;" >
            <a [routerLink]="['/main/communities/' + community.community_docs._id + '/dashboard']" routerLinkActive="router-link-active" title="{{ community.community_docs.name | titlecase }}">
              <span class="pull-left">
                {{ community.community_docs.name ? community.community_docs.name : 'Community Name' }}
              </span>
              <span class="pull-right">
                {{ community.level ? community.level : 'Level' }}
              </span>
            </a>
          </li>
        </ng-container>
        <li class="secondary-navigation-item" *ngIf="communities.length === 0" >
          <a title="">
            <span class="siderbar_color full-width">No Interests Found</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="main-navigation-button d-inline-block">
      <a class="pull-left" [routerLink]="['/main/interest/add-interest']">
        <button type="button" class="mtr-btn">
          <span class="text-white">Add</span>
        </button>
      </a>
      <a class="pull-right" [routerLink]="['/main/interest/remove-interest']">
        <button type="button" class="mtr-btn">
          <span class="text-white">Remove</span>
        </button>
      </a>
    </li>
    <li class="main-navigation-button">
      <a routerLink="/main/news-feeds">
        <span class="siderbar_color">  NEWS FEEDS</span>
      </a>
    </li>
    <li class="main-navigation-button">
      <a routerLink="/main/mentorship">
      <span class="siderbar_color">  MENTORSHIP</span></a>
    </li>
  </ul>
</ng-template>
<ng-template #interestSidebar>
  <ul class="naves">
    <li class="main-navigation-button siderbar_color">
      <a routerLink="/main/notifications">
        <span class="siderbar_color">  NOTIFICATIONS</span>
      </a>
    </li>
    <li class="main-navigation-button siderbar_color">
      <a routerLink="/main/newsfeed" title="">
        <span class="siderbar_color"> NEWSFEED</span>
      </a>
    </li>
    <li class="main-navigation-button">
      <a title="MESSAGES" (click)="navigateToMessages()" class="anchor-link" >
        <span class="siderbar_color">  MESSAGES</span>
      </a>
    </li>
    <li class="main-navigation-button siderbar_color">
      <a [routerLink]="['/main/communities']" title="">
        <span class="siderbar_color"> COMMUNITIES</span>
      </a>
    </li>
    <li class="main-navigation-button">
      <a routerLink="/main/interest">
        <span class="siderbar_color">  INTEREST</span>
      </a>

      <ul class="interest-list">
        <ng-container *ngIf="communities && communities.length" >
          <li class="secondary-navigation-item" *ngFor="let community of communities;" >
            <a [routerLink]="['/main/communities/' + community.community_docs._id + '/dashboard']" routerLinkActive="router-link-active" title="{{ community.community_docs.name | titlecase }}">
              <span class="pull-left">
                {{ community.community_docs.name ? community.community_docs.name : 'Community Name' }}
              </span>
              <span class="pull-right">
                {{ community.level ? community.level : 'Level' }}
              </span>
            </a>
          </li>
        </ng-container>
        <li class="secondary-navigation-item" *ngIf="communities.length === 0" >
          <a title="">
            <span class="siderbar_color full-width">No Interests Found</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="main-navigation-button d-inline-block">
      <a class="pull-left" [routerLink]="['/main/interest/add-interest']">
        <button type="button" class="mtr-btn">
          <span class="text-white">Add</span>
        </button>
      </a>
      <a class="pull-right" [routerLink]="['/main/interest/remove-interest']">
        <button type="button" class="mtr-btn">
          <span class="text-white">Remove</span>
        </button>
      </a>
    </li>
    <li class="main-navigation-button siderbar_color">
      <a routerLink="/main/mentorship" title="">
        <span class="siderbar_color"> MENTORSHIP</span></a>
    </li>
  </ul>
</ng-template>
<ng-template #mentorshipSidebar>
  <ul class="naves">
    <li class="main-navigation-button siderbar_color">
      <h5>
        <span class="siderbar_color">MENTORING</span>
      </h5>
    </li>
    <li class="main-navigation-button siderbar_color">
      <a routerLink="/main/mentorship/mentor-requests">
        <span class="siderbar_color">Requests</span>
      </a>
    </li>
    <li class="main-navigation-button siderbar_color">
      <a routerLink="/main/mentorship/current-programs/mentor">
        <span class="siderbar_color">Current Programs</span>
      </a>
    </li>
    <li class="main-navigation-button siderbar_color">
      <a routerLink="/main/mentorship/history/mentor">
        <span class="siderbar_color">History</span>
      </a>
    </li>
    <li class="main-navigation-button siderbar_color">
      <h5>
        <span class="siderbar_color">GET GUIDANCE</span>
      </h5>
    </li>
    <li class="main-navigation-button siderbar_color">
      <a routerLink="/main/mentorship/mentee-requests">
        <span class="siderbar_color">Requests</span>
      </a>
    </li>
    <li class="main-navigation-button siderbar_color">
      <a routerLink="/main/mentorship/current-programs/mentee">
        <span class="siderbar_color">Current Programs</span>
      </a>
    </li>
    <li class="main-navigation-button siderbar_color">
      <a routerLink="/main/mentorship/history/mentee">
        <span class="siderbar_color">History</span>
      </a>
    </li>
  </ul>
</ng-template>
<ng-template #profileSidebar>
  <ul class="naves">
    <li>
          <a class="dropdowntoggle" [routerLink]="['/main/profile/showcase']"  (click)="activateDropdown(1)">
            SHOWCASE <i class="fa" [ngClass]="{'fa-caret-down': (activeIndex !== 1), 'fa-caret-up': (activeIndex === 1) }" ></i>
          </a>
          <div [ngClass]="{'active-dropdown' : (activeIndex === 1) }" class="bg-light" style="border:0px solid black">
            <a class="dropdown-item r-dropdown1" [routerLink]="['/main/profile/showcase/credentials']" >CREDENTIALS</a>
            <a class="dropdown-item r-dropdown1" [routerLink]="['/main/profile/showcase/recommendations']" >RECOMENDATIONS</a>
          </div>

      </li>
    <li>
      <a [routerLink]="['/main/profile/account']">ACCOUNT</a>
    </li>
    <li>
        <a class="dropdowntoggle" (click)="activateDropdown(2)" [routerLink]="['/main/profile/manage-friends']">
          MANAGE FRIENDS <i class="fa" [ngClass]="{'fa-caret-down': (activeIndex !== 2), 'fa-caret-up': (activeIndex === 2) }" ></i>
        </a>
        <div [ngClass]="{'active-dropdown' : (activeIndex === 2) }" class="bg-light" style="border:0px solid black">
          <a class="dropdown-item r-dropdown1" [routerLink]="['/main/profile/manage-groups']">MANAGE GROUPS</a>
          <a class="dropdown-item r-dropdown1" [routerLink]="['/main/profile/find-friends']">FIND FRIENDS</a>
        </div>
    </li>
  </ul>
</ng-template>
<ng-template #settingsSidebar>
  <ul class="naves" >
    <li class="main-navigation-button">
      <a [routerLink]="['/main/settings/profile']" title="PROFILE">
        <span class="siderbar_color">  PROFILE</span>
      </a>
    </li>
    <li class="main-navigation-button">
      <a [routerLink]="['/main/settings/privacy']" title="PRIVACY">
        <span class="siderbar_color">  PRIVACY</span>
      </a>
    </li>
    <li class="main-navigation-button">
      <a [routerLink]="['/main/settings/hiring-readiness']" title="HIRING READINESS">
        <span class="siderbar_color">  HIRING READINESS</span>
      </a>
    </li>
    <li class="main-navigation-button">
      <a  [routerLink]="['/main/settings/home-page']" title="HOME PAGE">
        <span class="siderbar_color">  HOME PAGE</span>
      </a>
    </li>
    <li class="main-navigation-button">
      <a [routerLink]="['/main/settings/huddle-room']" title="HUDDLE ROOM">
        <span class="siderbar_color">  HUDDLE ROOM</span>
      </a>
    </li>
    <li class="main-navigation-button">
      <a [routerLink]="['/main/settings/messages']" title="MESSAGES">
      <span class="siderbar_color">  MESSAGES</span></a>
    </li>
  </ul>
</ng-template>
