
/* main sidebar css code added by Priya*/
li.main-navigation-button.siderbar_color.sidebar_gap.space-top1 {
    margin-top: 7px;
}
/* .page-sidebar.fixedscroll {
    position: fixed;
} */
.page-sidebar {

    /* width: 23%;
    position: fixed; */
    padding: 15px 0px 0px 1px;
    background-color: #ffffff;
   /* margin-top: 4vh;*/
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(33,33,33,.2);
    min-height: 100%;

}
.fixedscroll #main-menu-wrapper {
    padding-top: 0px;
    overflow: hidden;
    position: relative;
}

span.r-btn7 {
    margin-left: 1.6em;
}

.sidebar .widget>ul {
    padding: 0px 0px;
}
.fixedscroll > .sticky {
    width: calc(20% - 17.5px);
    top: 50px;
    position: fixed !important;
    overflow-y: auto !important;
}

.main-navigation-button .interest-list {
    max-height: 25vh;
    padding: 0px 0px;
    overflow-y: auto;
}
.interest-list .secondary-navigation-item {
    padding-left: 15px;
    margin-bottom: 0px;
}
.interest-list .secondary-navigation-item > a{
    width: 100%;
    clear: both;
    font-size: 12px;
    text-transform: uppercase;
}
.main-navigation-button > a .mtr-btn {
    padding: 0px 5px;
    border-radius: 5px;
}

ul.naves > li a ~ div {
  display: none;
}

ul.naves > li a ~ div.active-dropdown {
  display: block !important;
   color: var(--background-color);
}

.dropdowntoggle i.fa {
  color: var(--background-color);
  position: inherit;
  display: contents;
}

.sidebar .widget>ul {
  padding: 15px 15px;
}
