<div class="central-meta">
  <div class="accordion" id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" title="Friend Requests" (click)="setActiveCard(cardTypes.pendingRequests)">
            Friend Requests {{ (getNumberOfRequests(requestTypes.pending, true) > 0 ) ? '( ' + getNumberOfRequests(requestTypes.pending, true) + ' )' : '' }}
          </button>
        </h5>
      </div>

      <div id="collapseOne" [ngClass]="{'collapse' : (activeCard !== cardTypes.pendingRequests)}">
        <div class="card-body">
          <table class="table">
            <tbody>
              <ng-container *ngIf="getNumberOfRequests(requestTypes.pending, true) then pendingRequests else noPendingRequests"></ng-container>

              <ng-template #pendingRequests>
                <tr class="row" *ngFor="let request of getNumberOfRequests(requestTypes.pending); let i = index">
                  <div class="col-md-1">
                    <a [routerLink]="['/main/profile/view/' + request.username]">
                      <img class="user-icon" [src]="request.profileImage ? request.profileImage : 'assets/images/resources/user.jpg'" [attr.alt]="user.fristName" />
                    </a>
                  </div>

                  <div class="col-md-7">
                    <p>{{ request.firstName ? ( request.firstName + ' ' + request.lastName ) : 'Name'}}</p>
                  </div>

                  <div class="col-md-4 d-inline">
                    <button class="mtr-btn" (click)="respondRequest(requestTypes.approved, request)">
                      <span>Confirm</span>
                    </button>
                    <button class="mtr-btn" (click)="respondRequest(requestTypes.ignored, request)">
                      <span>Ignore</span>
                    </button>
                    <button class="mtr-btn" (click)="respondRequest(requestTypes.delete, request)">
                      <span>Delete Request</span>
                    </button>
                  </div>
                </tr>
              </ng-template>

              <ng-template #noPendingRequests>
                <tr class="row">
                  <div class="col-md-12">
                    <a>There are no Friend Requests</a>
                  </div>
                </tr>
              </ng-template>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" title="Ignored Requests" (click)="setActiveCard(cardTypes.ignoredRequests)">
            Ignored Requests {{ (getNumberOfRequests(requestTypes.ignored, true) > 0 ) ? '( ' + getNumberOfRequests(requestTypes.ignored, true) + ' )' : '' }}
          </button>
        </h5>
      </div>

      <div id="collapseTwo" [ngClass]="{'collapse' : (activeCard !== cardTypes.ignoredRequests)}">
        <div class="card-body">
          <table class="table">
            <tbody>
              <ng-container *ngIf="getNumberOfRequests(requestTypes.ignored, true) then ignoredRequests else noIgnoredRequests"></ng-container>

              <ng-template #ignoredRequests>
                <tr class="row" *ngFor="let request of getNumberOfRequests(requestTypes.ignored); let i = index">
                  <div class="col-md-1">
                    <a [routerLink]="['/main/profile/view/' + request.username]">
                      <img class="user-icon" [src]="request.profileImage ? request.profileImage : 'assets/images/resources/user.jpg'" [attr.alt]="user.fristName" />
                    </a>
                  </div>

                  <div class="col-md-7">
                    <p>{{ request.firstName ? ( request.firstName + ' ' + request.lastName ) : 'Name'}}</p>
                  </div>

                  <div class="col-md-4 d-inline">
                    <button class="mtr-btn" (click)="respondRequest(requestTypes.approved, request)">
                      <span>Confirm</span>
                    </button>
                    <button class="mtr-btn" (click)="respondRequest(requestTypes.delete, request)">
                      <span>Delete Request</span>
                    </button>
                  </div>
                </tr>
              </ng-template>

              <ng-template #noIgnoredRequests>
                <tr class="row">
                  <div class="col-md-12">
                    <a>There are no Ignored Requests</a>
                  </div>
                </tr>
              </ng-template>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" title="Friends" (click)="setActiveCard(cardTypes.approvedRequests)">
            Friends {{ (getNumberOfRequests(requestTypes.approved, true) > 0 ) ? '( ' + getNumberOfRequests(requestTypes.approved, true).toString() + ' )' : '' }}
          </button>
        </h5>
      </div>

      <div id="collapseThree" [ngClass]="{'collapse' : (activeCard !== cardTypes.approvedRequests)}">
        <div class="card-body">
          <table class="table">
            <tbody>
              <ng-container *ngIf="getNumberOfRequests(requestTypes.approved, true) then approvedRequests else noApprovedRequests"></ng-container>

              <ng-template #approvedRequests>
                <tr class="row" *ngFor="let request of getNumberOfRequests(requestTypes.approved); let i = index">
                  <div class="col-md-3">
                    <a [routerLink]="['/main/profile/view/' + request.username]">
                      <img class="user-icon" [src]="request.profileImage ? request.profileImage : 'assets/images/resources/user.jpg'" [attr.alt]="user.fristName" />
                      <span>{{ request.firstName ? ( request.firstName + ' ' + request.lastName ) : 'Name'}}</span>
                    </a>
                  </div>

                  <div class="col-md-3">
                    <table class="table table-bordered">
                      <thead [ngClass]="{ 'disabled-link': (request.groups.length === 0) }">
                        <tr>
                          <h6 class="col-md-12">Groups</h6>
                        </tr>
                      </thead>
                      <tbody class="d-none">
                        <tr *ngFor="let group of request.groups">
                          <span class="group-label">{{ group | titlecase }}</span>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="col-md-4">
                    <table class="table table-bordered">
                      <thead [ngClass]="{ 'disabled-link': (request.communities.length === 0) }">
                        <tr>
                          <h6 class="col-md-12">Communities</h6>
                        </tr>
                      </thead>
                      <tbody class="d-none">
                        <tr *ngFor="let community of request.communities">
                          <span class="community-label">{{ community | titlecase }}</span>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="col-md-2">
                    <button class="mtr-btn" (click)="confirmRequest(requestTypes.unfriend, request)">
                      <span>Unfriend</span>
                    </button>
                  </div>
                </tr>
              </ng-template>

              <ng-template #noApprovedRequests>
                <tr class="row">
                  <div class="col-md-12">
                    <a>There are no Friends</a>
                  </div>
                </tr>
              </ng-template>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="card" *ngIf="message">
      <div class="card-header">
        <h5 [ngClass]="{ 'text-success': message.status, 'text-danger': !message.status }">{{ message.message }}</h5>
      </div>
    </div>
  </div>
</div>

<div class="full-width" id="confirmAction" *ngIf="confirmAction">
  <div class="modal-wrap">
    <div class="modal-overlay" (click)="confirmAction = null"></div>
    <div class="modal-content">
      <div class="modal-body">
        <table class="table no-border">
          <tbody>
            <tr class="row">
              <td class="col-md-12">
                <h6>Are you sure you want to UNFRIEND {{ confirmAction.firstName + ' ' + confirmAction.lastName }}</h6>
              </td>
            </tr>

            <tr class="row">
              <td class="offset-8 col-md-4 d-inline">
                <button class="mtr-btn" type="button" (click)="respondRequest(confirmAction.action, confirmAction)">
                  <span>Confirm</span>
                </button>
                <button class="mtr-btn pull-right" type="reset" (click)="confirmAction = null;">
                  <span>Cancel</span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
