#accordion .card > .card-header {
  background-color: #ffffff;
}

.mtr-btn {
  font-size: 12px;
  padding: 0px 10px;
  margin: 0px 5px;
}

thead:not(.disabled-link):hover  ~ tbody.d-none {
  display: table-row-group !important;
}

.table table.table tr {
  border-width: 1px 0px;
  border-style: solid;
  border-color: #dee2e6;
}

.user-icon {
  border-radius: 50%;
}

tbody tr .group-label,
tbody tr .community-label {
  padding: 0px 15px;
}
