<div class="home-settings-wrap">
    <form [formGroup]="homeSettingsForm" (ngSubmit)="updateHomepageSettings()">
      <section id="alert-details">
          <div class="central-meta">
              <div class="editing-info">
                <h5 class="f-title">Alerts</h5>
                <div class="form-radio">
                  <div class="radio">
                    <label>
                      <input type="radio" formControlName="clearAlerts" value="false" /><i class="check-box"></i>
                      Show all alerts
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" formControlName="clearAlerts" value="true" /><i class="check-box"></i>
                      Clear unread alerts more than &nbsp;
                      <select formControlName="clearAlertsAfter">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                      </select> &nbsp;days old.
                    </label>
                  </div>
                </div>
                <div class="submit-btns">
                  <button type="button" class="mtr-btn" (click)="updateHomepageSettings('alerts')"><span>Save</span></button>
                </div>
                <div class="row action-message" *ngIf="message && (formSection === 'alerts')">
                  <div class="col-md-12">
                    <p [ngClass]="{'text-danger': !message.status, 'text-success': message.status}">{{ message.message }}</p>
                  </div>
                </div>
              </div>
            </div>
      </section>

      <section id="theme-details">
          <div class="central-meta">
              <div class="editing-info">
                <h5 class="f-title">Theme</h5>
                <div class="row">
                  <div class="col-md-12">
                    <h6>Select a theme</h6>
                  </div>
                </div>
                <div class="form-radio theme-wrap">
                  <div class="radio">
                    <label>
                      <input type="radio" formControlName="theme" value="#b92b27" /><i class="check-box"></i>
                      <span class="red">Red</span>
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" formControlName="theme" value="#337ab7" /><i class="check-box"></i>
                      <span class="blue">Blue</span>
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" formControlName="theme" value="#008670" /><i class="check-box"></i>
                      <span class="green">Green</span>
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" formControlName="theme" value="#f2af29" /><i class="check-box"></i>
                      <span class="yellow">Yellow</span>
                    </label>
                  </div>
                </div>
                <div class="submit-btns">
                  <button type="button" class="mtr-btn" (click)="updateHomepageSettings('theme')"><span>Save</span></button>
                </div>
                <div class="row action-message" *ngIf="message && (formSection === 'theme')">
                  <div class="col-md-12">
                    <p [ngClass]="{'text-danger': !message.status, 'text-success': message.status}">{{ message.message }}</p>
                  </div>
                </div>
              </div>
            </div>
      </section>

      <section id="news-feed-details">
          <div class="central-meta">
              <div class="editing-info">
                <h5 class="f-title">News Feed</h5>
                  <div class="row">
                    <div class="col-md-12">
                      <h6>Select</h6>
                    </div>
                  </div>
                  <div class="row" *ngFor="let row of newsFeedList; let i = index">
                    <div class="col-md-4" *ngFor="let userDetails of row;">
                      <div class="checkbox">
                        <label>
                         {{ (userDetails.communityUser && userDetails.communityUser.communityDetails) ? ( userDetails.communityUser.communityDetails.name | titlecase ): ''}} <input type="checkbox" [checked]="userDetails.feedSelected" (change)="userDetails.feedSelected = !userDetails.feedSelected" /><i class="check-box"></i>
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="row" *ngIf="newsFeedList.length === 0;" >
                    <div class="col-md-12">
                      <p>No communities found</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <h6>Other</h6>
                    </div>
                  </div>
                  <div class="row" *ngFor="let other of otherList;">
                    <div class="col-md-12">
                      <div class="checkbox">
                        <label>
                         {{ other.label | titlecase }} <input type="checkbox" [checked]="other.feedSelected" (change)="other.feedSelected = !other.feedSelected" /><i class="check-box"></i>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="submit-btns">
                    <button type="button" class="mtr-btn" (click)="updateHomepageSettings('newsfeed')"><span>Save</span></button>
                  </div>
                  <div class="row action-message" *ngIf="message && (formSection === 'newsfeed')">
                    <div class="col-md-12">
                      <p [ngClass]="{'text-danger': !message.status, 'text-success': message.status}">{{ message.message }}</p>
                    </div>
                  </div>
              </div>
            </div>
      </section>
    </form>
  </div>
