.home-settings-wrap #theme-details .inline-list  .list-item  input {
  display: inline;
  width: auto;
}

.home-settings-wrap #theme-details .inline-list  .list-item p {
  display: inline-block;
  width: 50px;
  height: 30px;
  margin: 0px 0px;
}
#theme-details label > span {
  padding: 5px 10px;
  color: #ffffff;
}
.home-settings-wrap #theme-details .inline-list  .list-item #news-feed-details .inline-list .list-item {
  width: 33.33%;
  float: left;
}

.form-radio:not(.theme-wrap) > .radio {
  width: 100%;
}

.checkbox .check-box {
  top: 5px;
}

.checkbox label, .form-radio label {
  color: #505050;
}

.editing-info > .form-radio {
  margin: 10px 0px;
  padding: 0px 15px;
}

.editing-info > .row {
  padding: 0px 15px;
}

.editing-info > .row h6 {
  margin: 0px -15px 20px;
}

.editing-info > .row .checkbox {
  margin: 0px 0px;
}

.editing-info .action-message {
  margin: 20px -15px 0px;
}