<div class="theme-layout h-100">
  <header>
    <app-header></app-header>
  </header>

  <div class="full-width h-100">
    <router-outlet></router-outlet>
  </div>

  <footer class="no-padding">
    <app-footer></app-footer>
  </footer>
</div>
