<section>
  <div class="gap gray-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row" id="page-contents">
            <div class="col-lg-3 col-md-3">
              <app-main-sidebar></app-main-sidebar>
            </div><!-- sidebar -->
            <div class="col-lg-9 col-md-9">
              <router-outlet></router-outlet>
            </div><!-- centerl meta -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
