table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.nearby-contct {
  margin-top: 0px;
}
span.r-int1 {
    color: #212529;
    font-size: 21px;
    font-weight: 500;
}
button.mtr-btn.signup.r-right7 {
    margin-right: 0.8em;
}