<ng-container *ngIf="loading then loaderTemplate else routerTemplate"></ng-container>

<ng-template #loaderTemplate>
  <app-pre-loader></app-pre-loader>
</ng-template>

<ng-template #routerTemplate>
  <router-outlet></router-outlet>
</ng-template>
