<section class="bg-white">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="replyForm" (ngSubmit)="replyToMessage()">
        <table class="table">
          <thead>
            <tr>
              <th colspan="2">
                <div class="timeline-info">
                  <ul class="text-right">
                    <li>
                      <a title="Reply" (click)="messageAction('reply')"> <i class="fa fa-reply" aria-hidden="true"></i> Reply</a>
                      <a title="Reply All" (click)="messageAction('reply-all')"> <i class="fa fa-reply-all" aria-hidden="true"></i> Reply All</a>
                      <a title="Forward" (click)="messageAction('forward')"> <i class="fa fa-forward" aria-hidden="true"></i> Forward</a>
                      <a title="Delete" (click)="deleteMessage()"> <i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
                    </li>
                  </ul>
                </div>
              </th>
            </tr>
            <tr *ngIf="displayMessage">
              <th colspan="2" class="text-center">
                <p [ngClass]="{ 'text-success': displayMessage.status, 'text-danger': !displayMessage.status }">{{ displayMessage.message }}</p>
              </th>
            </tr>
          </thead>
          <tbody *ngIf="!userMessageAction">
            <tr>
              <td>
                <label>
                  From: {{ (message.placeHolder === 'sent') ? message.userId : message.fromUserId }}
                </label>
              </td>
              <td class="text-right">
                <label>{{ ((message && message.message && message.message.createdAt)? message.message.createdAt: '') | momentDate | date: 'medium' }}</label>
              </td>
            </tr>
            <tr>
                <td colspan="2">
                  <label>Subject: {{ message.message.subject }}</label>
                </td>
              </tr>
            <tr>
              <td colspan="2">
                <label>To: {{ message.toUserId.join(', ') }}</label>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <label>CC: {{ message.cc.join(', ') }}</label>
              </td>
            </tr>
            <tr class="table-bordered">
              <td colspan="2">
                <textarea readonly rows="10">{{ message.message.body }}</textarea>
              </td>
            </tr>
            <tr *ngIf="message.attachment" class="table-bordered">
              <td colspan="2">
                <div class="clearfix">
                  <span class="pull-left">
                    <i class="fa fa-paperclip" aria-hidden="true"></i> {{ message.attachmentName }}
                  </span>
                  <span class="pull-right">
                    <label>
                      <i class="fa fa-arrow-down" aria-hidden="true"></i>
                      &nbsp;&nbsp; Save &nbsp;&nbsp;
                      <i class="fa fa-caret-down table-bordered" aria-hidden="true" (click)="showDropdown = !showDropdown"></i>
                    </label>
                    <ul class="list attachment-dropdown" *ngIf="showDropdown">
                      <li class="list-item">
                        <a target="_blank" [href]="message.attachment" >Open</a>
                      </li>
                      <li class="list-item">
                        <a target="_blank" [href]="message.attachment" [attr.download]="message.attachmentName">Save as</a>
                      </li>
                    </ul>
                  </span>
                </div>
              </td>
            </tr>
          </tbody>

          <tbody *ngIf="userMessageAction" class="reply-form-body">
            <tr class="row">
              <td class="col-md-1">
                <label>From: </label>
              </td>
              <td class="col-md-11">
                <label class="text-left">{{ message.userId }}</label>
                <label class="pull-right">{{ replyForm.value.createdAt | date: 'medium' }}</label>
              </td>
            </tr>

            <tr class="row">
              <td class="col-md-1">
                <label>Subject: </label>
              </td>
              <td class="col-md-11">
                <input class="full-width" type="text" formControlName="subject" />
                <ng-container *ngIf="subject.invalid && submitted && subject.errors">
                  <span class="text-danger" *ngIf="subject.errors.required">Subject field is required</span>
                  <span class="text-danger" *ngIf="subject.errors.minlength">Subject field should have minimum 2 characters</span>
                </ng-container>
              </td>
            </tr>

            <tr class="row">
              <td class="col-md-1">
                <label>To: </label>
              </td>
              <td class="col-md-11">
                <input class="full-width" type="text" formControlName="receiverIds" />
                <ng-container *ngIf="receiverIds.invalid && submitted && receiverIds.errors">
                  <span class="text-danger" *ngIf="receiverIds.errors.required">Receiver field is required</span>
                  <span class="text-danger" *ngIf="receiverIds.errors.minlength">Receiver field should have minimum 4 characters</span>
                </ng-container>
              </td>
            </tr>

            <tr class="row">
              <td class="col-md-1">
                <label>CC: </label>
              </td>
              <td class="col-md-11">
                <input class="full-width" type="text" formControlName="cc" />
              </td>
            </tr>

            <tr class="table-bordered">
              <td colspan="2">
                <textarea rows="10" formControlName="message">{{message}}</textarea>
                <ng-container *ngIf="message.invalid && submitted && message.errors">
                  <span class="text-danger" *ngIf="message.errors.required">Message field is required</span>
                  <span class="text-danger" *ngIf="message.errors.minlength">Message should have minimum 2 characters</span>
                </ng-container>
              </td>
            </tr>

            <tr *ngIf="attachment.value" class="table-bordered">
              <td colspan="2">
                <div class="clearfix">
                  <span class="pull-left">
                    <i class="fa fa-paperclip" aria-hidden="true"></i> {{ attachmentName.value }}
                  </span>
                  <span class="pull-right">
                    <label>
                      <i class="fa fa-arrow-down" aria-hidden="true"></i>
                      &nbsp;&nbsp; Save &nbsp;&nbsp;
                      <i class="fa fa-caret-down table-bordered" aria-hidden="true" (click)="showDropdown = !showDropdown"></i>
                    </label>
                    <ul class="list attachment-dropdown" *ngIf="showDropdown">
                      <li class="list-item">
                        <a target="_blank" [href]="attachment.value" >Open</a>
                      </li>
                      <li class="list-item">
                        <a target="_blank" [href]="attachment.value" [attr.download]="attachmentName.value">Save as</a>
                      </li>
                      <li class="list-item">
                        <a (click)="attachment.value = null; attachmentName.value = null;">Detach</a>
                      </li>
                      <li class="list-item">
                        <a (click)="attachment.value = null; attachmentName.value = null;">Delete</a>
                      </li>
                    </ul>
                  </span>
                </div>
              </td>
            </tr>
          </tbody>

          <tfoot *ngIf="userMessageAction" >
            <tr>
              <td colspan="2">
                <button type="reset" class="mtr-btn pull-left" (click)="userMessageAction = null; submitted = false; showDropdown = false;">
                  <span class="text-white">CANCEL</span>
                </button>
                <button type="submit" class="mtr-btn pull-right">
                  <span class="text-white">SEND</span>
                </button>
              </td>
            </tr>
          </tfoot>
        </table>
      </form>
    </div>
  </div>
</section>
