input, textarea {
  border-width: 0px;
}

.table tr > th,
.table tr > td {
  padding: 0.2rem 0.75rem;
}

td {
  border-top: 0px;
}

tr.border-top {
  border-top: 1px solid #f8f8f8;
}

.timeline-info li {
  width: 100%;
  margin: 0px 0px;
}

.timeline-info li > a {
  border: 1px solid #505050;
  padding: 2.5px;
  border-radius: 2.5px;
  box-shadow: 1px 1px 2.5px rgba(0,0,0,0.4);
  cursor: pointer;
}

.reply-form-body > tr {
  margin: 0px 0px;
}

.table tfoot .mtr-btn {
  margin: 10px 0px;
}

i.fa.fa-caret-down.table-bordered {
  padding: 2.5px 5px;
  border: 1px solid #dee2e6;
}

tbody ul.list.attachment-dropdown {
  position: absolute;
  z-index: 1;
  padding: 5px 20px;
  margin: 0.25rem 0px;
  background: #ffffff;
  list-style: none;
  right: 15px;
  border: 1px solid #dee2e6;
}
