video#local-video {
  width: 150px !important;
  height: 100px !important;
  position: absolute;
  bottom: 0;
  right: 0;
}

video#remote-video {
  max-width: 100%;
  flex: 0 0 100%;
}

button.mtr-btn {
  position: absolute;
  bottom: 0;
  left: 0;
}

.modal-wrap .modal-content {
  width: 90%;
  height: 80%;
  max-height: 90%;
  position: fixed;
  z-index: 101;
  top: 10%;
  left: 5%;
  overflow: hidden;
}
