<div class="full-width">
  <div class="modal-wrap">
    <div class="modal-overlay" (click)="toggleStream(false)"></div>
    <div class="modal-content">
      <div class="row">
        <video autoplay class="col-md-6 remote-video" id="remote-video"></video>
        <video autoplay muted class="col-md-6 local-video" id="local-video"></video>
      </div>

      <div class="row">
        <button class="col-md-2 mtr-btn" (click)="toggleStream(false)">
          <span>End Chat</span>
        </button>
      </div>
    </div>
  </div>
</div>
