<div class="full-width">
  <div class="modal-wrap">
    <div class="modal-overlay" (click)="togglePopup()"></div>
    <div class="modal-content">
      <section id="search-details" *ngIf="searchItem">
        <div class="central-meta">
          <div class="editing-info">
            <h5 class="f-title">{{ searchItem.title | titlecase }}</h5>
            <a class="pull-right close-modal" (click)="togglePopup()">
              <i class="fa fa-times" aria-hidden="true"></i>
            </a>
            <table class="table table-bordered">
              <tbody>
                <tr class="row">
                  <td class="col-md-12" colspan="2">
                    <embed [src]="(searchItem.link? searchItem.link : searchItem.fileUpload) | urlSanitizer" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
