<div class="bottombar">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <span class="copyright">© <a target="_blank" href="https://www.ficslot.com">Roletune</a> 2020. All rights reserved. Powered By, <a href="https://www.ficuslot.com/" target="blank"> <b>Ficuslot Innovation pvt Ltd.</b> </a> </span>
        </div>
      </div>
    </div>
  </div>
