<div class="row bg-white">
  <div class="col-md-12">
    <div class="row">
      <div class="offset-3 col-md-6">
        <div class="user-avatar profile-pic">
          <div class="feature-photo">
            <figure>
              <img
                [src]="
                  user && user.profileImage
                    ? user.profileImage
                    : 'assets/images/resources/user.jpg'
                "
                [alt]="user.firstName + ' ' + user.lastName"
                [title]="user.firstName + ' ' + user.lastName"
              />
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <table class="table table-borderless table-responsive">
      <tbody>
        <tr class="text-dark">
          <td>Name:</td>
          <td>{{ user.firstName + ' ' + user.lastName }}</td>
        </tr>

        <tr class="text-dark">
          <td>UID:</td>
          <td>{{ user.username }}</td>
        </tr>

        <tr class="text-dark">
          <td>Joined On:</td>
          <td>{{ user.createdAt | date }}</td>
        </tr>

        <tr class="text-dark">
          <td>Role:</td>
          <td>{{ getRoleDetails() }}</td>
        </tr>

        <tr class="text-white">
          <td colspan="2">
            <ng-container
              *ngIf="
                isFriend(user.username);
                then friendsTemplate;
                else addFriendTemplate
              "
            ></ng-container>
            <ng-template #addFriendTemplate>
              <button
                [disabled]="submitting"
                class="mtr-btn signin"
                type="button"
                (click)="sendRequest()"
              >
                <span>+ Friend</span>
              </button>
            </ng-template>
            <ng-template #friendsTemplate>
              <button disabled class="mtr-btn signin" type="button">
                <span>+ Friend</span>
              </button>
            </ng-template>
          </td>
        </tr>

        <tr class="text-dark">
          <td colspan="2" *ngIf="!message && submitting" class="text-center">
            <app-loader [loaderType]="loaderType"></app-loader>
          </td>
          <td colspan="2" *ngIf="message && !submitting" class="text-center">
            <p [ngClass]="{ 'text-success': message.type, 'text-danger': !message.type }">{{ message.message }}</p>
          </td>
        </tr>
        <!-- <tr class="text-white">
              <td colspan="2">
                <button disabled class="mtr-btn signin" type="button" (click)="sendRequest('mentor', true)"><span>Request Mentorship</span></button>
              </td>
            </tr> -->
      </tbody>
    </table>
  </div>
</div>
<div class="row bg-white">
  <div class="col-lg-12 sidebar">
    <div class="widget">
      <h4 class="widget-title">
        {{
          filterFriendRequests(friendList).length ? 'Friends (' + filterFriendRequests(friendList).length + ')' : 'Friends'
        }}
      </h4>
      <ul class="recent-photos">
        <li *ngFor="let friend of filterFriendRequests(friendList); let i = index">
          <a class="strip" [routerLink]="[getFriendLink(friend)]">
            <img
              [src]="
                friend.profileImage
                  ? friend.profileImage
                  : 'assets/images/resources/user.jpg'
              "
              [title]="getFriendName(friend)"
            />
          </a>
        </li>
        <li *ngIf="friendList.length === 0" class="w-100">
          <div class="nearly-pepls">
            <div class="pepl-info">
              <h4>No Friends Yet</h4>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!-- recent photos-->
  </div>
</div>
