.table-borderless td {
  border-width: 0px;
}

.user-avatar.profile-pic {
  box-shadow: 0 1px 5px #505050;
  margin-top: 12px;
  position: initial;
}

.sidebar .widget ul.recent-photos li {
  width: 20%;
  padding-right: 1%;
  padding-left: 1%;
  margin-bottom: 2%;
}

.sidebar .widget li > a,
.sidebar .widget li > a img {
  width: 100%;
}

.profile-pic > .feature-photo > figure img {
  width: 150px;
  height: 150px;
  max-height: 150px;
  max-width: 150px;
}

.tab-pane > .row > div {
  margin: auto;
}
