<article class="credentials-wrap bg-light">
  <section class="bg-white">
    <div class="row">
      <div class="col-md-12">
        <div class="credentials-meta">
          <h2 class="f-title">Credentials</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-white credentials-shadow">
    <div class="row">
      <div class="col-md-12">
        <h5 class="f-title">About</h5>
        <a *ngIf="credentialsModifiable() && (getCredentials(credentialTypes.about).length === 0)" class="fa fa-2x anchor-link pull-right add-credential-btn" (click)="credentialMode = credentialModes.add; openCredentialPopup(credentialTypes.about)">+</a>
      </div>
    </div>

    <div class="row" *ngFor="let credential of getCredentials(credentialTypes.about)">
      <div class="col-md-11">
        <p class="text-justify">{{ credential.summary }}</p>
      </div>
      <div class="col-md-1">
        <a *ngIf="credentialsModifiable()" class="anchor-link pull-right" (click)="credentialMode = credentialModes.edit; openCredentialPopup(credentialTypes.about, credential)">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </section>
  
  <section class="bg-white credentials-shadow">
    <div class="row">
      <div class="col-md-12">
        <h5 class="f-title">Experience</h5>
        <a *ngIf="credentialsModifiable()" class="fa fa-2x anchor-link pull-right add-credential-btn" (click)="credentialMode = credentialModes.add; openCredentialPopup(credentialTypes.experience)">+</a>      
      </div>
    </div>

    <div class="row credential-item" *ngFor="let credential of getCredentials(credentialTypes.experience) | sortList: 'startYear'">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-1">
            <i class="fa fa-2x fa-briefcase credential-icon" aria-hidden="true"></i>
          </div>
          <div class="col-md-10">
            <b>
              {{ credential.title | uppercase }}
              
            </b>
            <p class="credential-text">{{ credential.company }}{{ credential.type ? '. ' + credential.type : '' }}</p>
            <p class="credential-text">{{ getMonthName(credential.startMonth) }},{{ credential.startYear }} to {{ credential.currentCompany ? 'PRESENT' : getMonthName(credential.endMonth) + ', '+ credential.endYear }}</p>
            <p class="credential-text">{{ credential.location }}</p>
            <p class="credential-text text-justify">{{ credential.description }}</p>
          </div>

          <div class="col-md-1">
            <a *ngIf="credentialsModifiable()" class="anchor-link pull-right" (click)="credentialMode = credentialModes.edit; openCredentialPopup(credentialTypes.experience, credential)">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-white credentials-shadow">
    <div class="row">
      <div class="col-md-12">
        <h5 class="f-title">Education</h5>
        <a *ngIf="credentialsModifiable()" class="fa fa-2x anchor-link pull-right add-credential-btn" (click)="credentialMode = credentialModes.add; openCredentialPopup(credentialTypes.education)">+</a>   
      </div>
    </div>

    <div class="row credential-item" *ngFor="let credential of getCredentials(credentialTypes.education)">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-1">
            <i class="fa fa-2x fa-university credential-icon" aria-hidden="true"></i>
          </div>
          <div class="col-md-10">
            <b>
              {{ credential.school | uppercase }}
            </b>
            <p class="credential-text">{{ credential.degree }}{{ credential.field ? ', ' + credential.field : '' }}{{ credential.grade ? ', ' + credential.grade : '' }}</p>
            <p class="credential-text">{{ credential.start }} - {{ credential.end }}</p>
            <p class="credential-text text-justify">{{ credential.description }}</p>
          </div>
          <div class="col-md-1">
            <a *ngIf="credentialsModifiable()" class="anchor-link pull-right" (click)="credentialMode = credentialModes.edit; openCredentialPopup(credentialTypes.education, credential)">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        
      </div>
    </div>
  </section>
  
  <section class="bg-white credentials-shadow">
    <div class="row">
      <div class="col-md-12">
        <h5 class="f-title">Certifications</h5>
        <a *ngIf="credentialsModifiable()" class="fa fa-2x anchor-link pull-right add-credential-btn" (click)="credentialMode = credentialModes.add; openCredentialPopup(credentialTypes.certification)">+</a>
      </div>
    </div>

    <div class="row credential-item" *ngFor="let credential of getCredentials(credentialTypes.certification)">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-1">
            <i class="fa fa-2x fa-building credential-icon" aria-hidden="true"></i>
          </div>
          <div class="col-md-10">
            <b>
              {{ credential.name | uppercase }}
            </b>
            <p class="credential-text"><strong>{{ credential.organization }}</strong></p>
            <p class="credential-text">Issued {{ getMonthName(credential.issueMonth) + ', ' + credential.issueYear }} - Expired {{ credential.endMonth ? (getMonthName(credential.endMonth) + ', ' + credential.endYear) : '' }}</p>
            <p class="credential-text">Credential ID {{ credential.credentialId }}</p>
            <p class="credential-text">
              <ng-container *ngIf="credential.credentialUrl">
                <a class="anchor-link" target="_blank" [href]="credential.credentialUrl" >See credential</a>
              </ng-container>
              <ng-container *ngIf="!credential.credentialUrl">
                <a class="disabled-link">See credential</a>
              </ng-container>
            </p>
          </div>
          <div class="col-md-1">
            <a *ngIf="credentialsModifiable()" class="anchor-link pull-right" (click)="credentialMode = credentialModes.edit; openCredentialPopup(credentialTypes.certification, credential)">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        
      </div>
    </div>
  </section>
  
  <section class="bg-white credentials-shadow">
    <div class="row">
      <div class="col-md-12">
        <h5 class="f-title">Skills</h5>
        <a *ngIf="credentialsModifiable()" class="fa fa-2x anchor-link pull-right add-credential-btn" (click)="credentialMode = credentialModes.add; openCredentialPopup(credentialTypes.skill)">+</a>      
      </div>
    </div>

    <div class="row credential-item skill-list">
      <div class="col-md-3 skill-item" *ngFor="let credential of getCredentials(credentialTypes.skill);">
        <span>
          {{ credential.name | uppercase }}
        </span>
        <a *ngIf="credentialsModifiable()" class="fa text-danger anchor-link rotate-45" (click)="deleteCredential(credentialTypes.skill, credential)">+</a>
      </div>
    </div>

    <div class="row" *ngIf="credentialMessage">
      <div class="col-md-12 text-center">
        <p [ngClass]="{ 'text-success': credentialMessage.status, 'text-danger': !credentialMessage.status }">{{ credentialMessage.message }}</p>
      </div>
    </div>
  </section>
  
  <section class="bg-white">
    <div class="row">
      <div class="col-md-12">
        <div class="credentials-meta">
          <h2 class="f-title">Accomplishments</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-white credentials-shadow">
    <div class="row">
      <div class="col-md-12">
        <h5 class="f-title">Awards</h5>
        <a *ngIf="credentialsModifiable()" class="fa fa-2x anchor-link pull-right add-credential-btn" (click)="credentialMode = credentialModes.add; openCredentialPopup(credentialTypes.award)">+</a>      
      </div>
    </div>    

    <div class="row credential-item" *ngFor="let credential of getCredentials(credentialTypes.award) | sortList: 'issueYear'">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-11">
            <b>{{ credential.title | uppercase }}</b>
            <p class="credential-text">{{ getMonthName(credential.issueMonth) }} {{ credential.issueYear }}. {{ credential.issuer | uppercase }}</p>
            <p class="credential-text text-justify">{{ credential.description }}</p>
          </div>

          <div class="col-md-1">
            <a *ngIf="credentialsModifiable()" class="anchor-link pull-right" (click)="credentialMode = credentialModes.edit; openCredentialPopup(credentialTypes.award, credential)">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-white credentials-shadow">
    <div class="row">
      <div class="col-md-12">
        <h5 class="f-title">Patents</h5>
        <a *ngIf="credentialsModifiable()" class="fa fa-2x anchor-link pull-right add-credential-btn" (click)="credentialMode = credentialModes.add; openCredentialPopup(credentialTypes.patent)">+</a>      
      </div>
    </div>

    <div class="row credential-item" *ngFor="let credential of getCredentials(credentialTypes.patent) | sortList: 'year'">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-11">
            <b>{{ credential.title | uppercase }}</b>
            <p class="credential-text">
              <ng-container *ngIf="credential.month">
                {{ getMonthName(credential.month) }} {{ credential.year }}.
              </ng-container>
              Is {{ credential.number | uppercase }}
            </p>
            <p class="credential-text text-justify">{{ credential.description }}</p>
            <p class="credential-text">
              <ng-container *ngIf="credential.url">
                <a class="anchor-link" target="_blank" [href]="credential.url" >See patent</a>
              </ng-container>
              <ng-container *ngIf="!credential.url">
                <a class="disabled-link">See patent</a>
              </ng-container>
            </p>
          </div>

          <div class="col-md-1">
            <a *ngIf="credentialsModifiable()" class="anchor-link pull-right" (click)="credentialMode = credentialModes.edit; openCredentialPopup(credentialTypes.patent, credential)">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-white credentials-shadow">
    <div class="row">
      <div class="col-md-12">
        <h5 class="f-title">Projects</h5>
        <a *ngIf="credentialsModifiable()" class="fa fa-2x anchor-link pull-right add-credential-btn" (click)="credentialMode = credentialModes.add; openCredentialPopup(credentialTypes.project)">+</a>      
      </div>
    </div>

    <div class="row credential-item" *ngFor="let credential of getCredentials(credentialTypes.project) | sortList: 'startYear'">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-11">
            <b>{{ credential.name | uppercase }}</b>
            <p class="credential-text">
              <ng-container *ngIf="credential.startMonth">
                {{ getMonthName(credential.startMonth) }} {{ credential.startYear }}
              </ng-container>
              <ng-container *ngIf="credential.endMonth">
                - {{ getMonthName(credential.endMonth) }} {{ credential.endYear }}
              </ng-container>
            </p>
            <p class="credential-text text-justify">{{ credential.description }}</p>
            <p class="credential-text">
              <ng-container *ngIf="credential.url">
                <a class="anchor-link" target="_blank" [href]="credential.url" >See project</a>
              </ng-container>
              <ng-container *ngIf="!credential.url">
                <a class="disabled-link">See project</a>
              </ng-container>
            </p>
          </div>

          <div class="col-md-1">
            <a *ngIf="credentialsModifiable()" class="anchor-link pull-right" (click)="credentialMode = credentialModes.edit; openCredentialPopup(credentialTypes.project, credential)">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-white credentials-shadow">
    <div class="row">
      <div class="col-md-12">
        <h5 class="f-title">Publications</h5>
        <a *ngIf="credentialsModifiable()" class="fa fa-2x anchor-link pull-right add-credential-btn" (click)="credentialMode = credentialModes.add; openCredentialPopup(credentialTypes.publication)">+</a>      
      </div>
    </div>

    <div class="row credential-item" *ngFor="let credential of getCredentials(credentialTypes.publication) | sortList: 'year'">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-11">
            <b>{{ credential.title | uppercase }}</b>
            <p class="credential-text">
              <ng-container *ngIf="credential.month">
                {{ getMonthName(credential.month) }} {{ credential.year }}.
              </ng-container>
              Publisher {{ credential.publisher | uppercase }}
            </p>
            <p class="credential-text text-justify">{{ credential.description }}</p>
            <p class="credential-text">
              <ng-container *ngIf="credential.url">
                <a class="anchor-link" target="_blank" [href]="credential.url" >See publication</a>
              </ng-container>
              <ng-container *ngIf="!credential.url">
                <a class="disabled-link">See publication</a>
              </ng-container>
            </p>
          </div>

          <div class="col-md-1">
            <a *ngIf="credentialsModifiable()" class="anchor-link pull-right" (click)="credentialMode = credentialModes.edit; openCredentialPopup(credentialTypes.publication, credential)">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>

<!-- <div id="add-credential" *ngIf="!hideEdit && showEditButtons"> -->
<div id="add-credential">
  <app-add-credential
    *ngIf="showAddCredentialForm"
    [credentialType]="credentialType"
    [credentialMode]="credentialMode"
    [credential]="selectedCredential"
    (hideForm)="updateUserCredentials($event)"
  ></app-add-credential>
</div>

