.credentials-wrap {
  height: 100%;
  padding: 15px 0px;
  overflow: auto;
}

.credentials-meta .f-title {
  margin: 0px 0px;
}

.credentials-wrap > section {
  width: calc(100% - 30px);
  padding: 15px 15px;
  margin: 0px 15px 30px;
}

.credentials-wrap > .credentials-shadow {
  box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
}

.add-credential-btn {
  width: 32px;
  height: 32px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
}

.add-credential-btn:hover {
  background: rgba(0, 0, 0, 0.1);
}

.credential-item {
  padding: 0px 0px 30px;
}
.credential-item .credential-icon {
  padding-top: 7.5px;
}
.credential-item .credential-text {
  margin: 0px 0px;
}
.skill-list {

}
.skill-list > .skill-item {
  margin: 0px 0px 15px;
}
.skill-list > .skill-item span {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 2px 10px;
  white-space: nowrap;
}
.skill-list > .skill-item > a {
  font-weight: bold;
  margin-left: 5px;
  font-size: 20px;
}