<section>
    <div class="gap gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="row" id="page-contents">
              <div class="col-lg-3">
                <app-main-sidebar></app-main-sidebar>
              </div><!-- sidebar -->
              <div class="col-lg-9">
                <div class="central-meta">
                  <div class="groups">
                    <span>Your Open Subscriptions</span>
                    <button type="button" [disabled]="!checkDisabled()" class="mtr-btn signup pull-right" (click)="cancelChanges()">
                      <span>Cancel</span>
                    </button>
                    <button type="button" [disabled]="!checkDisabled()" class="mtr-btn signup pull-right" style="margin-right: 12px;" (click)="saveAll()">
                      <span>Save All</span>
                    </button>
                  </div><br>

                  <div class="groups" *ngIf="message">
                    <p [ngClass]="{ 'text-danger': !message.status, 'text-success': message.status }">{{ message.message }}</p>
                  </div><br>
                  <!-- Tab panes -->
                  <ul class="nearby-contct">
                    <li *ngFor="let community of communities; let i = index;">
                      <ul style="padding-left: 0px;">
                        <li style="list-style-type:none">
                          <div class="pepl-info" style="padding-left: 0px;">
                           
                              <span class="r-int1">
                                {{ i + 1 }}.
                             {{ ((community.community_docs && community.community_docs.name) ? community.community_docs.name : '') | titlecase }}</span>
                          
                          </div>
                        </li>
                        <br>
                      </ul>
                      <div class="nearly-pepls">
                        <div class="row">
                          <div class="col-md-2">
                            <em>Badge: {{ community.badge | titlecase }}</em>
                          </div>
                          <div class="col-md-2">
                            <em>Level: {{ community.level | titlecase }}</em>
                          </div>
                          <div class="col-md-2">
                            <em>Points: {{ community.points }}</em>
                          </div>
                          <div class="col-md-2">
                            <em>Full Access: {{ community.role | uppercase }}</em>
                          </div>
                          <div class="col-md-2">
                              <select class="form-control" (change)="community.status = $event.target.value;community.modified = true;">
                                <option [selected]="community.status === 'ACTIVE'" value="ACTIVE">Active</option>
                                <option [selected]="community.status === 'INACTIVE'" value="INACTIVE">Inactive</option>
                                <option [selected]="community.status === 'HIBERNATED'" value="HIBERNATED">Hibernated</option>
                              </select>
                          </div>
                          <div class="col-md-2">
                            <button [disabled]="!community.modified" type="button" class="mtr-btn signup " (click)="updateInterestStatus(community)">
                              <span>Save</span>
                            </button>
                          </div>
                        </div>

                      </div>
                    </li>

                    <li *ngIf="communities.length === 0">
                      <h5>No Subscriptions Found</h5>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
