<div class="central-meta" *ngIf="user" >
  <form class="" [formGroup]="profileSettingsForm" (ngSubmit)="updateProfileSettings()">
    <div class="feature-photo">
      <div class="container">
        <div class="row merged">
          <div class="col-md-3 col-sm-3">
            <div class="user-avatar">
              <figure>
                <img class="profile-icon" [src]="user.profileImage? user.profileImage: 'assets/images/resources/user.jpg'" />
              </figure>
            </div>
          </div>

          <div class="col-md-9 col-sm-9">
            <div class="edit-photo-wrap">
                <label class="fileContainer1 mtr-btn">
                  <span>Upload Photo</span>
                  <input class="d-none" type="file" (change)="message = null; uploadImage($event, 'profile-image')" />
                </label>
                <br />
                <label *ngIf="message && formSection === 'profile-image'">
                  <span [ngClass]="{ 'text-danger': !message.status, 'text-success': message.status }">{{ message.message }}</span>
                </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="profile-settings-wrap">
  <form class="" [formGroup]="profileSettingsForm" (ngSubmit)="updateProfileSettings()">

      <section id="user-details">
      <div class="central-meta">
          <table class="table no-border">
            <thead>
              <tr class="row">
                <th class="col-md-2 form-group1">
                  <label class="control-label" for="name">Name</label>
                </th>
                <th class="col-md-4 form-group1">
                  <input id="name" readonly class="readonly-text" type="text" formControlName="name" />
                </th>
              </tr>

              <tr class="row">
                <th class="col-md-2">
                  <label class="control-label" for="username">User Id</label>
                </th>
                <th class="col-md-4">
                  <input id="username" readonly class="readonly-text" type="text" formControlName="username" />
                </th>
              </tr>
            </thead>
          </table>
        </div>
    </section>



    <section id="password-details">
      <div class="central-meta">
        <div class="editing-info">
          <h5 class="f-title">Change Password</h5>
            <div class="form-group">
              <input id="old-password" type="password" required="required" formControlName="oldpassword" (input)="submitted = false;"/>
              <label class="control-label" for="old-password">Current password</label><i class="mtrl-select"></i>
            </div>
            <div class="form-group" *ngIf="oldpassword.invalid && submitted && (formSection === 'password')">
              <p class="text-danger" *ngIf="oldpassword.errors.required">Password is required.</p>
              <p class="text-danger" *ngIf="oldpassword.errors.minlength">Password should contain atleast 8 character</p>
              <p class="text-danger" *ngIf="oldpassword.errors.pattern">Password should contain atleast 1 lowercase character, 1 uppercase character, 1 alphanumeric character and a special character</p>
            </div>
            <div class="form-group">
              <input type="password" id="new-password" required="required" formControlName="password" (input)="submitted = false;" />
              <label class="control-label" for="password">New password</label><i class="mtrl-select"></i>
            </div>
            <div class="form-group" *ngIf="password.invalid && submitted && (formSection === 'password')">
              <p class="text-danger" *ngIf="password.errors.required">New Password is required.</p>
              <p class="text-danger" *ngIf="password.errors.minlength">New Password should contain atleast 8 character</p>
              <p class="text-danger" *ngIf="password.errors.pattern">New Password should contain atleast 1 lowercase character, 1 uppercase character, 1 alphanumeric character and a special character</p>
            </div>
            <div class="form-group">
              <input id="confirm-password" type="password" required="required" formControlName="confirmpassword"  (input)="submitted = false;"/>
              <label class="control-label" for="confirm-password">Re-type Password</label><i class="mtrl-select"></i>
            </div>
            <div class="form-group" *ngIf="submitted && (password.value !== confirmpassword.value) && (formSection === 'password')">
              <p class="text-danger">Passwords do not match</p>
            </div>
            <div class="submit-btns">
              <button type="button" class="mtr-btn" (click)="updateProfileSettings('password')"><span>Save</span></button>
            </div>
            <div class="form-group" *ngIf="message && formSection === 'password'">
              <p [ngClass]="{ 'text-danger': !message.status, 'text-success': message.status }">{{ message.message }}</p>
            </div>
        </div>
      </div>
    </section>

    <section id="authentication-details">
        <div class="central-meta">
            <div class="editing-info">
              <h5 class="f-title">Authentication</h5>
                <div class="form-radio">
                  <div class="radio">
                  <label>
                    <input type="radio" formControlName="twoFactorAuth" value="false" /><i class="check-box"></i>
                    Using UserID or Registered email
                  </label>
                  </div>
                  <div class="radio">
                  <label>
                    <input type="radio" formControlName="twoFactorAuth" value="true" /><i class="check-box"></i>
                    Use both Registered Email ID and phone number (2 Factor Authentication)
                  </label>
                  </div>
                </div>
                <div class="submit-btns">
                  <button type="button" class="mtr-btn" (click)="updateProfileSettings('authentication')"><span>Change</span></button>
                </div>
                <div class="form-group" *ngIf="message && formSection === 'authentication'">
                  <p [ngClass]="{ 'text-danger': !message.status, 'text-success': message.status }">{{ message.message }}</p>
                </div>
            </div>
          </div>
    </section>
  </form>
</div>
