.profile-settings-wrap #user-details .profile-pic-upload {
  background: #ffffff;
  color: #505050;
}
.profile-settings-wrap #user-details .profile-pic {
  width: 150px;
  height: 150px;
}
.profile-settings-wrap #user-details .list-item {
  margin: 10px 0px;
}
.profile-settings-wrap #user-details .list-item .readonly-text {
  margin-left: 10px;
}
.profile-settings-wrap #password-details .one-half .form-group:first-child {
  padding-top: 20px;
}
.profile-settings-wrap #authentication-details form input {
  width: auto;
}
.no-border th {
  border: 0px;
}
.no-border th input:read-only {
    background: #E8E8E9;
    border-radius: 32px;
    padding: 6px 0px 8px 52px;
    border: 1px solid #e8e8e9;
}
.edit-photo-wrap {
  position: absolute;
  left: 315px;
  bottom: 75px;
}
.form-radio > .radio {
  width: 100%;;
}


.profile-settings-wrap #user-details .profile-pic-upload {
  background: #ffffff;
  color: #505050;
}
.profile-settings-wrap #user-details .profile-pic {
  width: 150px;
  height: 150px;
}
.profile-settings-wrap #user-details .list-item {
  margin: 10px 0px;
}
.profile-settings-wrap #user-details .list-item .readonly-text {
  margin-left: 10px;
}
.profile-settings-wrap #password-details .one-half .form-group:first-child {
  padding-top: 20px;
}
.profile-settings-wrap #authentication-details form input {
  width: auto;
}
.no-border th {
  border: 0px;
}
.no-border th input:read-only {
    background: #E8E8E9;
    border-radius: 32px;
   /* padding: 6px 0px 8px 52px;*/
    border: 1px solid #e8e8e9;
}
.edit-photo-wrap {
  position: absolute;
  left: 36%;
  /*bottom: 75px;*/
}
.form-radio > .radio {
  width: 100%;;
}


