.table-borderless td {
  border-width: 0px;
}

.status-cell {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.status-cell .f-online {
  margin: 0px 15px;
  position: inherit;
  background: #00ff00;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.status-cell .f-off {
  margin: 0px 15px;
  position: inherit;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.friends-wrapper ul.nearby-contct div > div p,
.groups-wrapper ul.nearby-contct div > div p {
  margin: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 30px 20px;
  border: 1px solid #505050;
  text-align: center;
}

.nearby-contct > li {
  float: left;
  display: flex;
  align-items: center;
}

.nearby-contct > li:first-child,
.nearby-contct > li:last-child {
  width: 20px;
}

.nearby-contct > li:nth-child(2) {
  overflow: hidden;
  width: calc(100% - 100px);
}

.friends-wrapper .nearby-contct>li {
  height: 200px;
}

.groups-wrapper .nearby-contct>li {
  height: 100px;
}

.groups-wrapper .nearby-contct > li div.groups-slick,
.friends-wrapper .nearby-contct > li div#friends-slick {
  width: 100%;
  display: inherit;
  transition: all 0.5s ease-in-out;
}

.groups-wrapper .nearby-contct > li div.groups-slick > div,
.friends-wrapper .nearby-contct > li div#friends-slick > div {
  width: 20%;
  min-width: 20%;
  float: left;
}


.groups-slick > .text-center {
  width: 100%;
  text-align: center;
}

/* code added by Priya*/
.feature-photo.r-bg1 {
    height: 100%;
    background: var(--background-color);
}
/*.feature-photo .container-fluid {
    padding-top: 16px;
    margin-left: 41%;

}
*/

.user-avatar1 {
       padding: 9px 0px 0px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 24%;
}
.r-text1 {
    font-weight: 700;
}
img.r-profile1 {
    width: 125px;
    height: 125px;
}
.user-avatar2 {
    padding-top: 4vh;
}
.col-lg-9.col-sm-10.r-gap4 {
    padding-top: 21px;
}

.h-100 {
  min-height: 100vh !important;
}
