<ng-container *ngIf="loading then loaderTemplate else profileTemplate"></ng-container>

<ng-template #profileTemplate>
  <section>
    <div class="feature-photo r-bg1">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-sm-2 r-size1">
            <div class="user-avatar2">
              <figure>
                <img class="r-profile1" [src]="user.profileImage? user.profileImage: 'assets/images/resources/user.jpg'" [alt]="user.firstName" [title]="user.firstName" />
              </figure>
            </div>
          </div>
            <div class="col-lg-9 col-sm-10 r-gap4">
            <div class="text-white">
                <span class="r-text1">Name : </span><span class="r-text3"> {{user.firstName + ' ' + user.lastName}}</span>
              </div>

            <div class="text-white">
                <span class="r-text1">Status :  </span><span class="status-cell r-text3">
                    {{ status ? 'ONLINE' : 'OFFLINE' }} <span class="status" [ngClass]="{'f-online' : status, 'f-off': !status }"></span>
                </span>
              </div>



             <div class="text-white">
                <span class="r-text1">Joined On : </span> <span class="r-text3">{{((user.createdAt && user.createdAt.length > 10)? user.createdAt.substring(0,10) : user.createdAt) | date}}</span>

            </div>
            <div class="text-white">
              <span class="r-text1">Mail Id :  </span><span class="r-text3">{{ user.email }}</span>

           </div>
            <div class="text-white">
              <span class="r-text1">Role :   </span><span class="r-text3">{{ getRoleDetails() }}</span>

           </div>

            </div>
          </div>



        </div>

      </div>

  </section><!-- top area -->

  <div class="central-meta friends-wrapper">
  <div class="groups">
    <span><i class="fa fa-user"></i> {{friendList.length? "Friends (" + friendList.length + ")" : "Friends" }}</span>
  </div>
  <ul class="nearby-contct" *ngIf="friendList && friendList.length">
    <li (click)="scrollSlider('left', 'friends-slick')">
      <i class="fa fa-caret-left" aria-hidden="true"></i>
    </li>
    <li>
      <div id="friends-slick" class="center slider">
        <div *ngFor="let friendBlock of friendsCarousel; let i = index;" >
          <ng-container *ngFor="let friend of friendBlock.friends; let j = index;">
            <ng-container *ngIf="friend.toUserId_user_docs.username === user.username">
              <a class="friend-link anchor-link" [routerLink]="['/main/profile/view/' + friend.fromUserId]" [title]="(friend.fromUserId_user_docs && friend.fromUserId_user_docs.firstName)? friend.fromUserId_user_docs.firstName + ' ' + friend.fromUserId_user_docs.lastName : 'Name'">
                <p>{{(friend.fromUserId_user_docs && friend.fromUserId_user_docs.firstName)? friend.fromUserId_user_docs.firstName + ' ' + friend.fromUserId_user_docs.lastName : 'Name'}}</p>
              </a>
            </ng-container>

            <ng-container *ngIf="friend.fromUserId_user_docs.username === user.username">
              <a class="friend-link anchor-link" [routerLink]="['/main/profile/view/' + friend.toUserId]" [title]="(friend.toUserId_user_docs && friend.toUserId_user_docs.firstName)? friend.toUserId_user_docs.firstName + ' ' + friend.toUserId_user_docs.lastName : 'Name'">
                <p>{{(friend.toUserId_user_docs && friend.toUserId_user_docs.firstName)? friend.toUserId_user_docs.firstName + ' ' + friend.toUserId_user_docs.lastName : 'Name'}}</p>
              </a>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </li>
    <li (click)="scrollSlider('right', 'friends-slick')">
      <i class="fa fa-caret-right" aria-hidden="true"></i>
    </li>
  </ul>
  <div class="groups text-center" *ngIf="friendList.length === 0">
    <p>There are no friends</p>
  </div>
  </div>
  <div class="central-meta groups-wrapper">
  <div class="groups">
    <span><i class="fa fa-users"></i> Groups</span>
  </div>
  <div class="groups-wrap">
    <ng-container *ngIf="groupList.length then groups else nogroup" ></ng-container>
    <ng-template #groups>
      <ng-container *ngFor="let group of groupList; let k = index;">
        <div class="groups">
          <span>{{ group.groupName }}</span>
        </div>
        <ul class="nearby-contct">
          <li (click)="scrollSlider('left', 'friends-slick-' + k)">
            <i class="fa fa-caret-left" aria-hidden="true"></i>
          </li>
          <li *ngIf="group.members && group.members.length">
            <div [attr.id]="'friends-slick-' + k" class="center slider groups-slick">
              <div *ngFor="let member of group.members; let j = index;" >
                <a class="friend-link anchor-link" [routerLink]="['/main/profile/view/' + member.username]" [title]="member.firstName ? member.firstName + ' ' + member.lastName : 'Name'">
                  <p>{{ member.firstName ? member.firstName + ' ' + member.lastName : 'Name'}}</p>
                </a>
              </div>
            </div>
          </li>
          <li *ngIf="group.members.length === 0">
            <div id="'friends-slick-0'" class="center slider groups-slick">
              <p class="text-center">No members found.</p>
            </div>
          </li>
          <li (click)="scrollSlider('right', 'friends-slick-' + k)">
            <i class="fa fa-caret-right" aria-hidden="true"></i>
          </li>
        </ul>
      </ng-container>
    </ng-template>
    <ng-template #nogroup>
      <div class="groups text-center">
        <p>There are no groups</p>
      </div>
    </ng-template>
  </div>
  </div><!-- photos -->
</ng-template>

<ng-template #loaderTemplate>
  <div class="w-100 h-100 bg-white">
    <app-loader></app-loader>
  </div>
</ng-template>
