.forum-open table tr td {
  text-align: center;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
 /**/
}

section#search-members > .central-meta {
  margin: 0px 0px;
}

table.table.table-bordered.table-stripped th, table.table.table-bordered.table-stripped td {
  height: auto;
  padding: 5px 15px;
  vertical-align: middle;
}

.community-users {
  border: 1px solid #ede9e9;
  margin-bottom: 20px;
}

.community-users #search-members .central-meta,
.community-users #user-list .central-meta {
  margin-bottom: 0px;
  border: 0px;
}
