<div class="full-width community-users">
  <section id="search-members">
    <form [formGroup]="searchUserForm" (ngSubmit)="searchCommunityUser()">
      <div class="central-meta" *ngIf="message">
        <p [ngClass]="{ 'text-success': message.status, 'text-danger': !message.status }">{{ message.message }}</p>
      </div>
      <div class="central-meta">
        <div class="editing-info">
          <h5 class="f-title">Search Members</h5>
          <table class="table no-border">
            <tbody>
              <tr>
                <td>
                  <div class="row r-align">
                    <div class="col-md-12 col-sm-12">
                      <label for="name" class="form-control">
                        <strong>Name</strong>
                      </label>
                      <input id="name" class="form-control" type="text" formControlName="name" (keyup)="showSearchResults = false; usersList = []" />
                    </div>
                  </div>
                </td>

                <td>
                  <div class="row">
                    <div class="col-md-12 col-sm-12">
                      <label for="mentor" class="form-control">
                        <strong>Mentor</strong>
                      </label>
                      <select id="mentor" class="form-control" formControlName="mentor" (change)="showSearchResults = false; usersList = []">
                        <option value="ALL">All</option>
                        <option value="YES">Yes</option>
                        <option value="NO">No</option>
                      </select>
                    </div>
                  </div>
                </td>

                <td>
                    <div class="row">
                      <div class="col-md-12 col-sm-12">
                        <label for="level" class="form-control">
                          <strong>Level</strong>
                        </label>
                        <select id="level" class="form-control" formControlName="level" (change)="showSearchResults = false; usersList = []">
                          <option value="ALL">All</option>
                          <option value="NOVICE">Novice</option>
                          <option value="MODERATE">Moderate</option>
                          <option value="ADVANCED">Advanced</option>
                          <option value="EXPERT">Expert</option>
                          <option value="CONSULTANT">Consultant</option>
                          <option value="GURU">Guru</option>
                        </select>
                      </div>
                    </div>
                  </td>

                <td>
                  <div class="row">
                    <div class="col-md-12 col-sm-12">
                      <label class="form-control">
                        <strong>&nbsp;</strong>
                      </label>
                      <button [disabled]="searchUserForm.invalid" type="submit" class="mtr-btn">
                        <span>Search</span>
                      </button>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
  </section>

  <section id="user-list" *ngIf="showSearchResults">
    <div class="central-meta">
      <div class="editing-info">
        <h5 class="f-title">Results</h5>
        <ng-container *ngIf="(searchUserForm.value.mentor === 'YES') then mentorsTable else usersTable"></ng-container>
      </div>
    </div>
  </section>
</div>

<ng-template #mentorsTable>
  <div class="table-responsive">
    <app-community-mentors-list [usersList]="usersList" (toggleMentorshipFormEmitter)="toggleMentorshipForm($event)"></app-community-mentors-list>
  </div>
</ng-template>

<ng-template #usersTable>
  <div class="table-responsive">
    <app-community-users-list [friendsList]="friendsList" [usersList]="usersList" (addFriendEmitter)="addFriend($event)"></app-community-users-list>
  </div>
</ng-template>

<div class="full-width">
  <section id="community-trainings">
    <div class="central-meta">
      <div class="editing-info">
        <h5 class="f-title">New Trainings</h5>
        <app-community-trainings [communityDetails]="communityDetails"></app-community-trainings>
      </div>
    </div>
  </section>
</div>

<div class="full-width">
    <section id="community-updates">
      <div class="central-meta">
        <div class="editing-info">
          <h5 class="f-title">Community Updates</h5>
          <app-community-updates [communityDetails]="communityDetails"></app-community-updates>
        </div>
      </div>
    </section>
  </div>

<div id="request-mentorship" *ngIf="showMentorshipForm">
  <app-request-mentorship [mentor]="selectedMentor" (hideForm)="handleHideForm($event)"></app-request-mentorship>
</div>
