<section>
  <div class="gap gray-bg">
    <div class="container bg-white grey-border">
      <div class="row">
        <div class="col-md-12 settings-heading">
          <h2 class="no-margin">SETTINGS</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="row" id="page-contents">
            <div class="col-lg-3">
              <app-main-sidebar></app-main-sidebar>
            </div><!-- sidebar -->
            <div class="col-lg-9">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
