<div class="central-meta">
  <div class="groups">
    <!-- <span><i class="fa fa-users"></i> Groups</span> -->
    <span>Create a Group</span>
    <br />
    <ng-container *ngIf="groupList.length === 5">
        <p>You cannot create more groups. Please remove some groups to manage your friends list.</p>
    </ng-container>
    <ng-container *ngIf="groupList.length < 5">
      <p>You can create {{groupList.length? 5 - groupList.length: ''}} more groups to manage your friends list.</p>
    </ng-container>
    <button class="mtr-btn" [disabled]="groupList.length === 5" (click)="showGroupForm = true;">
      <span class="text-white">Create Group</span>
    </button>
    <br />
    <form *ngIf="showGroupForm" [formGroup]="groupForm" (ngSubmit)="createGroup()" class="d-inline">
      <div class="form-control">
        <label for="group-name">Group Name</label>
        &nbsp;&nbsp;
        <input type="text" formControlName="groupName" />
      </div>
      <div class="form-control">
        <button [disabled]="groupForm.invalid" class="mtr-btn">
            <span class="text-white">Create</span>
        </button>
      </div>
    </form>
    <div class="form-control" *ngIf="groupCreationMessage">
      <p [ngStyle]="{'color' : groupCreationMessage.type ? 'green' : 'red' }">{{groupCreationMessage.message}}</p>
    </div>
  </div>

  <div class="groups gap2">
    <span style="display: block;">Groups {{groupList.length? '(' + groupList.length +')': '' }}</span>

    <div class="accordion" id="accordion">
      <div class="card" *ngFor="let group of groupList; let i = index;">
        <div class="card-header" (click)="toggleAccordion(i)">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" [attr.data-target]="'#collapse' + i" aria-expanded="false" [attr.aria-controls]="'collapse' + i">
              {{ group.groupName }} {{ group.members.length? '(' + group.members.length +')' : ''}}

              <a class="d-inline pull-right right-padding">
                  <button type="button" class="popup-btn" (click)="$event.stopPropagation();groupAction('remove', i);">
                    <span class="">Remove</span>
                  </button>
                  |
                  <button type="button" class="popup-btn" data-target="#friendsPopup" (click)="$event.stopPropagation();groupAction('add', i);">
                    <span class="">Add Friends</span>
                  </button>
              </a>
            </button>


          </h5>
        </div>

        <div [ngClass]="{ 'collapse' : !group.showAccordion }" [attr.aria-labelledby]="'heading'+ i" data-parent="#accordion">
          <div class="card-body">
            <ul>
              <ng-container *ngIf="(group.members.length === 0) then nomembers else members"></ng-container>
              <ng-template #nomembers>
                <li>
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <span>No members found</span>
                    </div>
                  </div>
                </li>
              </ng-template>

              <ng-template #members>
                <li *ngFor="let member of group.members; let j = index;">
                  <div class="row">
                    <div class="col-md-2">
                      <img [src]="member.profileImage? member.profileImage: 'assets/images/resources/user.jpg'" />
                    </div>

                    <div class="col-md-4">
                      <span>{{member.firstName + ' ' + member.lastName}}</span>
                    </div>

                    <div class="col-md-3">
                      <label class="community-label">Community</label>
                      <ul class="list">
                        <li *ngFor="let community of getFriendAssociatedList(member.username, 'communities')" >{{ community | titlecase }}</li>
                      </ul>
                    </div>

                    <div class="col-md-3">
                      <button class="mtr-btn" (click)="setActiveMember(i, j, 'REMOVE')">
                          <span class="text-white">Remove Member</span>
                      </button>
                    </div>

                  </div>

                </li>
              </ng-template>
            </ul>
          </div>
        </div>
      </div>

      <div class="card" *ngIf="groupList.length == 0">
        <div class="card-header">
          <p class="mb-0">No Groups Found</p>
        </div>
      </div>

      <div class="form-control" *ngIf="groupActionMessage">
        <p [ngStyle]="{'color' : groupActionMessage.type ? 'green' : 'red' }">{{groupActionMessage.message}}</p>
      </div>
    </div>
  </div>

</div><!-- photos -->

<div class="full-width" id="friendsPopup" *ngIf="activeGroup">
  <div class="modal-wrap">
    <div class="modal-overlay" (click)="resetActive()"></div>
    <div class="modal-content">
      <div class="modal-header">
        <span class="text-left modal-title">Friends {{friendList.length? '(' + friendList.length + ')' : ''}}</span>
        <button type="button" class="close" data-dismiss="modal" (click)="resetActive()">&times;</button>
      </div>
      <div class="modal-body">
        <ul class="list">
          <li *ngFor="let friend of friendList; let i = index;">
            <div class="row">
              <ng-container *ngIf="(friend.fromUserId_user_docs.username === user.username) then toRequest else fromRequest"></ng-container>
            </div>
            <ng-template #fromRequest>
              <div class="col-md-4">
                <img [src]="friend.fromUserId_user_docs.profileImage? friend.fromUserId_user_docs.profileImage: 'assets/images/resources/user.jpg'" />
                <span>{{friend.fromUserId_user_docs.firstName + ' ' + friend.fromUserId_user_docs.lastName}}</span>
              </div>

              <div class="col-md-3">
                <ul class="list">
                  <li>
                    <label class="group-label">Groups</label>
                    <ul class="list">
                      <li *ngFor="let group of getFriendAssociatedList(friend.fromUserId_user_docs.username, 'groups')">
                        <a title="">{{ group | titlecase }}</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>

              <div class="col-md-3">
                <ul class="list">
                  <li>
                    <label class="community-label">Community</label>
                    <ul class="list">
                      <li *ngFor="let community of getFriendAssociatedList(friend.fromUserId_user_docs.username, 'communities')">
                        <a title="">{{community | titlecase }}</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>

              <div class="col-md-2 text-right">
                <button [disabled]="isUserGroupMember(i)" class="mtr-btn" (click)="addGroupMember('add', i)">
                    <span class="text-white">Add</span>
                </button>
              </div>
            </ng-template>
            <ng-template #toRequest>
              <div class="col-md-4 d-inline">
                <img [src]="friend.toUserId_user_docs.profileImage? friend.toUserId_user_docs.profileImage: 'assets/images/resources/user.jpg'" />
                <span>{{friend.toUserId_user_docs.firstName + ' ' + friend.toUserId_user_docs.lastName}}</span>
              </div>

              <div class="col-md-3">
                <ul class="list">
                  <li>
                    <label class="group-label">Groups</label>
                    <ul class="list">
                      <li *ngFor="let group of getFriendAssociatedList(friend.toUserId_user_docs.username, 'groups')">
                        <a title="">{{ group | titlecase }}</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>

              <div class="col-md-3">
                <ul class="list">
                  <li>
                    <label class="community-label">Community</label>
                    <ul class="list">
                      <li *ngFor="let community of getFriendAssociatedList(friend.toUserId_user_docs.username, 'communities')">
                        <a title="">{{ community | titlecase }}</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>

              <div class="col-md-2 text-right">
                <button [disabled]="isUserGroupMember(i)" class="mtr-btn" (click)="setActiveMember(null, i, 'ADD')">
                    <span class="text-white">Add</span>
                </button>
              </div>
            </ng-template>
          </li>
          <li *ngIf="friendList.length === 0">
            <div class="row">
              <div class="col-md-12">
                <span>There are no friends</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="full-width" id="activeMemberPopup" *ngIf="activeMember">
  <div class="modal-wrap">
    <div class="modal-overlay" (click)="activeMember = null;"></div>
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <span [ngSwitch]="activeMember.action">
              <p *ngSwitchCase="'ADD'">
                Are you sure you want to add {{ activeMember.member }} to {{ activeMember.groupName }}
              </p>
              <p *ngSwitchCase="'REMOVE'">
                Are you sure you want to remove {{ activeMember.member }} from {{ activeMember.groupName }}
              </p>
            </span>
          </div>

          <div class="col-md-12">
            <div class="row">
              <div class="offset-8 col-md-4 d-inline">
                <ng-container *ngIf="activeMember.action === 'ADD' then addGroupMemberItem else removeGroupMemberItem"></ng-container>

                <ng-template #addGroupMemberItem>
                  <button class="mtr-btn" (click)="addGroupMember(activeMember.action, activeMember.memberIndex)">
                    <span>Confirm</span>
                  </button>

                </ng-template>

                <ng-template #removeGroupMemberItem>
                  <button class="mtr-btn" (click)="removeMember(activeMember.groupIndex, activeMember.memberIndex)">
                    <span>Confirm</span>
                  </button>

                </ng-template>

                <button class="mtr-btn" (click)="resetActive()">
                  <span>Cancel</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>