.card-body li {
  list-style: none;
}

.mtr-btn {
  font-size: 12px;
  padding: 5px 10px;
  margin: 0px 5px;
}

#accordion .card > .card-header {
  background-color: #ffffff;
}

.card-body .mtr-btn {
  padding: 0px 10px;
}

.accordion .card h5 button {
  font-size: 15px;
}

.list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.row .list li:hover .d-none {
  display: block !important;
}

.right-padding {
  padding-right: 20px;
}

.right-padding button.popup-btn {
  padding: 0px 0px !important;
  border-width: 0px;
  color: inherit;
  width: auto !important;
  background: transparent;
}

.right-padding button.popup-btn::before {
  content: "";
}

.modal-body > .list > li,
.card-body > ul > li {
  margin: 10px 0px;
}

.modal-body > .list > li img,
.card-body > ul > li img {
  width: 75px;
  height: 75px;
}

.li .col-md-4 .d-inline > span {
  padding-left: 15px;
}

.modal-wrap .modal-content {
  width: 75%;
  left: 12.5%;
}

#activeMemberPopup .modal-overlay {
  z-index: 101;
}

.community-label ~ ul.list,
.group-label ~ ul.list {
  display: none;
}

.community-label:hover ~ ul.list,
.group-label:hover ~ ul.list {
  display: inherit !important;
}
