<div class="central-meta">
  <h5 class="f-title">Search Friends</h5>

  <div>
    <form [formGroup]="findFriendsForm" (ngSubmit)="searchResults = []; findFriends()" >
        <div class="row">
          <div class="col-md-4">
            <label for="name">Name <sup class="text-danger">*</sup></label>
            &nbsp;
            <input type="text" formControlName="name" (input)="showResults = false; pageNumber = 1; searchResults = [];"/>
          </div>

          <div class="col-md-4">
            <label for="name">Location</label>
            &nbsp;
            <input list="locations" type="text" formControlName="location"  (input)="showResults = false; pageNumber = 1; searchResults = [];"/>
            <datalist id="locations">
              <option *ngFor="let location of locations;" [ngValue]="location">{{location}}</option>
            </datalist>
          </div>

          <div class="col-md-4">
            <label for="name">Community</label>
            &nbsp;
            <input list="communities" type="text" formControlName="community" (input)="showResults = false; pageNumber = 1; searchResults = [];"/>
            <datalist id="communities">
              <option *ngFor="let communityItem of communities;" [ngValue]="communityItem._id">{{ communityItem.community_docs.name | titlecase }}</option>
            </datalist>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              <button type="submit" class="mtr-btn search-btn" [disabled]="findFriendsForm.invalid">
                <span class="text-white">Search</span>
              </button>
            </div>
          </div>
    </form>
  </div>

  <section *ngIf="showResults" class="results-section">
    <h5 class="f-title">Results</h5>
    <div *ngIf="searchResults.length">
      <div class="row">
        <div class="col-md-4">
          <strong>Name</strong>
        </div>

        <div class="col-md-3">
          <strong>Location</strong>
        </div>

        <div class="col-md-3">
          <strong>Communities</strong>
        </div>

        <div class="col-md-2">
          &nbsp;
        </div>
      </div>
      <div class="row" *ngFor="let result of searchResults; let i = index;">
          <div class="col-md-4">
            <a [routerLink]="['/main/profile/view/' + result.username ]">
              <img [src]="result.profileImage? result.profileImage: 'assets/images/resources/user.jpg'" class="user-icon" />
              <span [ngStyle]="{ 'padding' : '0px 15px'}">{{result.firstName + ' ' + result.lastName}}</span>
            </a>
          </div>

          <div class="col-md-3">
            <span>{{ result.location ? (result.location | titlecase) : '' }}</span>
          </div>

          <div class="col-md-3">
            <span>{{(result.communities? result.communities.join(', ') : '') | titlecase }}</span>
          </div>

          <div class="col-md-2">
            <button class="mtr-btn" [attr.disabled]="checkFriend(result.username)" (click)="activeRequest = result;">
              <span class="text-white">+ Friend</span>
            </button>
          </div>
      </div>
    </div>
    <div  *ngIf="searchResults.length === 0">
      <div class="row">
        <div class="col-md-12">
          <span>No users found</span>
        </div>
      </div>
    </div>
  </section>

  <section class="row" *ngIf="showResults && config.loadmore">
    <div class="col-md-12 text-center" (click)="loadMoreFriends()">
      <i class="fa fa-spinner fa-2x fa-fw margin-bottom" [ngClass]="{'fa-spin': config.loading }"></i>
    </div>
  </section>
</div>

<div class="full-width" id="friendRequestPopup" *ngIf="activeRequest">
  <div class="modal-wrap">
    <div class="modal-overlay" (click)="friendRequestForm.reset(); activeRequest = null;"></div>
    <div class="modal-content">
      <div class="modal-body">
        <form [formGroup]="friendRequestForm" (ngSubmit)="sendRequest()">
          <table class="table no-border">
            <thead>
              <tr>
                <th class="text-left modal-title">Write a short message</th>
              </tr>
            </thead>
            <tbody>
              <tr class="row">
                <td class="col-md-12">
                  <textarea rows="5" cols="10" formControlName="message"></textarea>
                </td>
              </tr>

              <tr class="row">
                <td class="offset-8 col-md-4 d-inline">
                  <button class="mtr-btn" type="submit" [disabled]="(friendRequestForm.value.message.length < 3)">
                    <span>Send</span>
                  </button>
                  <button class="mtr-btn pull-right" type="reset" (click)="activeRequest = null;">
                    <span>Cancel</span>
                  </button>
                </td>
              </tr>

              <tr class="row" *ngIf="message">
                <td class="col-md-12 text-center">
                  <p [ngClass]="{ 'text-success': message.status, 'text-danger': !message.status }">{{ message.message }}</p>
                </td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>
