<div class="central-meta">
    <div class="frnds">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a [ngClass]="{'active show': activeTab === 'credentials'}" (click)="activeTab = 'credentials'" data-toggle="tab" title="Credentials">CREDENTIALS</a>
        </li>
        <li class="nav-item">
          <a [ngClass]="{'active show': activeTab === 'recommendations'}" (click)="activeTab = 'recommendations'" data-toggle="tab" title="Recommendations">RECOMMENDATIONS</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane fade" [ngClass]="{'active show': activeTab === 'credentials'}" >
          <app-credentials></app-credentials>
        </div>
        <div class="tab-pane fade" [ngClass]="{'active show': activeTab === 'recommendations'}" >
          <app-recommendations></app-recommendations>
        </div>
      </div>
    </div>
</div>
