.post-wrapper {
  padding: 0px 0px;
  border-radius: 0px;
  margin: 0px 0px 20px;
}

.post > .row {
  margin: 0px 0px;
  border-bottom: 1px solid #ede9e9;
}

.post > .row > .col-md-4:nth-child(2) {
  border-right: 1px solid #ede9e9;
  border-left: 1px solid #ede9e9;
}

.post #post-area,
.post #stream-wrap {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 20px 10px 0px;
  border: 1px solid #ede9e9;
  border-radius: 0px;
}

.post #stream-wrap video {
  background: #000000;
}

.post .post-label {
  margin-bottom: 0px;
}

.post-info > .post-meta {
  width: 90%;
  float: right;
}

.post-info > .post-meta .post-details-wrap {
  padding: 20px 20px;
  border: 1px solid #ede9e9;
}

.fa-2x {
  font-size: 1.5rem;
}

.section-title {
  margin: 0px 0px;
  padding: 10px 10px;
  border: 1px solid #ede9e9;
}

.load-more {
  margin-bottom: 20px;
}

.no-alerts {
  padding: 0px 10px;
}

.we-video-info {
  z-index: inherit;
}

.we-video-info li ul {
  position: absolute;
  display: none;
  background: #ffffff;
  border: 1px solid #f8f8f8;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #f8f8f8;
  z-index: 10;
}

.we-video-info li:hover ul {
  display: inline-flex;
}

.we-video-info li ul li {
  display: inline-flex;
  white-space: nowrap;
  align-items: center;
  cursor: pointer;
  margin: 0px 10px;
}

.we-video-info li ul li.not-allowed {
  cursor: not-allowed;
}

.central-meta figure > img,
.we-comet > li .comet-avatar > img {
  width: 40px !important;
  height: 40px !important;
}

.we-video-info li.share-list-wrap:hover ul.d-none {
  display: grid !important;
}

.description pre {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.38;
}

.share-modal {
  width: 50%;
  margin: auto;
  float: none;
}

textarea.no-border {
  border: 0px;
}

.reference-author {
  display: inline-flex;
}

.reference-author a {
  padding: 0px 0px 0px 10px;
}

.reference-author img {
  border-radius: 50%;
}

.post-details-wrap > .description~.clearfix {
  clear: both;
  border: 1px solid #ede9e9;
  padding: 10px 10px;
}

.load-more > ul.central-meta {
  max-height: 25vh;
  padding: 10px 10px;
  overflow: auto;
  margin-bottom: 0px;
}

.load-more > ul.central-meta > li {
  padding: 5px 15px;
  border: 1px solid #e8e8e8;
}

label.post-label.anchor-link {
    padding: 10px 0px 14px 0px;
}
