<section>
  <div class="gap gray-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row" id="page-contents">
            <div class="col-lg-3 col-md-3 col-sm-12">
              <app-main-sidebar></app-main-sidebar>
            </div><!-- sidebar -->
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="load-more">
                <h5 class="section-title bg-white"> <input type="checkbox" [checked]="updateAll" (change)="updateAll = !updateAll; updateAlertFlags(updateAll)" /> Alerts <span class="pull-right anchor-link" (click)="updateAlerts()">Clear</span></h5>
                <ul class="central-meta item">
                  <li *ngFor="let alert of alerts; let i = index;" [ngClass]="{'bg-light': !alert.read, 'bg-white': alert.read}">
                    <input type="checkbox" [checked]="alert.read" (change)="checkUpdateAll(alert)"/> {{ alert.message }}
                  </li>
                  <li class="no-alerts bg-white" *ngIf="alerts.length === 0" >There are no alerts available</li>

                  <li class="no-alerts bg-white" *ngIf="alertsAction" [ngClass]="{'text-danger': !alertsAction.status, 'text-success': alertsAction.status }">{{ alertsAction.message }}</li>
                </ul>
              </div>
              <div class="loadMore">
                <app-user-timeline [user]="user" [heading]="'NOTIFICATIONS'"></app-user-timeline>
              </div>
            </div><!-- centerl meta -->
            <div class="col-lg-3 col-md-3 col-sm-12">
              <app-friendlist-sidebar></app-friendlist-sidebar>
            </div><!-- sidebar -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
