<div class="full-width">
  <form [formGroup]="contributeLibraryForm" (ngSubmit)="contributeToLibrary()">
    <section id="authentication-details">
      <div class="central-meta">
        <div class="editing-info">
          <h5 class="f-title">Contribute to Library</h5>
          <table class="table no-border">
            <tbody>
              <tr class="row">
                <td class="col-md-4">
                  <div class="row">
                    <div class="col-md-6">
                      <label>Category</label>
                    </div>
                    <div class="col-md-6">
                      <select class="form-control" formControlName="category">
                        <option value="books">Book</option>
                        <option value="videos">Video</option>
                        <option value="audio-books">Audio Book</option>
                        <option value="blogs">Blog</option>
                        <option value="others">Other</option>
                      </select>
                    </div>
                  </div>
                </td>
                <td class="col-md-8">
                  <div class="row">
                      <div class="col-md-3 offset-1">
                        <label>Title</label>
                      </div>
                      <div class="col-md-8">
                        <input type="text" class="form-control" formControlName="title" placeholder="Type title" />
                      </div>
                  </div>
                  <br />
                  <div class="row">
                    <div class="col-md-3 offset-1">
                      <label>Author</label>
                    </div>
                    <div class="col-md-8">
                      <input type="text" class="form-control" formControlName="author" placeholder="Author/Creator" />
                    </div>
                  </div>
                  <br />
                  <div class="row">
                    <div class="col-md-3 offset-1">
                      <label for="description">Description</label>
                    </div>
                    <div class="col-md-8">
                      <textarea type="text" class="form-control" row="30" cols="100" formControlName="description" placeholder="Provide brief description of content"></textarea>
                    </div>
                  </div>
                </td>
              </tr>

              <tr class="row">
                <td class="col-md-4">
                  <div class="row">
                    <div class="col-md-6 offset-6">
                      <label for="filename" class="form-control roletune-upload text-center text-white">
                        Upload
                        <input id="filename" class="d-none" (change)="uploadFile($event)" type="file">
                      </label>
                    </div>
                  </div>
                </td>
                <td class="col-md-8">
                  <div class="row">
                    <div class="col-md-3 offset-1">
                      <label>OR</label>
                      <label class="pull-right">Link</label>
                    </div>
                    <div class="col-md-8">
                      <input type="text" class="form-control" formControlName="link" placeholder="Paste the link here" (input)="resetFile()" />
                    </div>
                  </div>
                </td>
              </tr>

              <tr class="row" *ngIf="contributeLibraryForm.value.filename.length">
                <td class="col-md-12" colspan="2">
                  <div class="row">
                    <div class="col-md-6 offset-2">
                      <span>{{ contributeLibraryForm.value.filename }}</span>

                      <a class="text-right" (click)="resetFile()">
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </a>
                    </div>
                  </div>
                </td>
              </tr>

              <tr class="row">
                <td class="col-md-12" colspan="2">
                  <div class="checkbox">
                    <label>
                      <sup class="text-danger">*</sup> I have verified that above content/material is available free of cost in public domain, and does not have any copyright.<input type="checkbox" formControlName="agreement" /><i class="check-box"></i>
                    </label>
                  </div>
                </td>
              </tr>

              <tr class="row">
                <td class="col-md-12" colspan="2">
                  <div class="submit-btns">
                    <button [disabled]="contributeLibraryForm.invalid || (!contributeLibraryForm.value.link.length && !contributeLibraryForm.value.filename.length) || !contributeLibraryForm.value.agreement" type="submit" class="mtr-btn"><span>Submit</span></button>
                    <button type="submit" class="mtr-btn pull-right"><span>Cancel</span></button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </form>
</div>
