<div class="theme-layout">
	<ng-container *ngIf="showHeader">
    <header>
      <app-auth-header [menu]="navMenu"></app-auth-header>
    </header>
  </ng-container>

	<main>
    <router-outlet></router-outlet>
	</main>
</div>
