.communities-container .gap.gray-bg {
  padding-top: 80px;
}
.communities-container .community-heading {
    font-size: 17.5px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 20px;
    position: relative;
    background: var(--background-color);
    padding: 10px 20px;
    color: #fff;
    text-shadow: 2.5px 1.25px 2.5px #ffffff;
}

.heading {
  padding: 25px 15px;
  background: var(--background-color);
  color: #ffffff;
}

.modal-wrap .modal-content {
  border: 0px;
    position: absolute;
    width: 150px;
    margin: 0px auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
}

.subscription-overlay {
  position: absolute;
  height: 100%;
  background: rgba(0,0,0, 0.75);
  width: inherit;
  z-index: 1;
}

.subscription-overlay .overlay-content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  padding: 0px 15px;
  text-align: center;
}

#new-community {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0, 0.75);
  width: 100vw;
  height: 100vh;
  display: inline-flex;
  justify-content: center;
  align-content: center;
}
