<section class="communities-container" *ngIf="!showLoader">
  <div class="gap gray-bg">
    <div class="container bg-white">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-md-12 community-heading">
              <h2 class="no-margin"><img class="user-icon" [src]="appService.getIconLink(activeCommunity.communityDetails.name)"> {{ ( activeCommunity && activeCommunity.communityDetails && activeCommunity.communityDetails.name ) ? activeCommunity.communityDetails.name : 'Community' }}</h2>
            </div>

            <div class="col-md-12 text-center" *ngIf="message">
              <p [ngClass]="{'text-success': message.status, 'text-danger': !message.status }">{{ message.message }}</p>
            </div>

            <div class="col-md-12">
              <app-community-navbar [communityDetails]="activeCommunity"></app-community-navbar>
            </div>
          </div>

          <div class="row" id="page-contents">
            <div class="col-md-3">
              <div class="subscription-overlay" *ngIf="guestUser && !newCommunity">
                <div class="overlay-content">
                  <h5 class="text-white">You have not subscribed to this community, would you like to subscribe?</h5>
                  <button class="mtr-btn" (click)="addInterest()">
                    <span>Subscribe</span>
                  </button>
                </div>
              </div>
              <app-community-sidebar [communityDetails]="activeCommunity"></app-community-sidebar>
            </div><!-- sidebar -->
            <div class="col-md-9">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>

      <div id="new-community" class="row text-center" *ngIf="newCommunity">
        <div class="col-lg-12">
          <h2 class="text-white">Community has no subscriptions, would you like to subscribe?</h2>
          <button type="button" class="mtr-btn" (click)="addInterest()" >
            <span>Subscribe</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal-wrap" *ngIf="showLoader">
  <app-loader [loaderType]="loaderTypes.medium"></app-loader>
</div>
