<div class="community-navbar-wrap full-width">
  <ul class="inline-list no-margin no-padding">
    <li class="list-item" *ngFor="let navItem of navItems" [ngClass]="{'active-link': navItem.active }" >
      <a [routerLink]="navItem.url">{{navItem.name}}</a>
    </li>
  </ul>
</div>
