.community-navbar-wrap {
  background: #fff none repeat scroll 0 0;
  display: block;
  line-height: 59px;
  width: 100%;
}

.community-navbar-wrap .inline-list {
  display: inline-block;
  list-style: outside none none;
  margin-bottom: 0;
  vertical-align: middle;
  width: 100%;
  padding-left: calc(25% + 15px);
  position: relative;
}

.community-navbar-wrap .inline-list .list-item {
  min-width: 100px;
  display: inline-block;
  padding: 0px 25px;
  text-align: center;
}
.community-navbar-wrap .inline-list .list-item a {
  color: var(--background-color);
  font-size: 14px;
  position: relative;
  line-height: initial;
  text-transform: capitalize;
  padding-bottom: 3px;
  font-weight: 400;
}
.community-navbar-wrap .inline-list .list-item:not(.active-link) {
  box-shadow: 0px 0px 5px;
  border-radius: 10px 10px 0px 0px;
  border-width: 1px 1px 0px 1px;
  border-color: #505050;
  border-style: solid;
  margin: 0px 5px 0px 0px;
}

.community-navbar-wrap .inline-list .list-item.active-link {
  position: absolute;
  padding-left: 0px;
  left: 10px;
}

li.list-item.active-link > a {
  font-size: 25px !important;
  pointer-events: none;
}
