.form-control input,
.form-control select {
  width: 100%;
  height: 30px;
}

table.program-table tr.row {
  margin-right: 0px;
  margin-left: 0px;
}

table.program-table tr > td,
table.program-table tr > th {
  border-right: 0px;
  border-left: 0px;
}

.form > .form-group > textarea {
  border-width: 1px;
  border-color: inherit;
}
