<div class="full-width">
  <form [formGroup]="requestMentorshipForm" (ngSubmit)="searchMentors()" >
      <section id="search-mentors">
        <div class="central-meta">
          <div class="editing-info">
            <h5 class="f-title">Make a Request</h5>
            <table class="table no-border">
              <thead>
                <tr>
                  <th>
                    <div class="row">
                      <div class="col-md-5">
                        <h6>Search Mentors</h6>
                      </div>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="row">
                      <div class="col-md-2">
                        <label for="name" class="form-control">Community</label>
                      </div>
                      <div class="col-md-3" *ngIf="communitiesList && communitiesList.length" >
                        <select class="form-control" formControlName="communityId" (change)="showMentors = false;">
                          <option *ngFor="let community of communitiesList; let i = index" value="{{community.communityId}}">{{ community.community_docs.name | titlecase }}</option>
                        </select>
                      </div>
                      <div class="col-md-3" *ngIf="!communitiesList || communitiesList.length === 0">
                          <input type="text" class="form-control" readonly="true" placeholder="No Communities Found" />
                      </div>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>
                    <div class="row">
                      <div class="col-md-2">
                        <label for="name" class="form-control">Name</label>
                      </div>
                      <div class="col-md-3">
                        <input type="text" class="form-control" placeholder="Name"  formControlName="mentorName" (input)="showMentors = false;" />
                      </div>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>
                    <div class="row">
                      <div class="col-md-2">
                        <button [disabled]="requestMentorshipForm.invalid" type="submit" class="mtr-btn">
                          <span>Search</span>
                        </button>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="editing-info" *ngIf="showMentors">
            <h5 class="f-title">Results</h5>
            <table class="table">
              <thead>
                <tr>
                    <th>Name</th>
                    <th>Level</th>
                    <th>Mentorship Score</th>
                    <th>Mentees</th>
                    <th>Available From</th>
                    <th>Request</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let mentor of mentorsList;let i = index;">
                  <td>{{ (mentor.firstName + ' ' + mentor.lastName) | titlecase }}</td>
                  <td>{{ mentor.communityUserDetails.level | titlecase }}</td>
                  <td>{{ mentor.communityUserDetails.mentorshipScore? mentor.mentorshipScore : 0 }}</td>
                  <td>{{ (mentor.mentees && mentor.mentees.length)? mentor.mentees.length : 0 }}</td>
                  <td>{{ getAvailableDate(mentor.communityUserDetails.availableFrom) | date: "mediumDate" }}</td>
                  <td>
                    <button class="mtr-btn" [disabled]="mentor.availableFlag" (click)="showMentorshipForm = true; selectedMentor = mentor;">
                      <span>Request</span>
                    </button>
                  </td>
                </tr>

                <tr *ngIf="mentorsList.length === 0">
                  <td colspan="6" class="text-center">
                    <p>No mentors found</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
  </form>
</div>

<!-- <div class="full-width">
  <section id="mentors-list" >
    <div class="central-meta">
      <div class="editing-info">
        <h5 class="f-title">Results</h5>
        <table class="table">
          <thead>
            <tr>
                <th>Name</th>
                <th>Level</th>
                <th>Mentorship Score</th>
                <th>Mentees</th>
                <th>Available From</th>
                <th>Request</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let mentor of mentorsList;let i = index;">
              <td>{{ (mentor && mentor.user_docs && mentor.user_docs.firstName) ? mentor.user_docs.firstName + ' ' + mentor.user_docs.lastName : '' }}</td>
              <td>{{ mentor.level | titlecase }}</td>
              <td>{{ mentor.mentorshipScore? mentor.mentorshipScore : 0 }}</td>
              <td>{{ (mentor.mentees && mentor.mentees.length)? mentor.mentees.length : 0 }}</td>
              <td>{{ mentor.availableFrom }}</td>
              <td>
                <button class="mtr-btn" [disabled]="(mentor.availableFlag)? false: true" (click)="showMentorshipForm = true; selectedMentor = mentor;">
                  <span>Request</span>
                </button>
              </td>
            </tr>

            <tr *ngIf="mentorsList.length === 0">
              <td colspan="6" class="text-center">
                <p>No mentors found</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div> -->

<div class="full-width">
  <section id="pending-requests-list">
    <div class="central-meta">
      <div class="editing-info">
        <h5 class="f-title">Unresponded Requests</h5>
        <ng-container *ngIf="pendingMentorshipRequests">
          <table class="table no-border" *ngFor="let pendingRequest of pendingMentorshipRequests; let i = index;">
            <tbody>
              <tr>
                <td colspan="3">
                  <h6>{{ pendingRequest.community | titlecase }} :</h6>
                </td>
              </tr>

              <ng-container *ngFor="let request of pendingRequest.requestList; let j = index;">
                <tr class="row">
                  <td class="col-md-8">
                    <p>{{ j + 1 }}. Request Made to {{ request.mentorId_user_docs.firstName + ' ' + request.mentorId_user_docs.lastName}}</p>
                  </td>
                  <td class="col-md-2">
                    <u (click)="request.showDetails = true;">Details</u>
                  </td>
                  <td class="col-md-2" *ngIf="!request.showDetails">
                    <button class="mtr-btn" (click)="withdrawRequest(request, i, j)">
                      <span>Withdraw</span>
                    </button>
                  </td>
                </tr>

                <ng-container *ngIf="request.showDetails">
                  <tr class="row">
                    <td class="col-md-3">
                      Name :
                    </td>
                    <td class="col-md-5">
                      {{ request.menteeId_user_docs.firstName + ' (' + request.menteeId_user_docs.username + ')'}}
                    </td>
                    <td class="col-md-2">&nbsp;</td>
                    <td class="col-md-2">Status: {{ ( request.menteeId_user_docs && request.menteeId_user_docs.mentorshipAvailabilitySettings && request.menteeId_user_docs.mentorshipAvailabilitySettings.available ) ? 'Available' : 'Unavailable' }}</td>
                  </tr>

                  <tr class="row">
                    <td class="col-md-3">
                      Community :
                    </td>
                    <td class="col-md-5">
                      {{ request.community_docs.name | titlecase }}
                    </td>
                    <td class="col-md-4">&nbsp;</td>
                  </tr>

                  <tr class="row">
                    <td class="col-md-3">
                      Level :
                    </td>
                    <td class="col-md-5">
                      {{ (request.menteeId_user_docs && request.menteeId_user_docs.communityUser && request.menteeId_user_docs.communityUser[0] && request.menteeId_user_docs.communityUser[0].level) ? ( request.menteeId_user_docs.communityUser[0].level | titlecase ) : '' }}
                    </td>
                    <td class="col-md-4">&nbsp;</td>
                  </tr>

                  <tr class="row">
                    <td class="col-md-3">
                      Topics :
                    </td>
                    <td class="col-md-5">
                      <ul class="list-group">
                        <li *ngFor="let topic of request.programDetails.topics.split('\n')" >{{ topic }}</li>
                      </ul>
                    </td>
                    <td class="col-md-4">&nbsp;</td>
                  </tr>

                  <tr class="row">
                    <td class="col-md-3">
                      Duration :
                    </td>
                    <td class="col-md-5">
                      {{ request.programDetails.duration }} weeks
                    </td>
                    <td class="col-md-4">&nbsp;</td>
                  </tr>

                  <tr class="row">
                    <td class="col-md-3">
                      Start From :
                    </td>
                    <td class="col-md-5">
                      {{ request.programDetails.startDate }}
                    </td>
                    <td class="col-md-4">&nbsp;</td>
                  </tr>

                  <tr class="row">
                    <td class="col-md-3">
                      Additional Information :
                    </td>
                    <td class="col-md-5">
                      {{ request.programDetails.additionalInfo }}
                    </td>
                    <td class="col-md-4">&nbsp;</td>
                  </tr>

                  <tr class="row">
                    <td class="offset-8 col-md-2">
                      <button class="mtr-btn" (click)="request.showDetails = false;">
                        <span>Close</span>
                      </button>
                    </td>
                    <td class="col-md-2">
                      <button class="mtr-btn" (click)="withdrawRequest(request, i, j)">
                        <span>Withdraw</span>
                      </button>
                    </td>
                  </tr>
                </ng-container>
              </ng-container>
            </tbody>
          </table>

          <table *ngIf="pendingMentorshipRequests.length === 0">
            <tbody>
              <tr class="row">
                <td class="col-md-12 text-center">
                  <p>No mentorship requests found</p>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>
      </div>
    </div>
  </section>

  <section id="requests-consideration-list">
    <div class="central-meta">
      <div class="editing-info">
        <h5 class="f-title">Requests Under Consideration</h5>
        <ng-container *ngIf="underConsiderationRequests">
          <table class="table no-border" *ngFor="let underConsiderationRequest of underConsiderationRequests; let i = index;">
            <tbody>
              <ng-container *ngFor="let consideration of underConsiderationRequest.requestList; let j = index;">
                <tr class="row">
                  <td class="col-md-9">
                    <h5>{{ underConsiderationRequest.community | titlecase }}</h5>
                  </td>
                  <td class="col-md-3" *ngIf="!consideration.showDetails">
                    <button disabled class="mtr-btn" (click)="withdrawRequest(consideration, i, j)">
                      <span>Withdraw Request</span>
                    </button>
                  </td>
                </tr>

                <tr class="row">
                  <td class="col-md-1">
                    Mentor :
                  </td>
                  <td class="col-md-5">
                    {{ consideration.mentorId_user_docs.firstName + ' ' + consideration.mentorId_user_docs.lastName + ' (' + consideration.mentorId_user_docs.username + ')'}}
                  </td>
                  <td class="col-md-1">
                    <div class="row">
                      <div class="col-md-6" title="Send Message">
                        <i class="fa fa-comment" aria-hidden="true"></i>
                      </div>
                      <div class="col-md-6" title="Video Message">
                        <i class="fa fa-video-camera" aria-hidden="true"></i>
                      </div>
                    </div>
                  </td>
                  <td class="offset-3 col-md-2">
                    Status: {{ ( consideration.mentorId_user_docs && consideration.mentorId_user_docs.mentorshipAvailabilitySettings && consideration.mentorId_user_docs.mentorshipAvailabilitySettings.available ) ? 'Available' : 'Unavailable' }}
                  </td>
                </tr>

                <tr class="row">
                  <td class="col-md-1">
                    Level :
                  </td>
                  <td class="col-md-7">
                    {{ (consideration.mentorId_user_docs && consideration.mentorId_user_docs.communityUser && consideration.mentorId_user_docs.communityUser[0] && consideration.mentorId_user_docs.communityUser[0].level) ? ( consideration.mentorId_user_docs.communityUser[0].level | titlecase ) : '' }}
                  </td>
                  <td class="col-md-4">&nbsp;</td>
                </tr>

                <tr class="row">
                  <td class="col-md-12">
                    <table id="proposed-program-{{ j + 1 }}" class="table table-bordered program-table">
                      <thead>
                        <tr class="row">
                          <th class="col-md-9">
                            <h5 class="f-title">Proposed Program</h5>
                          </th>

                          <th class="col-md-3">
                            <button class="mtr-btn" (click)="updateMentorship(consideration, 'IN PROGRESS')">
                              <span>Confirm</span>
                            </button>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="row">
                          <td class="col-md-3">
                            Duration :
                          </td>
                          <td class="col-md-5">
                            {{ consideration.programDetails.duration }} weeks
                          </td>
                          <td class="col-md-4">&nbsp;</td>
                        </tr>

                        <tr class="row">
                          <td class="col-md-3">Start Date</td>

                          <td class="col-md-3">
                            {{ consideration.programDetails.startDate }}
                          </td>

                          <td class="col-md-3">End Date</td>

                          <td class="col-md-3">
                            {{ getEndDate(consideration.programDetails.startDate, consideration.programDetails.duration)  }}
                          </td>
                        </tr>

                        <tr class="row">
                          <td class="col-md-3">Topics</td>

                          <td class="col-md-9">
                            <ul class="list-group">
                              <li *ngFor="let topic of consideration.programDetails.topics.split('\n')">{{ topic }}</li>
                            </ul>
                          </td>
                        </tr>

                        <tr class="row">
                          <td class="col-md-12">
                            <h6>Milestones:</h6>
                            <table class="table table-bordered">
                              <thead>
                                <tr class="row">
                                  <th class="col-md-6">Milestone</th>
                                  <th class="col-md-6">Completion Date</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr class="row" *ngFor="let milestone of consideration.mileStones">
                                  <td class="col-md-6">{{ milestone.title | titlecase }}</td>
                                  <td class="col-md-6">{{ milestone.date }}</td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                  </td>
                </tr>

                <tr class="row">
                  <td class="col-md-12">
                    <label>Conversation with {{ consideration.mentorId_user_docs.firstName + ' ' + consideration.mentorId_user_docs.lastName }}</label>
                    <ul>
                      <ng-container *ngFor="let mentorMessage of consideration.message">
                        <li>{{ (mentorMessage.user === user.username) ? 'You' : (consideration.mentorId_user_docs.firstName + ' ' + consideration.mentorId_user_docs.lastName) }} - "{{ mentorMessage.message }}"</li>
                      </ng-container>
                    </ul>
                  </td>
                </tr>

                <tr class="row">
                  <td class="col-md-12">
                    <form class="form" [formGroup]="mentorMessageForm" (submit)="updateMentorship(consideration)">
                      <div class="form-group">
                        <label class="form-control">Post to {{ consideration.mentorId_user_docs.firstName + ' ' + consideration.mentorId_user_docs.lastName }}</label>
                        <textarea class="form-control" rows="3" formControlName="message"></textarea>
                      </div>

                      <button type="submit" class="mtr-btn pull-right" [disabled]="mentorMessageForm.invalid" >
                        <span>Post</span>
                      </button>
                    </form>
                  </td>
                </tr>

              </ng-container>
            </tbody>
          </table>

          <table *ngIf="underConsiderationRequests.length === 0">
            <tbody>
              <tr class="row">
                <td class="col-md-12 text-center">
                  <p>No mentorship under consideration</p>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>
      </div>
    </div>
  </section>

  <section id="rejected-requests-list">
    <div class="central-meta">
      <div class="editing-info">
        <h5 class="f-title">Rejected Requests</h5>
        <ng-container *ngIf="rejectedMentorshipRequests">
          <table class="table no-border" *ngFor="let rejectedMentorshipRequest of rejectedMentorshipRequests; let i = index;">
            <tbody>
              <ng-container *ngFor="let rejectedRequest of rejectedMentorshipRequest.requestList; let j = index;">
                <tr class="row">
                  <td class="col-md-12">
                    <h5>{{ rejectedMentorshipRequest.community | titlecase }}</h5>
                  </td>
                </tr>

                <tr class="row">
                  <td class="col-md-3">
                    Mentor :
                  </td>
                  <td class="col-md-5">
                    {{ rejectedRequest.mentorId_user_docs.firstName + ' ' + rejectedRequest.mentorId_user_docs.lastName + ' (' + rejectedRequest.mentorId_user_docs.username + ')'}}
                  </td>
                  <td class="col-md-2">&nbsp;</td>
                  <td class="col-md-2">
                    Status: {{ ( rejectedRequest.mentorId_user_docs && rejectedRequest.mentorId_user_docs.mentorshipAvailabilitySettings && rejectedRequest.mentorId_user_docs.mentorshipAvailabilitySettings.available ) ? 'Available' : 'Unavailable' }}
                  </td>
                </tr>

                <tr class="row">
                  <td class="col-md-3">
                    Level :
                  </td>
                  <td class="col-md-5">
                    {{ (rejectedRequest.mentorId_user_docs && rejectedRequest.mentorId_user_docs.communityUser && rejectedRequest.mentorId_user_docs.communityUser[0] && rejectedRequest.mentorId_user_docs.communityUser[0].level) ? ( rejectedRequest.mentorId_user_docs.communityUser[0].level | titlecase ) : '' }}
                  </td>
                  <td class="col-md-4">&nbsp;</td>
                </tr>

                <tr class="row">
                  <td class="col-md-12">
                    <table id="proposed-program-{{ j + 1 }}" class="table table-bordered program-table">
                      <thead>
                        <tr class="row">
                          <th class="col-md-12">
                            <h5 class="f-title">Proposed Program</h5>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="row">
                          <td class="col-md-3">
                            Duration :
                          </td>
                          <td class="col-md-5">
                            {{ rejectedRequest.programDetails.duration }} weeks
                          </td>
                          <td class="col-md-4">&nbsp;</td>
                        </tr>

                        <tr class="row">
                          <td class="col-md-3">Start Date</td>

                          <td class="col-md-3">
                            {{ rejectedRequest.programDetails.startDate }}
                          </td>

                          <td class="col-md-3">End Date</td>

                          <td class="col-md-3">
                            {{ getEndDate(rejectedRequest.programDetails.startDate, rejectedRequest.programDetails.duration)  }}
                          </td>
                        </tr>

                        <tr class="row">
                          <td class="col-md-3">Topics</td>

                          <td class="col-md-9">
                            <ul class="list-group">
                              <li *ngFor="let topic of rejectedRequest.programDetails.topics.split('\n')">{{ topic }}</li>
                            </ul>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>

          <table *ngIf="rejectedMentorshipRequests.length === 0">
            <tbody>
              <tr class="row">
                <td class="col-md-12 text-center">
                  <p>No rejected mentorship requests</p>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>
      </div>
    </div>
  </section>
</div>

<div id="request-mentorship" *ngIf="showMentorshipForm">
  <app-request-mentorship [mentor]="selectedMentor" (hideForm)="showMentorshipForm = $event; selectedMentor = null;"></app-request-mentorship>
</div>
