<table class="mentorship-table table table-bordered table-stripped">
  <thead>
    <tr>
        <th>Name</th>
        <th>Level</th>
        <th>Mentorship Score</th>
        <th>Mentees</th>
        <th>Available From</th>
        <th>Request</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of usersList;let i = index;">
      <td>{{ (user && user.user_docs && user.user_docs.firstName) ? user.user_docs.firstName + ' ' + user.user_docs.lastName : '' }}</td>
      <td>{{ user.level | titlecase }}</td>
      <td>{{ user.mentorshipScore? user.mentorshipScore : 0 }}</td>
      <td>{{ (user.mentees && user.mentees.length)? user.mentees.length : 0 }}</td>
      <td>{{ user.availableFrom }}</td>
      <td>
        <button class="mtr-btn" [disabled]="(user.availableFlag)? false: true" (click)="toggleMentorshipForm(i)">
          <span>Request</span>
        </button>
      </td>
    </tr>
    <tr *ngIf="usersList.length === 0">
      <td colspan="6" class="text-center">
        <p>No mentors found</p>
      </td>
    </tr>
  </tbody>
</table>
