.table td .anchor-link {
    margin: 0px 10px;
}

#moderator-dashboard {
    padding-top: 15px;
}

#moderator-dashboard > .row {
    margin: 20px 0px;
}

#moderator-dashboard .card-body .fa {
    color: var(--background-color);
}