<section id="moderator-dashboard">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="card text-center">
        <h5 class="card-header">Chat Management</h5>
        <div class="card-body">
          <h5 class="card-title"><i class="fa fa-5x fa-comments" aria-hidden="true"></i></h5>
          <p class="card-text">Reported Chats</p>
          <button class="mtr-btn" (click)="navigateToListing('CHAT')">
              <span>View Reported Chats</span>
          </button>
          
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="card text-center">
        <h5 class="card-header">Timeline Management</h5>
        <div class="card-body">
          <h5 class="card-title"><i class="fa fa-5x fa-rss" aria-hidden="true"></i></h5>
          <p class="card-text">Reported Timeline</p>
          <button class="mtr-btn" (click)="navigateToListing('TIMELINE')">
            <span>View Reported Timeline</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="card text-center">
        <h5 class="card-header">Message Management</h5>
        <div class="card-body">
          <h5 class="card-title"><i class="fa fa-5x fa-envelope" aria-hidden="true"></i></h5>
          <p class="card-text">Reported Messages</p>
          <button disabled class="mtr-btn" (click)="navigateToListing('MESSAGE')">
              <span>View Reported Messages</span>
          </button>
          
        </div>
      </div>
    </div>
  </div>
</section>