<div class="full-width">
  <form [formGroup]="searchForm" (submit)="search()">
    <section id="search-details">
      <div class="central-meta">
        <div class="editing-info">
          <h5 class="f-title">Search</h5>
          <table class="table no-border">
            <tbody>
              <tr class="row">
                <td class="col-md-4">
                  <div class="row">
                    <div class="col-md-6">
                      <label for="keyword" class="form-control">Keyword</label>
                    </div>
                    <div class="col-md-6">
                      <input id="keyword" class="form-control" type="text" formControlName="keyword" (keyup)="showSearchResults = false; resetCategoryItems()" />
                    </div>
                  </div>
                </td>
              </tr>

              <tr class="row">
                <td class="col-md-4">
                  <div class="row">
                    <div class="col-md-6">
                      <label for="matchType" class="form-control">Match Type</label>
                    </div>
                    <div class="col-md-6">
                      <select id="matchType" class="form-control" formControlName="matchType"  (change)="showSearchResults = false; resetCategoryItems()">
                        <option value="contains">Contains</option>
                        <option value="exact-match">Exact Match</option>
                      </select>
                    </div>
                  </div>
                </td>
              </tr>

              <tr class="row">
                <td class="col-md-4">
                  <div class="row">
                    <div class="col-md-6">
                      <label for="category" class="form-control">Category</label>
                    </div>
                    <div class="col-md-6">
                      <select id="category" class="form-control" formControlName="category" (change)="showSearchResults = false; resetCategoryItems()">
                        <option value="books">Books</option>
                        <option value="videos">Video</option>
                        <option value="audio-books">Audio Books</option>
                        <option value="blogs">Blogs</option>
                        <option value="all">All</option>
                      </select>
                    </div>
                  </div>
                </td>
              </tr>

              <tr class="row">
                <td class="col-md-4">
                  <div class="row">
                    <div class="col-md-6 offset-6">
                      <button [disabled]="searchForm.invalid" type="submit" class="mtr-btn">
                        <span>Search</span>
                      </button>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </form>
</div>

<div class="full-width" *ngIf="showSearchResults">
  <section id="search-results-details">
    <div class="central-meta">
      <div class="editing-info">
        <h5 class="f-title">Results:</h5>
        <br />
        <div class="card" *ngFor="let category of categories; let i = index;">
          <div class="card-body">
            <div class="notification-box">
              <ul>
                <li>
                  <h6 class="f-title">{{ category.id | uppercase }}</h6>
                </li>
                <li *ngFor="let item of category.items.slice(0, 10); let idx = index;">
                  <div class="clearfix">
                    <div class="notifi-meta">
                      <ng-container *ngIf="item.link then downloadLink else downloadFile"></ng-container>

                      <ng-template #downloadLink>
                        <div class="row search-results" (click)="showSearchPopup(item)">
                          <div class="col-md-12">
                            <h5 class="link-title">{{ item.title | titlecase }}</h5>
                          </div>
                          <div class="col-md-8">
                            <p class="link">{{ item.link }}</p>
                          </div>
                          <div class="col-md-12">
                            <p class="text-justify">{{ item.desc.split(' ').slice(0, 25).join(' ') + '...' }}</p>
                          </div>
                        </div>
                      </ng-template>

                      <ng-template #downloadFile>
                        <div class="row search-results" (click)="showSearchPopup(item)">
                          <div class="col-md-12">
                            <h5 class="link-title">{{ item.title | titlecase }}</h5>
                          </div>
                          <div class="col-md-8">
                            <p class="link">{{ item.fileUpload }}</p>
                          </div>
                          <div class="col-md-12">
                            <p class="text-justify">{{ item.desc.split(' ').slice(0, 25).join(' ') + '...' }}</p>
                          </div>
                        </div>
                      </ng-template>
                    </div>
                  </div>
                </li>

                <li *ngIf="category.items.length === 0">
                  <div class="clearfix">
                    <div class="notifi-meta">
                      <div class="row search-results">
                        <div class="col-md-12">
                          <p>No entries found</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<ng-container *ngIf="displaySearchItem" >
  <app-search-popup [searchItem]="searchItem" (hidePopup)="displaySearchItem = $event"></app-search-popup>
</ng-container>
