.link-title {
  color: var(--link-color);
}

.link-title:hover {
  text-decoration: underline;
}

.search-results {
  cursor: pointer;
}

.search-results .link {
  white-space: nowrap;
  margin: 0px 0px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.f-title {
  font-size: 17.5px;
  font-weight: 600;
  text-transform: capitalize;
  color: #000;
  margin-bottom: 0px;
  padding-bottom: 20px;
  position: relative;
  display: inline-block;
}

.notification-box>ul>li {
  border-bottom: 1px solid #e1e8ed;
  display: inline-block;
  margin-bottom: 20px;
  padding: 0px 0px;
  width: 100%;
}

.notification-box>ul>li:first-child {
  border: 0px;
}
