<div class="hiring-settings-wrap">
  <div class="form">
    <section id="visibility-restriction-details">
      <div class="central-meta">
        <div class="editing-info">
          <h5 class="f-title">Hiring Settings Coming Soon</h5>
        </div>
      </div>
    </section>
  </div>
</div>
