<div class="w-100 h-100 d-flex justify-content-center align-items-center">
  <div class="spinner-border spinner-size" [ngStyle]="getStyles()" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
