/* You can add global styles to this file, and also import other style files */
.loading {
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/images/loader.gif');
  background-position: center center;
  background-repeat: no-repeat;
}

body {
  width: 100vw;
  height: 100vh;
}

.logo > a > img {
  padding: 10px;
}

body a,
body a:hover {
  text-decoration: none !important;
}

.full-width {
  width: 100%;
}

.user-avatar > figure img {
  width: 160px;
  height: 160px;
}

img.user-icon {
  width: 32px !important;
  height: 32px !important;
}

input.form-control {
  border: 1px solid var(--border-color);
}

.no-border tr > th,
.no-border tr > td {
  border-top: 0px;
  border-bottom: 0px;
}

button:disabled,
.mtr-btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.roletune-upload {
  cursor: pointer;
  background: var(--background-color);
  color: white;
  padding: 5px 20px;
}

.modal-wrap {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.modal-wrap .modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
}

.modal-wrap .modal-content {
  width: 50%;
  max-height: 75%;
  position: fixed;
  z-index: 101;
  top: 12.5%;
  left: 25%;
  overflow-y: auto;
}

aside.sidebar.static,
aside.sidebar .widget li,
aside.sidebar .widget li > a {
  background: transparent;
}

aside.sidebar .widget li span {
  color: var(--background-color);
}

.slick-slider > .slick-list > .slick-track {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.anchor-link {
  cursor: pointer;
}

.disabled-link {
  cursor: not-allowed;
}

body textarea {
  resize: none !important;
}

.colored {
  color: var(--background-color) !important;
}

div#empty-layout .gap.gray-bg {
  padding: 15px 0px;
  min-height: 100vh;
}

.rotate-45 {
  transform: rotate(45deg);
}

.close-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.close-icon:hover {
  background: rgba(0,0,0,0.03);
}

.grey-border {
  border: 1px solid #ede9e9;
}

.active-link {
  font-weight: bold;
}

.roletune-page-title {
  height: 50px;
  padding: 0px 15px;
  margin-top: 1px;
  background-color: var(--background-color);
}
