.full-width {
  #propose-interest-form {
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    padding: 30px;
    margin: 30px;
    border: 1px solid #000000;
    box-sizing: border-box;
  }
}
