<div class="full-width">
  <div class="modal-wrap">
    <div class="modal-overlay" (click)="toggleForm(false)"></div>
    <div class="modal-content">
      <span class="float-right close-modal" (click)="toggleForm(false)">+</span>
      <form id="propose-interest-form" class="full-width full-height" [formGroup]="proposeInterestForm" (ngSubmit)="proposeInterest()">

        <div class="form-heading">
          <label>Suggest an Addition: </label>
        </div>

        <div class="clearfix">
          <div class="two-fifth">
            <input type="text" formControlName="interest"/>
          </div>

          <div class="two-fifth">
            <input type="text" formControlName="parent"/>
          </div>

          <div class="one-fifth">
            <input type="button" (click)="displaySuggestion = true;" value="Submit"/>
            <input type="reset" value="Cancel"/>
          </div>

        </div>

        <div class="full-width" *ngIf="displaySuggestion">
          <div class="form-group">
            <p>Arts -> Performing Arts -> "Oriental Magic"</p>
          </div>

          <div class="form-group">
            <input type="submit" value="Propose"/>
            <input type="button" (click)="displaySuggestion = false;proposeInterestForm.reset();" value="Cancel"/>
          </div>
        </div>

        <div class="full-width" *ngIf="displayStatus">
            <div class="form-group">
              <p>Thank you for providing an interest suggestion.</p>
              <p>Proposal would be reviewed and decided within</p>
              <p>48 hours</p>
              <div class="clearfix">
                <span class="float-right" (click)="toggleForm(false)">CLOSE</span>
              </div>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>
