<div id="admin-listing" class="full-width">
    <div class="central-meta">
      <div class="editing-info">
        <h5 class="f-title">Users</h5>
        <div class="row">
          <div class="col-md-6" *ngFor="let user of users; let i = index;">
            <div class="card">
              <div class="card-header">{{ user.firstName | titlecase }} {{ user.lastName | titlecase }}</div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6 text-left">
                    <p class="card-text">Location: {{ user.location }}</p>
                  </div>
                  <div class="col-md-6 text-right">
                    <p class="card-text">Joined On: {{ user.createdAt | momentDate : 'SHORT' | date : 'mediumDate' }}</p>
                  </div>
                </div>

                <div class="text-center">
                  <img src="{{ user.profileImage ? user.profileImage : 'assets/images/resources/user.jpg' }}" />
                </div>
                <h5 class="card-title text-center">({{ user.username}})</h5>
                
                <div class="row">
                  <div class="col-md-12">
                    <p class="card-text">Communities: {{ user.communities.join(', ') | titlecase }}</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <p class="card-text">Roles: {{ getUserRoles(user.roles) | titlecase }}</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 clearfix">
                    <button class="mtr-btn" [disabled]="isSiteModerator(user)" (click)="makeModerator(user)" title="Add Moderator">
                      <span>Add Moderator</span>
                    </button>
                    <button class="mtr-btn pull-right" (click)="deleteUser(user, i)" title="Delete User">
                      <span>Delete User</span>
                    </button>
                  </div>
                </div>

                <div class="row" *ngIf="user.message">
                  <div class="col-md-12 text-center">
                    <p [ngClass]="{'text-success': user.message.status, 'text-danger': !user.message.status }">{{ user.message.message }}</p>
                  </div>
                </div>
                
              </div>
            </div>       
          </div>
        </div>

        <div class="row" *ngIf="message">
          <div class="col-md-12 text-center">
            <p [ngClass]="{'text-success': message.status, 'text-danger': !message.status }">{{ message.message }}</p>
          </div>
        </div>

        <div class="row" *ngIf="config && config.loadMore">
          <div class="col-md-12 text-center">
            <i class="fa fa-spinner fa-2x fa-fw margin-bottom" (click)="pageNumber = pageNumber + 1; loadUsers()" [ngClass]="{'fa-spin': config.loading }"></i>    
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <a class="mtr-btn" [routerLink]="['/main/admin/dashboard']" routerLinkActive="router-link-active">
              <span>Go Back</span>
            </a> 
          </div>
        </div>
      </div>
    </div>
</div>
