<div class="full-width">
  <section id="pending-requests-list">
    <div class="central-meta">
      <div class="editing-info">
        <ng-container *ngIf="pendingMentorshipRequests">
          <h5 class="f-title">New Requests ({{ pendingMentorshipRequests.length }})</h5>
          <table class="table no-border" *ngFor="let pendingRequest of pendingMentorshipRequests; let i = index;">
            <tbody>
              <tr class="row">
                <td class="col-md-8">
                  <h6>{{ i + 1 }}.{{ (pendingRequest.menteeId_user_docs && pendingRequest.menteeId_user_docs.firstName) ? (pendingRequest.menteeId_user_docs.firstName + ' ' + pendingRequest.menteeId_user_docs.lastName | titlecase ) : '' }} requested for mentrorship in {{ pendingRequest.community_docs.name | titlecase }}</h6>
                </td>

                <td class="col-md-1">
                  <u (click)="pendingRequest.showDetails = !pendingRequest.showDetails" >Details</u>
                </td>

                <td class="col-md-3" [ngClass]="{'invisible': pendingRequest.showDetails }">
                  <button type="button" class="mtr-btn" (click)="respondMentorshipRequest(i, 'UNDER CONSIDERATION')">
                    <span>Accept</span>
                  </button>

                  <button type="button" class="pull-right mtr-btn" (click)="respondMentorshipRequest(i, 'REJECTED')">
                    <span>Reject</span>
                  </button>
                </td>

              </tr>

              <ng-container *ngIf="pendingRequest.showDetails">
                <tr class="row">
                  <td class="col-md-3">
                    Name :
                  </td>
                  <td class="col-md-5">
                    {{ pendingRequest.menteeId_user_docs.firstName + ' (' + pendingRequest.menteeId_user_docs.username + ')'}}
                  </td>
                  <td class="col-md-2">&nbsp;</td>
                  <td class="col-md-2">Status: {{ ( pendingRequest.menteeId_user_docs && pendingRequest.menteeId_user_docs.mentorshipAvailabilitySettings && pendingRequest.menteeId_user_docs.mentorshipAvailabilitySettings.available ) ? 'Available' : 'Unavailable' }}</td>
                </tr>

                <tr class="row">
                  <td class="col-md-3">
                    Community :
                  </td>
                  <td class="col-md-5">
                    {{ pendingRequest.community_docs.name | titlecase }}
                  </td>
                  <td class="col-md-4">&nbsp;</td>
                </tr>

                <tr class="row">
                  <td class="col-md-3">
                    Level :
                  </td>
                  <td class="col-md-5">
                    {{ (pendingRequest.menteeId_user_docs && pendingRequest.menteeId_user_docs.communityUser && pendingRequest.menteeId_user_docs.communityUser[0] && pendingRequest.menteeId_user_docs.communityUser[0].level) ? ( pendingRequest.menteeId_user_docs.communityUser[0].level | titlecase ) : '' }}
                  </td>
                  <td class="col-md-4">&nbsp;</td>
                </tr>

                <tr class="row">
                  <td class="col-md-3">
                    Topics :
                  </td>
                  <td class="col-md-5">
                    <ul class="list-group">
                      <li *ngFor="let topic of pendingRequest.programDetails.topics.split('\n')" >
                        {{ topic }}
                      </li>
                    </ul>
                  </td>
                  <td class="col-md-4">&nbsp;</td>
                </tr>

                <tr class="row">
                  <td class="col-md-3">
                    Duration :
                  </td>
                  <td class="col-md-5">
                    {{ pendingRequest.programDetails.duration }} weeks
                  </td>
                  <td class="col-md-4">&nbsp;</td>
                </tr>

                <tr class="row">
                  <td class="col-md-3">
                    Start From :
                  </td>
                  <td class="col-md-5">
                    {{ pendingRequest.programDetails.startDate }}
                  </td>
                  <td class="col-md-4">&nbsp;</td>
                </tr>

                <tr class="row">
                  <td class="col-md-3">
                    Additional Information :
                  </td>
                  <td class="col-md-5">
                    {{ pendingRequest.programDetails.additionalInfo }}
                  </td>
                  <td class="col-md-4">&nbsp;</td>
                </tr>

                <tr class="row">
                    <td class="col-md-8">&nbsp;</td>

                    <td class="col-md-4">
                      <button type="button" class="mtr-btn" (click)="respondMentorshipRequest(i, 'UNDER CONSIDERATION')">
                        <span>Accept</span>
                      </button>

                      <button type="button" class="btn-margin mtr-btn" (click)="respondMentorshipRequest(i, 'REJECTED')">
                        <span>Reject</span>
                      </button>

                      <button type="button" class="mtr-btn" (click)="pendingRequest.showDetails = false;" >
                        <span>Close</span>
                      </button>
                    </td>

                  </tr>
              </ng-container>
            </tbody>
          </table>

          <table *ngIf="pendingMentorshipRequests.length === 0">
            <tbody>
              <tr class="row">
                <td class="col-md-12 text-center">
                  <p>No new mentorship requests found</p>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>
      </div>
    </div>
  </section>

  <section id="requests-consideration-list">
    <div class="central-meta">
      <div class="editing-info">
        <h5 class="f-title">Requests Under Consideration</h5>
        <ng-container *ngIf="underConsiderationRequests">
          <table class="table no-border" *ngFor="let underConsiderationRequest of underConsiderationRequests; let i = index;">
            <tbody>
              <ng-container *ngFor="let consideration of underConsiderationRequest.requestList; let j = index;">
                <tr class="row">
                  <td class="col-md-9">
                    <h5 class="f-title">{{ underConsiderationRequest.community | titlecase }}</h5>
                  </td>
                  <td class="col-md-3" *ngIf="!consideration.showDetails">
                    <button disabled class="mtr-btn" (click)="withdrawRequest(consideration, i, j)">
                      <span>Disengage</span>
                    </button>
                  </td>
                </tr>

                <tr class="row">
                  <td class="col-md-4">
                    {{ consideration.menteeId_user_docs.firstName + ' ' + consideration.menteeId_user_docs.lastName + ' (' + consideration.menteeId_user_docs.username + ')'}}
                  </td>
                  <td class="col-md-1">
                    <div class="row">
                      <div class="col-md-6" title="Send Message">
                        <i class="fa fa-comment" aria-hidden="true"></i>
                      </div>
                      <div class="col-md-6" title="Video Message">
                        <i class="fa fa-video-camera" aria-hidden="true"></i>
                      </div>
                    </div>
                  </td>
                  <td class="offset-3 col-md-4">
                    Status : {{ ( consideration.menteeId_user_docs && consideration.menteeId_user_docs.mentorshipAvailabilitySettings && consideration.menteeId_user_docs.mentorshipAvailabilitySettings.available ) ? 'Available' : 'Unavailable' }}
                  </td>
                </tr>

                <tr class="row">
                  <td class="col-md-2">
                    Community :
                  </td>
                  <td class="col-md-10">
                    {{ underConsiderationRequest.community | titlecase }}
                  </td>
                </tr>

                <tr class="row">
                  <td class="col-md-2">
                    Level :
                  </td>
                  <td class="col-md-10">
                    {{ (consideration.menteeId_user_docs && consideration.menteeId_user_docs.communityUser && consideration.menteeId_user_docs.communityUser[0] && consideration.menteeId_user_docs.communityUser[0].level) ? ( consideration.menteeId_user_docs.communityUser[0].level | titlecase ) : '' }}
                  </td>
                </tr>

                <tr class="row">
                  <td class="col-md-12">
                    <table id="proposed-program-{{ j + 1 }}" class="table table-bordered program-table">
                      <thead>
                        <tr class="row">
                          <th class="col-md-7">
                            <h5 class="f-title">Proposed Program</h5>
                          </th>

                          <th class="col-md-5">
                            <div class="row">
                              <div class="col-md-6">
                                <button disabled class="mtr-btn" (click)="withdrawRequest(consideration, i, j)">
                                  <span>Create Program</span>
                                </button>
                              </div>

                              <div class="col-md-6">
                                <button disabled class="mtr-btn" (click)="withdrawRequest(consideration, i, j)">
                                  <span>Edit</span>
                                </button>
                              </div>
                            </div>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="row">
                          <td class="col-md-3">
                            Duration :
                          </td>
                          <td class="col-md-5">
                            {{ consideration.programDetails.duration }} weeks
                          </td>
                          <td class="col-md-4">&nbsp;</td>
                        </tr>

                        <tr class="row">
                          <td class="col-md-3">Start Date</td>

                          <td class="col-md-3">
                            {{ consideration.programDetails.startDate }}
                          </td>

                          <td class="col-md-3">End Date</td>

                          <td class="col-md-3">
                            {{ getEndDate(consideration.programDetails.startDate, consideration.programDetails.duration)  }}
                          </td>
                        </tr>

                        <tr class="row">
                          <td class="col-md-3">Topics</td>

                          <td class="col-md-9">
                            <ul class="list-group">
                              <li *ngFor="let topic of consideration.programDetails.topics.split('\n')">{{ topic }}</li>
                            </ul>
                          </td>
                        </tr>

                        <tr class="row">
                          <td class="col-md-12">
                            <h6>Milestones:</h6>
                            <table class="table table-bordered">
                              <thead>
                                <tr class="row">
                                  <th class="col-md-6">Milestone</th>
                                  <th class="col-md-6">Completion Date</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr class="row" *ngFor="let milestone of consideration.mileStones">
                                  <td class="col-md-6">{{ milestone.title | titlecase }}</td>
                                  <td class="col-md-6">{{ milestone.date }}</td>
                                </tr>

                                <tr class="row" *ngIf="consideration.mileStones && (consideration.mileStones.length === 0)">
                                  <td class="col-md-12 text-center">No milestones found</td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                  </td>
                </tr>

                <tr class="row">
                  <td class="col-md-12">
                    <label>Conversation with {{ consideration.menteeId_user_docs.firstName + ' ' + consideration.menteeId_user_docs.lastName }}</label>
                    <ul>
                      <ng-container *ngFor="let mentorMessage of consideration.message">
                        <li>{{ (mentorMessage.user === user.username) ? 'You' : (consideration.menteeId_user_docs.firstName + ' ' + consideration.menteeId_user_docs.lastName) }} - "{{ mentorMessage.message }}"</li>
                      </ng-container>
                    </ul>
                  </td>
                </tr>

                <tr class="row">
                  <td class="col-md-12">
                    <form class="form" [formGroup]="mentorMessageForm" (submit)="updateMentorMessage(consideration)">
                      <div class="form-group">
                        <label class="form-control">Post to {{ consideration.menteeId_user_docs.firstName + ' ' + consideration.menteeId_user_docs.lastName }}</label>
                        <textarea class="form-control" rows="3" formControlName="message"></textarea>
                      </div>

                      <button type="submit" class="mtr-btn pull-right" [disabled]="mentorMessageForm.invalid" >
                        <span>Post</span>
                      </button>
                    </form>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>

          <table *ngIf="underConsiderationRequests.length === 0">
            <tbody>
              <tr class="row">
                <td class="col-md-12 text-center">
                  <p>No mentorship under consideration</p>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>
      </div>
    </div>
  </section>
</div>

<div id="request-mentorship" *ngIf="showResponseForm">
  <app-mentor-response [mentorshipRequest]="mentorshipRequestConfig" (hideForm)="handleMentorshipResponse($event)"></app-mentor-response>
</div>
