table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }

.container .mentorship-heading {
  font-size: 17.5px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 20px;
  position: relative;
  background: var(--background-color);
  padding: 10px 20px;
  color: #fff;
  text-shadow: 2.5px 1.25px 2.5px #ffffff;
}
