<div class="full-width" *ngIf="!loading">
  <div class="central-meta">
    <h5 class="f-title">Recommendations</h5>
    <div class="accordion mt-0 w-100" id="accordion">
      <div class="card" *ngIf="message">
        <div class="card-header text-center">
          <p class="mb-0" [ngClass]="{ 'text-success': message.type, 'text-danger': !message.type }">{{ message.message }}</p>
        </div>
      </div>
      <div class="card" *ngFor="let recommendation of recommendationList; let i = index;">
        <div class="card-header">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" (click)="toggleActiveRecommendation(i)">{{ recommendation.community | titlecase }}</button>
          </h5>
        </div>

        <div [ngClass]="{ 'collapse': activeRecommendationCommunity !== i }">
          <div class="card-body">
            <ul>
              <ng-container *ngIf="recommendation.recommendations.length then recommendationTemplate else noRecommendationTemplate"></ng-container>

              <ng-template #recommendationTemplate>
                <li *ngFor="let recommendationItem of recommendation.recommendations; let j = index" class="mb-3">
                  <div class="clearfix row m-0">
                    <figure class="recommender col-md-2">
                      <img class="user-icon" [src]="(recommendationItem && recommendationItem.recommender && recommendationItem.recommender.profileImage)? recommendationItem.recommender.profileImage : 'assets/images/resources/user.jpg'" alt="" />
                    </figure>
                    <div class="notifi-meta" [ngClass]="{ 'col-md-6': showEdit, 'col-md-10': !showEdit }">
                      <p>{{ (recommendationItem && recommendationItem.recommender && recommendationItem.recommender.firstName)? recommendationItem.recommender.firstName + ' ' + recommendationItem.recommender.lastName : 'Name'}}</p>
                      <span>{{ recommendationItem.recommenderAt | momentDate | date: "medium" }}</span>
                      <p><em>"{{ recommendationItem.recommenderMessage }}"</em></p>
                    </div>
                    <div class="col-md-4 d-flex align-items-center justify-content-end" *ngIf="showEdit">
                      <button [disabled]="submitting" class="update-button mtr-btn" *ngIf="recommendationItem.recommenderStatus === statusTypes.pending" (click)="updateRecommendations(i, j, statusTypes.approved)">
                        <span>Approve</span>
                      </button>
                      <button [disabled]="submitting" class="update-button mtr-btn ml-3" (click)="deleteRecommendation(i, j)">
                        <span>Remove</span>
                      </button>
                    </div>
                  </div>
                </li>
              </ng-template>

              <ng-template #noRecommendationTemplate>
                <li>
                  <div class="row">
                    <div class="col-md-12">
                      <a>
                        No recommendations found
                      </a>
                    </div>
                  </div>
                </li>
              </ng-template>

            </ul>
          </div>
        </div>
      </div>

      <div class="card" *ngIf="recommendationList.length === 0;">
        <div class="card-header">
          <h5 class="mb-0">No recommendations found</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-white h-100" *ngIf="loading">
  <app-loader></app-loader>
</div>

<div class="full-width" *ngIf="!loading && (user.username !== guestUser.username)">
  <form [formGroup]="recommendationsForm" (ngSubmit)="submitRecommendation()">
    <section id="recommendation-details">
        <div class="central-meta">
            <div class="editing-info">
              <h5 class="f-title">Add a Recommendation</h5>
              <div class="form-control">
                <div class="row">
                  <div class="col-md-8">
                    <label class="control-label">Select Community</label>
                    <br />
                    <select class="form-control" formControlName="recommenderCommunity">
                      <option value="all"></option>
                      <option *ngFor="let community of communitiesList" [value]="community.community_docs.name">{{ (community.community_docs && community.community_docs.name) ? ( community.community_docs.name | titlecase ) : '' }}</option>
                    </select>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-8">
                    <label class="control-label">Recommendation</label>
                    <br />
                    <textarea class="form-control" formControlName="message" rows="5" cols="50"></textarea>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-8">
                    <label class="control-label">&nbsp;</label>
                    <br />
                    <button type="reset" class="mtr-btn">
                      <span>CANCEL</span>
                    </button>
                    <button type="submit" [disabled]="recommendationsForm.invalid || submitting" class="mtr-btn pull-right">
                      <span>SUBMIT</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </section>
  </form>
</div>
