.recommendations-wrap {
  background: #ffffff;
}
.central-meta > .credentials-container {
  padding-top: 0px;
  padding-bottom: 0px;
}

.clearfix > .mtr-btn {
  font-size: 12px;
  padding: 0px 15px;
}

.card-body ul {
  list-style: none;
  padding: 0% 0%;
}

.recommender {
  width: 14%;
  float: left;
}

.recommender > img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.update-button.mtr-btn {
  padding: 0px 10px;
  border-radius: 3px;
}

.card .card-header {
  background-color: var(--white);
}
