<div class="full-width">
    <form [formGroup]="communityStatsForm" (submit)="communityStats()">
      <section id="search-details">
        <div class="central-meta">
          <div class="editing-info">
            <h5 class="f-title">Community Stats</h5>
          </div>
        </div>
      </section>
    </form>
  </div>