#reported-content-wrapper {
    margin-top: 15px;
}

.moderator-actions > .text-center {
    width: 50%;
    font-size: 18px;
}

.moderator-actions > .not-allowed {
    cursor: not-allowed;
}

.action-buttons > a {
    margin-right: 15px;
}