<section id="reported-content-wrapper" class="full-width">
  <div class="central-meta">
    <div class="editing-info" *ngIf="reportedContentDetails">
      <h5 class="f-title">
        <ng-container *ngIf="reportedContentDetails.type === listingTypes.chat">Reported Chat Details</ng-container>
        <ng-container *ngIf="reportedContentDetails.type === listingTypes.timeline">Reported Timeline Details</ng-container>
        <ng-container *ngIf="reportedContentDetails.type === listingTypes.message">Reported Message Details</ng-container>
      </h5>
      <div class="row" *ngIf="reportedContentDetails">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <span>Reported By</span>
              <p *ngIf="reportedContentDetails.reporter">{{ reportedContentDetails.reporter.firstName + ' ' + reportedContentDetails.reporter.lastName }}</p>
            </div>
            <div class="col-md-4">
              <span>Reported On</span>
              <p>{{ reportedContentDetails.createdAt | momentDate | date : 'medium' }}</p>
            </div>
            <div class="col-md-4">
              <span>Take Action</span>
              <p class="action-buttons">
                <a class="anchor-link" title="Edit">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a class="anchor-link" title="Delete">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Reported Content</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngIf="reportedContent">
                <td>
                  <ng-container [ngSwitch]="reportedContentDetails.type">
                    <ng-container *ngSwitchCase="listingTypes.chat">
                      <ng-container [ngTemplateOutlet]="reportedChatTemplate"></ng-container>
                    </ng-container>

                    <ng-container *ngSwitchCase="listingTypes.timeline">
                      <ng-container [ngTemplateOutlet]="reportedTimelineTemplate"></ng-container>
                    </ng-container>

                    <ng-container *ngSwitchDefault>
                      <div class="central-meta">
                        <div class="editing-info">
                          <h5 class="f-title">Reported content details not found</h5>
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>
                </td>
              </tr>

              <tr *ngIf="!reportedContent">
                <td class="text-center">Reported content couldn't be found</td>
              </tr>
            </tbody>

            <tfoot>
              <tr *ngIf="message">
                <td class="text-center">
                  <p [ngClass]="{'text-success': message.status, 'text-danger': !message.status}">{{ message.message }}</p>
                </td>
              </tr>
              <tr>
                <td>
                  <ng-container *ngIf="reportedContentDetails.type === listingTypes.chat">
                    <a [routerLink]="['/main/moderator/list-view/' + listingTypes.chat ]" routerLinkActive="router-link-active"  class="mtr-btn"><span>Go Back</span></a>
                  </ng-container>
                  <ng-container *ngIf="reportedContentDetails.type === listingTypes.timeline">
                    <a [routerLink]="['/main/moderator/list-view/' + listingTypes.timeline ]" routerLinkActive="router-link-active"  class="mtr-btn"><span>Go Back</span></a>
                  </ng-container>
                  <ng-container *ngIf="reportedContentDetails.type === listingTypes.message">
                    <a [routerLink]="['/main/moderator/list-view/' + listingTypes.message ]" routerLinkActive="router-link-active"  class="mtr-btn"><span>Go Back</span></a>
                  </ng-container>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>

    <div class="editing-info" *ngIf="!reportedContentDetails">
      <h5 class="f-title">
        Reported Content Details
      </h5>
      <div class="row" *ngIf="message">
        <div class="col-md-12">
          <p class="text-center" [ngClass]="{'text-success': message.status, 'text-danger': !message.status}">{{ message.message }}</p>
        </div>
      </div>
    </div>
  </div>

  <ng-template #reportedChatTemplate>
    <ng-container *ngFor="let content of reportedContent">
      <app-reported-chat-card [chat]="content"></app-reported-chat-card>
    </ng-container>
  </ng-template>

  <ng-template #reportedTimelineTemplate>
    <div class="row">
      <div class="offset-2 col-md-8">
        <app-reported-timeline-card [blog]="reportedContent"></app-reported-timeline-card>
      </div>
    </div>
  </ng-template>
</section>
