<div class="full-width">
  <div class="modal-wrap">
    <div class="modal-overlay" (click)="toggleStream(false)"></div>
    <div class="modal-content">
      <div class="content-header">
        <div class="row">
          <div class="col-md-10">
            <p class="text-white">
              <img class="user-icon" [src]="videoChatFriend.profileImage ? videoChatFriend.profileImage : 'assets/images/resources/user.jpg'" /> {{ videoChatFriend.firstName + ' ' + videoChatFriend.lastName }}
            </p>
          </div>
          <div class="col-md-2 text-right">
            <a class="anchor-link fa fa-2x rotate-45" (click)="toggleStream(false)">+</a>
          </div>
        </div>
      </div>

      <div class="content-body">
        <div class="row full-height">
          <div class="col-md-12  full-height">
            <video appDisableRightClick muted autoplay id="remote-video"></video>
            <video appDisableRightClick muted autoplay id="local-video"></video>
          </div>
        </div>
      </div>

      <div class="content-footer">
        <div class="row">
          <div class="col-md-12 text-center">
            <i class="fa fa-2x fa-phone" (click)="toggleStream(false)" aria-hidden="true"></i>
            <i class="fa fa-2x fa-volume-control-phone" (click)="toggleStream(false)" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
