.modal-wrap .modal-content {
    width: 90%;
    height: 80%;
    max-height: 90%;
    position: fixed;
    z-index: 101;
    top: 10%;
    left: 5%;
    overflow: hidden;
}

.modal-content > .content-header,
.modal-content > .content-footer {
    height: 10%;
    padding: 0px 15px;
    overflow: hidden;
    background: var(--background-color);
}

.modal-content > .content-header .user-icon {
    width: 24px !important;
    height: 24px !important;
    border-radius: 50%;
}

.modal-content > .content-body {
    height: 80%;
    overflow: hidden;
}

video#remote-video {
    width: 100%;
    height: 100%;
}

video#local-video {
    position: absolute;
    width: 150px;
    height: 100px;
    right: 0;
    bottom: 0;
}

.full-height {
    height: 100%;
}