<div class="full-width" *ngIf="mentorshipRequest" >
    <div class="modal-wrap">
      <div class="modal-overlay" (click)="toggleForm(false)"></div>
      <div class="modal-content" >
        <form [formGroup]="mentorshipForm" (ngSubmit)="updateMentorship()">
          <section id="reject-mentorship" *ngIf="mentorshipRequest.action === 'REJECTED'" >
            <div class="central-meta">
              <div class="editing-info">
                <!-- <h5 class="f-title">Reject</h5> -->
                <a class="pull-right close-modal" (click)="toggleForm(false)">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </a>
                <table class="table no-border">
                  <tbody>
                    <tr class="row">
                      <td class="col-md-12">
                        <label for="confirmation" class="form-control">Are you sure you wish to reject this request?</label>
                      </td>
                    </tr>

                    <tr class="row">
                      <td class="col-md-12">
                        <div class="row">
                          <div class="offset-7 col-md-5">
                              <div class="clearfix">
                                <div class="pull-left">
                                  <button type="submit" class="mtr-btn">
                                    <span>Confirm</span>
                                  </button>
                                </div>

                                <div class="pull-right">
                                  <button type="button" class="mtr-btn" (click)="toggleForm(false)">
                                    <span>Cancel</span>
                                  </button>
                                </div>
                              </div>
                          </div>
                        </div>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </section>

          <section id="accept-mentorship" *ngIf="mentorshipRequest.action === 'UNDER CONSIDERATION'" >
              <div class="central-meta">
                <div class="editing-info">
                  <!-- <h5 class="f-title">Accept</h5> -->
                  <a class="pull-right close-modal" (click)="toggleForm(false)">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </a>
                  <table class="table no-border">
                    <tbody>
                      <tr class="row">
                        <td class="col-md-3">
                          <label class="form-control">Duration :</label>
                        </td>
                        <td class="col-md-3">
                          <label *ngIf="!changeDuration" >{{ mentorshipRequest.request.programDetails.duration }}</label>
                          <select *ngIf="changeDuration" formControlName="duration" (change)="updateEndDate()">
                            <option [value]="4">4</option>
                            <option [value]="5">5</option>
                            <option [value]="6">6</option>
                            <option [value]="7">7</option>
                            <option [value]="8">8</option>
                            <option [value]="9">9</option>
                            <option [value]="10">10</option>
                          </select> Weeks
                        </td>
                        <td class="col-md-4">
                          <u (click)="changeDuration = true">Change</u>
                        </td>
                      </tr>

                      <tr class="row">
                        <td class="col-md-3">
                          <label for="startDate" class="form-control">Start Date</label>
                        </td>

                        <td class="col-md-3">
                          <input readonly type="text" class="form-control" formControlName="startDate"/>
                        </td>

                        <td class="col-md-3">
                          <label for="endDate" class="form-control">End Date</label>
                        </td>

                        <td class="col-md-3">
                          <input readonly type="text" class="form-control" formControlName="endDate"/>
                        </td>
                      </tr>

                      <tr class="row">
                        <td class="col-md-12">
                          <div class="row">
                            <div class="col-md-2">
                              <label for="topics" class="form-control">Topics</label>
                            </div>

                            <div class="col-md-10">
                              <label class="form-control">{{ mentorshipRequest.request.programDetails.topics.split('\n') }}</label>
                            </div>
                          </div>
                        </td>
                      </tr>

                      <tr class="row">
                        <td class="col-md-12">
                          <div class="row">
                            <div class="col-md-12">
                              <h6 class="form-control">Set Milestones:</h6>
                            </div>
                            <div class="col-md-12">
                              <p class="form-control">(Minimum 1 milestone every 4 weeks, Maximum 1 milestone every week)</p>
                            </div>

                            <div class="col-md-12" formArrayName="milestones" *ngFor="let milestone of mentorshipForm.get('milestones').controls; let i = index;" >
                              <div class="row" formGroupName="{{ i }}">
                                <div class="col-md-6">
                                  <input type="text" class="form-control" formControlName="title" />
                                </div>

                                <div class="col-md-6">
                                  <input type="date" class="form-control" formControlName="date" />
                                </div>
                              </div>
                            </div>

                            <div class="col-md-12">
                              <u (click)="addMilestone()">Add</u>
                            </div>
                          </div>
                        </td>
                      </tr>

                      <tr class="row">
                        <td class="col-md-12">
                          <div class="row">
                            <div class="col-md-12">
                              <label for="message">Message</label>
                              <br />
                              <textarea class="form-control" formControlName="message" rows="5" cols="25"></textarea>
                            </div>
                          </div>
                        </td>
                      </tr>

                      <tr class="row">
                        <td class="col-md-12">
                          <div class="row">
                            <div class="col-md-12">
                              <div class="row">
                                <div class="offset-8 col-md-2">
                                  <button [disabled]="mentorshipForm.invalid" type="submit" class="mtr-btn">
                                    <span>Send</span>
                                  </button>
                                </div>

                                <div class="col-md-2">
                                  <button type="reset" class="mtr-btn" (click)="toggleForm(false)">
                                    <span>Cancel</span>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
          </section>
        </form>
      </div>
    </div>
  </div>
